[2020-11-09 19:24] DanAlbert commented on #338
Target information is tough because we can't reliably convert X/Y to lat/lon, nor do we have altitude information.

I'd bet we could do the former, and maybe DCS maps are accurate enough that we could get the altitudes online? I think inaccurate data would be worse than no data though, since bad data means the JDAM will miss.

[2020-11-09 19:29] Mustang-25 opened #342 "[Feature Request] Alternate/Divert Airfields"
Adding an additional waypoint in flight planning or at least having the airfield info on the kneeboard for a divert option would be a great addition for QoL and realism. Some aircraft like the Jeff and Hog have this ability built in but it can be tricky for other modules without having to 'cheat' by using the F10 map.

[2020-11-09 20:28] Kerbo416 commented on #339
mine were in elimination

[2020-11-09 20:50] DanAlbert commented on #342
The kneeboard and radio planning are actually already built for this and we just need to add the planning option.

[2020-11-09 21:33] walterroach commented on #338
I don't mean to add detailed target location data, just the simple description of the units and the encyclopedia pictures we put in the UI.

![image](https://user-images.githubusercontent.com/37820425/98598979-e2326f80-22a0-11eb-96dd-03734f6b3029.png)

[2020-11-10 06:23] DanAlbert opened #344 "F-14 can't perform SEAD"
The ME reverts F-14s to other task types from SEAD. It looks like the only type that the F-14 is capable of that allows Search Then Engage in Zone against air defenses is CAS?

[2020-11-10 07:20] s3-chardonjf opened #345 "Human player count does not increment as you create a package with a human slot"
I'm in develop build.

- Create a package and add a flight with a human slot.
- Notice even after you saved the package, the slot counter in the upper right corner of the main window still is at 0
- Now go edit the flight and set yourself as warm start and save
- Notice it now incremented properly

[2020-11-10 09:15] DanAlbert opened #346 "semi-fixed locations for objectives"
Pre-plan a bunch of options for objective locations so we stop spawning things underwater/on roofs, and also so we can build a more effective IADS.

[2020-11-10 09:16] DanAlbert opened #347 "more AAA"
AAA is currently just an alternative type of "SAM". It should instead be spawned _with_ SAMs, as well as all the other objective locations, the front lines, and several places out on its own.

[2020-11-10 09:19] DanAlbert opened #348 "fighter sweep missions"

[2020-11-10 09:19] DanAlbert opened #349 "OCA aircraft strike missions"

[2020-11-10 09:20] DanAlbert opened #350 "anti ship strike missions"

[2020-11-10 09:21] DanAlbert opened #351 "intercept missions"

[2020-11-10 09:26] DanAlbert opened #352 "improve planning of join/hold/split points for targets near the departure airfield"
Probably for 2.2.1 rather than 2.2.0, but we end up with some really funky flight plans on some maps where even the carrier is too close to the enemy.

[2020-11-10 11:31] TinuzzWasTaken opened #353 "Setting coalition skill in Liberation doesnt change the skill of the AH64D (Blufor Modern)"
![DCS Lib](https://user-images.githubusercontent.com/74241776/98668746-98a15d80-2350-11eb-9a90-469668574edc.png)

[2020-11-10 17:13] walterroach opened #354 "Aircraft Never Delay Start"
Reported by vanson on Discord, problem is related to the conditional added in cdde75b to aircraft.py AircraftConflictGenerator.set_takeoff_time

[2020-11-10 21:18] #354 closed, assigned to DanAlbert, walterroach

[2020-11-11 08:29] DanAlbert opened #355 "mission planner is picking scud sites for DEAD"

[2020-11-11 18:27] Hoodaya opened #356 "Add ISIL/ISIS as a faction"
With the appropriate units, as an alternative to the insurgent faction.

[2020-11-11 22:58] #355 closed, assigned to DanAlbert

[2020-11-11 23:07] #345 closed, assigned to nobody

[2020-11-11 23:09] DanAlbert commented on #335
Working for me. The new game wizard has been changed a lot since you initially reported this so I'm guessing it was already fixed.

[2020-11-11 23:09] #335 closed, assigned to nobody

[2020-11-12 05:03] Starfire13 commented on #270
A high speed low altitude profile would be very good for the Viggen.

[2020-11-12 12:12] Kerbo416 commented on #356
you could probably do it yourself with the factions modding introduced in 2.2

[2020-11-12 12:14] Kerbo416 opened #357 "Day/night windows don't account for season"
we could probably set a chance of nightime with a slider or something
we could also have max and min times of day that we don't want the mission to go past

[2020-11-12 12:58] Hoodaya commented on #356
Ok thanks mate. Any clues that m how I can come me an it doing that?

On Fri, 13 Nov 2020, 01:13 Kerbo416, <notifications@github.com> wrote:

[2020-11-12 13:33] Kerbo416 commented on #356
https://github.com/Khopa/dcs_liberation/wiki/Custom-Factions
but you need to be on the dev version

[2020-11-12 13:34] Kerbo416 opened #358 "populate airfields with available aircraft even if not being used in the mission"

[2020-11-12 13:54] Hoodaya commented on #356
Ok thanks mate

On Fri, 13 Nov 2020, 02:33 Kerbo416, <notifications@github.com> wrote:

[2020-11-13 00:10] RoleplayingPleb opened #359 "Some airports in Persian Gulf and Caucasus don't spawn base defences"
Some bases in North East Caucasus and south Persian Gulf don't spawn base defenses, If the player captures these bases and attempts to order front line units at these airports the game cannot be loaded in the mission editor.

this essentially breaks the campaign, i haven't found a workaround besides reloading a previous save. This bug makes the Persian Gulf full map essentially unplayable starting

[2020-11-13 00:22] DanAlbert commented on #359
What version of liberation?

[2020-11-13 00:23] DanAlbert commented on #358
https://github.com/Khopa/dcs_liberation/issues/148

[2020-11-13 00:23] #358 closed, assigned to nobody

[2020-11-13 00:25] RoleplayingPleb commented on #359
Current release 2.1.5

[2020-11-13 00:27] DanAlbert commented on #357
You should have at most 1 night mission every 4 turns. The exact time is random, but the rough time of day proceeds through dawn, day, dusk, and night each turn. The range of valid hours for each is set per theater, but maybe is wrong for some seasons. What campaign are you playing and when?

[2020-11-13 09:06] DanAlbert opened #361 "improve AI aircraft purchase decisions"
The AI planner knows what missions it couldn't find aircraft for. Use that information to decide what aircraft to purchase for the next turn.

Follow up tasks:

- Unused aircraft could be ferried to where they would be more useful: https://github.com/Khopa/dcs_liberation/issues/508
- Partial squadrons could be completed rather than buying a whole flight at a time: https://github.com/Khopa/dcs_libe

[2020-11-13 09:08] DanAlbert opened #362 "add auto-buy option for players"
Once https://github.com/Khopa/dcs_liberation/issues/361 is done, we could enable auto-buying for players as well, for those that just want to focus on flying.

[2020-11-13 09:09] DanAlbert commented on #359
There's a pretty good chance the bug is no longer present in the next release. Most of that code has been rewritten.

[2020-11-13 10:19] #359 closed, assigned to nobody

[2020-11-13 10:48] Starfire13 opened #363 "Lines between capture points missing in WW2"
Frontlines and lines between capture points are missing when playing UK 1944 vs Germany 1942

[Whatever You Do, Don't Mention The War.zip](https://github.com/Khopa/dcs_liberation/files/5536281/Whatever.You.Do.Don.t.Mention.The.War.zip)

[2020-11-13 10:57] DanAlbert commented on #363
https://github.com/Khopa/dcs_liberation/pull/360

[2020-11-13 10:57] #363 closed, assigned to nobody

[2020-11-13 11:22] skeletonwburg opened #364 "Unable to create new flights for F16s"
I can't create a new flight for 2 F16s from Incirlik after I deleted the DEAD REINDEER package from the save below. I can create a new package, for example SEAD at BANDICOOT with the Harriers but I can't use the F16s.

Liberation Error:
`Traceback (most recent call last):
  File "qt_ui\windows\mission\flight\QFlightCreator.py", line 98, in create_flight
AttributeError: 'QFlightCreator' object has

[2020-11-13 19:11] Mustang-25 commented on #357
It also depends on the season you choose. The dawn missions during the summer are much more likely to start with the sun up than a winter mission.

[2020-11-14 08:13] DanAlbert opened #365 "no way to cancel selling aircraft"
Buying aircraft takes a turn, but selling them happens immediately. This means there is no way to recover aircraft that are sold in the event of a misclick or changing your mind. We ought to track sell orders the same way we track buy orders so they can be canceled.

This behavior was also present in 2.1.

[2020-11-14 08:16] DanAlbert commented on #364
Fixed by https://github.com/Khopa/dcs_liberation/commit/a81254cd1830cd8ad57ac41de017d94e1c9eb0a5 (to fix the crash) and https://github.com/Khopa/dcs_liberation/commit/75769df8e2e149504ff5abe2889e315fa95f4f57 (to handle the bad case that led to it). It was like you said: aircraft that had missions planned were sold and the inventory wasn't notified. It'll now pop up message box if you try to sell a

[2020-11-14 08:16] #364 closed, assigned to DanAlbert

[2020-11-14 16:02] FlameDraken84 commented on #353
This is actually an issue with all helicopters on Blufor.  I'm not sure if it also applies to Redfor choppers as well but I think that may be the case.

[2020-11-14 20:47] #234 closed, assigned to DanAlbert

[2020-11-14 20:47] #205 closed, assigned to DanAlbert

[2020-11-14 20:47] #233 closed, assigned to DanAlbert

[2020-11-14 20:47] #297 closed, assigned to DanAlbert

[2020-11-14 20:47] #49 closed, assigned to DanAlbert

[2020-11-14 20:47] #66 closed, assigned to davidp57, DanAlbert

[2020-11-14 20:47] #85 closed, assigned to nobody

[2020-11-14 21:31] #44 closed, assigned to nobody

[2020-11-14 21:31] #57 closed, assigned to nobody

[2020-11-14 21:31] #95 closed, assigned to nobody

[2020-11-14 21:31] #111 closed, assigned to DanAlbert

[2020-11-14 21:31] #117 closed, assigned to nobody

[2020-11-14 21:31] #124 closed, assigned to DanAlbert

[2020-11-14 21:31] #183 closed, assigned to nobody

[2020-11-14 21:31] #192 closed, assigned to nobody

[2020-11-14 21:31] #195 closed, assigned to nobody

[2020-11-14 21:31] #203 closed, assigned to walterroach

[2020-11-14 21:31] #217 closed, assigned to nobody

[2020-11-14 21:31] #310 closed, assigned to nobody

[2020-11-14 21:31] #322 closed, assigned to walterroach

[2020-11-14 23:13] DanAlbert commented on #353
It affects all aircraft. Possibly ground units as well

[2020-11-15 00:50] DanAlbert opened #369 "mostly destroyed SAMs post warnings with skynet if they have no radars left"
A mostly destroyed SA-2 site (only launchers left) will cause skynet to post a warning at mission start saying that the unit is not capable of being added to the IADS. This is because the SA-2 launchers are not TELARs, so can't function when the radar is dead.

This doesn't cause any real problems, but is a little misleading. It's not practical for us to change the name of the group based on the p

[2020-11-15 04:41] Scubamurph opened #370 "Latest update ver 2.2.0 stops me opening previous liberation campaigns"
When I try to open a liberation campaign since the update I get the following:

2020-11-15 15:01:54,537 :: INFO :: Using D:/DCS World OpenBeta as 'DCS installation folder'
2020-11-15 15:01:54,823 :: INFO :: On Game generated
2020-11-15 15:02:02,672 :: ERROR :: Invalid Save game
Traceback (most recent call last):
  File "game\persistency.py", line 52, in load_game
  File "C:\Users\scuba\AppData\Loc

[2020-11-15 05:58] DanAlbert commented on #370
Saves are not compatible across minor releases. The game is extremely different and it's not feasible to use 2.1 games in 2.2.

[2020-11-15 05:58] #370 closed, assigned to nobody

[2020-11-15 10:07] Starfire13 opened #371 "aircraft spawn where they shouldn't due to incorrect parking data"
I bought 8 A-10s at Khalkhala and once the mission began, they all spawned one on top of the other above the runway and exploded.

Example screenshots
https://steamuserimages-a.akamaihd.net/ugc/1671360457885241710/6D2324D86DFC5EBBF66D092CCD409BCFF38700C8/
https://steamuserimages-a.akamaihd.net/ugc/1671360457885229594/E4231DCD2D2EFA54354629448EEF8816E87465FB/

In the Mission Editor, they spawn with

[2020-11-15 10:50] DanAlbert commented on #371
Trying to place aircraft at that airfield in the ME snaps them to another airfield, so it seems there isn't actually parking for jets there. Need to send the fix to pydcs to correct the parking data, and also need to differentiate jet and help parking when buying aircraft.

[2020-11-15 11:49] root0fall opened #372 "Failure to load save-file from v2.1.5"
Loading the previous save file from v2.1.5 results in a module error.

[code]

[2020-11-15 13:14] Starfire13 commented on #372
Saves from previous version are not compatible with latest release. Too much has changed.

[2020-11-15 13:51] root0fall commented on #372
Are you just assuming that, or is that an official statement from the contributors?

[2020-11-15 14:19] Khopa commented on #372
Yes it not compatible.
Saves from 2.1.X are not compatible with 2.2.X.

[2020-11-15 14:19] #372 closed, assigned to nobody

[2020-11-15 14:28] root0fall commented on #372
@Khopa please add a "known issues" section to the release notes.

[2020-11-15 19:49] SnappyComebacks opened #373 "It is possible to create empty flights inside of packages, this is probably not desired?"
In 2.2.0 it is possible to make flights inside packages that have 0 members.  I'm not sure there is a reason for this?
I believe this was preventing me from successfully creating the mission, but am unsure.  I received the following:

[code]

while only having 6 planes at Bandar Abbas.  When I removed the zero size flights I was able to successfully generate the mission.

[2020-11-16 03:35] DanAlbert commented on #352
Not quite fixed. Split/join point can still be pretty weird: https://cdn.discordapp.com/attachments/595702953495625729/777738012557312031/Default.JPG

[2020-11-16 06:16] SnappyComebacks opened #374 "Autogenerated AI SEAD flights are not doing SEAD"
I made a package of DEAD + SEAD + Escort with player as DEAD and package leader.  When SEAD reached the ingress waypoint it turned directly towards the egress waypoint and slowed down, not providing SEAD support, and ultimately letting the package get destroyed.

I have enabled Skynet in the campaign as well.

The campaign map:
![Campaign_Map_With_Sam_Detection_Ranges_With_Annotations](https://use

[2020-11-16 06:38] DanAlbert opened #375 "delay player flights from carriers when settings say so"
https://github.com/Khopa/dcs_liberation/blob/e60166dc89bafcc8d207663062d292b6e6f7751a/gen/aircraft.py#L1216-L1223

That's no longer correct because we check for the client settings before calling this.

[2020-11-16 09:05] DanAlbert commented on #374
I wonder if the game's AI isn't smart enough to play with skynet. Maybe they only engage active SAMs and aren't getting close enough for them to turn active?

[2020-11-16 13:06] Kerbo416 opened #376 "Beirut-Rafic doesn't receive any defenses"

[2020-11-16 16:27] Mustang-25 commented on #374
I just reviewed a couple of my tacviews. In one of them, the AI SEAD engaged SAMs that were in the area but not their fragged target. In another, they performed similarly to the OP where they just turned straight for their egress point. I'll do more testing to see what happens.

Would making it a strike target using a SEAD loadout remedy the problem?

[2020-11-16 17:04] SnappyComebacks commented on #374
Would doing this prevent the SEAD flight from attacking SAMs along the way?  As you can see in the map, the target is an SA-11 sat behind an SA-6.  I'm thinking that the ideal solution would have the SEAD flight attack both the SA-6 and SA-11 (SAMs along the ingress path and the target)?

[2020-11-16 17:26] Kerbo416 opened #377 "MiG 21 Default frequency doesn't work on VHF"

[2020-11-16 20:53] DanAlbert commented on #374
That's the difference between SEAD and DEAD. If you want to hit a target, use DEAD. If you want to protect the package from potential surface to air threats, that's what SEAD is supposed to do.

Won't hit the target if it moves. Works fine for stationary SAMs.

[2020-11-16 20:56] DanAlbert commented on #374
SEAD probably shouldn't waste ammo on targets that are already suppressed because then they may not be able to suppress targets that actually are threats. Apparently they aren't doing that anyway, but I think we need a different fix.

[2020-11-16 21:28] Mustang-25 commented on #374
Ah ok, noted. I must have overlooked the update where you guys started differentiating between SEAD and DEAD within Liberation.

What about adding a short orbit time that overlaps with the package TOT? So instead of just hitting the ingress waypoint and immediately pivoting to egress, it will stay on station for say 5 minutes to engage SAMs that pop up when other elements of the strike package tri

[2020-11-16 22:18] DanAlbert commented on #374
Have been doing my best to keep https://github.com/Khopa/dcs_liberation/wiki/Mission-planning up to date, btw :)

[2020-11-17 00:15] SnappyComebacks commented on #374
My thoughts were if SAM A is surrounded by SAM B and SAM C, where SAM A is the target of DEAD, a SEAD flight should try to suppress A, B and C.  If it only suppressed A, the B and C can fire, and if you suppress just B and C, then A can still fire; both cases seem bad for the packages health, which is why I was thinking that you would want to suppress A, B, and C.

[2020-11-17 01:39] foxwxl opened #378 "Could U bring in the localization function?(I can handle the CN translation)"
Hi, fantastic job for this project.  I've played DCS and BMS for decades, and for years I'm waiting for some kind of dynamic campaign engine in DCS just like this one. And this master piece has very much great potentials, hope U guys can bring us more and more interesting features.

What I am asking is whether U can bring in the localization function? I'm from DIS tester team, and U know, many peo

[2020-11-17 03:17] DanAlbert commented on #352
https://github.com/Khopa/dcs_liberation/commit/b7d160631a7bfc6998f576a118a1f898c2188f04 fixes another issue. Not sure if it's the same one as in the screenshot, but seems like it.

[2020-11-17 04:53] Mustang-25 opened #379 "Ramat David Slot 31 and 32 Spawn on top of each other"
Placing a client aircraft in slot 31 will spawn it at slot 32 at Ramat David. I am not sure if it does the same for AI placement but I have tested it multiple times with client slots and different airframes with the same result.

[2020-11-17 05:23] DanAlbert commented on #348
Should switch the DCS task type to fighter sweep since it has that.

[2020-11-17 06:21] DanAlbert commented on #378
Duplicate of https://github.com/Khopa/dcs_liberation/issues/82

[2020-11-17 06:21] #378 closed, assigned to nobody

[2020-11-17 06:48] #348 closed, assigned to DanAlbert

[2020-11-17 07:33] #350 closed, assigned to DanAlbert

[2020-11-17 07:44] DanAlbert opened #380 "AI planning for sweep missions"
The AI planner won't plan sweep missions. We'll need to think about when the planner should use sweep, escort, or TARCAP. Maybe base the decision based on total enemy CAP aircraft available?

[2020-11-17 09:36] DanAlbert opened #382 "Convoys for reinforcement"
To make strike and BAI missions more interesting, there should be convoys that reinforce front lines and airfields.

This is a meta bug since this would require many pieces:

- [x] Reinforcement system for front line units: https://github.com/Khopa/dcs_liberation/issues/823
- [ ] Bridge objectives: https://github.com/Khopa/dcs_liberation/issues/997
- [x] Helicopter transport missions: https://gith

[2020-11-17 09:37] DanAlbert opened #383 "Supply system"
Following https://github.com/Khopa/dcs_liberation/issues/382, we could expand to a more complete logistics system.

This is a meta bug since this would require many pieces:

- [ ] Convoys to move those resources around
- [ ] Rearming system for SAMs
- [ ] AI planning changes to avoid overloading airbases with no supply
- [ ] System for base supply, fuel and ammo need to be moved from factories/ref

[2020-11-17 09:39] foxwxl commented on #380
IMO and my own experience in BMS, if there are OCA missions planning to T/O soon(ie. in 1 hours) and the enemy AA activities are high, then the sweep mission should be considered before OCA package entering into enemy airspace.

[2020-11-17 09:40] DanAlbert opened #384 "Ferry flights for new aircraft"
Rather than new aircraft magically appearing at airbases, they could be flown in from off map. Would improve the ambience and also give an opportunity to interdict reinforcements.

The AI would need to account for the safety of the airfield to avoid ferrying all their planes to their deaths.

[2020-11-17 10:06] DanAlbert commented on #379
Pretty sure this is a map bug but I haven't been able to test yet.

[2020-11-17 10:26] Khopa commented on #379
It might be worth to make a new pydcs export of the map as soon as possible since ED/Ugra has fixed some bugs.
I'll try to do one today, and see if there any differences in the parking slots.

[2020-11-17 15:41] walterroach opened #385 "Improve Ground War"
Moving #287 and #334 into this issue for tracking:

- [x] Allow for multi-segment frontline paths to avoid exclusion zones.

- [x] Rework ground unit spawning.

- [x] Rework ground unit tactics/tasking.

- [x] Evaluate/improve frontline position algorithm.

- [x] Add FOBs/ intermediate objectives between airbases.  Related to #383  and #382

[2020-11-17 15:41] walterroach commented on #287
Closing, work is moving into #385

[2020-11-17 15:41] #287 closed, assigned to walterroach

[2020-11-17 15:42] walterroach commented on #334
Closing, moving work into  #385

[2020-11-17 15:42] #334 closed, assigned to nobody

[2020-11-17 15:45] walterroach commented on #374
Tasking I've tried so far:
Search and Engage
Search and Engage in Zone
Attack Group
SEAD
~~Escort~~
Follow with an Attack Group trigger.

The only effective SEAD method I have found so far is DEAD with SkyNet enabled.

Possible solution is to route the SEAD tasking to DEAD when SkyNet plugin is on.  Not ideal, but may be the best option unless DCS provides a means to engage groups with radar off w

[2020-11-17 17:56] Mustang-25 opened #386 "Bug Report (Dev Build 411)"
Gave the latest dev build (Build 411 at the time) a test and I have some bug reports and observations:

1. Toggling culling zones on will hide all the units on the liberation map and just display a blank map

2. Ships no longer display their SAM ranges even when all the other SAM ranges are displayed

3. An empty ship objective (CAIMAN) is generated

4. A ship objective is generated on land (PYTHO

[2020-11-17 18:08] walterroach commented on #386
[MissionAndSave.zip](https://github.com/Khopa/dcs_liberation/files/5555338/MissionAndSave.zip)

[2020-11-17 18:09] walterroach commented on #386
4 is the known map projection issue here: #91 , see also pydcs/dcs#38

[2020-11-17 20:55] DanAlbert commented on #374
What did escort actually do? I assume it wandered off and became useless? Wondering if https://forums.eagle.ru/forum/english/digital-combat-simulator/dcs-world-2-5/dcs-wishlist-aa/7121311-options-for-alternate-ai-escort-behavior would fix the problem.

[2020-11-17 20:56] Starfire13 opened #387 "Request: Ability to select start type for individual AI flights"
Would lolve the ability to select if each individual flight starts cold/warm/on runway/airborne.

[2020-11-17 21:40] walterroach commented on #82
Adding in some sub tasks here, this list will grow before it shrinks:

- [ ] Create a localization data structure

### New templates and calls to them:
- [ ] Briefing

- [ ] Kneeboard

- [ ] Campaign Descriptions

- [ ] Waiting for Mission Completion Screen

- [ ] First Start Configuration

### ~~New JSON string definitions for selection per locale:~~
### i18n integration

- [ ] Task types

- [ ]

[2020-11-17 22:35] Mustang-25 commented on #386
So I actually ran the mission and here are my observations from it:

There was one flight each Hornet, Jeff, and Viggen to see what each would do.

The Hornets each fired 3 out of 4 Harpoons before bugging out. No idea why they didn't fire their 4th one.

The Viggen each fired 1 of 2 Rb-15s and waited until their first Rb-15 had hit before firing the second one. This led them to be much closer to

[2020-11-18 00:29] DanAlbert opened #389 "Toggling culling zones on will hide all the units on the liberation map and just display a blank map"
From https://github.com/Khopa/dcs_liberation/issues/386

[2020-11-18 00:30] DanAlbert opened #390 "Ships no longer display their SAM ranges even when all the other SAM ranges are displayed"
From https://github.com/Khopa/dcs_liberation/issues/386

[2020-11-18 00:31] DanAlbert opened #391 "An empty ship objective (CAIMAN) is generated"
From https://github.com/Khopa/dcs_liberation/issues/386

[2020-11-18 00:32] walterroach commented on #374
Just reviewed my notes on this, I didn't use escort, it was strictly. SEAD task (I had it written down as SEAD/Escort).  It depended on the run, sometimes they engaged and wandered off, sometimes they went to the egress waypoint directly.  I think an ED fix from that thread would fix it, the issue starts for both case behaviors once the escorted flight is engaging units and off it's flight plan.

[2020-11-18 01:55] DanAlbert opened #392 "filter mission types by aircraft"

[2020-11-18 01:57] DanAlbert commented on #386
Filed bugs for 1-3. 4 is #91, 5 is https://github.com/Khopa/dcs_liberation/issues/292, 6 is https://github.com/Khopa/dcs_liberation/issues/392, and 7 is https://github.com/Khopa/dcs_liberation/issues/270

[2020-11-18 01:57] #386 closed, assigned to nobody

[2020-11-18 02:00] DanAlbert commented on #82
Also the installer.

[2020-11-18 06:09] qwertymanisalive opened #393 "The "delete selected" button in create flight / waypoints does not delete selected waypoint"
The "delete selected" button in create flight / waypoints does not delete selected waypoint

![delete selected waypoint](https://user-images.githubusercontent.com/39744809/99491685-09ccac00-2921-11eb-9856-13043817984e.PNG)

[2020-11-18 18:01] walterroach opened #394 "Battle of Britain Campaign - Miz Won't Generate (develop branch)"
Reported by skeleton on Discord:

I can't take off in the Battle of Britain scenario on Channel. Perhaps the missing frontline breaks something.
![image](https://user-images.githubusercontent.com/37820425/99568920-9add6a80-2995-11eb-9b81-1936070fa6e0.png)

Build #415, Dunkirk scenario works

[2020-11-18 22:40] walterroach commented on #394
This is fixed in Build 418 f7966b8 , but whatever is causing us to create a "dummy" `FrontLineConflict` when there is no ground war should be re-thought.

[2020-11-18 22:40] #394 closed, assigned to walterroach

[2020-11-19 01:56] ylZvky opened #395 "helicopter verticallly takeoff and landing if possible"
Currently helicopter  will taxi to runway then takeoff from runway even it is possilbe to takeoff vertically from parking position which would save the runway resource for fixed-wing vehicles.

[2020-11-19 03:11] DanAlbert opened #397 "don't delay player flights with short delays"
Don't bother delaying player flights that have short takeoff delays.

[2020-11-19 03:13] DanAlbert opened #398 "UI hint that player flights will be delayed"
People are confused by their takeoff delays, and unlike a late activation that gets "your flight is delayed to start" messages, DCS doesn't help when it's an uncontrolled ground spawn.

Not sure exactly what this should look like, but probably a separate display of client slots and delayed client slots near the takeoff button?

[2020-11-19 05:28] #398 closed, assigned to DanAlbert

[2020-11-19 05:28] #397 closed, assigned to DanAlbert

[2020-11-19 05:29] #375 closed, assigned to DanAlbert

[2020-11-19 05:31] DanAlbert commented on #377
Can you point me at documentation on the fishbed's radios? The current information came from https://github.com/Khopa/dcs_liberation/issues/49#issuecomment-723648915, which was apparently wrong.

[2020-11-19 05:39] Starfire13 opened #399 "Request: Viggen, A-20G, and B-1 to use carpet bombing logic for strikes"
Now that we have BAI working well, can we have Viggen, A-20G, and B-1 switched to using the B-17/B-52's carpet bombing logic when set on strike. That way, the user has the option to use BAI if they want single ordnance drops on a group, or to use strike if they just want to unload everything on one spot and bug out.

[2020-11-19 06:04] #373 closed, assigned to DanAlbert

[2020-11-19 08:38] #393 closed, assigned to DanAlbert

[2020-11-19 08:49] DanAlbert commented on #390
@Mustang-25 works for me. Upload a liberation save if you see it again.

[2020-11-19 08:56] DanAlbert commented on #399
B-1 should be carrying guided munitions.

[2020-11-19 11:12] Starfire13 commented on #399
Ah right. Yeah, they're like a giant JDAM bomb truck. Ok, just the Viggen and A-20G then? Particularly important for the Viggen because one pass attacks are their speciality.

[2020-11-19 13:12] CaptMikeDK commented on #336
Hi,
I use them with CSAR missions using a short version of CTLD, this script, and some others but.
[DCS-CSAR-master.zip](https://github.com/Khopa/dcs_liberation/files/5566787/DCS-CSAR-master.zip)

So If you could make a simple constant for the Huey and MI8, for the pilot not the unit! the script use pilot so something like CSAR 1 -  the easy way.

Or make it a new injection from MIST to the CSAR s

[2020-11-19 13:20] CaptMikeDK opened #400 "CAS boundaries Syria map"
Hi

After the new polygon mapping for the  CAS is off the plan, as you see in the picture.

You have to move the frontline, you boundaries, beyond the you no mapping zone.
![caszone](https://user-images.githubusercontent.com/65250502/99671262-16ace500-2a72-11eb-9af8-27ccaea76979.JPG)

[2020-11-19 14:14] ToKeNeRd opened #401 "Request: Super Hercules gets implemented like the A-4E please and thank you"

[2020-11-19 14:59] Winzarten opened #402 "Viggen - Unable to generate mission with generic CAS"
When I try to fly an autogenerated frontline CAS mission with the AJS Viggen, the "Take off" button doesn't work (nothing is shown) as there is an error during mission generation.

This error is in the log:
2020-11-19 15:57:06,602 :: INFO :: Loaded overridden payload for <class 'dcs.planes.AJS37'> - CAS for task <class 'dcs.task.CAS'>
Traceback (most recent call last):
  File "qt_ui\widgets\QTopPa

[2020-11-19 17:16] walterroach commented on #402
I'm unable to reproduce, what version are you on and what campaign is being used?

Can you share your save game?

[2020-11-19 17:22] Mustang-25 commented on #390
@DanAlbert I just tested it on the latest build (Preview 429) and it still shows up. Seems to be inconsistent though, I wonder if it happens with groups with mixed ranges. Also the Molniyas never seem to show their range but it's pretty short so it might just be smaller than the icon itself. Two different Liberation saves attached below.

[no_ship_SAM_range.zip](https://github.com/Khopa/dcs_libera

[2020-11-19 17:28] walterroach commented on #400
I'm seeing this for the frontline between Bassel Al and Hama as well.

Save game reproducing the issue in v2.2.0 attached here, will have to investigate further later as I don't have a PC with Syria installed accessible to me at the moment.
[Bug400.zip](https://github.com/Khopa/dcs_liberation/files/5568619/Bug400.zip)

[2020-11-19 17:35] walterroach commented on #239
Also, should remove the engagement ring from disabled SAM sites.

[2020-11-19 18:10] Winzarten commented on #402
Sure thing
I'm using 2.2.0 version, Persian Gulf - Desert War is the campaign

[Viggen.zip](https://github.com/Khopa/dcs_liberation/files/5568835/Viggen.zip)

[2020-11-19 23:29] #352 closed, assigned to DanAlbert

[2020-11-19 23:29] #402 closed, assigned to walterroach

[2020-11-19 23:33] TinuzzWasTaken commented on #186
I would love to see this implemented as well!

[2020-11-20 01:40] SnappyComebacks opened #404 "Map UI displays 2.2.0 in 2.2.1"
![Title](https://user-images.githubusercontent.com/74509817/99745336-a9f81180-2a96-11eb-8420-9620ba50bb93.png)

Help > About dropdown also shows 2.2.0.  This is with the zip file uploaded here: https://github.com/Khopa/dcs_liberation/releases/tag/2.2.1

I'm pretty certain i'm running 2.2.1 as I can't make the size of a flight zero anymore (thanks btw).

[2020-11-20 02:09] SnappyComebacks opened #405 "Skynet warns of unsupported SAM Site"
In a mission generated from 2.2.1 on the Invasion Of Iran Campaign in Persian Gulf, Skynet throws a warning in a popup when you enter the mission saying "WARNING: you have added an SAM Site that Skynet IADS can not handle:  RED|SAM|157.

Attached is the campaign and mission.  I did move two waypoints on a friendly BARCAP flight, but that shouldn't effect anything related to this issue.

[405_Invas

[2020-11-20 02:16] SnappyComebacks opened #406 "Request: Inform the user of the Weather."
As far as I'm aware, there's no information of the weather in the upcoming mission.  It would be nice to know what the weather is going to be in the next mission for planning purposes (Low Overcast, Foggy, Rain/Snow, Cloudy, Sunny, etc).

[2020-11-20 06:22] DanAlbert commented on #406
I'd fiddled with briefly but gave up when I couldn't come up with a UI that I liked. If we can't find a good way to fit it into the top bar we should just make a "forecast" button that pops up a dialog with the details.

[2020-11-20 06:27] DanAlbert commented on #405
It's _probably_ not a real issue. This happens when you kill the search radar of a SAM but leave the rest alive and then start a new mission. aiui the SAM should revert to whatever behavior it's capable of without its on SR.

* For SAMs with TELARs like SA-11s they should revert to the degraded mode with the launcher using its own search radar.
* For SAMs with separate search and track radars I th

[2020-11-20 06:38] SnappyComebacks commented on #405
Oh that would make sense.  Unless I missed out on some SAM death's that I'm unaware of from that mission, I think destroying the launchers of an SA-11 and leaving the SR and CC created the two new messages (when I mentioned that there were three messages after completing the mission).

[2020-11-20 07:44] DanAlbert commented on #405
I think that's also possible. I think skynet shows the message whenever it doesn't have a complete SAM group.

[2020-11-20 07:55] DanAlbert opened #407 "differentiate air defenses in faction data"
Currently factions only have SHORADs and SAMs. Since we're missing the middle grade of air defense, we're treating SA-10s and SA-6s as equivalent during mission generation.

We should probably be defining these as long, medium, and short range air defenses, since the faction and era will determine what the use is.

[2020-11-20 08:21] DanAlbert commented on #377
@Mustang-25 played around a bit and came up with 118MHz to 140 MHz. I adjusted to that. It's still stepping in MHz because I'm not sure what granularity it tunes in.

[2020-11-20 08:21] #377 closed, assigned to DanAlbert

[2020-11-20 10:23] DanAlbert commented on #274
Partially done. Off-map spawns now exist (on Inherent Resolve only) and are usable, but the AI isn't making use of them yet.

[2020-11-20 10:44] DanAlbert commented on #401
Would it serve any purpose other than looks? We don't currently have any support for logistics missions.

[2020-11-20 10:49] Khopa commented on #401
Yes, this will depend on #383 being implemented.

[2020-11-20 10:52] DanAlbert commented on #401
Figured. Thought maybe it carried a MOAB or something :)

[2020-11-20 14:30] ToKeNeRd commented on #401
What about the fact you can load vehicles then cargo drop them with combined arms you can then give them orders on the fly it would serve more of a purpose than the Huey

[2020-11-20 14:35] ToKeNeRd commented on #401
#383 talks about supply I'm more looking at combat air drops to get IFV Hummers etc on the battlefield

[2020-11-20 14:45] Khopa commented on #401
Oh, you can do that with the current version of the mod ?
Or that would require a custom script ?

[2020-11-20 14:49] ToKeNeRd commented on #401
Darn unfortunately it needs its own trigger at mission start "C-130 Cargo" needs to be active it comes with the mod but thinking about it I would be worried about compatibility issues but yes you can cargo drop vehicles and with Combined Arms give those said vehicles waypoints or targets

[2020-11-20 17:10] Moguy164 opened #412 "requirements for CTLD implementation"
I would like to implement the CTLD plugin into liberation, however it requires that the group names and unit names stay consistent over the campaigns/missions, i was told changing the names would mess up the debriefing.
so my question is how can we change the names so that they are compatible with the CTLD?

[2020-11-20 18:11] Quinn-Malachite commented on #412
Group names of transport units don't matter. The pilot names of any transporting unit needs to be written into a list in the scripts. Pickup and drop-off zones (for AI) also need to be pre-written into the script as a list.

(There is also an advisory that player transport units should be single unit groups, otherwise the other members of the group will get radio commands they shouldn't have but t

[2020-11-20 18:21] walterroach commented on #412
Besides naming for CTLD to work during the mission, there's the question of persistence from mission to mission.  Currently if you move units from point a to point b, the next mission wouldn't reflect that.

[2020-11-20 18:41] Moguy164 commented on #395
i think that's a dcs limitation

[2020-11-20 18:43] Moguy164 commented on #412
and liberation can't read the position of units? or at least add the units to the list of units at the front line

[2020-11-20 18:46] Rizn-Nuke opened #413 "AI flights won't spawn on aircraft carrier"
No AI flights spawning on the carrier. Harrier flights from the LHA work fine.
The flights do not appear in the DCS mission editor.
Problem present both when using delayed start and start ASAP.
AI wingman in a flight with a client will spawn normally.
AI flights will not spawn whether in a 1-flight-package or in combination with other flights (even with clients in the other flight)

[2020-11-20 19:06] Mustang-25 commented on #407
It might also be worth differentiating EWRs if you guys haven't already. Having them distributed across the map and not just at airfields gives the IADS some cushion and also gives players more mission variety.

[2020-11-20 20:51] walterroach commented on #412
Not "can't", but "doesn't".

[2020-11-20 21:23] Starfire13 opened #414 "AI bomber flights from offmap spawn point fly very slowly (#454 preview)"
[Files.zip](https://github.com/Khopa/dcs_liberation/files/5576149/Files.zip)

AI B-17 flights from Red Sea/UAE offmap spawn point are stalling out of the sky enroute to the target. https://steamuserimages-a.akamaihd.net/ugc/1655598478808002104/23C9C36A8F0D48FE506D463652D59FD6A08DB97B/

Contrast that with AI B-17 flights from Incirlik that took off from the airbase. https://steamuserimages-a.akamai

[2020-11-20 22:29] DanAlbert commented on #395
Helicopters that are parked in a parking space will always do that, yeah. With some effort I think we could claim the parking spaces but use takeoff from ground to avoid it.

[2020-11-20 22:29] DanAlbert commented on #407
EWRs are already differentiated in 2.2.

[2020-11-20 22:30] DanAlbert commented on #413
Can you upload your liberation save? I fly with AI off the boat all the time and haven't seen the issue.

[2020-11-20 22:30] walterroach commented on #413
I've not been able to reproduce this issue.  Can you upload the save game where you're seeing it?

*Too slow.

[2020-11-20 23:04] DanAlbert commented on #414
I think it's because we estimated the speed much higher than they are capable of. I've seen AI go very stupid if they have no chance of making their TOT.

They fly just fine for most of their flight plan, although slowing down considerably from the speed we spawned them at, until (not related to reaching a waypoint) they start oscillating speed and pitch a lot until they're too slow and fall. Remo

[2020-11-20 23:20] Rizn-Nuke commented on #413
[Mission_1_Iran_Light.zip](https://github.com/Khopa/dcs_liberation/files/5576575/Mission_1_Iran_Light.zip)
Here's the file.

[2020-11-21 01:08] DanAlbert commented on #342
Not quite done yet. The planning is all there, but the aircraft don't actually move to the new airfield after the mission, and we should automatically configure divert airfields when available.

[2020-11-21 01:33] DanAlbert commented on #413
The flight was culled because it's too far from the front line.

[2020-11-21 01:33] #413 closed, assigned to nobody

[2020-11-21 02:49] Mustang-25 commented on #342
I suppose it could go either way. Conceptually we can frame it as just landing to fuel up and then returning to your parent airbase between turns. But also I see where what you're talking about plays into the ferry flight feature.

[2020-11-21 07:46] #325 closed, assigned to nobody

[2020-11-21 10:16] Firedown35 opened #416 "UI Elements in the liberation client cant be clicked or are very delayed"
I'm not sure if it only happens to me but whenever I try to click on something like for example if I want to edit a flight, take off or do anything similar, clicking is very delayed or requires multiple clicks (15 - 20 times). Sometimes the buttons just stop working.

[2020-11-21 11:50] DanAlbert commented on #416
It's a common problem. The UI framework we use isn't processing mouse clicks every time for some reason.

[2020-11-21 12:43] walder commented on #405
Skynet prints this message when the group is not a complete group that it can use. In that case the SAM site will not be part of Skynet.

As @DanAlbert mentioned that happens when a unit of the group that is required is damaged or hasn't been added in the mission editor. When developing Skynet I did not take in to account dynamic missions :-).

Anyway its on the backlog to improve the debug messag

[2020-11-21 13:20] Firedown35 commented on #416
is it something that can be fixed or is it just how it's going to be for now?

[2020-11-21 13:36] Khopa commented on #395
@DanAlbert
I think the best thing we could do, is to add additional FARP slots in the campaign miz files for each airfield and prioritize those for helos.

[2020-11-21 17:35] Khopa commented on #412
Hey,

Just adding that @davidp57 created a plugin for his VEAF framework. This include some CTLD feature, but not sure how exactly.
See : https://github.com/VEAF/dcs-liberation-veaf-framework/releases

[2020-11-21 17:39] Khopa commented on #389
If it was an issue with the current develop branch only, I think I fixed it here : https://github.com/Khopa/dcs_liberation/commit/fcf45554efa92b2b9baa2b981b995dd0be2e4743#

[2020-11-21 20:51] DanAlbert opened #417 "SA-15 point defense for SA-10"

[2020-11-21 21:22] Boozdeuvash commented on #416
I think it's a click position problem, I've noticed that they always register when i click on the text of the button, but never when i click on an empty space of the button. Note that not all buttons have this issue, the Edit and Delete button in the packages and flights panel on the left are a notable exception.

So it seems that always clicking on the text of the button is an effective workaroun

[2020-11-21 21:34] Boozdeuvash opened #418 "Mig-21 has invalid frequency by default"
When saving the Liberation mission in the editor with a playable Mig-21, we are now served with an error that 100 or 101MHz is not a valid frequency. This refers to the frequency listed with "radio" in the unit main panel. The correct frequency should be the same as the one listed in channel 0 of the "Radio Preset" tab for the same unit, for instance 118MH.

Workaround: change the frequencies manu

[2020-11-21 21:51] DanAlbert commented on #405
Some other work for 2.3 actually requires us to get better at naming things anyway, so I think we can fix the naming so the warnings don't happen at the same time.

[2020-11-21 21:57] DanAlbert commented on #416
My suspicion is that Qt is missing clicks because we only have the one thread and it's doing too much work to generate the UI, and for some reason is refreshing the UI quite frequently even though there are no changes. The fix is to offload the heavy work onto another thread, which is a large undertaking.

If I'm right about that, it's a significant enough amount of work that we might as well just

[2020-11-21 21:58] DanAlbert commented on #418
https://github.com/Khopa/dcs_liberation/issues/377

[2020-11-21 21:58] #418 closed, assigned to nobody

[2020-11-21 21:59] DanAlbert commented on #389
It was. Thanks!

[2020-11-21 21:59] #389 closed, assigned to Khopa

[2020-11-21 22:47] SnappyComebacks opened #419 "no "you won" message at the end of a campaign"
I have reached the end of the "Invasion Of Iran" campaign.  When I click "Accept Results" on the mission status screen, nothing happens, and the terminal throws an error.  I can't finish the campaign (What happens when you finish, anything?  Just curious.).  I started the campaign in Liberation 2.2.0, switched to 2.2.1 halfway through, and have Skynet enabled.

![CampaignScreen](https://user-image

[2020-11-21 23:22] DanAlbert opened #420 "skip hold points for off-map spawns"

[2020-11-21 23:22] SnappyComebacks commented on #406
I threw together some Paint magic for fun and came up with a possibility.  The little blue square in the images would be a simple picture representing the general weather outlook, like a cloud for cloudy, sun/moon for clear weather, etc.  I'm sure the spacing could be better but the general idea is there.

Without Weather Label:
![Unnanotated](https://user-images.githubusercontent.com/74509817/998

[2020-11-21 23:53] DanAlbert opened #421 "race track departure not shown on kneeboard"

[2020-11-22 01:09] DanAlbert commented on #406
Yeah, something like that would work well I think. I'd been trying to cram all the details into the bar and that didn't fit, but putting the details in a window sounds good.

[2020-11-22 02:14] Starfire13 commented on #277
I believe the Viper is supposed to get Durandals at some stage too. And Razbam's F-15E will probably carry them too whenever that's released.

[2020-11-22 04:04] SnappyComebacks opened #423 "Request: Consider Terrain Geometry When Placing SAMs"
In the most recent campaign I played (Invasion of Iran), long and medium range SAM's had some interesting placements.  It might be a good idea to implement something that enforces where a SAM can and cannot be placed in relation to the terrain.  This would benefit the SAM's threat circle coverage.

See the two following examples:

1) Here is an SA-2 on the side of a mountain:
![SA-2_Mountain](http

[2020-11-22 04:31] DanAlbert commented on #423
We don't (and practically can't) _know_ the terrain geometry at mission creation time, so we can't make decisions based on it.

The problem itself is being solved by having preset spawn locations though.

[2020-11-22 04:31] #423 closed, assigned to nobody

[2020-11-22 04:33] DanAlbert commented on #419
There isn't any fancy "you won" at the end, it just ends like that. Will turn this into an FR.

[2020-11-22 04:39] SnappyComebacks commented on #423
Bummer, I guessed that was a strong possibility and the reason it hadn't been done.

[2020-11-22 04:50] DanAlbert commented on #275
Played with these a bit in the editor and it seems like TLAMs very precisely hit the wrong location. Fired a dozen from the Burke and the Ticonderoga. Every missile hit the same spot, but not the spot that was designated. Will need to investigate more.

[2020-11-22 05:00] walterroach opened #425 "Hornet Target Waypoints Not At Ground Level"
In Mission Editor, Liberation generated waypoints are set at some arbitrary MSL near ground level rather than 0 AGL, which causes their location to display laterally incorrect in the jet.  Not sure if this is a DCS bug or Liberation, but putting it here to investigate.  If you set the Liberation generated waypoint to 0 AGL in ME and then continue the mission, it appears properly in game.

[2020-11-22 07:28] qwertymanisalive commented on #425
I'm not sure if this is related but I noticed that SATNAV was not activated on the Mission Options page in Mission editor for a Modern campaign I was running.

The JDAMs missed by a mile on the first attempt but when I activated SATNAV and reran the mission 100% hits with the JDAMs.

I will try to replicate again and see if this is consistent in further missions.

[2020-11-22 07:31] qwertymanisalive commented on #417
I don't think SKYNET can handle mixed SAM units in a group. One possible workaround is to spawn 2 separate SAM groups, one SA-10 and one SA-15 group close to each other?

[2020-11-22 07:44] DanAlbert opened #426 "Force satnav for CJTF based factions"
It seems like CJTF blue isn't allowed to use satnav like the nations that comprise it are. We should probably force that in in the mission.

[2020-11-22 08:56] DanAlbert commented on #417
I thought skynet wasn't too picky, but I haven't tried. I bet if it's not valid to put an SA-15 among an SA-10 that'd be something @walder is interested in improving at some point though.

[2020-11-22 09:17] DanAlbert commented on #416
@Boozdeuvash is right. The text is a valid click location and the rest of the button isn't. That's... extremely strange.

[2020-11-22 10:25] DanAlbert opened #427 "need icon for missile sites"
Missile sites (scuds, V2, etc) have the same icon as SAMs. Ought to differentiate the two.

[2020-11-22 10:32] Boozdeuvash commented on #418
@DanAlbert sorry for the duplicate, I searched for "Mig-21" but forgot to remove the "is closed" switch...

[2020-11-22 11:18] DanAlbert commented on #423
If someone knows how to get terrain data out of the DCS campaign files there's a lot we'd like to do with it, but without that we have no way to do it :( We could try using real world altitude data, but I don't know how well that matches to DCS data (or what date the DCS data is from)

[2020-11-22 11:19] DanAlbert commented on #418
No worries. Now you'll know for next time :)

[2020-11-22 12:09] DanAlbert opened #428 "Additional aircraft inventory views"
Should add:

- [x] A UI showing all unused aircraft
- [x] A UI showing *all* aircraft, with their assignments

[2020-11-22 12:11] jeetsukumaran commented on #428
As per discussion on Discord, a "big picture" overview of tasking (showing assigned and unassigned) aircraft would be useful
![Screenshot from 2020-11-22 04-05-21](https://user-images.githubusercontent.com/26183/99903377-d7041a00-2c78-11eb-8022-3c04ce58507b.png)
Above is much more complex than needed, but gives an idea of what mission planning software shows. For this case, maybe just aircraft typ

[2020-11-22 12:24] jeetsukumaran opened #429 "Option to Add Resupply Vehicles to SAM batteries"
Would it be possible to have an option to add vehicles capable of resupply near SAM batteries? They need not be the same group, but need to be close.

GAZ-66
KAMAZ-43101
GAZ-3308
KrAZ-6322
M818
Ural-375
Ural-4320 (either)

This would allow SAM's to rearm.

Information on rearming:

And info on SAM battery composition/organization: https://www.airgoons.com/w/DCS_Reference/Air_Defences

[2020-11-22 21:30] DanAlbert commented on #425
Not a complete fix, but it sounds like https://github.com/Khopa/dcs_liberation/commit/17b0cee50720bfa9203504112cb6070fec75dd92 and https://github.com/pydcs/dcs/pull/102 will fix JDAMs reaching their targets, even if the pod is looking at the wrong spot. Someone in discord reported that fixed things at least for the JF-17.

[2020-11-22 21:31] DanAlbert commented on #250
https://github.com/Khopa/dcs_liberation/issues/106

[2020-11-22 21:31] #250 closed, assigned to nobody

[2020-11-22 21:31] DanAlbert commented on #106
Once we have this support we can revert https://github.com/Khopa/dcs_liberation/commit/17b0cee50720bfa9203504112cb6070fec75dd92

[2020-11-22 23:54] qwertymanisalive commented on #417
I looked at one of walder's demo missions on his github to make sure I knew what I was talking about and it looks like he only has one type of SAM unit for each group. There are no SA-10 units mixed in with SA-15 units.

However he does place SA-15 groups close to SA-10 groups for point defense, but they are 2 separate groups.

https://github.com/walder/Skynet-IADS/blob/master/demo-missions/skynet

[2020-11-23 00:41] jeetsukumaran commented on #277
Maybe OCA as well? I often see juicy aircraft sitting on the apron and would love to assign some trouble to them from in the air tasking!

EDIT: Ok, see this has been already reported/asked: https://github.com/Khopa/dcs_liberation/issues/349 . In the above list, though, it has been described as "runway strike". Perhaps it would be good to distinguish between runway strike and "aircraft on the grou

[2020-11-23 01:49] DanAlbert commented on #136
Also put the coordinates in the kneeboard.

[2020-11-23 02:01] SnappyComebacks commented on #417
I'm not sure if it's a fluke as I've only done this twice but when I've done rocket attacks with Skynet (unguided ccip rockets) from an F16 on SA-10s with Strelas + Shilkas in the same group, the short range defenses are silent.  I fly in terrain masked and destroy the SA-10s tracking radars then it feels like I have free reign over the target AO and can fly as high as I want.  Directly above and

[2020-11-23 03:02] #342 closed, assigned to DanAlbert

[2020-11-23 03:24] scottrhoyt opened #431 "AWACS not being generated"
Just started a new campaign on a build of 29d3b5dfc630faea8e9a5be7b469757a2b6daf2b. 2005 USA vs 2010 Russia on Western Georgia. My (2005 USA) AWACS isn't present in missions. Given the lack on AWACS info on the kneeboard, I'm guessing it isn't getting generated. Attached is my save.

[AWACS Bug.zip](https://github.com/Khopa/dcs_liberation/files/5580982/AWACS.Bug.zip)

[2020-11-23 05:13] DanAlbert opened #432 "Runway bombing missions"
Splitting from https://github.com/Khopa/dcs_liberation/issues/349 since we don't have the ability to plan sub-types of tasks.

[2020-11-23 05:14] DanAlbert commented on #349
Split https://github.com/Khopa/dcs_liberation/issues/432 to cover runway bombing. This will cover attacking grounded aircraft.

[2020-11-23 08:07] DanAlbert opened #433 "Syrian faction uses aircraft it does not have access to"
The current Syrian factions are using a handful of aircraft that they don't actually have access to according to DCS:

* MiG-29S (though they can use the A)
* MiG-25
* Su-17
* Su-24
* Mi-24
* Mi-8

Could either change the aircraft they have access to or move them to CJTF Red.

[2020-11-23 08:20] #148 closed, assigned to DanAlbert

[2020-11-23 08:21] DanAlbert commented on #148
Done for airfields in 2.3. Carriers are exempt because the AI struggles enough taxiing on an empty deck, and aircraft not in use are probably kept below decks.

[2020-11-23 09:21] DanAlbert commented on #349
It doesn't appear to be possible to task the AI to do this. We can task them with individual bombing locations on specific parked aircraft, but that means that a 4-ship will take many passes dropping one bomb each time.

Until https://forums.eagle.ru/forum/english/digital-combat-simulator/dcs-world-2-5/dcs-wishlist-aa/7149996-task-for-attacking-aircraft-on-the-ground is fixed there's no good way t

[2020-11-23 09:37] JaySpidey opened #434 "AI CAS acts as CAP with racetrack waypoints and do not engage targets in 2.2.0"
AI CAS acts as CAP with racetrack waypoints and do not engage targets in 2.2.0
They have 2 waypoints called racetrack start and end, and they have an orbit in the advanced waypoint options. They are set to CAS

[tmpsave.liberation.txt](https://github.com/Khopa/dcs_liberation/files/5582009/tmpsave.liberation.txt)
[liberation_nextturn.txt](https://github.com/Khopa/dcs_liberation/files/5582012/libera

[2020-11-23 09:42] DanAlbert commented on #434
Planned at the wrong objective. 2.2.1 would not have allowed this to be planned.

[2020-11-23 09:42] #434 closed, assigned to nobody

[2020-11-23 15:26] walterroach commented on #136
We should put bullseye somewhere intentional.  Currently it's over the center of active frontline, which means it moves around and is essentially random when there's multiple frontlines.  Maybe define bulls with the campaign?

[2020-11-23 20:19] DanAlbert commented on #136
In the campaign is a good idea if we want it to be static throughout the campaign. Only other idea would be to put it over the next enemy base, which will still move from time to time but won't as constantly.

[2020-11-23 20:51] TrueCrazyMan opened #435 "[REQUEST] Add USA 2020 and include F-22 Raptor mod"
Making USA 2020 with the F-22 Raptor would be great so it can compete with Russia 2020.

[2020-11-23 21:48] DanAlbert commented on #349
@Khopa played with it a bit more and was able to get it working. https://forums.eagle.ru/forum/english/digital-combat-simulator/dcs-world-2-5/bugs-and-problems-ai/ai-ad/7150830-search-then-engage-in-zone-does-not-search explains a bit.

We need to make a flight plan that overflies the airfield because the zone for Search Then Engage in Zone isn't a zone to search. It's a filter for the units found

[2020-11-23 22:26] walterroach opened #436 "Generate Air Support for red"
https://github.com/Khopa/dcs_liberation/blob/24844571833b70bb577fe8519c28b1349c00952b/game/operation/operation.py#L61-L61

[2020-11-23 22:27] walterroach commented on #436
Currently red doesn't get AWACS or refueling.

[2020-11-24 00:31] jojom4n opened #438 "Red F14-A on Al Minhad crashing when opening wings in hangar"
In two missions on a row, when I entered the mission, red spawned 6 F14-A in Al Minhad but something happened in the parking lot, I received after a few seconds a message that a F14-A was hit, pilot and RIO ejected and no F14-A took off at last.

By looking at the track, I I can see the 6 red F14-A open their wings while in the (small) hangar and I think that one of them hit the hangar walls with

[2020-11-24 00:51] DanAlbert commented on #432
https://github.com/Khopa/dcs_liberation/commit/9394ed663a0124fbeb595077a393345cee7d072d adds the mission planning and it'll damage the runway for the current turn. Still to do:

- [x] Have runway damage affect future turns
- [x] Stop using the enum name for the display name of flight types, since those can't have spaces in them and this looks funny

[2020-11-24 02:10] #349 closed, assigned to DanAlbert

[2020-11-24 04:35] walterroach commented on #136
I like this idea.  Bullseye should be somewhere you can intuitively know the location of, even if you're not flying a modern jet with a helper waypoint.

Pilots ought to know where they are in relation to the closest enemy base to the frontline.  In air war only campaigns we can pick the closest enemy airfield.

[2020-11-24 04:37] walterroach commented on #431
This is fixed in build 502

[2020-11-24 04:37] #431 closed, assigned to walterroach

[2020-11-24 07:02] HighwaymanEd commented on #429
These would be good re-supply missions for Helicopters too to take underslung loads out to some of the 'lighter' missile sites, although it might be run trying to watch a Gazelle lift an SA-2 reload ;)

Conversely, they'd make good BAI missions from the other side as well to prevent re-supply of defenses, artillery, and front line units, and prevent Artillery from firing for a turn for example if

[2020-11-24 07:10] HighwaymanEd commented on #401
Heres the lua to make the cargo drops spawn the dropped item as a unit
[Hercules_Cargo.lua.zip](https://github.com/Khopa/dcs_liberation/files/5587990/Hercules_Cargo.lua.zip)

[2020-11-24 07:32] HighwaymanEd opened #439 "Add purchase options for groups"
Rather than purchasing a tank or an artillery piece, have the option to buy a US Army M1 Tank Platoon made up of the relevant 4 vehicles, an Artillery battery of 6 M109's or a Mechanized Infantry Company.

I've found currently that if I purchase the 14 M1's that would make up a US Armor company, that they're split into groups of 6 rather than split into platoon-sized elements.

There is plenty of

[2020-11-24 07:48] foxwxl opened #440 "Enemy force multiplier need re-enable"
The enemy force multiplier inside campaign setup is currently disabled and not selectable. Need a fix.

Thx.

[2020-11-24 07:54] foxwxl opened #441 "briefing waypoint indices off by one"
JF-17 WPT in aircraft system does not match the briefing. (ie. TGT at WPT4 on aircarft will show as WPT5 in briefing)
Note, Jeff's WPT0 is only for INS alignment.

ALSO, the turn number in the briefing is one round less than that on the GUI. First round will alreay be the buying round and mission begins at 'turn 2', but the briefing will shows 'turn 1'.

[2020-11-24 08:24] DanAlbert opened #442 "Add AJS37 to Anti-Ship lists"

[2020-11-24 08:49] DanAlbert commented on #429
@HighwaymanEd https://github.com/Khopa/dcs_liberation/issues/383

[2020-11-24 08:52] DanAlbert commented on #438
I don't think we have any say in when they extend their wings. Sounds like a DCS bug?

[2020-11-24 08:53] DanAlbert commented on #439
@walterroach might be something close to what you're working on?

[2020-11-24 09:17] foxwxl opened #443 "AI tasking improvement for ai_flight_planner_db.py"
I've edit the https://github.com/Khopa/dcs_liberation/blob/17fe977b06cb3c29561239636cf16636a14cd84e/gen/flights/ai_flight_planner_db.py to for more suitable AI tasking.
I mainly focused on Modern era.

[ai_flight_planner_db_v2.zip](https://github.com/Khopa/dcs_liberation/files/5588679/ai_flight_planner_db_v2.zip)

[2020-11-24 09:34] foxwxl commented on #443
#442 AJS37 anti-ship mission included in this file.

[2020-11-24 10:50] Khopa commented on #438
No we don't have any control over that.

I've done a few tests and I've been able to reproduce the issue in a custom made mission.

![image](https://user-images.githubusercontent.com/2546901/100083920-69a7e300-2e4a-11eb-8c3d-a3c6df2a60c9.png)

When they start taxying, they break their wing and stop :

![image](https://user-images.githubusercontent.com/2546901/100084045-90661980-2e4a-11eb-8477-e95e

[2020-11-24 10:51] jojom4n commented on #438
Wouldn't it be possible to prevent DCS Liberation to spawn them under the hangar?
And, besides that, when opening the mission in mission editor, can I assign them another parking lot to ramp start from or will DCS Liberation not appreciate that manual modification?

[2020-11-24 10:59] Khopa commented on #438
We generally prevent this from happening, as pydcs the library we use, will find compatible slots for the selected aircraft. And this slot is compatible in theory with the F-14A (As it is compatible for the F-14B),

We could ultimately start listing which ones are causing issues, but this will be very hard and time consuming to maintain such a list.

Yes you can do that as a workaround for now, it

[2020-11-24 11:02] Khopa commented on #438
For reference, miz file to reproduce issue :

[f14a_taxi_issue_at_al_minhad.zip](https://github.com/Khopa/dcs_liberation/files/5589382/f14a_taxi_issue_at_al_minhad.zip)

[2020-11-24 11:07] Khopa commented on #438
ED Forums thread : https://forums.eagle.ru/forum/english/licensed-third-party-projects/heatblur-simulations/dcs-f-14a-b/bugs-and-problems-bf/7151390-taxi-issue-on-al-minhad-airbase-for-the-f-14a-135-gr

[2020-11-24 11:50] Khopa commented on #435
Do you have the link of the latest version of the mod ?
I think there was two variants of this mod by different modders at some point, which one should be favored ?

[2020-11-24 12:11] Khopa commented on #427
Done in https://github.com/Khopa/dcs_liberation/commit/d0804a6f9ecd91169376efd549f79d250e400612

[2020-11-24 13:21] walterroach commented on #385
From discord conversation:

https://www.battleorder.org/us-army-tanks-modern

[2020-11-24 17:09] Mustang-25 commented on #288
A further request I'd like to add:

5. Recovery tanker for the LHA and carrier. Both are important aspects of carrier ops IRL. Harriers especially as they normally take off at a reduced fuel load then tank up before ingressing.

[2020-11-24 17:12] TrueCrazyMan commented on #435
https://drive.google.com/file/d/1aLDbSvkgOnwv4C-xtdc_dfMXNROynl_c/view?usp=sharing
This is the most current version released by Growling Sidewinder.

[2020-11-24 17:39] steevivo commented on #288
Hi , just little add
- There is 4 E2C Hawkeye by carrier , 5 in specials case
- Cruising speed 300 knots
- Possibility to launch the E2C from carrier ? the first from the carrier when launch the mission
- Operating from an altitude more than 25,000ft
- detecting aircraft at ranges greater than 550km , so ability to choice hypodrom aeras

[2020-11-24 18:11] Mustang-25 opened #444 "A2A Refueling Interim Request"
Before #288 is fully fleshed out, I'd like to request some adjustments to the current tanker tracks.

Currently, the tankers are all set to 250kts and result in them being either too slow or too fast for basically all the jets that can/need to refuel. The boom for fast jets should be 310kts (the Viper dash 1 details 310 KIAS at 30k ft) while the boom for the A-10 should be about 200-220 KIAS (the

[2020-11-24 20:00] qwertymanisalive opened #445 "Can placement of AWACs be tuned - Often the AWACs aircraft are placed deep in enemy territory"
This is a low priority request - I understand the AWACs are immortal/invisible to enemy aircraft but their placement looks strange on the map when they are patrolling deep in enemy territory.

Is there a way to place them more realistically in friendly airspace?

Playing 2.2.1

[2020-11-24 22:12] Khopa commented on #443
Thanks, I integrated most of your changes on dev branch.

[2020-11-24 22:12] #443 closed, assigned to nobody

[2020-11-24 22:25] HighwaymanEd commented on #443
Late to the party, but I'd drop the Harrier from the updated SEAD preferred section. Whilst it is SEAD capable, the Sidearms are not going to do much for an AI pilot that is tasked with them as they wont employ such a short range SEAD weapon properly and you'll end up with a lot of dead (pardon the pun) Harriers.

[2020-11-24 22:33] Khopa commented on #443
I agree, they should be a last resort SEAD flight choice.

[2020-11-24 22:36] Khopa commented on #442
Done in 4628e8320aa5f299c9961fe7904f0aa031fd09c7

[2020-11-24 22:36] #442 closed, assigned to Khopa

[2020-11-24 22:51] HighwaymanEd opened #446 "[Request] Starting position preview"
I'd like to request a preview of the map when the user is generating a new campaign to show the starting positions of the BLUEFOR so they can get an idea of the layout and if 'Inverted' as a map option is required to fit their scenario.

This came about after some confusion with the campaign generator that I believed would set the map starting positions based on historical scenarios, such as Russi

[2020-11-24 23:14] DanAlbert commented on #435
Would recommend making a "USA 2005 (modded)" and "Bluefor Modern (modded)" rather than USA 2020. Raptor has been flying for a long time and we don't have F-35s to add :)

[2020-11-24 23:15] HighwaymanEd opened #448 "[Request] Dynamic starting map"
Whilst I'm throwing requests at you, another idea I had was for a Dynamic mission start scenario. With this one, the user would select the factions, then the map but with a 'custom start positions' checkbox filled. The map would then be presented with the nodes, and the player could switch the nodes between Red and Blue.

For Example, in the Western Caucasus map, the nodes would all be shown, but

[2020-11-24 23:52] Khopa commented on #435
Done on dev branch in ed96bc83b4481b4fc7477fd99aeb95624c9714f4

[2020-11-25 00:15] DanAlbert commented on #445
https://github.com/Khopa/dcs_liberation/issues/288 covers this, I think.

[2020-11-25 01:24] DanAlbert commented on #380
I don't think we can really do this until we can plan based on SAM locations (we need to avoid sending sweeps straight into a net of SA-10s), so will be done in a later release.

[2020-11-25 03:09] DanAlbert opened #451 "crash on mission launch for dev branch"
[code]

Seems like it's maybe related to the F-22 not having any loadouts?

[2020-11-25 03:10] DanAlbert commented on #451
The opposite, actually. Deleting the F-22 custom loadouts fixed it for me.

[2020-11-25 03:16] HighwaymanEd opened #452 "[Request] Training"
I've been wondering about having training as an option to spend your budget on to increase the skill of your pilots and units, and or if they score so many victories, or fly so many missions their skill would increase naturally.

default = Trained
$10m = Veteran, delivered in 3 turns (occurs naturally after 10 missions)
$30m = Ace, delivered in another 6 turns (occurs naturally after 30 missions)

[2020-11-25 03:21] HighwaymanEd commented on #444
Not sure if adding yet another script to this is even feasible, but the Recovery Tanker within Moose is fantastic for having an S-3 over the Carrier Battle Group, or even having any tanker anywhere (over a stationary or moving unit). It also has the benefit that if the tanker runs low on gas, another would launch to take its place.

[2020-11-25 04:39] MaHuJa commented on #197
Yes, it is possible. But reenabling the tanking when it's not needed may have undesirable side effects, like aborting ongoing fueling, if not now then some DCS update later. So this may need to be triggered manually. And now the moving of the tanker becomes a task with multiple disjoint steps. Even if the docs are written people are unlikely to read them, and even if they do the UX is bad.

You al

[2020-11-25 10:15] DanAlbert commented on #452
https://github.com/Khopa/dcs_liberation/issues/276

[2020-11-25 10:15] #452 closed, assigned to nobody

[2020-11-25 15:59] FgPunisher opened #453 "Tanker not usable"
I noticed that I am unable to perform the refuel request. When I try to contact the Tanker regardless of my current aircraft I get no answer from the tanker. Double checked my frequencies etc. but this issue seems to be not on my side.

[2020-11-25 16:38] qwertymanisalive commented on #445
Sounds good, I will close this out

[2020-11-25 16:38] #445 closed, assigned to nobody

[2020-11-25 21:07] #406 closed, assigned to nobody

[2020-11-25 21:14] unixwitch commented on #425
i'm not sure if this is the same issue, but i've been flying the Hornet on some strikes missions today in 2.2.1 and noticed that the target waypoint elevation was set to 0, which made the TGP point to completely the wrong place.  i estimated the actual elevation was about 6000ft, entered a new waypoint at the same coordinates with that elevation, and found the targets.

this seems pretty easy to r

[2020-11-25 21:25] DanAlbert commented on #453
Did someone move them using combined arms? It's very easy to do accidentally. Combined arms completely interrupts the group's flight plan, and refueling is part of the flight plan. If you order a tanker to move there's no way for it to resume its mission.

[2020-11-25 21:38] DanAlbert commented on #425
Yep, same bug. Already fixed, just not released.

[2020-11-25 22:13] DanAlbert commented on #440
Fixed in 2.3. Not that this only controls how many aircraft the AI will buy. The planning algorithm has never been affected by this, so  you'll only see a difference if it allows them to plan flights that they previously couldn't. That should result in a pretty large increase of offensive sorties from red, but they'll still be flying the same number of CAPs. Those offensive sorties will include es

[2020-11-25 22:14] DanAlbert commented on #440
(I also cherry picked the fix to the 2.2 branch, so it'll be in 2.2.2 if we end up doing that)

[2020-11-25 22:14] #440 closed, assigned to nobody

[2020-11-25 22:28] DanAlbert commented on #451
Not seeing this any more.

[2020-11-25 22:28] #451 closed, assigned to nobody

[2020-11-25 23:26] FinnSwede opened #455 "[Request] Option for having Dot labels but only for aircraft"
As title says. Attached is a liberation generated .miz file where the labels were set to dot only and then an additional .lua file added manually into the miz that disables the dots for ground units while leaving the dots for air units.  Greatly helps with seeing air targets and doesn't make the ground warfare a cakewalk.

[liberation_nextturn.zip](https://github.com/Khopa/dcs_liberation/files/559

[2020-11-26 00:05] skeletonwburg opened #457 "In Game Label setting breaks mission generation"
Changing the "In Game Label" option from the default value (full) to any other value, breaks the mission generation.

Dev Build 537.

Following Error occurs when I hit the Take Off button:
[code]
Liberation save file is attached
[ModernInherentResolve.zip](https://github.com/Khopa/dcs_liberation/files/5599728/ModernInherentResolve.zip)

[2020-11-26 02:12] DanAlbert commented on #432
Runways will remain damaged after being destroyed and can be repaired now (and the AI will repair damaged runways when they can afford it). A damaged runway currently only affects the UI though. Need to restrict takeoff/landing/purchase at damaged runways still.

[2020-11-26 02:51] DanAlbert opened #458 "flesh out preset loadouts for OCA/Runway"

[2020-11-26 02:51] #432 closed, assigned to nobody

[2020-11-26 02:52] DanAlbert commented on #432
https://github.com/Khopa/dcs_liberation/issues/395 needs to be fixed before harriers/helicopters can use damaged airfields (and harriers need to be able to limit to a lightweight loadout), but other than that this looks done.

[2020-11-26 02:53] DanAlbert commented on #395
Once this is done we should remember to allow helos/harriers to use damaged runways.

[2020-11-26 06:28] DanAlbert opened #459 "Estimate mission distances per aircraft, adjust fuel as needed"
The auto planner currently uses the same max range for every aircraft and isn't able to extra bags to make longer missions or remove them for shorter ones. Fix that to allow longer missions and also apply appropriate limits for short range aircraft.

[2020-11-26 06:29] DanAlbert commented on #274
The AI can buy at these locations but usually the points are out of range, so there's no specific work left here. https://github.com/Khopa/dcs_liberation/issues/384 will be one use, and https://github.com/Khopa/dcs_liberation/issues/459 will improve mission range estimation.

[2020-11-26 06:29] #274 closed, assigned to DanAlbert

[2020-11-26 06:31] DanAlbert commented on #384
Moving out of 2.3 so we can make sure we've worked out the kinks in transfers first.

[2020-11-26 09:33] FgPunisher commented on #453
no as I am not owning Combined Arms so this seems not be related to it

[2020-11-26 09:43] DanAlbert commented on #70
https://github.com/Khopa/dcs_liberation/issues/432

[2020-11-26 09:43] #70 closed, assigned to nobody

[2020-11-26 10:56] DanAlbert commented on #453
Upload the mission file please. Let us know what aircraft you tried, what version of liberation you're using, and if you're using any mods.

[2020-11-26 12:10] slasse opened #460 "[Request] weather and time options"
hi guys,

a friend of mine has created a python app that takes a DCS mission file and imports the current real weather info and spits that out in a new mission file. it can also update the date and time to the moment the script runs. i have used it lots of times and have not had any issue's with it.

i thought it might be a nice feature to have in Liberation, specifically the weather part. you can

[2020-11-26 14:28] herr-berch opened #461 "Possibility to implement Carrier LUA templates by RedKite"
Is it possible to implement Carrier Deck Layout Templates? For example the awesome lua templates by redkite...

I tried to add them to a liberation generated campaign mission via the ME but am failing to do it successfully, i guess it is conflicting with some of the mission scripting...

[2020-11-26 15:38] FgPunisher commented on #453
ok I included my mission file. I was trying this one with the A10Cv2 but I already tried it also in other missions with F16C and FA18C.
I am using the latest liberation version.

[Mission File.zip](https://github.com/Khopa/dcs_liberation/files/5603884/Mission.File.zip)

[2020-11-26 18:51] unixwitch opened #462 "CAS flight planning can produce less than ideal routes"
tested with cceb3da (develop_2_2_x).  this flight plan goes straight over the front line then does a 180deg turn to fly back to it:

![image](https://user-images.githubusercontent.com/185952/100384169-6a41a480-3017-11eb-804e-4e8dd5ac2a07.png)

[2020-11-26 20:51] DanAlbert commented on #461
Can you share a link to what you're talking about?

[2020-11-26 20:52] DanAlbert commented on #460
We can't incorporate GPL code directly. I _think_ we could shell out to it?

[2020-11-26 21:23] DanAlbert commented on #453
Texaco is responding on UHF using the frequency shown on the kneeboard. Check that your radio is set correctly, that you're using the right one to make the call, and calling the right tanker.

[2020-11-26 21:23] #453 closed, assigned to nobody

[2020-11-26 21:35] kavinsky opened #463 "Add Bingo and Joker to Kneeboards"
Issue opened for discussion and keep track of the feature.

Make Kneeboards show bingo and joker fuel calculation on the kneeboard.

### Formula calculation
Since every jet has his own formula to calculate both values, we make a "universal" formula.

**Bingo:**
[code]

**Joker:**
[code]

**Example for F16**

[code]

[2020-11-26 21:59] slasse commented on #460
I'm not really familiar with the licencing models, I will talk to the guy and make sure he is ok with it but it should be fine if you want to use it

[2020-11-27 02:11] jojom4n opened #467 "[REQUEST] Make AI resign option"
I think that it could be realistic to include a "Make AI resign" option, when AI has no possibility to come back from a doomed situation (usually when it owns only one control point and it has no more defences and A/A aircrafts).

[2020-11-27 02:49] DanAlbert commented on #467
There is no "you won" screen. What would that button do?

[2020-11-27 03:16] HighwaymanEd opened #468 "[Idea] Tanker speed"
Hey guys, not sure if you've already solved this or not, but I had an idea about how to set the Tankers up. For argument's sake, let's assume that the tanker in question is a standard KC-135.

1. Set the tankers waypoints 1 & 2 and a racetrack orbit for point 1.
2. Set the speed of the tanker's orbit speed to the standard max endurance speed of a KC-135.
3. Set the tankers waypoints 3 & 4 to the s

[2020-11-27 04:25] DanAlbert commented on #407
https://github.com/Khopa/dcs_liberation/commit/0e807d84c2e60c1b717053dc00f8b04b382144bd did this globally, no need for factions to adapt.

[2020-11-27 04:25] #407 closed, assigned to DanAlbert

[2020-11-27 04:28] DanAlbert opened #469 "Lazily load miz for campaign data"
Campaign data can be expensive to load, and the "new game" button will be slower and slower to respond the more campaigns we convert. Load this information only when the campaign is generated, not when the wizard is opened.

[2020-11-27 06:16] #469 closed, assigned to DanAlbert

[2020-11-27 07:33] FgPunisher commented on #453
well thanks for your help but I am not a beginner. I have more then 1000h in DCS so I might know how to contact the tanker. I double checked that everything is set right in the radio panel including that I contact the right tanker. As every other mission is working for me right and I am able to contact there the tanker I am 100% sure that this issue is not on my site.

I am only using vr shader mo

[2020-11-27 08:12] DanAlbert commented on #453
It worked for me, so it definitely is something in your configuration that isn't in mine. The usual answers in this situation are that easy comms are interfering or that you've keyed the wrong radio (depending on your settings you might be expecting `\` or the equivalent "all of the radios" menu to work; afaik it doesn't), used a preset channel for the wrong radio (not an issue for the A-10), or a

[2020-11-27 08:31] DanAlbert commented on #417
The docs are pretty clear: https://github.com/walder/Skynet-IADS#point-defence-1

So they do need to be in a separate group, and we need to be able to associate those two groups in the lua. Filed https://github.com/walder/Skynet-IADS/issues/32 to see if the simpler option is viable, otherwise we probably need to un-plugin skynet and just generate the whole config rather than trying to put it toget

[2020-11-27 08:48] DanAlbert opened #470 "skynet point defense"
The docs are pretty clear: https://github.com/walder/Skynet-IADS#point-defence-1

So they do need to be in a separate group, and we need to be able to associate those two groups in the lua. Filed https://github.com/walder/Skynet-IADS/issues/32 to see if the simpler option is viable, otherwise we probably need to un-plugin skynet and just generate the whole config rather than trying to put it toget

[2020-11-27 08:48] DanAlbert commented on #417
Although we can totally do this for non-skynet, and the skynet behavior is suboptimal but still will use the point defenses when the group is active, so we should do the simple thing now, at least. Forked improved skynet behavior to https://github.com/Khopa/dcs_liberation/issues/470

[2020-11-27 08:49] DanAlbert opened #471 "audit faction SAMs"
Forking independent SA-15 groups from https://github.com/Khopa/dcs_liberation/issues/417, which covers point defense for high value SAMs.

[2020-11-27 09:12] DanAlbert opened #473 "Downgrade behavior for unavailable types of fixed SAMs"
Currently a fixed long range SAM will not be generated if the faction has no long range SAMs, and the same for medium range SAMs. Missing long range SAMs should try spawning medium range SAMs, and missing medium range SAMs should perhaps spawn SHORADs.

[2020-11-27 13:03] herr-berch commented on #461
Sure, here you go:
https://forums.eagle.ru/forum/english/digital-combat-simulator/dcs-supercarrier/277474-redkite-supercarrier-templates-pack

[2020-11-27 23:23] SnappyComebacks opened #475 "Request: Flight plans should minimize time in hostile SAM coverage."
A few of the flights I make enter threat circles of multiple SAM systems at the same time, I think it would benefit the package if the flight plan minimized time/distance within threat circle coverage.  The flight path would consider the overlapping threat circles, as well as threat circles in the ingress/egress path.

![Example](https://user-images.githubusercontent.com/74509817/100488414-5788a78

[2020-11-27 23:30] SnappyComebacks opened #476 "Strike target waypoints are below terrain on Syria Map"
On the Syria Map with a cold started A10C_2, the strike target waypoints appear underground.  The "Land" waypoint at the starting airfield appears at the correct elevation however.

This has happened to me on two different Syria strike missions, one target was a SAM, and the other a factory.

![ZoomedIn](https://user-images.githubusercontent.com/74509817/100488840-cd8e0e00-30cd-11eb-9795-8272c41a8

[2020-11-27 23:34] walder commented on #417
The one SAM type per group is mainly because Skynet turns SAM sites on and off via the group's controller. So all units in that group turn off or on at the same time.

The second reason for only having one type in a group is due to distance calculation. Let's say a SA-2 and a SA-15 where in the same group. As soon as a contact is in range of the SA-2 Skynet turns on the whole group including the S

[2020-11-27 23:58] SnappyComebacks opened #477 "Units don't always progress after a capture event."
In two different campaigns (Invasion of Iran and Inherent Resolve) a base capture doesn't move the ground forces to the next airbase in the line, and leaves them at previous airfield in the line.  This requires purchasing new ground units and selling the old ones, and leaves the newly captured base defenseless until new ground units are purchased.  When this scenario happens, the tankers don't adv

[2020-11-28 00:10] DanAlbert commented on #417
Makes sense, thanks for the explanation! Just in case it wasn't clear, it's our _use_ of skynet leading to suboptimal behavior. Skynet definitely appears to be doing the sensible thing :)

[2020-11-28 00:10] DanAlbert commented on #476
https://github.com/Khopa/dcs_liberation/issues/425

[2020-11-28 00:10] #476 closed, assigned to nobody

[2020-11-28 00:10] DanAlbert commented on #475
Related to https://github.com/Khopa/dcs_liberation/issues/292

[2020-11-28 00:10] #475 closed, assigned to nobody

[2020-11-28 00:25] #417 closed, assigned to DanAlbert

[2020-11-28 00:45] walterroach opened #478 "Cleanup heading references and formulas"
https://github.com/Khopa/dcs_liberation/blob/45361b57a7f7b9405c1422cd01ee4f7251876c9b/game/utils.py#L47-L54

(if you wanted to get really fancy, you could make a `Heading` class that hides all this and gives us some extra type safety)

_Originally posted by @DanAlbert in https://github.com/Khopa/dcs_liberation/pull/474#discussion_r531809700_

[2020-11-28 00:46] walterroach commented on #478
https://github.com/Khopa/dcs_liberation/pull/474#discussion_r531809798

[2020-11-28 00:48] DanAlbert commented on #471
We actually already have this, it just isn't widely used (it also probably should have 2-4 TLARs): https://github.com/Khopa/dcs_liberation/blob/master/gen/sam/sam_sa15.py

Need to go through all of the SAM generators and the factions that use them anyway. Will repurpose this.

[2020-11-28 00:53] walterroach opened #479 "Doc Updates"
- [x] https://github.com/Khopa/dcs_liberation/wiki/Getting-started
- [ ] https://github.com/Khopa/dcs_liberation/wiki/Tutorial-01-:-UI
- [x] https://github.com/Khopa/dcs_liberation/wiki/Tutorial-02:-Turn-Zero
- [x] https://github.com/Khopa/dcs_liberation/wiki/Tutorial-03:-First-operation
- [ ] https://github.com/Khopa/dcs_liberation/wiki/Tutorial-04-:-Setting-up-a-custom-%22Strike%22-mission is qu

[2020-11-28 01:03] jojom4n commented on #467
I missed the non-existance of the "you won" screen, since I was still completing first campaign :)

Anyway, I wasn't talking about a button, but about the possibility for AI to resign - on its own - if it should think to be unable to recover from a doomed situation.

[2020-11-28 01:46] #473 closed, assigned to DanAlbert

[2020-11-28 03:59] DanAlbert commented on #471
https://github.com/Khopa/dcs_liberation/commit/0b258997dd57cc28729b1cc92de182a861155f1e

[2020-11-28 03:59] #471 closed, assigned to nobody

[2020-11-28 05:39] DanAlbert commented on #467
Sounds like nothing to do in the absence of game end conditions. Lmk if I've misunderstood.

[2020-11-28 05:39] #467 closed, assigned to nobody

[2020-11-28 05:54] qwertymanisalive commented on #417
This is relatively new to Mission Editor but it is possible to reduce engagement range of SAM groups so that they don't fire until you are well inside the kill zone. So it's possible to see the search radar on RWR and keep flying towards the SAM unit without anything lethal happening until you have no escape! :-(

In this setup I've also changed the probability for another level of unpredictabilit

[2020-11-28 17:44] walterroach commented on #463
For the hornet, the bingo chart in the dash 2 basically translates to the below.  This assumes a specific configuration *and* that you fly the bingo profile (which is way more efficient than flying MIL power at some lower altitude- the bingo profiles range from 7k to 40k feet depending on distance, and the speeds are highly variable with drag index).

**F/A-18C (30k pounds zero fuel weight, 250 dr

[2020-11-28 19:58] Techiastronamo opened #481 "Ground unit routes move 1.3nm, not 13nm, in aggressive stance."
Running v2.20 on the persian gulf full map with USA 2005 and USSR 1975 coalitions, noticed this as an issue on other maps as well so I think this is just an error in the program. It seems that ground unit routes are set a tenth of what they're supposed to be (according to the wiki which says 13nm or 16km, yet they only advance 1.3nm or 1.6km).

Screencap: https://imgur.com/a/GqSyWMx

[2020-11-28 21:51] DanAlbert opened #482 "turn number off by one"
https://github.com/Khopa/dcs_liberation/issues/441#issue-749462679

[2020-11-28 22:58] HighwaymanEd opened #483 "[Request] Resource capper"
To help those with frame rate issues and DCS performance problems (I'm looking at you(me) VR players), I'd like to request a resource CAP that would apply to both the AI and the Human player.

My initial idea was based around a Marine Expeditionary Unit (MEU) deployment with a single LHA and support ships, or ground-based depending on the map, with 6 Harriers, 6 Hueys/CH-53 & 6 KA-50/AH-1 and 1 co

[2020-11-28 23:12] walterroach commented on #481
It's more likely I wrote it wrong in the wiki and the existing behavior is what was intended.

[2020-11-28 23:58] Techiastronamo commented on #481
Ah ok, 1.3nm seems a bit close anyhow if I can somehow modify that but that makes sense then I suppose.

[2020-11-28 23:58] #481 closed, assigned to nobody

[2020-11-29 00:54] walterroach opened #484 "Get rid of weird lines on CP"
This is related to something going wrong with https://github.com/Khopa/dcs_liberation/blob/29b894f8b0be983bc1fc93055b730eb18536a074/qt_ui/widgets/map/QLiberationMap.py#L451-L464

I've played with a few different algorithms, but haven't been able to get rid of the line artifact while preserving a decent curve for the rest of the frontline path.

![image](https://user-images.githubusercontent.com/37

[2020-11-29 03:18] DanAlbert commented on #441
Not unique to the JF-17. All briefings start numbering at 1, and the kneeboard (and aircraft) start at 0.

[2020-11-29 04:30] #441 closed, assigned to DanAlbert

[2020-11-29 10:18] DanAlbert opened #485 "Finish migrating debrief to unitmap"
It's working well for aircraft and the log is currently a mess of false positive errors because the debrief has a hard time figuring out if a killed unit is part of a front line or a TGO.

[2020-11-29 12:17] Khopa commented on #271
https://github.com/Khopa/dcs_liberation/commit/37e23f70d6d9c08cf499f61f6f8714c3a00d4a08
Some factions will now sometimes spawn manpads in their infantry squads on the frontline.

[2020-11-29 12:17] Khopa commented on #7
https://github.com/Khopa/dcs_liberation/commit/37e23f70d6d9c08cf499f61f6f8714c3a00d4a08
Some factions will now sometimes spawn manpads in their infantry squads on the frontline.

[2020-11-29 22:54] DanAlbert commented on #463
Initial implementation of this has merged into develop. It's not aircraft specific yet.

[2020-11-30 05:23] Mustang-25 opened #486 "Dev Build 596 Testing Feedback"
1. Su-30s die on spawn at the HASes in Khalkalah. Probably they are too big for the space so it's more of an Ugra problem than a Liberation one. Recommend limiting their spawn there if possible or, since there are also issues with the A-10s at that airbase, bypassing that base in general for the campaigns.

2. mission results page improperly recording deaths. It will reflect more deaths than what

[2020-11-30 09:06] #216 closed, assigned to DanAlbert

[2020-11-30 09:08] DanAlbert commented on #486
I don't think we can practically do this. We *do* already limit to the spaces that fit the aircraft, but if DCS is giving bad data it's not feasible for us to fix every case. We don't currently handle parking assignments at all; that's delegated to pydcs.

https://github.com/Khopa/dcs_liberation/issues/485

You have culling enabled.

What I see looks like a mission planned that takes off from the

[2020-11-30 17:12] Mustang-25 commented on #486
Fair enough! In that case it might be best to avoid that air base until Ugra fixes it.

Oh of course! Silly me for missing that. Since they're pretty far away from the other culling zones are there any plans to always let them spawn units?

Yeah it was as planned. I wanted to see what the waypoints would look like if the the departure and arrival points were different. I'm not sure if long range b

[2020-11-30 20:41] DanAlbert commented on #486
The flight stays with its package from join to split, then goes home. There's already an FR open for being able to avoid rendezvous flight plans for single flight packages, and there's already an FR open to plot waypoints more intelligently.

[2020-11-30 20:41] #486 closed, assigned to nobody

[2020-12-01 22:46] Khopa commented on #433
As discussed on discord, changed the country of Syria 2011 to CJTF Red

68818ae50dccda7557a8b18f904679dc6fdd4693

[2020-12-03 17:37] RobertPeary opened #488 "Redfor faction"
Add Redfor as new faction

Similar to the Bluefor faction which comprises of the assets of different (NATO) nations, a Redfor faction should be created. I am specifically thinking about a faction with access to Russian and Chinese assets.
As a JF-17 player it would greatly enhance the experience to also have access to all the Russian hardware when choosing RedFor as the player faction.
Thank you f

[2020-12-03 18:16] solidGad opened #489 "Waypoints won't delete"
Noticed you cannot delete waypoints anymore. If you have the waypoint selected and then click  on deleted selected waypoint, it doesn't do anything. Thanks!

[2020-12-04 09:09] andreyzh opened #490 "[Feature Request] Era-Specific Loadouts"
**Issue Description**
At the moment the aircraft loadouts are valid for all eras. This may become a problem when playing campaign that involves US Forces from e.g. 1980s. While the aircraft are effectively the same as they would be in early 2000s, their weapons have been very different.

For example when considering conflict around 1985:

- F-15C should use only AIM-7 and not AIM-120B/C
- F-16C sh

[2020-12-04 09:11] #485 closed, assigned to DanAlbert

[2020-12-04 09:26] DanAlbert commented on #490
The size of the file is the smallest part of the cost. It's already extremely painful to have to do this per aircraft whenever a new mission type is added or per mission type whenever a new aircraft is added. Adding another dimension to that problem would make adding new mission types or aircraft slow to a crawl.

Instead, keep the loadout files as is and have each weapon designate a fallback weap

[2020-12-04 10:11] Khopa commented on #490
Yes, it's a very time consuming task.

This is a great idea; it will be way less work for us in the end.

A potential shorctoming of this approach however, is what do we do, if for instance, AIM-120B is allowed on a station, but its replacement AIM-7MH isn't ? In that case, you'll end up with an empty station. But i think this should be rare enough, that it won't really be an issue ?

***

We can

[2020-12-04 10:50] DanAlbert commented on #490
Because it's still a theory I have my doubts, but I think in that case it's just a matter of adding more fallbacks? If it can't fit AIM-7 but can fit AIM-9, AIM-7 would then fall back to AIM-9 (F-16 is a real case where this would happen).

I think the only thing we really lose are cases where the loadout might prefer to replace weapons with a wholly different type of weapon in the fallback case,

[2020-12-04 12:22] andreyzh commented on #490
Thank you for your comments! Obviously you know much more than I do what are the main pains in the application maintenance, and thank you for pointing this out!

I also like the "fallback" idea, it seems quite elegant.

~~Thinking out loud: is there any way we could use the DCS information available in game? Recently, ED has introduced an "era" of their own where based on the mission date, they ha

[2020-12-05 01:01] DanAlbert commented on #391
Hasn't recurred.

[2020-12-05 04:02] DanAlbert opened #491 "TGOs and CPs require double click to activate"
The click behavior for TGOs and CPs changed. Where previously a single click was sufficient, I now have to double click those elements to view them (and cursor does not change to indicate that there even is a click action). Reverting 72ac806cb87b9165773e570a5da0d63d53ac2d4b causes the problem to go away.

[2020-12-05 04:06] Starfire13 opened #492 "C101 Issues - Request: starting fuel load set to 50%, Bug: cannon/machine gun pods only firing single shots"
The C101 doesn't actually fly with a full fuel load except when being ferried. The design requirements stipulated that no external tanks were allowed, so the internal fuel tanks are actually quite a lot larger than needed for standard missions. Once you load up a C101 with a standard combat load, it can't actually take off from regular runways with a 100% fuel load. After some testing, it appears

[2020-12-05 04:17] DanAlbert opened #493 "C101 firing single rounds per attack"
Forking from https://github.com/Khopa/dcs_liberation/issues/492

Also, The C101 appears to only fire single shots from its cannon when attacking ground targets. This might possibly be because it only has external gunpods rather than an internal gun, and it's being treated similar to a rocket? The Viggen, for example, also only fires single rockets from its rocket pods in Liberation.

[2020-12-05 04:17] DanAlbert commented on #492
Forked part 2 into https://github.com/Khopa/dcs_liberation/issues/493

[2020-12-05 05:53] Mustang-25 opened #494 "[Bug Report] Build 614 Kills Not Registering"
As discussed on discord, in the latest build I attacked a SA-10 site but the kills did not get recorded. Attached are the json and liberation save.

[Build 614 No Kills Registered.zip](https://github.com/Khopa/dcs_liberation/files/5646554/Build.614.No.Kills.Registered.zip)

[2020-12-05 07:14] walterroach opened #495 "Ground Unit Waypoint "On-Road""
Reported on Discord that ground units have their second waypoint set to On Road and it's causing issues.

[2020-12-05 07:31] dimkzr opened #496 "[Feature request] Dark kneeboard images for night missions"
The title pretty much says it all. Let Liberation generate a dark mission card if the current turn is taking place at night.

[2020-12-05 08:10] DanAlbert commented on #485
Reverted and need to retry because kills weren't registering. https://github.com/Khopa/dcs_liberation/issues/494 has saves and miz files.

[2020-12-05 08:10] DanAlbert commented on #494
Merging into https://github.com/Khopa/dcs_liberation/issues/485.

[2020-12-05 08:10] #494 closed, assigned to nobody

[2020-12-05 13:39] CaptMikeDK opened #497 "Adding the Hercules mod by Anubis"
Could you add this mod to the database should be for all blue factions.

http://www.mediafire.com/file/8p2knd0q70iaox3/Hercules_ver_5.9.zip/file

https://discord.gg/qXmTBGGRvm

thanks :)

[2020-12-05 17:08] SnappyComebacks opened #498 "Request: Display which airbase each location belongs to."
On some campaigns (Golan Heights Battle) the airbases are so close together that you don't know which airbase owns each location.  It would be nice to know which SAM/Factory/Command Centers/Oil/Other belong to each airbase.  That way you can choose to avoid destroying a SAM/Factory/Command Center/Oil if you are about to capture the airbase it belongs to.

[2020-12-05 17:08] ToKeNeRd opened #499 "Viper fuel seems to start at 0 regardless if the fuel is set to 100%"

[2020-12-05 17:48] SnappyComebacks opened #500 "AI Strikes often only target one structure."
When I create Strike tasks for AI to target Factories or Ammunition Depots, the AI will drop all of their bombs only on one of the structures, and not hit all of them.  At Factory targets this is usually the Factory, and at Ammunition Depots this is usually the Ammo depot and not the hangars.

[2020-12-05 19:47] SnappyComebacks opened #501 "Tank 3s are invincible?"
I've never been able to destroy Tank 3s.  Are they invincible?

![Tank3](https://user-images.githubusercontent.com/74509817/101261932-faf34100-36f7-11eb-95ce-9dfabca3d5d4.png)

[2020-12-05 20:16] Delta-99 opened #502 "Minor Documentation syntax"
In some of the screen shots you mention to hit the "Proceed" button at the top right. I think now it is called "Take Off". Just thought I'd report it even though it is super minor.

[2020-12-05 20:28] DanAlbert commented on #502
The wiki should be writable by anyone if you want to fix it.

[2020-12-05 20:30] DanAlbert commented on #500
Related to https://github.com/Khopa/dcs_liberation/issues/244

[2020-12-05 20:30] #500 closed, assigned to nobody

[2020-12-05 20:32] DanAlbert commented on #499
I know one of the developers flies the Viggen without issue, so we need more information. Upload your save game and the miz.

[2020-12-05 22:28] DanAlbert commented on #485
Fixed the issues for tracking kills at TGOs.

[2020-12-06 01:35] scplo2753 opened #503 "some issues about the campaign on the north-west of Caucasus map"
Gelendzhik and Novorossiysk are located far away from the sea on the Caucasus map.
The Caucasus map is not friendly for the north-western's campaigns
![101233648-a3a39f80-36fc-11eb-9330-10163d32af75](https://user-images.githubusercontent.com/8475845/101269128-baa2ca00-37ae-11eb-9117-bc55f6d7a140.png)

[2020-12-06 05:28] DanAlbert opened #504 "don't allow AI budget to go negative"
The AI currently buys until its budget goes negative. It should instead be limited the way the player is: purchase until it can't afford any more and then roll over its extra budget.

Though this might sound like the AI is cheating, it's actually making the AI worse because it's accidentally overspending on ground units and not able to afford aircraft most of the time.

[2020-12-06 05:29] DanAlbert opened #505 "air vs ground budget balance option"
Add a budget balance slider to support https://github.com/Khopa/dcs_liberation/issues/362. Campaign definition (or maybe faction) should set the default.

[2020-12-06 05:30] DanAlbert commented on #362
This is now implemented. It works exactly the same as it does for opfor, which is quite badly. I don't recommend anyone uses this for ground units until https://github.com/Khopa/dcs_liberation/issues/504 is fixed, and not for air units until https://github.com/Khopa/dcs_liberation/issues/361 is fixed. Auto runway repair works fine currently.

The procurer will currently spend half (and change) of

[2020-12-06 05:30] #362 closed, assigned to DanAlbert

[2020-12-06 05:31] DanAlbert opened #506 "document auto-buy behavior"
Document the behaviors enabled by https://github.com/Khopa/dcs_liberation/issues/362.

[2020-12-06 05:52] #504 closed, assigned to DanAlbert

[2020-12-06 05:52] DanAlbert commented on #362
(should work okay for ground units now)

[2020-12-06 07:38] DanAlbert commented on #137
AI aircraft purchases are now limited by available parking.

[2020-12-06 07:38] #137 closed, assigned to nobody

[2020-12-06 08:06] MedievalBunny opened #507 "AI Aircraft Purchasing Oddities"
I'm playing a campaign against Russia in Syria right now, and they've loaded up on Tu-22s and Tu-95s, but I've never seen a single one of them sortie.

The same campaign they bought almost nothing but MiG-31s on the fist turn, not a single MiG-29 or Su-27 in sight.

[2020-12-06 09:07] DanAlbert commented on #362
Okay, this should all be pretty good now.

[2020-12-06 09:09] #482 closed, assigned to DanAlbert

[2020-12-06 09:31] DanAlbert commented on #507
https://github.com/Khopa/dcs_liberation/issues/361

[2020-12-06 09:31] #507 closed, assigned to nobody

[2020-12-06 09:33] DanAlbert opened #508 "Procurer should ferry unused aircraft to where they're needed"
Unused aircraft could be ferried to where they would be more useful.

[2020-12-06 09:34] DanAlbert opened #509 "Procurer should fill incomplete squadrons"
Partial squadrons could be completed rather than buying a whole flight at a time.

[2020-12-06 09:36] DanAlbert opened #510 "Rank aircraft purchase preferences"
Aircraft could be ranked by their usefulness so we're not buying so many Hueys when a Hornet would do better.

[2020-12-06 09:37] DanAlbert opened #511 "Buy reserve aircraft to prepare for the next turn"
Purchase a buffer of CAP capable aircraft in case too many are shot down and they are not available next turn.

[2020-12-06 09:38] #361 closed, assigned to DanAlbert

[2020-12-06 09:40] DanAlbert commented on #499
I misread. _I_ fly the viper all the time and don't have this problem, so we'll need that info.

[2020-12-06 10:36] DanAlbert commented on #506
https://github.com/Khopa/dcs_liberation/wiki/Auto-purchase-options

[2020-12-06 10:36] #506 closed, assigned to DanAlbert

[2020-12-06 10:38] J-5015 opened #512 "Apaches/Helos hover still between Base and Waypoint 1"
Apaches set to CAS or other missions stop inflight to a hover half way between Airfield and Waypoint 1 . Hover at altitude defined by waypoint 1. PG Iran Invasion. Observed in both MP and SP. Apaches in a single package. No connection to other units.

[2020-12-06 10:40] Starfire13 opened #513 "Redfor ground unit losses showing up as Blufor in end of mission screen"

[2020-12-06 10:44] DanAlbert commented on #512
Are they at a hold point?

[2020-12-06 11:39] DanAlbert opened #514 "Maintenance costs"
Purchased units should have maintenance costs as a way to keep a limit on the total number of units, and to curtail snowballing.

[2020-12-06 11:40] DanAlbert opened #515 "Workshops should reduce maintenance costs"
Following https://github.com/Khopa/dcs_liberation/issues/514, workshops (or something) should reduce maintenance costs rather than directly providing income.

[2020-12-06 12:01] Starfire13 opened #516 "A-10 blowing up at Nellis AFB"
Spawns in mid air and crashes straight into the ground. Happens on every mission start.

[2020-12-06 13:24] Starfire13 commented on #513
Looks like it's not just ground units either. Redfor air assets can also appear in blufor list.

[2020-12-06 13:42] skeletonwburg opened #517 "Can't generate new mission - Duplicate TGO unit Error"
I am using the latest preview build (627) and following error occurs when I hit the "Take Off" Button:

  File "qt_ui\widgets\QTopPanel.py", line 232, in launch_mission
  File "game\game.py", line 201, in initiate_event
  File "game\event\event.py", line 65, in generate
  File "game\operation\operation.py", line 303, in generate
  File "game\operation\operation.py", line 271, in _generate_ground_u

[2020-12-06 18:40] SnappyComebacks opened #518 "AI planes spawn intersecting mid-air at Khalkhalah"
When doing the "Golan Heights Battle" campaign (Winter Modern, Player: USA 1990, Enemy: Syria 1982), planes spawn midair intersecting with each other at Khalkhalah.  Several enemy planes crash within a few seconds of starting the mission.  This happens within multiple missions.

There are three planes in this photo.
![Overlapping_clean](https://user-images.githubusercontent.com/74509817/101289053-

[2020-12-06 19:42] Delta-99 opened #519 "Feature Request - Random Skill level"
Would like to set the "Random" skill level rather than just the absolute values currently available to choose from. I typically use "Random" in all my missions which gives a good mix of skill level and I never know if I'm going to be up against really good or basic AI.

[2020-12-06 19:59] DanAlbert commented on #518
Already fixed in the dev build. If it's still present it's a map bug that we can't fix.

[2020-12-06 19:59] #518 closed, assigned to nobody

[2020-12-06 20:00] DanAlbert commented on #519
https://github.com/Khopa/dcs_liberation/issues/276 will probably be more what you want, but a random option could be done sooner.

[2020-12-06 20:13] Khopa commented on #491
Fixed in https://github.com/Khopa/dcs_liberation/commit/2012ad0aa35bc1f9295e459d658664371d73c8e6

[2020-12-06 20:14] #491 closed, assigned to Khopa

[2020-12-06 22:23] #390 closed, assigned to DanAlbert

[2020-12-06 23:15] #421 closed, assigned to DanAlbert

[2020-12-06 23:34] #489 closed, assigned to DanAlbert

[2020-12-06 23:47] DanAlbert commented on #513
Additional context: https://discord.com/channels/595702951800995872/595706079459934208/785069318907494400

@Starfire13 did you happen to capture a base in that round? I don't have enough info to dig at all here. The `state.json` and liberation save would be helpful.

[2020-12-06 23:52] DanAlbert commented on #513
~~Ah, no, I spotted it. Just not actually filtering for player vs opfor.~~ I think it's also broken after a base capture though.

(I misread earlier; if it's not a post-capture issue I don't know what the problem is)

[2020-12-07 05:21] Starfire13 commented on #513
Yeah, it happens both with and without base captures.

[2020-12-07 05:28] walterroach opened #520 "DEAD Loadout"
Give DEAD flights a unique loadout so they can be set independently from SEAD.

[2020-12-07 05:53] Mustang-25 commented on #520
Just a suggestion: cluster munitions like the CBU 87, 97, rockeyes, and GB-6SFW (on the Jeff) would be good options for DEAD.

[2020-12-07 06:16] DanAlbert commented on #517
Fixed in the latest build, but does require a new game.

[2020-12-07 06:16] #517 closed, assigned to DanAlbert

[2020-12-07 06:18] DanAlbert commented on #513
Then it's unlikely that I fixed it, but changes did happen in that area today. Currently I don't have the data I'd need to work on this. I don't see the problem on my end.

[2020-12-07 07:13] DanAlbert commented on #405
This is a bit more complicated than I first thought because this happens whenever the SAM is missing _any_ of its required components (SR, TR, or launcher), and only when the particular variety of SAM requires those components. We don't have that data currently. Nothing impossible, but it's rather time consuming so moving to 2.4. We lived with these warnings in 2.2 so not the end of the world to k

[2020-12-07 07:23] DanAlbert opened #521 "AI SAM repair"
The purchase AI won't repair SAMs or base defenses. It should.

[2020-12-07 08:45] DanAlbert commented on #509
https://github.com/Khopa/dcs_liberation/issues/41

[2020-12-07 08:45] #509 closed, assigned to nobody

[2020-12-07 09:12] DanAlbert commented on #32
Most of this code was rewritten recently. Also weapons fired are no longer tracked so if it was a length issue that'll reduce that significantly. I'm assuming this issue is no longer present. If that's wrong lmk.

[2020-12-07 09:12] #32 closed, assigned to nobody

[2020-12-07 09:13] DanAlbert commented on #33
Not enough info, and haven't heard if anyone else encountering this in months. Assuming fixed.

[2020-12-07 09:13] #33 closed, assigned to nobody

[2020-12-07 09:15] DanAlbert commented on #43
A handful of changes to help dedicated server use went in for 2.1 and 2.2. https://github.com/Khopa/dcs_liberation/wiki/Dedicated-Server-Guide documents the recommendations.

Any further improvements will come from a client/server mode, which there's ba separate bug open for.

[2020-12-07 09:15] #43 closed, assigned to nobody

[2020-12-07 09:21] DanAlbert commented on #45
I don't think there's anything left to do here. We can't fix the DCS AI, and I don't think the other issues exist any more.

[2020-12-07 09:21] #45 closed, assigned to nobody

[2020-12-07 09:23] DanAlbert commented on #54
I'm not sure this is worth doing. Tacview does this way better than we ever could.

If anyone disagrees we can reopen.

[2020-12-07 09:23] #54 closed, assigned to nobody

[2020-12-07 09:28] DanAlbert commented on #55
https://github.com/Khopa/dcs_liberation/issues/383 covers the supply system for ammo/fuel.

https://github.com/Khopa/dcs_liberation/issues/273 covers presets.

[2020-12-07 09:28] #55 closed, assigned to nobody

[2020-12-07 09:30] DanAlbert commented on #80
Is this still an issue?

[2020-12-07 09:31] DanAlbert commented on #81
@Khopa I think you fixed this and the culling zone now includes attached control points?

[2020-12-07 09:32] DanAlbert commented on #86
Can't happen with the new campaign structure. Not all have migrated, but I think we've also fixed this issue already.

[2020-12-07 09:32] #86 closed, assigned to nobody

[2020-12-07 09:38] DanAlbert commented on #35
Shouldn't happen with the new campaign format. Not everything has been converted, but the general issue is fixed.

[2020-12-07 09:38] #35 closed, assigned to nobody

[2020-12-07 09:39] DanAlbert commented on #99
https://github.com/Khopa/dcs_liberation/issues/273 is the even more user friendly form of this.

[2020-12-07 09:39] #99 closed, assigned to nobody

[2020-12-07 09:40] DanAlbert commented on #97
https://github.com/Khopa/dcs_liberation/issues/273

[2020-12-07 09:40] #97 closed, assigned to nobody

[2020-12-07 09:41] DanAlbert commented on #107
Fixed in 2.2.

[2020-12-07 09:41] #107 closed, assigned to nobody

[2020-12-07 09:42] DanAlbert commented on #110
All the additional mission types discussed here were added in 2.3 and 2.2.

[2020-12-07 09:42] #110 closed, assigned to nobody

[2020-12-07 09:43] DanAlbert commented on #118
https://github.com/Khopa/dcs_liberation/wiki/Dedicated-Server-Guide

There's another bug open for a client/server architecture.

[2020-12-07 09:43] #118 closed, assigned to nobody

[2020-12-07 09:46] DanAlbert commented on #84
In your DCS missions directory. It's the file you loaded to start the mission in DCS.

But I think this is probably a map or aircraft bug that we can't fix. I assume this hasn't happened again since no one else has reported. If you see it again upload the miz and we'll reopen.

[2020-12-07 09:46] #84 closed, assigned to nobody

[2020-12-07 09:49] DanAlbert commented on #139
I don't think this happens any more. Some changes to capture processing happened in 2.2.

[2020-12-07 09:49] #139 closed, assigned to nobody

[2020-12-07 09:49] DanAlbert commented on #209
This was fixed recently.

[2020-12-07 09:49] #209 closed, assigned to nobody

[2020-12-07 09:50] DanAlbert commented on #214
New campaign format fixes this. Campaigns are being migrated, but the problem itself is solved.

[2020-12-07 09:50] #214 closed, assigned to nobody

[2020-12-07 09:51] DanAlbert commented on #160
This sounds like culling was enabled and the flight's got culled.

[2020-12-07 09:51] #160 closed, assigned to nobody

[2020-12-07 09:51] DanAlbert commented on #223
AI aircraft purchases were redone in 2.3.

[2020-12-07 09:51] #223 closed, assigned to nobody

[2020-12-07 09:55] DanAlbert commented on #242
Most likely caused by the bug where we'd accidentally leave some airfields neutral in the mission. That was fixed recently.

[2020-12-07 09:55] #242 closed, assigned to nobody

[2020-12-07 09:56] DanAlbert commented on #258
https://github.com/Khopa/dcs_liberation/issues/385

[2020-12-07 09:56] #258 closed, assigned to nobody

[2020-12-07 09:58] DanAlbert commented on #140
Most likely caused by the bug where we sometimes accidentally left airfields neutral, which has been fixed.

[2020-12-07 09:58] #140 closed, assigned to nobody

[2020-12-07 09:59] DanAlbert commented on #285
Happens when the SAM is accidentally placed underwater. We're migrating campaigns to a new format where that's not possible.

[2020-12-07 09:59] #285 closed, assigned to nobody

[2020-12-07 10:01] DanAlbert commented on #301
This happens if `MissionScrioting.lua` wasn't replaced before launching DCS, iirc.

[2020-12-07 10:01] #301 closed, assigned to nobody

[2020-12-07 10:04] DanAlbert commented on #318
Is this still an issue? We need a miz file if so.

[2020-12-07 10:05] DanAlbert commented on #306
Is this issue still present on the latest release with new games?

[2020-12-07 10:09] DanAlbert commented on #116
Was all just redone in 2.3. There are a few new bugs filed for follow up work, but it's much smarter now.

[2020-12-07 10:09] #116 closed, assigned to nobody

[2020-12-07 10:10] DanAlbert commented on #327
Issues are fixed by the new campaign format. Still migrating campaigns, but the problem itself is solved.

[2020-12-07 10:10] #327 closed, assigned to nobody

[2020-12-07 10:12] DanAlbert commented on #52
I think this actually Just Works. Watching a DCS replay is the same as playing a mission, so just watching the replay and submitting the state.json should work.

[2020-12-07 10:12] #52 closed, assigned to nobody

[2020-12-07 10:15] DanAlbert commented on #303
JTAC support comes from https://github.com/ciribob/DCS-JTACAutoLaze, which I don't think makes it possible to do this.

[2020-12-07 10:15] #303 closed, assigned to nobody

[2020-12-07 10:16] DanAlbert commented on #337
https://github.com/Khopa/dcs_liberation/issues/385

[2020-12-07 10:16] #337 closed, assigned to nobody

[2020-12-07 10:16] DanAlbert commented on #339
https://github.com/Khopa/dcs_liberation/issues/385

[2020-12-07 10:16] #339 closed, assigned to nobody

[2020-12-07 10:17] DanAlbert commented on #346
Done in 2.3.

[2020-12-07 10:17] #346 closed, assigned to nobody

[2020-12-07 10:18] DanAlbert commented on #369
https://github.com/Khopa/dcs_liberation/issues/405

[2020-12-07 10:18] #369 closed, assigned to nobody

[2020-12-07 10:19] DanAlbert commented on #376
Fixed by new campaign format.

[2020-12-07 10:19] #376 closed, assigned to nobody

[2020-12-07 10:21] DanAlbert commented on #404
Not actually fixable since 2.2.1 has already shipped.

[2020-12-07 10:21] #404 closed, assigned to nobody

[2020-12-07 10:23] DanAlbert commented on #333
https://github.com/Khopa/dcs_liberation/issues/106

[2020-12-07 10:23] #333 closed, assigned to nobody

[2020-12-07 10:23] #457 closed, assigned to nobody

[2020-12-07 10:30] DanAlbert commented on #497
https://github.com/Khopa/dcs_liberation/issues/401

[2020-12-07 10:30] #497 closed, assigned to nobody

[2020-12-07 10:31] DanAlbert commented on #503
https://github.com/Khopa/dcs_liberation/issues/91

[2020-12-07 10:31] #503 closed, assigned to nobody

[2020-12-07 13:40] walterroach commented on #385
RE: Evaluate/improve frontline position algorithm

Frontline width is now dynamic based on the available space between exclusion zones.  If the exclusion zone is wider than the max frontline width, a valid point is still not found.  If a point is not found, the ground war won't take place on that frontline.

Default campaigns need to be updated to ensure frontline paths do not move through wide ex

[2020-12-07 15:42] Galwran opened #522 "More settings for enemy strengths and weaknesses"
It would be nice that at the start of the game you could set the strengths of the airforce, air defence, ground forces and navy. So you could have a scenario where the enemy has modern fighters, but no S-300s. Or a scenario in which the enemy has masses of tanks, and maybe even modern medium range sams, but just a few modern fighters.

[2020-12-07 15:59] Onekx666 opened #523 "Ideas for AI behaviour improvements"
I have watched the development of DCS liberation with great interest for a while now. But i did never really start playing a campaign seriously because of an issue that comes up again and again which is the stupidity of the AI aircraft and ground units.
I know this is more a DCS issue than anything with liberation but I nonetheless have some ideas to partially fix this problem within the context o

[2020-12-07 18:34] fransschuijt commented on #110
Awesome! Thanks a lot!!
Greetings, Frans

Op ma 7 dec. 2020 10:42 schreef Dan Albert <notifications@github.com>:

[2020-12-07 20:44] DanAlbert commented on #522
That's just a custom faction. There's a guide on how to make those on the wiki.

[2020-12-07 20:44] #522 closed, assigned to nobody

[2020-12-07 20:47] J-5015 commented on #512
No holding Point. Double checked in Mission Editor. First Waypoint is Ingress. They never make it there.

[2020-12-07 20:50] DanAlbert commented on #523
At least for the air side of these, the improvements sound very difficult to get right and probably will leave the player more frustrated if it's overly cautious. DCS needs to improve this behavior for their own dynamic campaign to be any good, so I don't think it's worth us putting in the large amount of effort needed given that it'll be made unnecessary soon enough.

Related but simpler is depen

[2020-12-07 21:08] DanAlbert commented on #512
Upload the liberation save and the generated mission.

[2020-12-08 08:14] DanAlbert commented on #6
This campaign was redone, and no longer includes Sir Abu at all.

[2020-12-08 08:14] #6 closed, assigned to nobody

[2020-12-08 08:30] DanAlbert opened #524 "More EWRs outside bases"

[2020-12-08 11:09] walder commented on #405
it's best to just ignore the message for the moment. If one of the units is missing or damaged the Site is useless basically in DCS and therefore Skynet. @DanAlbert I have planed for a refactoring of `SkynetIADSAbstractRadarElement:setupElements()` , had a factory Class/Table in mind to create SAM sites. FYI: In the next release of Skynet all debug messages will be output in the dcs.log file, maki

[2020-12-08 11:51] DanAlbert commented on #405
I won't argue with you telling me to do less work 😁

Will leave this open until we're able to take that update. Thanks for chiming in!

[2020-12-08 17:51] Melt-DownZx opened #526 "SU-27 Blue Faction with Russian Liveries"
SU-27 and SU-25 on blue Combined Joint Task Force are flying Russian skins.
Not able to change them in ME either.

Makes it pretty hard to identify friends vs foe in a big 100+ planes mission.

Thx

[2020-12-08 23:22] qwertymanisalive commented on #324
The REDFOR Russian AWACS A-50 would be an useful add-on for OPFOR skynet

[2020-12-08 23:40] walterroach commented on #520
I looked into this a bit today, and it doesn't fit nicely into the existing system since the loadouts are based on the DCS Task type (where DEAD is not option, SEAD and DEAD flights both get SEAD).

I don't particularly want to special case DEAD, nor do I want to uproot the existing system.

Relevant sections are https://github.com/Khopa/dcs_liberation/blob/473cda971a1f224a5da25882b344cdcea9ea8758

[2020-12-09 00:30] walterroach commented on #499
Viper also has a bug with cold start where the fuel gauge says zero but it isn't.  Once electric gen comes online during startup, the fuel gauge reads correctly.

[2020-12-09 00:33] walterroach commented on #523
The ground part is (sort of) already in place.  The stance that Red picks is based on unit counts, and each group has a "morality trigger" that triggers a retreat if losses exceed a certain amount.

[2020-12-09 00:39] walterroach commented on #526
No skins are available for these units on CJTF blue (in DCS).  You would have to modify the liveries for your DCS installation to enable this.

[2020-12-09 00:39] #526 closed, assigned to nobody

[2020-12-09 00:42] walterroach commented on #498
It's possible with the direction we're going that these won't end up tied to the airbases.  As long as they are though, I agree it does make sense to display who their owner is.

[2020-12-09 00:51] walterroach commented on #455
This would need to be added to pydcs since that's what saves our mission files, and it doesn't have any API for inserting the "Config" folder.

I guess we could unzip, inject, then rezip, but I think that's asking for trouble.

[2020-12-09 00:54] walterroach commented on #448
Is this different than having the campaigns defined in mission editor?

https://github.com/Khopa/dcs_liberation/wiki/2.3-Campaign-Design

[2020-12-09 02:07] DanAlbert commented on #499
Is that actually a bug? I thought the totalizer just needed electrical power.

[2020-12-09 02:09] DanAlbert commented on #448
It'd be a lower effort (and lower control) version of the same, I think. Given that there's already a _fairly_ accessible way of doing this I wouldn't put it high up on the todo list, but it seems like it would be useful if we somehow ran out of other work.

[2020-12-09 02:11] DanAlbert commented on #520
Agreed for the short term, but planning based on the DCS task type isn't going to work long term since they have fewer mission types than we do.

[2020-12-09 04:21] jeetsukumaran commented on #241
One way to do this is for Liberation to track ordnance used in the previous mission and save it to the "state.json" file. The costs can then be deducted from the next round's budget. May result in a negative budget, but that's no big deal (we all go into debt now and then!).

[2020-12-09 04:44] jeetsukumaran opened #527 "Air Assault Missions (for helos)"
(Based on my comment on the discord)

Could we consider air assault missions for helos?

Users would target an objective on the map for the package -- e.g., an airbase.
Helo flights assigned to the package would get one additional mission choice: "Air assault".
This mission would be available to both AI's and players.

It can be done simply:

(1) An air assault mission would require the helo fligh

[2020-12-09 12:37] walterroach commented on #499
It's a bug in th sense that it would practically never show zero.  Supposedly the real jet totalizer stays at the shutdown fuel level until electric power is applied.  Also, the totalizer doesn't come alive on ground power, only gen.

Either way, I don't think Liberation has a bug here. @ToKeNeRd  If the fuel shows zero in mission editor or the ground crew menu, then maybe it is ours.  I haven't s

[2020-12-09 16:20] adamdoda opened #528 "Incorrect waypoint name id"
The id of the WP is set to the name e.g. "INGRESS".
The id is the key in the translations dictionary and it should look like something like this: "DictKey_WptName_1" and the value should be set to "INGRESS". Each WP name key should be unique.

The result is when I rename a WP in Project Tauntaun all INGRESS WP's name (across all flights) will change.
Not perfect example how to handle it properly:

[2020-12-09 20:53] DanAlbert commented on #499
I see. I thought the zeroing was the real behavior.

[2020-12-09 23:26] walterroach commented on #488
In case anyone would like to step in and add this faction as a PR: https://github.com/Khopa/dcs_liberation/wiki/Custom-Factions

[2020-12-09 23:40] Khopa commented on #213
Carrier and Tarawa ships can now be moved around on the campaign map (2.3 preview)
It's a first step toward naval invasion :)

https://github.com/Khopa/dcs_liberation/actions/runs/411774281

[2020-12-10 00:50] walterroach opened #530 "Move all file writes to User space"
Issue to track removing write operations that require admin permissions.

Known writes to protected space:

- [ ] Kneeboard
- [ ] state.json
- [ ] liberation_preferences.json
- [ ] MissionScripting.original.lua
- [ ] logs
- [ ] MissionScripting.lua replacement for DCS (This should request UAC elevation if required)

[2020-12-10 08:49] shomke opened #531 "OSError: invalid face handle"
All releases from version 2.1.1 give me the ''OSError: invalid face handle error'' (sometimes a direct crash) on clicking the Take Off button. Version 2.1.0 and previous versions work fine.
Issue related with kneeboards?
Clean reinstallation of DCS doesn't solve the issue.

![Capture](https://user-images.githubusercontent.com/75780016/101748250-9ad01680-3acc-11eb-96db-e2940df63f0d.PNG)

[2020-12-10 10:18] DanAlbert commented on #531
https://github.com/python-pillow/Pillow/issues/3066 hints that this might be fixed by updating to the (not yet released, I think) new version of pillow. That seems to be related to non-ascii text though, which I don't think we'd be printing to the kneeboard.

[2020-12-10 14:54] HomeFries94 commented on #104
Here's a "mountain to Mohammed" question:

If the point is collaboration, then instead of a web interface, would it be possible to add code to "import" a save game from a client (who edits his flight) and just allow the host to choose which changes to apply?  I know it's a different type of coding altogether, and I don't know whether Python's parsing algorithms are up to the task, but it's worth a

[2020-12-10 17:26] gatorman22 opened #532 "2.2.1 still says 2.2.0 in Help-About and Titlebar"
Small issue, just caused some confusion with a friend running 2.2.1 and thinking he had bugs leftover from 2.2.0.

[2020-12-10 18:23] ToKeNeRd commented on #499
I tried it with Invasion From Turkey Turkey 2005 vs Syria 2011 set in spring 2010 I tried messing with it in editor making sure my fuel was at 100% even fired up a instant action cold start as well as my own training map and only found the issue with liberation I resorted to 2.20 and everything works fine

[2020-12-10 20:18] walterroach commented on #502
Merging into #479

[2020-12-10 20:18] #502 closed, assigned to nobody

[2020-12-10 20:19] walterroach commented on #479
https://github.com/Khopa/dcs_liberation/issues/502#issue-757772033

[2020-12-10 20:23] walterroach commented on #527
Adding your note to the existing task for this mission type.  #382

[2020-12-10 20:23] walterroach commented on #382
https://github.com/Khopa/dcs_liberation/issues/527#issue-759987987

[2020-12-10 20:25] walterroach commented on #428
For this:

I'd also recommend adding the previous turn inventory.  Often I just want to replace what is lost, but can't remember.

[2020-12-10 20:30] jeetsukumaran commented on #527
Hi @walterroach I guess I would classify this as a combat mission rather than a logistic/resupply/reinforcement, which #382 seems to imply?

Supporting flights in the package would include SEAD/DEAD, strike, CAS, etc. The purpose is to attack (and capture or destroy) an enemy objective rather than reinforce a friendly one.

[2020-12-10 20:35] walterroach commented on #524
We should add other air defenses far from CPs too.

[2020-12-10 20:46] walterroach opened #534 "WW2 Factions still producing Duplicate TGO error"
Reported by Skeleton on Discord, #517 error still occurring with WW2 factions:
![unknown](https://user-images.githubusercontent.com/37820425/101827847-6b360400-3af6-11eb-987d-ce6348887ee7.png)

[2020-12-10 21:11] walterroach commented on #527
It's a helicopter transport mission right?  Transport units to a spot?

[2020-12-10 21:18] jeetsukumaran commented on #527
It is, but it is an *assault* mission.

The "spot" is held by enemy who will be shooting back.

It's less "transport" and more "attack". I think "troop transport/ferry" and "air assault" are very, very, very, very, different missions, though both use helicopters to move troops! :) Think of it as the post-WW2 version of paratroopers. Or WW2 glider troops.  Instead of parachuting / gliding in, you a

[2020-12-10 21:26] Delta-99 commented on #519
@DanAlbert #276 is interesting but I think this random option is nice to have too. I quickly dug into the code and found where the change would be and ALMOST had time to make the change and submit a pull request. But didn't get around to it :(

[2020-12-10 21:30] walterroach opened #535 "Update Default Campaign Frontline Paths to Avoid Exclusion Zones"
Some of these may already be complete, but I checked off the ones I know are for certain:

- [x] Desert War
- [x] Dunkirk
- [x] Emirates
- [X] Full Caucausus
- [x] Golan Heights
- [X] Inherent Resolve
- [x] Invasion from Turkey
- [x] Invasion of Iran
- [X] Invasion of Iran Lite
- [x] Normandy
- [x] Normandy Small
- [x] North Caucasus
- [X] Russia Small
- [x] Syria Full Map
- [x] Syrian Civil War
-

[2020-12-10 23:01] walterroach commented on #527
Right- I'm understanding what you're meaning, but it's both.  It's logistics (Ground units are tracked in Liberation, but can't be moved by a unit, that needs to be solved for this in the linked issue).  Then after the logistics piece it's new ground unit tasking #385 .

The groundwork has already been started to allow CTLD take care of some of these pieces by removing some of the naming restricti

[2020-12-11 00:08] Khopa commented on #534
Fixed here : https://github.com/Khopa/dcs_liberation/commit/b74d8b12d0ce17a4391769bf321b9d75818b1b72

The issue was that the Blitz truck on german flak site was named AAA#1 like one of the guns.
These kind of issues might still exists in other group generator. So this error might come back if we are not careful with unit naming in group generators.

[2020-12-11 00:08] #534 closed, assigned to Khopa

[2020-12-11 00:11] Khopa commented on #531
What is your system language/locale ?

@DanAlbert Maybe this could happen if a font is not installed too ?

[2020-12-11 01:53] jeetsukumaran commented on #527
Yep, I can totally see how the background code infrastructure would be the same, or at least have a large overlap, so solving one problem would be solving the other. From the user perspective, the air assault mission might be different from the ferry mission, but under the hood they would be largely the same.

[2020-12-11 07:07] clutchtomcat opened #536 "[Request] Waypoint Timing on Briefing Page"
The briefing page only gives waypoint names/tasks, but no times. In the Liberation app, the waypoints on the map have times displayed, but they are illegible due to cluttered icons. The flights window only gives a ToT, no takeoff time, no push/rejoin time, no off time.

The only way I can get waypoint timing info is after I'm in the jet and open the kneeboard, but since I don't know when my takeof

[2020-12-11 07:10] clutchtomcat opened #537 "[REQUEST] No Player Delay = No AI Asset Delay"
If we don't want to wait for our takeoff time, we can select "no delay for player," but any AI assets in the player's package will be delayed, thus making this feature rather useless in the big picture. If the AI assets included in the player's package are also started without delay, that would be perfect.

[2020-12-11 07:32] DanAlbert commented on #513
Assuming my fix the other day did fix it. If not I'll reopen, but I have no idea how to proceed here if that's the case.

[2020-12-11 07:32] #513 closed, assigned to DanAlbert

[2020-12-11 07:32] #94 closed, assigned to Khopa

[2020-12-11 07:33] DanAlbert commented on #94
@Khopa done, right?

[2020-12-11 07:41] DanAlbert commented on #537
Click ASAP. Any delays that exist after clicking ASAP is because taking off sooner won't do anything but waste gas. There's no point loitering 20 minutes while they wait for the slowest member of the package.

[2020-12-11 07:41] #537 closed, assigned to nobody

[2020-12-11 07:43] DanAlbert commented on #536
Is this what you're looking for?
![image](https://user-images.githubusercontent.com/315852/101876599-811ce680-3b41-11eb-875f-b1acdb52dfcc.png)

[2020-12-11 07:46] clutchtomcat commented on #536
Yes, but takeoff time is still missing. I don't know when I can jump in my jet, and attempting to join a slot just results in an indefinite "delayed to start" message long past my Join/ToT time.

[2020-12-11 07:49] clutchtomcat commented on #537
Is there no way to get ASAP to 00:00:00? Multiplayer servers have no time accelerate capability and waiting around 20 minutes for assets to takeoff isn't practical.

[2020-12-11 07:50] DanAlbert opened #538 "mobile SAMs that relocate periodically"
Related to https://github.com/Khopa/dcs_liberation/issues/272, mobile SAMs like the SA-11 should relocate between turns periodically to cause intel to go bad and surprise the player.

[2020-12-11 07:52] DanAlbert commented on #524
For some types of SAMs that's already doable in the campaign. I didn't elaborate in the report here like I should have (it was mostly a reminder for myself), but we don't actually make it _possible_ to put an EWR outside a base currently (and only one per base as well).

The other types of AA fall into a handful of other bugs:

* SHORADS for TGO defense: https://github.com/Khopa/dcs_liberation/iss

[2020-12-11 07:59] DanAlbert commented on #104
That sounds incredibly error prone. We want a new UI framework for other reasons anyway.

[2020-12-11 08:00] DanAlbert commented on #532
https://github.com/Khopa/dcs_liberation/issues/404

[2020-12-11 08:00] #532 closed, assigned to nobody

[2020-12-11 08:01] DanAlbert commented on #537
https://github.com/Khopa/dcs_liberation/wiki/Mission-planning#mission-timing is worth reading if you haven't. If you're seeing behavior that doesn't match that, I'll need more details to offer any help.

[2020-12-11 08:02] DanAlbert opened #539 "auto-replace lost aircraft option"
For this:

I'd also recommend adding the previous turn inventory.  Often I just want to replace what is lost, but can't remember.

_Originally posted by @walterroach in https://github.com/Khopa/dcs_liberation/issues/428#issuecomment-742777032_

[2020-12-11 08:02] DanAlbert commented on #428
Better yet: https://github.com/Khopa/dcs_liberation/issues/539

[2020-12-11 08:03] DanAlbert commented on #519
Good thing the project isn't going anywhere :) Send us the patch when you get a chance. I agree it's a good feature to have until we manage to tackle #276.

[2020-12-11 08:06] DanAlbert commented on #536
I see, we include the departure time for AI flights in the briefing but not player flights. Simple oversight. Will get that added.

Should also include takeoff time on the view I posted above.

[2020-12-11 08:07] DanAlbert commented on #499
Share the miz and liberation save? Until we can see the bug we can't help.

[2020-12-11 08:22] clutchtomcat commented on #536
Gotcha, thanks.

On a side note, is it possible to generate the mission, edit it, save it, close Liberation, then open Liberation and run that mission at a later date without regenerating the mission (and thus overwriting all edits)? The program seems to want me to fly the mission as soon as possible in order to update the campaign progress. It often takes me an hour to fix the carrier path/speed/

[2020-12-11 08:34] Khopa commented on #94
Yes, closing.

[2020-12-11 08:43] clutchtomcat commented on #537
I think I figured it out. All the windows were showing ToT while I was looking for a takeoff time of 00:00:00, but since clients/players cannot see their takeoff time anywhere I wasn't seeing it. With a ToT of T+00:25:00 or so I assume takeoff time would be 00:00:00 or close to it.

[2020-12-11 08:44] shomke commented on #531
Win10 Pro, in English. Based in Norway.

[2020-12-11 09:22] clutchtomcat commented on #520
I'd argue that the mission type in the Liberation generator be changed from DEAD to SEAD. AFAIK, all real-world operations center around SEAD, with DEAD being secondary.

[2020-12-11 09:22] Khopa opened #540 "Coastal Defense Site"
There should be coastal defenses site generated by Liberation on the shore :

**New group generators :**
- [x]  Silkworm Missiles (Modern scenarios)
- [ ] Artilery Bunker (WW2)

**Start generator:**
- [x] Start generator should create coastal defense tgo.

**Map:**
- [ ] Display ranges of such sites

[2020-12-11 09:27] clutchtomcat opened #541 "Some Custom Payloads Not Working"
Not sure if it's me or something else going on, but following the Wiki instructions I can get custom payloads working for most aircraft and roles, except for the following:

1. F/A-18C Lot20 won't accept any custom payloads, and spawns empty.

2. STRIKE and GROUND ATTACK don't appear to work for their respective roles. Are the payload names case-sensitive to match with the role names in the ME? Th

[2020-12-11 10:21] DanAlbert commented on #520
There are two mission types.

[2020-12-11 10:23] DanAlbert commented on #531
We ship the fized-width font we use, but do rely on the system having Arial. If there's something odd about the Arial on your system that could explain it. We ought to be shipping all our fonts regardless though.

[2020-12-11 11:37] DanAlbert opened #542 "High digit SAMs support"
https://github.com/Auranis/HighDigitSAMs has exciting things like SA-20, SA-17, and an SA-22 is in progress. Support for these systems is being added to skynet currently.

Rather than needing to duplicate every faction to make use of these, we should probably make a number of things in the faction definition optional and add mod selection to the new game wizard so we can instead automatically filt

[2020-12-11 12:00] Khopa commented on #542
I already added the units from the High Digit Sam mod in a pydcs extensions a while ago, but we do not have SAM generators for these yet.

And yeah the factions files are becoming unmaneagable with all the optional mods.

Yep this could work. I had been thinking of something similar to include the C-130 mod in the existing factions.

Ideally, in the long run there should be a way to customize whic

[2020-12-11 14:30] HomeFries94 commented on #104
No problem.  Just a brainstorm.

[2020-12-11 17:30] shomke commented on #531
![Capture](https://user-images.githubusercontent.com/75780016/101935121-d9ee8c80-3bde-11eb-8c79-8cf42b7826aa.PNG)
Those are the fonts I have installed on my system. Any additional font I could install manually to test out?

[2020-12-11 21:15] DanAlbert opened #543 "always drive into the wind"
https://github.com/Khopa/dcs_liberation/blob/babfd4abda61ba9bd028f0ba6a2a19dd0ca6d6c3/gen/groundobjectsgen.py#L207-L210

There's a ton of time between turns that can account for the carrier moving to the target, so the mission can be thought of as a recovery window and should steam into the wind.

Related, it seems we're never setting the waypoint speed. Should set to 25kt - wind speed.

[2020-12-11 22:32] Moguy164 opened #544 "check for damage on parked aircraft for OCA instead of kills"
https://discordapp.com/channels/595702951800995872/595702953495625729/787053319692091403

[2020-12-11 22:51] jeetsukumaran commented on #374
I've got a couple of ideas of how we might be able to help the AI do their job with skynet enabled. Ideally, the fix would come from ED. But in the mean time, maybe we can think of something like the following:

Right now, the ingress waypoint is the where the action to attack target is given. If the SAM site radars are not active when the flight reaches the ingress waypoint, the flight just conti

[2020-12-12 01:17] DanAlbert commented on #374
I think the way to do this would be to match patrol departure time to the egress time of the package.

I'm not sure how much good it would do, since the SEAD flight might be too far away to actually protect a strike flight, but won't know until we try.

[2020-12-12 01:20] DanAlbert opened #545 "Make faction units optional to reduce cost of mod support"
Rather than needing to duplicate every faction to make use of mod units, we should probably make a number of things in the faction definition optional and add mod selection to the new game wizard so we can instead automatically filter our unavailable SAMs, planes, etc (would also work for our duplicate WW2 factions because of the free/paid asset split).

[2020-12-12 01:20] DanAlbert commented on #542
Done: https://github.com/Khopa/dcs_liberation/issues/545

[2020-12-12 01:21] DanAlbert commented on #545
(quoting @Khopa from https://github.com/Khopa/dcs_liberation/issues/542)

[2020-12-12 03:20] #543 closed, assigned to DanAlbert

[2020-12-12 03:25] jeetsukumaran commented on #374
I think (or, actually, hope) if the SEAD flight is at their ingress holding point (which is currenlty ~40nm? from the target) while the strike is at or close to their target waypoint (which will be on top of the target with most munitions), then the strike will trigger SAM's radars and the SEAD will "see" the target and launch the HARMs. With skynet, that should I think do the job of suppression i

[2020-12-12 03:42] DanAlbert commented on #528
That branch is either private or was deleted. Got a fresh link or a snippet?

I'm guessing this is our problematic piece of code: https://github.com/Khopa/dcs_liberation/blob/6524286f04c0aac0f2ff33d099a926eaea0fe354/gen/aircraft.py#L1260-L1264

Looking at the definition of `String` in pydcs, I'm not really sure why the code we have works at all, so clearly I've misunderstood that API 😄 At a guess,

[2020-12-12 04:02] DanAlbert commented on #528
Ah, nvm, found it https://github.com/UOAF/project-tauntaun/blob/e7152a0b5decd72e366efb5f07070f0b10a89d7a/tauntaun_live_editor/camp.py#L202-L209

Yes, looks like I've guessed correctly. Here's a PR with a probable fix: https://github.com/Khopa/dcs_liberation/pull/546. It appears to work, but if you could verify that https://github.com/Khopa/dcs_liberation/actions/runs/416819338 fixes the issue for

[2020-12-12 07:44] jeetsukumaran opened #547 "Allow for CAP Missions to Arbitrary Locations"
It would be nice to designate CAP zones over arbitrary locations, not just targets/bases. Allows for more flexible mission planning.

Basically requires designation of a point on the map and specification of a radius.

Probably less useful for OPFOR, but on player side can set up a CAP or two to cover ingress of multiple package routes, and then do not need to tie in multiple escorts for each pack

[2020-12-12 09:06] dimkzr opened #548 "Certain targets cannot be added via "Add Waypoint""
See the screenshot:

![Screenshot - Sat 12 Dec , 11_54_26](https://user-images.githubusercontent.com/16318490/101979756-e3283980-3c70-11eb-9af8-84ffbb6a325d.png)

I created a strike package targeting SAM in the white circle (with a single A-10C_2 slot for player).

When I'm trying to add more waypoints via "Add Waypoint" button, I can only pick certain targets (green circles), while others (blue c

[2020-12-12 09:07] daniele777 opened #549 "SuperCarrier"
First my appreciated fort this great job ...can i add SuperCarrier??

[2020-12-12 09:09] paranoid102 commented on #549
Can you find a tag for the SC in option menu.

[2020-12-12 09:16] paranoid102 opened #550 "Fuel store"
Hi guys you did a grat works. Can we donate something to you for effort yout works?

Just for info. It will be possible add "FUEL managment" to the carrier , airbase, FARP?

[2020-12-12 10:08] dimkzr opened #551 "[Feature request] Display coordinates in Liberation"
Could be implemented in different ways.

Ultimately, it would be great to see coordinates of any given point under the mouse cursor.

But if it's too difficult (or even technically impossible), we can display them for Liberation-created objects only, since their exact location is always known.

It doesn't really matter where to display these coordinates. Could be in the status bar or in the "detai

[2020-12-12 10:29] daniele777 commented on #549
ah there is option?

[2020-12-12 10:46] dimkzr opened #552 "Long airfield titles are cutting off the number of available aircraft"
See the screenshot. Even with this window expanded, it's impossible to tell how many aircraft are available.

![Screenshot - Sat 12 Dec , 13_41_11](https://user-images.githubusercontent.com/16318490/101981746-14f4cc80-3c80-11eb-8b7f-473f75815fff.png)

Probably the easiest solution (to avoid expanding both the window and the dropdown, because there could be even longer titles) is to change format t

[2020-12-12 11:52] Khopa commented on #549
You can setup the mission generator to replace the regular carrier with the supercarrier module here :

![image](https://user-images.githubusercontent.com/2546901/101983082-cbed4a00-3c78-11eb-936a-f835a242ef4f.png)

[2020-12-12 11:52] #549 closed, assigned to nobody

[2020-12-12 13:03] adamdoda commented on #528
Sorry I merged that branch since :) Thanks for the quick fix, I'll test it in the next couple of days.

[2020-12-12 14:34] daniele777 opened #553 "F18C Not playable"
Dear i created my first campaign but great work ok!!! Fantastic.. but can't fly with hornet .... in war room on factory there is only F18C and not .. F18 lot 20 so can't fly inside game....  how to change aircrasft so fly ...?

![err](https://user-images.githubusercontent.com/8341788/101986669-7c664880-3c8f-11eb-866c-358ba82bdebb.PNG)

[2020-12-12 16:26] HomeFries94 opened #555 "liveries_overrides only works on skins in DCS install folder, not Saved Games\DCS"
I was unable to get the liveries_overrides to work on any custom skins in the User DCS folder.  I tried both ensuring "USA" was in the list of countries as well as commenting out the countries line altogether (so the skin works with any country).  However, assigning skins in the DCS install folder (e.g. CoreMods\aircraft\F-16C\Liveries\F-16C_50) worked just fine.

I'm using the Openbeta version of

[2020-12-12 18:04] Gogopex commented on #553
Hey @daniele777 , no worries, the F18C mentioned in DCS: Liberation is the same as the F18 A/C Lot 20 from DCS. If you open a player slot on that flight, you'll be able to fly the F18.

[2020-12-12 18:44] nreim1 opened #556 "DCS ME fails to load"
I just DLed DCS L and created first campaign and once I load DCS and enter ME, open the Liberationnextmove.miz, the splash screen comes up and loacks up at .97, I read that this was a mod issue, but I cant figure out what else to do, Ive removed all mods and unofficial files and still get no where. Anyone have a fix?

[2020-12-12 20:09] daniele777 commented on #553
Sorry i forget to make slot at player at  all ok!!!!

[2020-12-12 20:09] #553 closed, assigned to nobody

[2020-12-12 20:38] DanAlbert commented on #556
Usually it means some unit spawned underwater. Regenerate the campaign and try again.

[2020-12-12 20:38] #556 closed, assigned to nobody

[2020-12-12 22:15] walterroach commented on #444
KC130, KC135, and KC135 MPRS will now be separated by altitude.  Airspeeds for these three have been adjusted as you noted above as well.

Adding a second boom tanker for the A10 isn't easy to do with the current way they're generated since the generator makes one of each tanker type available to the faction.  Probably won't get anything in for the A10 to drink from until we overhaul the air suppo

[2020-12-12 22:19] #536 closed, assigned to nobody

[2020-12-12 22:24] DanAlbert commented on #552
That's weird. Mine doesn't do that. Are you on 2.2? Maybe we fixed this in 2.3 already.

![image](https://user-images.githubusercontent.com/315852/101996260-97cc5600-3c85-11eb-8bf2-804f4a3f7028.png)

[2020-12-12 22:25] #528 closed, assigned to nobody

[2020-12-12 22:32] KeeseAF opened #557 "A issue when i click take off."
[autosave.zip](https://github.com/Khopa/dcs_liberation/files/5683843/autosave.zip)

Traceback (most recent call last):
  File "qt_ui\widgets\QTopPanel.py", line 232, in launch_mission
  File "game\game.py", line 206, in initiate_event
  File "game\event\event.py", line 65, in generate
  File "game\operation\operation.py", line 342, in generate
  File "game\operation\operation.py", line 191, in not

[2020-12-12 22:54] #557 closed, assigned to DanAlbert

[2020-12-12 22:56] DanAlbert opened #558 "improve unit conversion APIs"
(assigning to myself because I've already written the APIs; just need to convert the whole code base to them)

All our distances/speed conversion functions truncate to int, and all our measurements are plain ints that make it easy to lose track of the units.

[2020-12-13 00:32] dimkzr commented on #552
Yes, it seems so. I'm using 2.2.1.

Case closed then :-)

[2020-12-13 00:54] dimkzr commented on #547
This would be useful, considering the sorry state of escorts in DCS.

[2020-12-13 01:49] DanAlbert commented on #552
Could also be something different between our configurations maybe, but that'd be weird.

[2020-12-13 01:52] dimkzr commented on #552
I will test this in 2.3 release and re-open if necessary.

[2020-12-13 02:32] Mustang-25 commented on #444
To reiterate our conversation in the discord, based on my conversations with pilots, the MPRS should be set at 270kts as a good compromise between the Harrier and Hornet. And given the speed limitation, leave the KC-130 at the previous 250kts.

[2020-12-13 02:44] walterroach opened #559 "Zero Fuel Start"
Reported by Discord user reminder

[bug_files.zip](https://github.com/Khopa/dcs_liberation/files/5684114/bug_files.zip)

[2020-12-13 02:48] walterroach commented on #559
Might be related to #499

[2020-12-13 03:42] DanAlbert commented on #490
We should tackle this in 2.4.

[2020-12-13 03:55] sgentile opened #560 "Editable Waypoints in GUI"
First off, fantastic work, very well done!

One nice feature would be the ability to move the waypoints on the GUI, select and drag them.   Also perhaps a right click to add them as well.

Would like a good 80's desert storm with realistic weapon loadouts!

Thanks again

[2020-12-13 05:26] DanAlbert opened #561 "black sea campaign needs off-map spawns"

[2020-12-13 06:46] DanAlbert opened #562 "moving ship groups"
ship groups should move during the mission

[2020-12-13 06:47] DanAlbert opened #563 "move orders for non-carrier ship groups"
Can move carriers now, but not ship groups

[2020-12-13 06:49] DanAlbert opened #564 "Senaki ILS is wrong"
Senaki ILS is in the kneeboard as 108.09, but is 108.90.

[2020-12-13 07:30] DanAlbert opened #565 "Disconnect navy groups from control points"
Should disconnect naval groups from control points so they can move independently and be set more explicitly by the campaign. The current system doesn't prevent the generator from spawning more ships than the faction's navy actually has, let alone how many it would commit to the theater

[2020-12-13 10:16] DanAlbert opened #567 "Tone down Piotr group"
@walterroach did some testing and the Piotr group is able to fend off ~40 Harpoons at a time. Until we can task the navy to kill that, we should weaken that group.

[2020-12-13 10:46] DanAlbert opened #568 "Improve faction modding docs"
There are a some unanswered questions for faction modding:

- [x] Where are unit names found?
- [ ] How are prices set?

The docs also explicitly name all the SAM generators, which are likely to accidentally be out of date.

[2020-12-13 14:41] MaHuJa opened #570 "(dev692) Right clicking red ship CP"
In dev692, right clicking a red ship CP (e.g. Admiral Gorshkov, Kuznetsov) fails with
Traceback (most recent call last):
  File "qt_ui\widgets\map\QMapObject.py", line 52, in contextMenuEvent
  File "game\theater\controlpoint.py", line 541, in mission_types
NameError: name 'FlightType' is not defined

This means you cannot create packages targeting these units.

[2020-12-13 17:46] walterroach opened #571 "Commission Units Error - WW2"
Getting this traceback on Dunkirk Campaign, Allies 1944 vs Germany 1944 ~~with autobuy options turned on~~ **EDIT:** *Doesn't look like auto-buy options has anything to do with it*:

[code]

[WW2Auto.zip](https://github.com/Khopa/dcs_liberation/files/5685064/WW2Auto.zip)

[2020-12-13 18:50] walterroach opened #572 "Mid Game + Invert Campaign Options Bug"
Selecting **both** midgame and invert campaign results in all CPs being blue.

[2020-12-13 19:00] SlvrBuletNChil opened #573 "Cant take off due to Error"
Traceback (most recent call last):
  File "qt_ui\widgets\QTopPanel.py", line 232, in launch_mission
  File "game\game.py", line 206, in initiate_event
  File "game\event\event.py", line 65, in generate
  File "game\operation\operation.py", line 308, in generate
  File "game\operation\operation.py", line 407, in _generate_ground_conflicts
  File "gen\armor.py", line 126, in generate
  File "gen\arm

[2020-12-13 19:43] DanAlbert commented on #573
I'm guessing I broke this when I cleaned up our projections, so I'll take it. Weird that I haven't seen the problem myself though... @SlvrBuletNChil can you upload the Liberation save that caused the problem?

[2020-12-13 20:21] SlvrBuletNChil commented on #573
I tried to but it said the file type wasn't accepted. I'm sorry this is my first time submitting a bug here.

[2020-12-13 20:28] SnappyComebacks opened #574 "Request: Have buildings that are part of the map be targets."
I don't know if this is possible within DCS, but can buildings/factories that are build into maps by map developers be strike targets?  For example, there are lots of factories/ports/hangars that are part of a maps design, and they would be great strike targets.

[2020-12-13 21:04] SnappyComebacks opened #575 "Missing Lost Ground Unit titled "BOARD_CRASH""
On the page with the "Accept Results" page listed, there is one ground unit reported as lost.  However, when you accept the results, the ground unit lost is not shown.

State file refers to the dead unit as `"type":"BOARD_CRASH"`

On `Version 2.2.1`
Here is the campaign at the state of the offending mission, and it's state file.
[MissingLostGroundUnit.zip](https://github.com/Khopa/dcs_liberation/f

[2020-12-13 21:10] SlvrBuletNChil commented on #573
[syriabeta.zip](https://github.com/Khopa/dcs_liberation/files/5685442/syriabeta.zip)

[2020-12-13 21:19] walterroach commented on #559
Something strange is happening with the resources at Bandar Abbas on this one.  It's properly set blue, but has zero jet fuel for some reason.  Still investigating.

[2020-12-13 23:11] DanAlbert commented on #573
Works for me on the latest beta. Could you check? A few changes went in since you filed this so maybe one of those fixed it.

[2020-12-13 23:13] DanAlbert commented on #573
Yeah, @walterroach fixed this with d9ea33cbb96b9f2e47ab96a68dcc7687bd80c77a.

[2020-12-13 23:13] #573 closed, assigned to walterroach

[2020-12-13 23:13] #570 closed, assigned to DanAlbert

[2020-12-13 23:13] #564 closed, assigned to DanAlbert

[2020-12-13 23:17] SlvrBuletNChil commented on #573
Its working now, thanks a lot for the help man!

[2020-12-13 23:46] clutchtomcat commented on #543
Would it be possible to change "brc = self.steam_to_target_position(ship_group)" to something like "brc = self.steam_**North/South/East/West**" or even a degree heading? The carriers should be running more-or-less parallel to shore, not straight at it.

[2020-12-14 00:18] jeetsukumaran commented on #374
## Setup

So, I spent the whole afternoon experimenting with SEAD vs DEAD and trying ways to set it up so that it all works with Skynet enabled.

[DISCLAIMER: Yes, in an ideal world, this fix would come from the DCS side, as the problem is on the DCS side with how escort/SEAD taskings are executed. But honestly, I don't expect the DCS fix to happen anytime soon ... or maybe at all. So I thought it

[2020-12-14 00:22] DanAlbert commented on #543
They should be aimed into the wind for recovery, shouldn't they? Not sure why you'd want to force a cross-wind landing.

[2020-12-14 00:36] clutchtomcat commented on #543
The code says "steam_to_target position," not into the wind, though. This has the ship steaming straight towards the shore.

Alternatively, it would be nice for the user to be able to set wind speed/directions in the Liberation menu to prevent situations where the ship would steam towards shore for extended periods.

[2020-12-14 01:01] jeetsukumaran opened #577 "FR: "Wild Weasel" Mission"
Following some experiments described here:

https://github.com/Khopa/dcs_liberation/issues/374#issuecomment-744095684

I think it might be useful to have a "Wild Weasel" mission. This would pretty much be identical to a STRIKE carried out against a SAM/AD site, with the following important modifications:

(1) Loadout defaults to Antiradiation missiles (or ARM's + cluster)
(2) Flight has "TARGET" w

[2020-12-14 01:06] DanAlbert commented on #543
Yes, and the bug here was to not do that any more. It's fixed.

[2020-12-14 01:09] clutchtomcat commented on #543
Oh, I didn't see the bug/solution clarified. Sorry.

[2020-12-14 07:09] jeetsukumaran commented on #577
So, update.

It seems the above approach does not work, because F-16's, at least, do not fulfill the "bombing" action waypoint when loaded with HARMs.

But the following _DOES_ work!

(1) Give the flight a "SEAD" tasking (in DCS ME), with ARM's as loadout.
(2) At the INGRESS waypoint, create an action "Start Enroute Task" > "Search Then Engage Group". assign the SAM.
(3) Create a _new_ waypoint in

[2020-12-14 14:02] dimkzr commented on #548
Upd: the issue persists in v2.3 build 707

[2020-12-14 19:21] DanAlbert opened #578 "culling behavior improvements"
- [x] Don't cull flights (smarter planning AI has rendered this all but useless for actually limiting unit counts).
- [x] Add non-culling regions around all package targets.
- [x] Document behavior, especially advice for using the income modifier to limit opfor air.

Discussed earlier but decided against:

- ~~Remove non-culling zones around departure airfields.~~ Only done at the airfields attach

[2020-12-14 19:27] DanAlbert opened #579 "Audit group generators for duplicate names"
- [X] SAM group generators
- [x] Missile group generators
- [x] Garrison group generators
- [x] Fleet generators

[2020-12-14 22:00] skeletonwburg opened #581 "Impossible to repair SAM"
It's impossible to repair parts of the Patriot SAM location in my campaign. I can open the Location window, but when I hit the "Repair [X$]" button, it subtracts the money but doesn't repair the part.

Error Code:

[code]

Dev Build 705
Invasion from Turkey campaign, USA 2005 vs Syria 2011

[campaign.zip](https://github.com/Khopa/dcs_liberation/files/5691825/campaign.zip)

[2020-12-14 22:26] vanson77 opened #582 "move group manipulation out of the UI so UI crashes can't break the game"
as described in Issue #581 the buttons in the repair window of e.g. a sam site does not update. If you click a repair button more than once you and want to start the mission, you get a "Duplicate TGO unit..." error message.

e.g.:
Traceback (most recent call last):
  File "qt_ui\widgets\QTopPanel.py", line 232, in launch_mission
  File "game\game.py", line 206, in initiate_event
  File "game\event

[2020-12-14 22:33] vanson77 commented on #582
Attached a savegame. The problematic SAM-site is COLD at Gudauta, where i bought a launcher tiwce. Selling the whole site and rebuying it, and the savegame works again.

[my_black_sea_678.zip](https://github.com/Khopa/dcs_liberation/files/5691932/my_black_sea_678.zip)

[2020-12-15 01:41] DanAlbert commented on #582
Hmm, this is different than the bug I thought was being described. It's not the whole site being duplicated, just the one unit. The former would have been a quick fix (I think), but the UI is doing a lot of things it shouldn't here which is why it was allowed to happen at all.

I fixed the UI bug that was exposing this. Will take longer to fix the underlying issue.

[2020-12-15 01:41] #582 closed, assigned to nobody

[2020-12-15 01:42] #581 closed, assigned to DanAlbert

[2020-12-15 04:56] DanAlbert commented on #505
Might also be good to have the balance be a balance of the total forces rather than just a split of the available budget? If the AI loses their air force but still has an army, they probably shouldn't bother buying more tanks.

Or perhaps they should only buy up to a certain amount of ground units, like the remaining enemy forces last turn +20%, and then spend the rest on planes?

[2020-12-15 06:38] #561 closed, assigned to DanAlbert

[2020-12-15 07:58] #262 closed, assigned to DanAlbert

[2020-12-15 07:58] DanAlbert commented on #262
(more info in https://github.com/Khopa/dcs_liberation/issues/578)

[2020-12-15 08:12] DanAlbert commented on #578
https://github.com/Khopa/dcs_liberation/wiki/Performance-Options

[2020-12-15 08:12] #578 closed, assigned to DanAlbert

[2020-12-15 08:22] #579 closed, assigned to DanAlbert

[2020-12-15 11:28] DangusKhan opened #583 "'Game' object has no attribute 'blue_ato'"
https://media.discordapp.net/attachments/782361390954053643/788364809854255124/unknown.png

[2020-12-15 11:33] Stondeeez opened #584 "unchecking generate infantry groups along vehicles causing an error"
Traceback (most recent call last):
  File "qt_ui\widgets\QTopPanel.py", line 232, in launch_mission
  File "game\game.py", line 206, in initiate_event
  File "game\event\event.py", line 65, in generate
  File "game\operation\operation.py", line 308, in generate
  File "game\operation\operation.py", line 407, in _generate_ground_conflicts
  File "gen\armor.py", line 126, in generate
  File "gen\arm

[2020-12-15 15:11] walterroach opened #585 "Friendly Names for Client Flights"
Useful especially for large multiplayer sessions, we should provide human identifiable names for client flights.

https://github.com/Khopa/dcs_liberation/pull/252

[2020-12-15 15:21] walterroach opened #586 "Persistent Companies"
- [ ] Organize ground forces into Company / Platoon / Squad structure
- [ ] Reorganize the economy for ground units to allow unit replacement up to some limit of the above org structures, adding a *new* Company would require a larger investment or perhaps a logistics mission?
- [ ] Spawn and task the DCS Mission Groups as squads (groups of mixed units) rather than all tanks in one group, all IFVs

[2020-12-15 15:26] walterroach opened #587 "Ground Unit Conflict Changes"
Instead of a fixed frontline between opposing CPs, allow for tasking and movement of ground units to CPs.

Tasking available for ground groups would be

1. Defend (a CP)
2. Attack (a CP)
3. March (Move towards an enemy CP, or to a friendly CP)

A frontline is generated when movements of ground units from opposing forces meet each other.

Possibly add TGOs as CPs so they can be captured and assault

[2020-12-15 15:27] walterroach commented on #385
I'm happy with the improvements to the existing system.  Future enhancements are being tracked in #586  and #587

[2020-12-15 15:28] #385 closed, assigned to walterroach

[2020-12-15 18:08] Kondor77 opened #588 "Kneeboard cuts off right columns due to long frontline name"
As title says, kneeboard example included.
![page00](https://user-images.githubusercontent.com/76065979/102254464-9e9dd780-3ed6-11eb-8f37-66a96896d051.png)

[2020-12-15 18:20] DanAlbert commented on #584
Were you on an older build? @Khopa added the check for this on Saturday.

[2020-12-15 18:21] DanAlbert commented on #584
Ah, the fix didn't make it to 2.3. Fixing.

[2020-12-15 18:21] #583 closed, assigned to DanAlbert

[2020-12-15 18:22] #584 closed, assigned to nobody

[2020-12-15 18:54] Mustang-25 commented on #586
@walterroach I have a bunch of books and FMs regarding modern Russian (also a generic OPFOR) and late cold war soviet tactics and organization. Let me know if I can be of assistance with this, I'm happy to provide some reference material to help you build this out!

[2020-12-15 21:22] walterroach commented on #374
#589 places a waypoint over the target for SEAD flights.  This greatly improves their behavior with Skynet enabled.

DEAD flights still sometimes do not engage with SkyNet enabled, but in my testing behave well with it off.

[2020-12-15 21:39] jeetsukumaran commented on #374
Note that you will have to change the ingress waypoint action from "start task / engage group" to "start enroute task / search for and engage group".

This works for DEAD. Even with skynet.

[2020-12-15 23:01] MedievalBunny commented on #574
You can bomb them and they can explode, but there's no way that I'm aware of to track their health, register when they've been destroyed, or set them to be destroyed at missions start of continuity. There are some ways to tie into this using scripting, but it's something that DCS natively supports.

[2020-12-15 23:13] MedievalBunny commented on #577
This would be called a DEAD mission, and there is already a DEAD tasking in Liberation.

Search and Engage Group works fairly well, DCS also allows a Search and Engage In Zone action for SEAD tasked flights (in DCS missions, SEAD and DEAD both use the SEAD mission tasking). This would be a way to effectively tell a DEAD flight to attack multiple groups, for example around an airbase which may have

[2020-12-15 23:27] #50 closed, assigned to nobody

[2020-12-15 23:27] #353 closed, assigned to walterroach

[2020-12-15 23:27] #571 closed, assigned to nobody

[2020-12-15 23:27] #559 closed, assigned to nobody

[2020-12-15 23:27] #492 closed, assigned to nobody

[2020-12-15 23:27] #495 closed, assigned to nobody

[2020-12-15 23:28] #374 closed, assigned to walterroach

[2020-12-15 23:28] #400 closed, assigned to nobody

[2020-12-15 23:29] #425 closed, assigned to nobody

[2020-12-15 23:29] #419 closed, assigned to nobody

[2020-12-15 23:29] #435 closed, assigned to Khopa

[2020-12-15 23:29] #426 closed, assigned to nobody

[2020-12-15 23:29] #427 closed, assigned to Khopa

[2020-12-15 23:29] #444 closed, assigned to nobody

[2020-12-15 23:30] #433 closed, assigned to Khopa

[2020-12-16 00:13] DanAlbert opened #591 "add NATO faction"
https://discord.com/channels/595702951800995872/768800492968214538/787635506632458251

[2020-12-16 00:48] etra-co opened #592 "CAP flights don't engage"
Any flights assigned to CAP on either side will aren't engaging each other, regardless of distance to an enemy flight. In the attached mission (turn 1, all air defences deleted for simplicity), all CAP flights just orbit around each other for 40+ minutes without firing a shot.

It looks like in 2.2.1, the Search and Engage task was assigned to waypoint 0 while now it's on the racetrack start waypo

[2020-12-16 02:35] root0fall commented on #221
@walterroach this should be able to be closed now, I think?

[2020-12-16 04:14] holyorangejuice commented on #592
I've been playing a few hours and noticed this too. Had 2-3 enemy flights and friendly flights. They would fly their patterns and not engage. I have combined arms so I was making them do what I wanted.

[2020-12-16 04:27] walterroach commented on #221
Yes, thanks!

[2020-12-16 04:27] #221 closed, assigned to nobody

[2020-12-16 06:49] #592 closed, assigned to DanAlbert

[2020-12-16 06:55] DanAlbert opened #593 "ASAP with TARCAP can create negative start times"
[tarcap.liberation.txt](https://github.com/Khopa/dcs_liberation/files/5700846/tarcap.liberation.txt)

Not a problem for CAS missions, but is for anything with a rendezvous flight plan.

[2020-12-16 07:22] DanAlbert commented on #593
Problem seems to be that the TOT estimation is based on how how quickly each flight can get to it's TOT waypoint, but TARCAPs need to be on station 2 minutes before the rest of the package reaches its join point, not its target point.

[2020-12-16 08:57] DanAlbert commented on #550
What sort of fuel management?

[2020-12-16 09:08] DanAlbert commented on #483
@walterroach is this similar to the companies feature?

[2020-12-16 09:14] #401 closed, assigned to Khopa

[2020-12-16 09:17] DanAlbert commented on #318
Assuming no. If that's wrong upload a miz and we'll reopen.

[2020-12-16 09:18] #318 closed, assigned to nobody

[2020-12-16 09:19] DanAlbert commented on #243
I don't think @Khopa finished chasing down all the contributors for approval. Until then, we should add the LGPL license file to document the current state.

[2020-12-16 09:25] DanAlbert commented on #103
Has anyone seen this recently? I don't know that I ever have.

[2020-12-16 09:27] DanAlbert commented on #81
Obsolete with 2.3. Flights will not be culled any more.

[2020-12-16 09:27] #81 closed, assigned to nobody

[2020-12-16 09:31] Khopa commented on #103
It happened to me again, maybe two week ago. It seems random, and rather rare.

[2020-12-16 10:17] MrMinimal commented on #243
I was about to ask what license this project has.

The use of LGPL makes me want to contribute to this even more. Given that Liberation can be considered a whole product, I think its a fitting choice.

For libraries, MIT is a great choice too.

[2020-12-16 10:25] DanAlbert commented on #243
Drop in to our discord if you want any pointers or want to chat about ideas :)

[2020-12-16 14:14] martinruefenacht opened #594 "No parking spaces warning"
While trying out the new automated purchase feature I came across this issue and was very confused for a while.

When all parking spots are taken up in the purchase window it doesn't give a warning unlike trying to sell an aircraft from a set of 0 aircraft.

My suggestion is that a warning window similar to the selling non-existent aircraft is added.

[2020-12-16 14:56] walterroach commented on #483
Not explicitly, but it could be incorporated.  The way I see that working would be an option to disallow both red and blue to add new companies.

#586 is what we're referring to @HighwaymanEd

[2020-12-16 20:16] Khopa commented on #594
Fixed here for version 2.3.1 : https://github.com/Khopa/dcs_liberation/commit/e3b13f7b4a53e0856c9fc1db0b8b3cc1c1838491

![image](https://user-images.githubusercontent.com/2546901/102401555-d0e92b00-3fe3-11eb-913d-a82b71edba19.png)

[2020-12-16 20:19] martinruefenacht commented on #594
Good response time!

[2020-12-17 00:13] DanAlbert opened #597 "Don't add non-culling zones at BARCAP package targets"
Could cull a lot more by culling the ground near BARCAP packages since those areas don't matter unless some other mission is planned in the area.

[2020-12-17 00:24] #594 closed, assigned to Khopa

[2020-12-17 00:26] DanAlbert opened #598 "MiG-21s easily run out of radio channels"
Now that the AI is better at buying aircraft, the MiG-21s are easily running out of valid radio channels. We should do two things:

* [ ] Increase the resolution of the allocations if we can (need someone to confirm the increment)
* [x] Fail gracefully by doubling up if all channels are full rather than preventing mission creation.

[2020-12-17 00:39] DanAlbert opened #599 "add "report a bug" button to UI"
A button in the UI that brings people here would probably help catch a lot of unfiled issues.

(we should set up issue templates before doing that)

[2020-12-17 01:29] holyorangejuice opened #600 "Harrier BAI strikes crash into ground"
https://www.dropbox.com/s/g2m990rmy9jrcye/Tacview-20201216-183642-DCS-liberation_nextturn.zip.acmi?dl=0

https://www.dropbox.com/s/hi32g5do3ak9jop/Tacview-20201216-172803-DCS-liberation_nextturn.zip.acmi?dl=0

Harrier 2 ship, takes off, strikes package, and immediately dives to the dirt both scenarios.

[2020-12-17 01:31] holyorangejuice opened #601 "Ground units set to aggressive don't move forward"
My units, set to aggressive stance, haven't been moving forward. When checking the waypoint using combined arms, it is behind them and they don't move without combined arms input.

[2020-12-17 02:23] DanAlbert commented on #600
We have zero control over the AI during their attack, so this is probably a DCS issue. I can't say for sure without a miz.

[2020-12-17 02:42] #591 closed, assigned to Khopa

[2020-12-17 02:53] #597 closed, assigned to DanAlbert

[2020-12-17 02:59] DanAlbert commented on #599
We already have this in the help menu. Probably should move that to a great big red button in the toolbar.

[2020-12-17 03:18] Hornet2041 commented on #598
[syria full map remaster 750.zip](https://github.com/Khopa/dcs_liberation/files/5706752/syria.full.map.remaster.750.zip)

liberation save of busted mig-21 radio channels

[2020-12-17 04:35] walterroach commented on #601
Save and .miz provided on Discord to review later
[groundwaypointbug.zip](https://github.com/Khopa/dcs_liberation/files/5706996/groundwaypointbug.zip)

[2020-12-17 06:25] DanAlbert commented on #598
Fix confirmed. Thanks!

[2020-12-17 08:18] walterroach commented on #601
666858f fixed *a* problem, but there's also something else going on I'll need to look at tomorrow.  Waypoints are set properly in ME, but behavior is different in mission; perhaps something with morality/retreat trigger is going wrong.

[2020-12-17 16:38] daniele777 opened #603 "Install new Release"
Sorry i previus install a version in exe package .--but now? How to install new release?
thx

[2020-12-17 16:44] Khopa commented on #603
Download the zip release :

![image](https://user-images.githubusercontent.com/2546901/102516445-229abf80-408f-11eb-81ad-64238d19f1b9.png)

Unzip it somewhere convenient for you. And that's it, dcs liberation is installed.

[2020-12-17 16:58] daniele777 commented on #603
Can i unistall previus release ?
Ok i try new release but when i create new campagn i don't saw carrier or airfield to add unit...how to do ??

[2020-12-17 17:04] Khopa commented on #603
You can delete the previous version manually. The installer was just copying file. We removed it, because people would let it install DCS Liberation in the "programs files" directory, which caused issues with system files right. (The DCS process wouldn't be able to write the state file for some people)

It should work the same way as the previous version.
What terrain and faction did you use ?

[2020-12-17 17:05] daniele777 commented on #603
I'll try for Persian gulf...ops Sorry factory usa 2005 no carrier .... Caucaso OK!

![Cattura](https://user-images.githubusercontent.com/8341788/102520180-b2db0380-4093-11eb-8238-76240bd48783.PNG)

[2020-12-17 17:23] Hornet2041 commented on #103
I see this all the time, actually. Usually when tanks are on level open terrain and moving. But not roads or water.

I do however use Taz's Better Smoke Mod which already modifies the effect files so maybe something in there exacerbates the issue.

[2020-12-17 18:17] HomeFries94 commented on #276
One interesting idea with this: once an aircraft type at an airfield exceeds 12 (though this number may be changed), a second squadron is created with a different livery and skill level (if implemented).

[2020-12-17 18:19] HomeFries94 commented on #276
another thought: if skill levels are implemented, then a ferry command would make more sense than decommissioning units at one base, then using the $$ to commission units at a front line base.

[2020-12-17 20:34] holyorangejuice opened #604 "Custom Waypoints - Liberation"
Someone needs to look at editing the waypoints in liberation. It lets you delete waypoints but when you add a waypoint nothing happens. It doesn't add it to your list. So making custom objectives for myself is not possible. I've seen it done on videos, so it has to be some sort of bug.

[2020-12-17 20:41] DanAlbert commented on #103
https://discord.com/channels/595702951800995872/595706079459934208/789143835016036382 reports seeing this outside Liberation.

[2020-12-17 21:33] SagalSagal opened #605 "liberation_nextturn.miz not created with 2.31 while created with 2.3"
liberation_nextturn.miz not created with 2.31 while created with 2.3
Therefore v 2.31 is not working for me

[2020-12-17 22:12] DanAlbert commented on #605
Not enough information. We'll need the liberation save game.

[2020-12-17 23:42] DevastatorCM commented on #603
after updating to 2.3, I am not able to open my current liberation file. Open file from menu is not working

[2020-12-17 23:53] DanAlbert commented on #598
Reopening because I still want to increase resolution on all the radios to make overlap less likely.

[2020-12-17 23:57] DanAlbert commented on #603
Saves from earlier releases are not compatible.

[2020-12-18 00:26] #604 closed, assigned to DanAlbert

[2020-12-18 02:10] holyorangejuice opened #606 "Campaign: Persian Gulf - Desert War issue"
This particular campaign generates a empty desert map with no bases on it.

[2020-12-18 02:11] DanAlbert commented on #606
Works for me. It's probably a broken faction and the campaign is irrelevant. Look at the logs.

[2020-12-18 02:15] holyorangejuice commented on #606
I'm using USA 2005 and Russia 2010

2020-12-17 20:11:52,732 :: WARNING :: No campaign location for EWR at Al Dhafra
2020-12-17 20:11:52,732 :: DEBUG :: No mizdata location for EWR at Al Dhafra
2020-12-17 20:11:52,732 :: WARNING :: Falling back to random location for EWR at Al Dhafra
2020-12-17 20:11:52,735 :: WARNING :: No campaign location for offshore strike target at Al Dhafra
2020-12-17 20:11:

[2020-12-18 02:30] SnappyComebacks opened #607 "OCA Strike Results Ignored"
Effects version `2.3.1`

In a campaign I started in 2.3.0 but continued in 2.3.1, I created OCA/Runway and OCA/Aircraft missions.  The results of either mission did not carry over into the next round.

Scenario:

- Player uses F/A-18 with four GBU-31(V)/3 bombs, and dispenses the bombs along the runway (Al Maktourn, Persian Gulf map), evenly spaced.  DCS's BDA tool-tip reports `destroyed` a minute

[2020-12-18 02:37] holyorangejuice commented on #607
I've noticed an issue with aircraft on the ground, they can take a ton of damage and often the only way to get the 'kill' is to completely blow them up with a bomb. Guns, ground units, light missiles, will destroy the static plane but not 'kill' it. I am certain that is just a DCS issue. I also think dumb bombs used on strike style missions should be replaced by default with smart bombs.

[2020-12-18 02:59] DanAlbert commented on #607
https://github.com/Khopa/dcs_liberation/issues/544

[2020-12-18 02:59] #607 closed, assigned to nobody

[2020-12-18 03:01] DanAlbert commented on #606
That's what I did as well. Going to need all of the options you picked in the new game wizard. I changed nothing aside from the campaign and it generated fine.

[2020-12-18 03:52] SnappyComebacks commented on #607
I just ran the mission again with infinite ammo on.  I put 18 GBU-31(V)3/Bs onto different parts of the runway.

Is there anything I should look for in either DCS/Liberation to know if a runway has been deemed destroyed?  Liberation states that the runway is still operational.

[2020-12-18 04:07] DanAlbert commented on #607
You can look at the log, but it sounds like DCS just doesn't think you killed anything. The bug I duped this to covers tracking damage rather than kills, but that's not a feature yet.

[2020-12-18 05:20] DanAlbert commented on #272
As an interim implementation so we can implement this _before_ we have recon/ELINT flights, we could give every hidden site a random chance of being discovered each turn. (Thanks @Mustang-25 for the idea)

[2020-12-18 10:53] SagalSagal commented on #605
Hi,
I had in the background a "Dos" windows with at the end of the "script"
some error messages like not finding the "liberation_nextturn.miz" in the
C/Users.etc
In fact a littel bit as "Rhino 1217" described on 4 December on this topic
https://forums.eagle.ru/topic/183194-all-modulesspco-op-liberation-dynamic-campaign/page/37/

So I have not a lot more to share as nothing was happening. However o

[2020-12-18 13:11] foxwxl opened #610 "J-11A has an empty loadout in liberation"
When select the CHINA faction and J-11A as the plane, the mission generated will give an empty loadout for J-11A.

I review the "dcs_liberation\resources\customized_payloads" folder, there is no J-11A lua file inside.
And the CMD windows will should following warning:

_2020-12-18 20:54:38,339 :: WARNING :: No aircraft data for J-11A_

I've made a loadout file for J-11A and I successfully tested i

[2020-12-18 15:57] Khopa opened #611 "The faction wiki is missing information about supported modded aircraft"

[2020-12-18 20:40] DanAlbert commented on #605
Check your settings. It sounds like you set the path your DCS saved games incorrectly.

[2020-12-18 20:40] #605 closed, assigned to nobody

[2020-12-18 20:40] DanAlbert commented on #605
(if not, we need that log)

[2020-12-19 02:17] jeetsukumaran commented on #387
Just a note for the records that allowing for runway starts is one way to solve the uncoordinated package issue, in which flights do not begin taxing until parts of the taxiway are clear (which results in up to 20-25 minute delay in take-off times and packages arriving piecemeal on target). DCS nicely handles multiple runway starts and landing by AI, so there are no collisions etc.

[2020-12-19 03:40] DanAlbert opened #613 "runway start all shore AI flights to avoid taxi congestion"
The taxi AI at airbases causes a lot of takeoff delays significant enough that the 7 minute ground ops and 5 minute hold times are not always enough. To avoid this, we could runway start all AI that takeoff from the shore.

We shouldn't make these purely runway starts because then there would be no targets for OCA strikes. Instead, we'd need to spawn in a flight on the ramp. When the flight's take

[2020-12-19 03:43] DanAlbert commented on #587
The thread around https://discord.com/channels/595702951800995872/595706061126631424/789697070873182218 has some more ideas.

[2020-12-19 05:24] DanAlbert opened #614 "Link custom faction/campaign/loadouts docs at the relevant points in the UI"
As the title says, we should link the modding docs at the relevant points in the UI (faction selection campaign selection, loadouts selection).

[2020-12-19 11:28] Mr-7 commented on #572
on 2.3.1 Full Syria campain, selecting just invert makes it all blue less a small number of FOBs in the middle.

[2020-12-19 11:44] Mr-7 opened #615 "Culling not effective (2.3.1)"
**Describe the bug**
When enabling culling on Syria Full Map Campaign Default Culling option causes nothing to be culled and thus negating the usefulness of this feature

**To Reproduce**
Steps to reproduce the behavior:
Start a new Campaign (Blufor Cold War vs Russia 1970 Limited Air, super carrier enabled)
Enable Culling.
Pass Turn so first wave of purchases are made.

**Expected behavior**
Unit

[2020-12-19 18:32] SnappyComebacks opened #616 "Flight Radio is same as a ADF frequency."
- I have searched the issue tracker to check if this issue has already been reported.

**Describe the bug**
VHF radio for the F16 will be tuned to the flight on warm start, however you will also be listening to an (what I think is) ADF/VOR pattern in the form of static.
If you change VHF to something else you will no longer hear static.

**To Reproduce**
Steps to reproduce the behavior:
1. Create

[2020-12-19 18:43] SnappyComebacks opened #617 "SAM Launcher spawned in middle of runway."
I have searched the issue tracker to check if this issue has already been reported.

Describe the bug
    A SAM unit has been placed on the runway center-line at Incirlik.  This might be preventing AI flights from taking off.

To Reproduce
Steps to reproduce the behavior:

    Create Syria - Full Map Campaign (USA 2005, Libya 2011)
    Add some F-18s, A-10s, and F-16s at Incirlik to use for your f

[2020-12-19 19:08] walterroach opened #618 "Multiple Strike Targets for AI"
- I have searched the issue tracker to check if this feature has already been requested.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Several people on Discord have requested the ability to have multiple strike targets assigned to AI flights.

**Describe the solution you'd like**
A

[2020-12-19 19:20] #593 closed, assigned to DanAlbert

[2020-12-19 19:21] DanAlbert commented on #615
Already fixed, just not released.

[2020-12-19 19:21] #615 closed, assigned to nobody

[2020-12-19 19:46] #616 closed, assigned to DanAlbert

[2020-12-19 19:48] DanAlbert commented on #616
I can't load your save to verify it, but I've pushed the probable fix. The code that was supposed to prevent this was accidentally dropped during a cleanup at some point, but it's back now.

[2020-12-19 20:09] SnappyComebacks commented on #617
I went back to the mission to look for other units in runways/taxiways.

- A `Shillka` is spawned on center of taxiway at `Allepo`.
- `IFV BMP-2s` are on runway 17L at `Bandar-Al-Assaid`.
- `IFV BMP-1s` are on taxiways at `Ramat David`
- A `Strela-1` and `MBT T-55s` (different groups) are on the runway at `Palmyra`
- `ARV BRDM-2` is on runway at `Rayak` (not on centerline)

Edit:  Happened to noti

[2020-12-19 20:24] DanAlbert commented on #617
Fixed more cases of this. It still might happen randomly because this campaign doesn't have a complete set of preset locations, but it at least won't be _forced_ to happen now.

[2020-12-19 21:50] #617 closed, assigned to nobody

[2020-12-19 23:43] walterroach commented on #601
Note to self: there's a stray "hold" task getting applied to tanks and IFVs on waypoint zero with nothing to trigger it off.

[2020-12-20 01:03] holyorangejuice commented on #606
This problem has been resolved. Those maps specifically are zoomed in when loaded into an empty desert. You need to move it to the combat area to see it.

[2020-12-20 01:03] #606 closed, assigned to nobody

[2020-12-20 04:25] TrueCrazyMan opened #621 "[BUG] Invalid frequency when playing F-22A on Persian Gulf Full"
Cannot play the mission due to DCS disallowing the "invalid frequency" occurring. F-22A frequency is 251 Mhz and trying to change it still doesn't fix it. Not sure if it is the Raptor or Liberation causing the issue, although spawning the F-22A in an empty map causes no issues.

On the latest open beta version.

[lib.zip](https://github.com/Khopa/dcs_liberation/files/5720500/lib.zip)

[2020-12-20 06:10] #558 closed, assigned to DanAlbert

[2020-12-20 06:45] DanAlbert commented on #621
The F-22 doesn't have a UHF radio? What frequencies _can_ it use?

Are you sure it's the F-22 that's having the problem and not something else in the game?

[2020-12-20 08:40] jeetsukumaran opened #622 "TypeError: '<=' not supported between instances of 'int' and 'Distance'"
[Current-002.zip](https://github.com/Khopa/dcs_liberation/files/5720697/Current-002.zip)

**Describe the bug**

Error on "Take Off":

[code]

**To Reproduce**

Click on "Take off"

**Expected behavior**

No such error.

**Additional information**

We will usually need more information for debugging. Include as much of the following as you are able:

- Using Preview Build #819

[2020-12-20 10:21] DanAlbert commented on #622
Was this with a new game?

[2020-12-20 10:23] jeetsukumaran commented on #622
Ah, no, it was from campaign started in 2.3.

I stupidly thought it was just the major upgrades that were incompatible. If this is a campaign compatibility, apologies for the noise.

[2020-12-20 10:25] DanAlbert commented on #622
819 is from the main branch. `develop` breaks compat frequently.

[2020-12-20 10:25] #622 closed, assigned to nobody

[2020-12-20 12:42] Khopa opened #623 "Faction wiki isn't up to date"
**Describe the bug**
Many informations in the faction wiki are out of date

**To Reproduce**
Steps to reproduce the behavior:
1. Go to faction wiki page
2. Read the document (Ex : Still has shorads and sams example that are out of date)

**Expected behavior**
Information should be up to date in the wiki

[2020-12-20 13:06] jake-lewis opened #624 "Option to restrict AI use of afterburner out of combat"
The mission editor has an option to restrict AI use of afterburner outside of combat, this would be a useful option to add to flight options to extend operational time. Might even make sense to enable by defualt depending on mission type e.g. CAP will likey need the fuel for extended time on station

[2020-12-20 13:33] #623 closed, assigned to Khopa

[2020-12-20 17:21] mkoorn opened #626 "Add a must buy option for automatic purchase"
- [x] I have searched the issue tracker to check if this feature has already been requested.
Add a must buy option for a unit when enabling automatic purchase

**Is your feature request related to a problem? Please describe.**
When progressing with the first step the ai often doesn't buy the A10 which I’d like to fly.

**Describe the solution you'd like**
A must buy option so that the autmatic buy

[2020-12-20 18:22] Moguy164 opened #627 "have an alt slider for packages"
- [x] I have searched the issue tracker to check if this feature has already been requested.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

the Jf-17 has a somewhat limited range when flying at low alt (<30,000) and that can cause it to miss out on long range missions

**Describe the

[2020-12-20 19:16] TrueCrazyMan commented on #621
Positive, only the F-22A and its "invalid frequency" are preventing the mission from playing (which is weird because it works when placing the F-22 in an empty mission and using the same frequencies).

Video of the issue (please excuse the music):
https://youtu.be/_b1On2ReVhg

[2020-12-20 20:07] Moguy164 commented on #627
could also help for proper viggen strikes

[2020-12-20 20:27] DanAlbert commented on #624
We used to enable this by default. It was worse. The AI will regularly get themselves stuck in high AoA conditions in a turn and cannot recover without AB. They'd make a turn and then sit at 15 AoA slowly descending until they crashed.

I don't think we should do this.

[2020-12-20 20:27] #624 closed, assigned to nobody

[2020-12-20 20:38] DanAlbert commented on #627
https://github.com/Khopa/dcs_liberation/issues/560

[2020-12-20 20:38] #627 closed, assigned to nobody

[2020-12-20 20:38] qwertymanisalive opened #628 "Unable to add a "new package" to Russian Carrier group on Black Sea mission"
Before filing, please search the issue tracker to see if the issue has already been reported.

**Describe the bug**
When one right clicks on the Russian AC carrier group on the Black Sea mission and select "new package" the intel menu opens up blank and there is no ability to create a new package

**To Reproduce**
Steps to reproduce the behavior:
1. In 2.3.2 select Black Sea Mission
2. Select Russ

[2020-12-20 20:40] qwertymanisalive commented on #613
This works quite well. I do this in Mission editor for now.

[2020-12-20 23:24] Drew-Dodson opened #629 "Ground units have waypoint that involves them driving through water - PG Full Map"
Before filing, please search the issue tracker to see if the issue has already been reported.

**Describe the bug**
I am playing the full PG map and my HMMWV front line units that are attacking have a way point from the front line on the main land on the UAE side to Sir Abu Nuayr which is an island. This causes them to go into the water and "drive" to the island. Their next waypoint after the isla

[2020-12-21 05:18] walterroach commented on #629
Probably a landmap issue, as all ground waypoints now avoid exclusion zones.  Assigning myself to update.

[2020-12-21 05:23] walterroach commented on #587
We can also use the ground tasking system to intelligently determine which units to spawn.  Garrisons far from conflict currently can have units spawn.

Ground unit attacks should have timing coordinated with the ATO so CAS is available when they make contact.

[2020-12-21 05:37] walterroach commented on #629
Actually, this issue is the result of improper zero handling which was fixed in 666858f for 2.3.2

Update to 2.3.2 and this won't happen anymore (saves from 2.3.1 are compatible).

[2020-12-21 05:37] #629 closed, assigned to walterroach

[2020-12-21 05:44] walterroach commented on #626
The auto-buy isn't committed until you pass turn.  This means that you can edit the AI purchase before committing.  Does that meet your needs, or do you think having a separate "must-buy" option would add additional value? @mkoorn

[2020-12-21 08:39] Wikster69 commented on #103
Hi all,
just arrived here off the back of Jabbers' recent vids.  Really loving the concept, but I too am seeing the glowing ground units when they're on the move.  Saw it in the previous release, too.

Not seeing it in non-Liberation missions :/

Best,
Rik.

![Screen_201221_073557](https://user-images.githubusercontent.com/76426546/102756518-52d4ad80-4370-11eb-9ca0-3f52ef8b49e2.png)
![Screen_20121

[2020-12-21 09:21] #323 closed, assigned to DanAlbert

[2020-12-21 09:24] DanAlbert opened #630 "Add the hawkeye for US-based factions 1964-1977"
US-based factions before the E-3 (at least US 1965) are lacking AWACS, but the E-2 was introduced in 1964. Add that as AWACS when it can makes sense.

[2020-12-21 09:41] DanAlbert opened #631 "Teach AI to buy artillery"
https://github.com/Khopa/dcs_liberation/blob/a2f218d56dc36765bbc5378eaece968e4b82b701/game/procurement.py#L79

The front line units list does not include artillery, so the AI will never buy artillery. They probably should.

[2020-12-21 09:57] DanAlbert opened #632 "SA-2 generator is missing the command center"
https://github.com/Khopa/dcs_liberation/blob/a2f218d56dc36765bbc5378eaece968e4b82b701/gen/sam/sam_sa2.py#L19

SA-2 generator doesn't generate an command center unit. I'm pretty sure that's required. https://www.airgoons.com/w/DCS_Reference/Air_Defences#S-75M1_Divina_.2F_SA-2_.E2.80.9CGuideline.E2.80.9D

[2020-12-21 09:59] DanAlbert commented on #632
SA-3 is as well.

[2020-12-21 11:47] Khopa commented on #632
The sites can definitely fire without one of those, this is not a required unit.
These looks like units added for RP to me.

SA-2 and SA-3 could use a few ZSU/ZU as shorad though, and an ammo truck would help to reload them during mission time.

[2020-12-21 12:39] Khopa commented on #631
Quick fix in https://github.com/Khopa/dcs_liberation/commit/60f837d0b98b14326fdce4ac0e494e895d6bf370

I think it was a bad idea from me to put them in a separate list in the factions file. This just add unnecessary complexity to the code - and we can already check if the type inherit from "Artillery" class.

[2020-12-21 17:07] mkoorn commented on #626
@walterroach this is then only an issue at turn 0, where you don’t have money to buy your first plane and the auto buy spends all your money.

I fixed this by using the cheat and get some more money and then buy the A10.
But the log then mentions that I am a cheater and I should be ashamed. Which my OCD dislikes. 😄

not a very big issue, I have no idea how much work this would be, so maybe put on

[2020-12-21 17:15] Nhawk2174 opened #634 "Ability to buy mobile SHORAD for frontline units"
Add the ability to add units such as avengers, shilkas, vulcans, etc. to the ground unit purchase menu to support ground units.

[2020-12-21 17:20] Nhawk2174 opened #635 "Differentiate SAM's into Short and Medium Ranged Categories"
Currently the SA3 and SA2 can be spawned at the same site.  But the range capabilities of these systems are very different.  There should be two categories here a "Short" and "Medium" ranged.

Short:
SA3
SA6
SA8
HQ7

Medium
SA2
SA11
HAWK

[2020-12-21 17:25] Nhawk2174 opened #636 "Time Sensative Targets of Oppurtunity"
Investigate adding time sensitive targets.  Such as a tanker convoy heading for a port.  Or maybe an engineer battalion heading to a destroyed target.  There will be a limited amount of time to hit these high value (and often highly defended) targets.  Failure to do so will give the AI a small boost of resources, an instant repair to a facility, or units.  Doing so will prevent this.  Also the abi

[2020-12-21 17:40] Nhawk2174 opened #637 "Custom High Value Targets"
Something that would be nice to see from a mission design end would be custom targets.  A mission maker could place down a unit and inside a small zone make a custom target.  It could be anything from a Chemical Weapon site, Oil field, or C&C center.

[2020-12-21 20:19] MedievalBunny opened #638 "SAM sites in forest around Ramat David (Syria Map)"
SAM sites are spawning in the forest southwest of Ramat David in the Golan Heights Battle scenario on Syria.
![Capture](https://user-images.githubusercontent.com/19675397/102818545-76f7b500-4397-11eb-834a-f060867f11bf.JPG)

[2020-12-21 20:21] DanAlbert commented on #626
Turn 0 behaves no differently than the others in this regard. You can cancel individual auto purchases.

[2020-12-21 20:23] DanAlbert commented on #636
This is an inherent part of https://github.com/Khopa/dcs_liberation/issues/383

[2020-12-21 20:23] #636 closed, assigned to nobody

[2020-12-21 20:24] DanAlbert commented on #635
This is already in 2.3.

[2020-12-21 20:24] #635 closed, assigned to nobody

[2020-12-21 20:25] DanAlbert commented on #634
https://github.com/Khopa/dcs_liberation/issues/7

[2020-12-21 20:25] #634 closed, assigned to nobody

[2020-12-21 20:28] MedievalBunny commented on #518
I'm having this problem as well on the current build of 2.3.2

It appears so though aircraft are attempting to spawn on the helicopter pads starting with H01, but the spawn waypoint is set to Turning Point and the aircraft end up spawning in on top of each other.

It may well be a map issue in DCS, when I set the spawn type to Ramp Start they jump to a completely different airbase. I'm on Stable a

[2020-12-21 21:04] Khopa commented on #638
Yes, this campaign has not been migrated to the new format with preset locations as of 2.3.2, it has been fixed for version 2.3.3, which is coming soon.

There are still a few campaigns that needs this to be done, and some of the "full maps" even lack preset positions.