[2021-05-22 02:11] Hornet2041 commented on #1104
Also can't get it to move via Combined Arms move/speed orders. Not sure if DCS bug or not....

[2021-05-22 02:14] DanAlbert commented on #1104
Sounds like a DCS bug. Maybe a problem with the type of ship. Will have a look.

[2021-05-22 04:50] DanAlbert opened #1105 "show runway status in new map"
Still need to port the indication for damaged/destroyed runways into the new map.

[2021-05-22 08:18] DanAlbert opened #1106 "Update changelog for TOT estimation changes"
I pushed a handful of experimental changes tweaking TOT error margins, speed planning, ground ops estimation, and default mission length. Need to add those to the changelog if they stick.

[2021-05-22 23:17] DanAlbert commented on #929
This was 6ca175345f508143da27cd46821b565ad8559be3

[2021-05-22 23:17] #929 closed, assigned to nobody

[2021-05-22 23:17] DanAlbert commented on #909
6ca175345f508143da27cd46821b565ad8559be3 (though you want DEAD, not SEAD)

[2021-05-22 23:17] #909 closed, assigned to nobody

[2021-05-22 23:22] DanAlbert commented on #774
Should be significantly improved now.

* Winchester decisions have been improved
* Bullets were taken away from AI for non-gunfighters for some mission types so that the winchester option actually works
* Weapon selection for DEAD flights is now auto instead of whatever it was before so they'll attack even if they have bombs instead of ARMs (mixed loadouts often do not work and it's a DCS bug, so

[2021-05-22 23:22] #774 closed, assigned to DanAlbert

[2021-05-22 23:23] DanAlbert commented on #344
Does now because we switched the DCS task type to CAS.

[2021-05-22 23:23] #344 closed, assigned to DanAlbert

[2021-05-22 23:24] Hornet2041 opened #1107 "Cannot edit E-2 flight settings"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
I was trying to change the Hawkeye's start spawn from runway to air and it would not let me. Log entry is:

**To Reproduce**
Steps to reproduce the behavior:
1. Start new campaign on build 16

[2021-05-23 00:47] Hornet2041 commented on #1104
after some testing, the Handy Wind ship unit needs a depth of -32 feet for it to move

[2021-05-23 02:18] #1104 closed, assigned to nobody

[2021-05-23 02:19] DanAlbert opened #1108 "Implement base capture/front line cheats in the new map"
Not ported yet

[2021-05-23 02:24] DanAlbert commented on #1107
I coincidentally fixed this while fixing something unrelated, but we need pydcs to merge my fix first: https://github.com/pydcs/dcs/pull/146

[2021-05-23 08:08] DanAlbert opened #1109 "radar detection still wrong"
https://github.com/dcs-liberation/dcs_liberation/commit/f68935735d436385a0821e1168a8726c7dba8ebb attempted to improve detection of SAMs that have active radars, but it's still wrong (and the UI has been for ages). Non-radar units still have `detection_range` set, so we can't use that as a key for detecting whether or not a SAM has a radar.

I think we probably do need to go back to the curated lis

[2021-05-23 08:32] #1109 closed, assigned to DanAlbert

[2021-05-23 08:34] DanAlbert commented on #1109
This still isn't quite right. We need two distinct lists:

1. Has a radar
2. Has a radar guided weapon

Answering question 1 is interesting because it tells us whether or not the target can be hit by an ARM or distracted by a decoy. Question 2 tells us whether or not we _need_ SEAD/SEAD escort.

[2021-05-23 17:46] KeeseAF opened #1110 "getting Index Error when Take-off clicked."
Before filing, please search the issue tracker to see if this feature has already been requested.

**Is your feature request related to a problem? Please describe.**
I mentioned in the Discord server that it was mentioned in BR 641 that cause index errors was due to selling assets opfor was planning against, is it possible that index errors could be cause for bluefor assets as well?

**Describe th

[2021-05-23 17:48] DanAlbert commented on #1110
We can't help you without the data the template asks for. Upload that and we'll reopen.

[2021-05-23 17:48] DanAlbert commented on #1110
(the bug report template, idk why this was filed as a feature request)

[2021-05-23 18:25] KeeseAF commented on #1110
oof
my bad

[2021-05-23 19:23] DanAlbert commented on #1110
If you do have the save then please do. We want to fix bugs, I just can't fix this as reported.

[2021-05-23 22:00] #1106 closed, assigned to DanAlbert

[2021-05-23 22:14] DanAlbert commented on #883
ddd6e7d18f22de5471d5b9beb322fa81b9dea9bc fixed this incidentally.

[2021-05-23 22:14] #883 closed, assigned to DanAlbert

[2021-05-23 22:37] #1069 closed, assigned to DanAlbert

[2021-05-23 22:38] DanAlbert commented on #1069
The subtypes of TGOs (to an extent) can now be independently toggled on and off, so it's easy to show _only_ factories.

[2021-05-23 22:42] DanAlbert commented on #103
A note for whoever ends up looking at this:

pydcs does have a list of what is and isn't allowed so this doesn't need to be a manual audit:

[code]

Probably best to make a faction linter that can spot all the problems, fix them, and then integrate into the faction loader so we can warn for custom factions.

[2021-05-23 23:01] DanAlbert commented on #1083
Cheating (or maybe the base capture) is actually what caused this.

Before:
![image](https://user-images.githubusercontent.com/315852/119279336-e5a79b80-bbdf-11eb-9b52-dcca25298ebf.png)

After:
![image](https://user-images.githubusercontent.com/315852/119279324-d4f72580-bbdf-11eb-96e6-6feb4337cfe7.png)

idk why yet, but this one's pretty clearly on me :)

[2021-05-23 23:41] DanAlbert commented on #1083
I don't know why and I suspect I don't want to, but this only happens in the old UI 😐

[2021-05-23 23:45] DanAlbert commented on #1083
Hmm, the UI quirk is only present when I cheat in the old UI. If I cheat in the new UI the supply route doesn't change on the map, but they still spawn on the runway...

[2021-05-24 00:30] #1083 closed, assigned to DanAlbert

[2021-05-24 00:30] DanAlbert commented on #1083
I honestly don't know why this wasn't  _more_ broken. It should have been breaking every supply route with an active front line every time one was looked at by the game for any reason, since doing so was modifying the list (which really should have been immutable). Oh well, it's fixed.

[2021-05-24 00:31] #1107 closed, assigned to DanAlbert

[2021-05-24 02:26] DanAlbert commented on #1102
This was fixed by 1c32ae1227595f291d10d503501b909165ccc003. It's something I'd actually fixed before you'd filed the bug, so I'd have had a hell of a time trying to repro this without the save game, and instead it took only a minute to figure out what happened :) Thanks!

[2021-05-24 02:26] #1102 closed, assigned to nobody

[2021-05-24 04:43] bgreman commented on #643
I frequently update to the latest dev release, and it'd be nice to regenerate packages with updated package generation logic instead of having to run whatever turn is prepared and get the new generation logic on the next turn.  So while that's not a normal use case, it would be facilitated by having the option to regenerate packages or generate packages for unused assets.

[2021-05-25 02:31] DanAlbert commented on #670
The target is the group, not the group location (at least it is now), but it appears that AI F-14s will launch their TALDs immediately upon reaching the ingress point, regardless of the distance to the target. By pure coincidence our default 40nm ingress points work well for their current altitude, so nothing to really do here. Seems increasing the ingress altitude would help, but that's https://g

[2021-05-25 02:31] #670 closed, assigned to nobody

[2021-05-25 03:27] SnappyComebacks opened #1112 "Allow user to move waypoint for whole package at once."
**Is your feature request related to a problem? Please describe.**
If you have a package of many flights, moving waypoints only effects one flight at a time.

**Describe the solution you'd like**
Provide a way for the user to move all the waypoints in a stack (multiple flights within a package having the same waypoint location) at once.

[2021-05-25 03:52] SnappyComebacks opened #1114 "Bandar Abbas Intl Kneeboard ILS Frequency does not match F10 Map"
**Describe the bug**
F10 map shows Bandar Abbas Intl with runway 21 with ILS as `109.90 (IBND)`.  Kneeboard shows ILS frequency as `333.80`.

**To Reproduce**
1)  Create modern campaign with Persain Gulf and Bandar Abbas as friendly airbase.
2)  Start flight at Bandar Abbas Intl

**Expected behavior**
Runway 21 ILS to be `109.90`

**Version information (please complete the following information):*

[2021-05-25 07:11] DanAlbert commented on #276
(merged into OP for task tracking)

[2021-05-25 07:14] #1114 closed, assigned to nobody

[2021-05-25 10:51] gatorman22 commented on #822
I noticed on #1652 I can now spam the Delete Selected button (on the right) in the Waypoints tab and the block selected (on the left) will stay highlighted and delete the contents, bringing the next waypoint up the list.  This is awesome.

![image](https://user-images.githubusercontent.com/17415205/119485891-9cf9fa80-bd25-11eb-84b9-b2cddb66880a.png)

[2021-05-25 21:15] Mustang-25 opened #1117 "[Build 1652] ASAP AEW&C Missions do not actually ASAP"
The default AEW&C missions do not actually ASAP their ToTs even when the ASAP box is checked as shown below. Tested with a couple different 3.0 compatible campaigns with the same results.

![image](https://user-images.githubusercontent.com/72566076/119568957-f896a900-bd62-11eb-8053-b14a5bcbdbb7.png)

[2021-05-25 21:18] DanAlbert commented on #1117
Gonna need a save. Works for me.

[2021-05-25 21:21] DanAlbert commented on #1117
Huh. But only in one of my games, it seems. Not sure why. Never mind.

[2021-05-25 21:23] #1117 closed, assigned to DanAlbert

[2021-05-25 21:51] Mustang-25 opened #1118 "Deprecate the Old AEW&C Option"
With the addition of the taskable AEW&C option, the old feature that spawns the invisible and invulnerable AWACS should be deprecated. As discussed on Discord, this can probably be done when HAVCAP missions are implemented.

![image](https://user-images.githubusercontent.com/72566076/119573051-8c1ea880-bd68-11eb-89b2-93503c6f23de.png)

[2021-05-25 21:52] DanAlbert commented on #1118
(3.0 to flip the default, won't remove the option until HAVCAP is ready)

[2021-05-25 22:00] Mustang-25 opened #1119 "Adjust AEW&C Tasking Behavior"
The current tasking behavior places the AEW&C aircraft either at the CP closest to the frontline or above the carrier (when available).

The tasking logic should probably be optimized to place these aircraft further back from the frontlines. At the ranges that we deal with in DCS maps, I don't think it would make a difference in signal coverage if we did so.

Further, the planner currently priorit

[2021-05-25 23:19] fearlessfrog opened #1121 "No Flight Plans Rendered Over Map for Syria"
When using the Syria map theatre the flight plan lines don't appear over the map for the develop branch preview build.
Other maps seems to work ok (Nevada, PG etc) so this just seems just Syria map related.

If I hit 'Reload' from the right mouse button on the Map then they will appear with default options.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new campaign - Syria - Inher

[2021-05-25 23:51] DanAlbert commented on #1121
You need to enable that _during_ campaign generation. The purchase phase happens at the start of the turn. If you enable it after turn zero starts it doesn't run until turn 1.

[2021-05-25 23:52] DanAlbert commented on #1121
If that's not it, we do need the save game the template asked for. This doesn't happen on my machine. Bugs that are obvious on your machine may not be on mine.

[2021-05-25 23:56] DanAlbert commented on #1121
Hmm. Seems that the problem only occurs when creating the Syria campaign if another campaign is already loaded? (which would be why I hadn't seen it; I was generating from scratch with no campaign loaded)

[2021-05-25 23:59] fearlessfrog commented on #1121
I do, as in I tick the boxes as part of the New Campaign wizard steps and not afterwards.

For me I see it with a fresh install, no save game and creating a new Syria campaign. It is good that you've recreated it anyway, but for me anyway, it was from generating from scratch. The logs hopefully shows this.

[2021-05-26 00:07] fearlessfrog commented on #1121
I'm just choosing the campaign that came with the build 'Syria - Inherent Resolve'.

Is there anything else I can provide to help, files etc? I did chat with some others in the Discord, so some more info in here - https://discord.com/channels/595702951800995872/782361390954053643/846876699752792104

[2021-05-26 00:08] DanAlbert commented on #1121
Huh. Weird.

Don't think so. I'll have a look. I'm not really sure what's going on yet.

[2021-05-26 00:16] fearlessfrog commented on #1121
Could it be related to swapping from stable to preview build? I took a look in liberation_preferences.json and it looks like info good between both, but there must be some state that's hanging around. I wonder if I've sort of corrupted my test steps from going between a stable to a develop branch build, and that might explain why we see it a bit differently. I can clean out my DCS Saved Games fold

[2021-05-26 00:47] DanAlbert commented on #1121
From the quick glance I had it seems to be that the events to update the map are firing out of order, but I have no idea why that would be specific to Syria (which does seem to be the case, though I only tested one Syria campaign).

[2021-05-26 01:35] DanAlbert commented on #1121
(I wasn't explicit earlier, but I basically never run the stable build so unlikely given that I can repro it too)

[2021-05-26 02:19] DanAlbert commented on #1121
I copy/pasted some code from the old map and forgot to make a tweak that was needed for the new one (and because it's in the UI code, the type checker can't work there so it didn't spot the obvious bug).

The reason this _appeared_ to be unique to Syria is because Inherent Resolve defaults to opfor as Insurgents, who have no SAMs, and an empty threat zone is what caused the problem. The actual dif

[2021-05-26 02:21] #1121 closed, assigned to DanAlbert

[2021-05-26 02:35] DanAlbert commented on #1121
Fixed now. Thanks for filing. I think someone had actually seen this the other day but hadn't been able to repro 👍

[2021-05-26 03:02] clutchtomcat opened #1122 "A20 and B17 no default payloads"
**Describe the bug**
A20 and B17 in all ground attack tasks are spawned empty

**To Reproduce**
Steps to reproduce the behavior:
1. Task A20 or B17 with OCA runway strike, strike, or DEAD
2. Check payload
3. Confirm payload is empty

**Expected behavior**
Default payloads are present for most aircraft, and had been present on A20s and B17s in previous iterations.

**Version information (please com

[2021-05-26 03:09] clutchtomcat opened #1123 "WW2: DEAD, BAI Advanced Waypoint Actions - Guided munitions"
**Describe the bug**
WW2 aircraft set to CAS in DCS (from DEAD or BAI in Liberation) will have their advanced waypoint action "attack group" set to employ guided munitions. Guided munitions do not exist in DCS WW2, and the group RTB's at their ingress point, failing to hit their target.

**To Reproduce**
Steps to reproduce the behavior:
1. Task an aircraft with DEAD or BAI
2. Check aircraft's adva

[2021-05-26 03:12] fearlessfrog commented on #1121
Great - thanks for all this. Loving Liberation in our group.

[2021-05-26 03:17] clutchtomcat opened #1124 "Sweeps and Escorts set to ignore multi-role fighters"
**Describe the bug**
Sweep and Escorts have their advanced waypoint action "search then engage" set to engage only fighters, ignoring all other aircraft types. With the majority of aircraft being multirole fighters, this means that the Sweeps and Escorts hardly engage anything, and any multirole fighter (P-47, Fw190A8) can fly with near impunity.

**To Reproduce**
Steps to reproduce the behavior:

[2021-05-26 03:54] Mustang-25 commented on #1124
43010779d41cdff951ec493214ab478bdf2e4f83 should fix this for the next release.

[2021-05-26 03:55] #1124 closed, assigned to nobody

[2021-05-26 04:21] Mustang-25 commented on #91
Liberation 3.0 will have a new map system and this will no longer be an issue so I am marking this as resolved/closed.

[2021-05-26 04:21] #91 closed, assigned to nobody

[2021-05-26 04:39] Mustang-25 commented on #639
@DevastatorCM Are you still seeing this problem in more recent Liberation builds or can we close this one?

[2021-05-26 04:47] Mustang-25 commented on #751
The new campaign generation system allows you to explicitly pick which type of air defense to generate so this shouldn't be an issue as long as the campaign creator didn't go crazy with LORADS. And even if they did, the campaigns can be modified to remove the specific Air Defense generator. I'm going to mark this as feature ready/closed.

[2021-05-26 04:47] #751 closed, assigned to nobody

[2021-05-26 04:55] Mustang-25 commented on #794
69299d395cff56ae842927e215f1b8b14175937e should solve this. Marking this as feature completed/closed.

[2021-05-26 04:55] #794 closed, assigned to nobody

[2021-05-26 04:59] Mustang-25 commented on #773
Going to mark this one as closed since Liberation really has no control over what the AI does with regard to this.

[2021-05-26 04:59] #773 closed, assigned to nobody

[2021-05-26 05:00] Mustang-25 commented on #772
marking this as closed since the campaign itself is deprecated.

[2021-05-26 05:00] #772 closed, assigned to nobody

[2021-05-26 05:38] NeelKulkarni6 opened #1125 "Add an option for the Auto aircraft purchase system to only buy aircraft you own"
I think the Aircraft auto-purchase option is really great and helps people who don't like micromanaging a lot (like me), but one gripe I have with it is it often doesn't buy the Aircraft I like/own. I think if there was an option to limit it to buying aircraft you own (which could maybe be selected in the settings somewhere), then it would be a lot more useful. I think this is important because mo

[2021-05-26 05:58] Hornet2041 opened #1126 "STRIKE objective map markers only generate 1 in-game marker regardless of number of buildings"
**Describe the bug**
Objective markers on the map do not include every building designated for a map scenery object strike objective.

**To Reproduce**
Steps to reproduce the behavior:
1) start a new campaign with scenery objectives on a build that supports the feature
2) get to turn 1 and boot up DCS
3) observe that the scenery objective map marker is only located where the icon is located on the

[2021-05-26 06:00] DanAlbert commented on #1124
(I'd actually missed sweep when I fixed escort a while ago, but it's fixed now, good catch)

[2021-05-26 06:00] Hornet2041 commented on #1126
[mapmarker.zip](https://github.com/dcs-liberation/dcs_liberation/files/6544131/mapmarker.zip)

[2021-05-26 06:03] DanAlbert commented on #1125
No AWACS? No tankers? No cargo planes? I don't think that's what you want. You can make a custom faction that doesn't include the aircraft you can't fly.

I don't think we have any way of knowing which aircraft you own, and the factions are already the way to signal to the game which types of aircraft to buy.

[2021-05-26 06:03] #1125 closed, assigned to nobody

[2021-05-26 06:07] DanAlbert commented on #1123
Already fixed in 3.0.

[2021-05-26 06:07] #1123 closed, assigned to nobody

[2021-05-26 11:00] DevastatorCM commented on #639
at the moment I do not face this issue anymore, so it can be closed

[2021-05-26 11:04] #639 closed, assigned to nobody

[2021-05-26 12:21] SnappyComebacks commented on #1126
@DanAlbert This has always been the behavior.  Adding scenery objects had nothing to do with this.

Here's a semi random strike target from `build 1533`.

![image](https://user-images.githubusercontent.com/74509817/119658456-676b1500-bdea-11eb-9613-a516e3f7a289.png)
![image](https://user-images.githubusercontent.com/74509817/119658563-85d11080-bdea-11eb-9781-c34148c356df.png)

[2021-05-26 15:25] #1081 closed, assigned to Starfire13

[2021-05-26 15:25] Starfire13 commented on #1081
The redo has fixed it. I am no longer encountering this problem on #1656

[2021-05-26 16:31] Mustang-25 opened #1129 "Remove North Caucasus Campaign from the List"
This campaign is still using the old, non-miz format and is totally deprecated so it should be removed from the campaigns list.

[2021-05-26 17:56] gatorman22 opened #1130 "Base - Base Defenses tab unpopulated"
**Describe the bug**
Within the friendly Base dialog, the Base Defenses tab is unpopulated.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new campaign
2. Click on any friendly base
3. Click Base Defenses tab - empty

**Expected behavior**
Expect to see base defenses automatically populated and able to be added/replaced/removed like in 2.x

**Additional information**
Included image

[2021-05-26 18:46] DanAlbert commented on #1126
Got it. Fixing one would fix both then. Thanks for the heads up.

[2021-05-26 18:49] DanAlbert commented on #1130
The tab has no purpose any more. Base defenses were only separate from the other objectives because the old map lacked the fidelity to draw base defenses without making the base impossible to click.

We'll be removing the tab after I remove the possibility for generating them with older (broken) campaigns.

[2021-05-26 21:46] Starfire13 opened #1132 "TARCAP cannot be planned over FOBs"
**Describe the bug**
Not curerntly able to plan TARCAPs over FOBs.

**Expected behavior**
FOBs should allow TARCAPs

[2021-05-26 22:07] Starfire13 opened #1133 "Can a "Runway Destroyed" line be added to the mid-mission kills tracker?"
**Is your feature request related to a problem? Please describe.**
At the moment, the mid-mission kills tracker tracks unit deaths, base captures, etc. But it doesn't track runway destruction.

**Describe the solution you'd like**
Would be nice if you could get confirmation on the tracker that a runway has been destroyed.

[2021-05-27 02:05] Hornet2041 commented on #103
How do you explain this, then?

![image](https://user-images.githubusercontent.com/55866858/119754326-54018d80-be6e-11eb-8588-6fab31479e22.png)

Last I checked, Russia can use T-72Bs. And this one is glowing.

[2021-05-27 03:43] DanAlbert commented on #103
Damn. It sounded promising.

[2021-05-27 06:06] #1129 closed, assigned to DanAlbert

[2021-05-27 08:09] Meyomyx opened #1135 "Scenario / Turn progress or "finish" time"
It would be useful for a scenario / turn "finish time" to be displayed on the UI and the Mission Status window, either as a time or a percentage.

**Rationale:**
Often, your mission finishes after a limited period of time or, for example, you have been shot down. You can quit DCS at that time and, of course, the scenario, along with any progress, will be recorded. However, many of the missions wil

[2021-05-27 09:52] DanAlbert commented on #1135
The last takeoff time is configurable in 3.0 so you can line the latest missions up with your typical mission time. Is that sufficient?

FWIW, we don't _expect_ you to wait for all missions to finish. The last missions to take off are there to provide ambiance, not results.

[2021-05-27 10:54] DanAlbert opened #1136 "Squadron size caps and limited replenishment rates"
Forking from https://github.com/dcs-liberation/dcs_liberation/issues/276

Squadrons should have a maximum size and KIA pilots should take time to replace.

An open question is whether pilot replenishment happen at a per-squadron rate, or a coalition-wide rate. I'm leaning toward coalition-wide, with some other mechanics being able to alter the replenishment rate (perhaps a use for one of the build

[2021-05-27 10:56] DanAlbert opened #1137 "Remove money cost for planes in favor of pilot replenishment rates?"
Forking from https://github.com/dcs-liberation/dcs_liberation/issues/276

Can we replace the money cost for planes and instead rely on the pilot replenishment rate and squadron limit to keep things in check?

[2021-05-27 10:59] DanAlbert opened #1138 "limit number of squadrons per coalition?"
Forking from https://github.com/dcs-liberation/dcs_liberation/issues/276

Should have a limit to the number of squadrons that can be used in a campaign. The campaign would suggest a default but it would be adjustable when starting a new game.

[2021-05-27 11:48] dorianr666 commented on #103
dammit

edit: could you somehow attach the mission or link it? id like to look at it.

[2021-05-27 12:14] Khopa commented on #103
@Hornet2041
From my experience, if the glowing moving unit bug happens, then any moving unit in the mission will glow. This is not only the units that "shouldn't be there" that will glow.

[2021-05-27 13:31] Hornet2041 commented on #103
im at work right now but iirc it was the default Russia 1990 / usa 1990 factions

[2021-05-27 13:41] dorianr666 commented on #103
i have just tested this, its true.

also once the bug appears, it appears in game until exit to desktop.
after running faulty nextturn.miz, i made an empty clean mission in mission editor with just one red t-55 and it still glowed.

this means you have to restart the game for each test.

[2021-05-27 14:25] dorianr666 commented on #103
after some more testing, im consistently NOT getting glowing vehicles if I disable JTAC Autolase script, either in liberation campaign settings or directly in mission editor. and consistently getting glowing if I leave it enabled.

yes, im restarting the game after each mission run. could someone verify this please?

it is also possible there are multiple independent or even mutually dependent tri

[2021-05-27 19:06] Hornet2041 commented on #730
is this still an issue on 2.5.1?

[2021-05-27 19:13] Meyomyx commented on #1135
v3 looks promising!

Yes - I suppose that helps. Not sure I agree with your last point, however. In my instance, I was shot down early into a mission. There had been very few engagements or progress .. and then the packages relocated. I get that you wouldn't always leave it running for a few hours BUT there would be some "critical" tasking that I might elect to complete. Some strikes or critical S

[2021-05-27 19:15] Hornet2041 commented on #103
I agree, I tried the mission with the glowing t-72b with JTAC autolase on and off, both times starting from a completely fresh boot of DCS.

JTAC Autolase on resulted in glowing vehicles, with it disabled, vehicles did not glow.

[2021-05-27 19:18] Hornet2041 commented on #103
I ran another test with JTAC autolase on but JTAC smoke disabled - with smoke disabled, vehicles did not glow

[2021-05-27 19:18] DanAlbert commented on #1135
Oh right, dying. I'm generally frustrated enough with myself that I don't wait after that :)

What I do is open F10 after I've parked, look for any flights that seem close to their targets, and close as soon as there's a break in the action. That also answers the question of how much time is left, because you can see what the last TOT is in the liberation UI and there's a clock in the F10 map.

[2021-05-27 19:21] DanAlbert commented on #103
If it's related to the JTAC autolase that would also explain why a lot of folks don't see this outside Liberation, and why many of us don't see it _in_ liberation.

[2021-05-27 19:39] gatorman22 commented on #1130
Just noticed today on build 1668 the Base Defenses tab is populated for FOB Sochi.  I guess it's treating bases and FOBs differently.  Just mentioning it in case someone gets bogged down in details and forgets to check both conditions when phasing out.

![image](https://user-images.githubusercontent.com/17415205/119886855-71cc0280-bf01-11eb-9409-4851c8008624.png)

[3-1668.zip](https://github.com/d

[2021-05-27 19:52] Meyomyx commented on #1135
Yeah. I concur

It's Occam's razor

[2021-05-27 19:55] Mustang-25 commented on #172
Many of the campaigns have been reworked and this shouldn't be a problem going forward. If you see this again go ahead and file a new bug report with the specific campaign and unit location so the campaign designer can make the fix. Thanks!

[2021-05-27 19:55] #172 closed, assigned to nobody

[2021-05-27 19:56] KeeseAF opened #1139 "New Squadrons implementation won't allow custom flights"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
After the first turn went off without a hitch, i am trying to make another turn full of flights. However, whenever i go to create a custom flight, nothing happens. I thought it was due to no

[2021-05-27 19:57] Mustang-25 commented on #201
@floydoroid are you still experiencing crashes with new versions of Liberation or can we close this one out?

[2021-05-27 20:06] Mustang-25 commented on #436
The implementation is half complete now with the introduction of taskable AWACS. If someone wanted to apply the same to tankers we could close this FR out.

[2021-05-27 20:08] KeeseAF commented on #1137
I feel like both should be implemented. Fatigue rate for pilots and the costs for the planes and maintenance.

[2021-05-27 20:12] Mustang-25 commented on #438
Just tested it with the miz file above. The problem seems to be resolved and the AI taxied out of the spot with the wings swept back. Going to close this one out.

[2021-05-27 20:12] #438 closed, assigned to nobody

[2021-05-27 20:17] Mustang-25 commented on #541
The next release of Liberation will have a different system for custom payloads. Closing this one out since this relates to the old system. If you find any similar issues with the new one please go ahead and file a new bug report. Thanks!

[2021-05-27 20:17] #541 closed, assigned to nobody

[2021-05-27 20:22] Mustang-25 commented on #638
Based on the previous comments I'm assuming that this has been fixed in a previous release so I'm going to close this bug report.

[2021-05-27 20:22] #638 closed, assigned to nobody

[2021-05-27 20:23] #644 closed, assigned to Khopa

[2021-05-27 20:25] Mustang-25 commented on #575
No further reports of this issue since this was first reported in Dec. Going to assume the problem has been resolved since and closing this bug report.

[2021-05-27 20:25] #575 closed, assigned to nobody

[2021-05-27 20:26] Mustang-25 commented on #728
Is this still a problem in the latest release? If it is, which campaign? If not we can go ahead and close this one out.

[2021-05-27 20:28] Mustang-25 commented on #723
Most of this was resolved a few months ago so I'm going to close this one out.

[2021-05-27 20:28] #723 closed, assigned to nobody

[2021-05-27 20:50] dorianr666 commented on #103
i have modified the jtac autolaze script to run normally except not actually spawning smoke (commented out the DCS API call) and the glowing is gone.
i have also modified it to print out the function call arguments and they all seem to be normal so its not a bug in the script it seems.

i suspect the problem is caused by modifying the world state during mission initialization phase. i will try to

[2021-05-27 20:52] DanAlbert commented on #1135
Cool, I'll close this then. Thanks for confirming 👍

[2021-05-27 20:52] #1135 closed, assigned to nobody

[2021-05-27 20:54] DanAlbert commented on #728
If it is today it won't be when 3.0 releases since the campaign needs to be redone with non-random spawns anyway. Always a chance that the campaign designer that reworks it makes a new mistake, but that'd need a bug with different details than this one since it'd be campaign specific.

[2021-05-27 20:54] #728 closed, assigned to nobody

[2021-05-27 20:58] Starfire13 opened #1140 "Navmesh Error on Turn 0 on Nevada Map"
**Describe the bug**
Recieving this error on attempt to pass Turn 0.

Traceback (most recent call last):
  File "widgets\QTopPanel.py", line 159, in passTurn
  File "game\game.py", line 356, in pass_turn
  File "game\game.py", line 412, in initialize_turn
  File "gen\flights\ai_flight_planner.py", line 786, in plan_missions
  File "gen\flights\ai_flight_planner.py", line 909, in plan_mission
  Fil

[2021-05-27 20:59] dorianr666 commented on #103
in the mean time, try this.
i have moved the JTAC autolaze stuff out of mission start trigger into once trigger, activating couple seconds into the game. glowing seems to be gone.

![cvcccvvc](https://user-images.githubusercontent.com/5798240/119896147-e40f0800-bf3e-11eb-8e98-ceddb3980dd5.png)

does it work for you?

[2021-05-27 21:10] Starfire13 opened #1141 "Unable to create flight on #1689"
**Describe the bug**
Attempting to manually create a flight fails and produces this error in log window.
Traceback (most recent call last):
  File "windows\mission\flight\QFlightCreator.py", line 187, in create_flight
AttributeError: can't set attribute

**Version information (please complete the following information):**
#1689

[2021-05-27 21:12] Starfire13 commented on #1141
Repeat of issue #1139

[2021-05-27 21:12] #1141 closed, assigned to nobody

[2021-05-27 21:18] DanAlbert opened #1142 "squadron selection in new flight UI"
When creating a new flight players need to be able to select the squadron to use for the flight.

[2021-05-27 21:19] DanAlbert opened #1143 "pilot selection in new flight UI"
Players should be able to select pilots when creating a new flight the same way they can in the flight edit UI. Depends on https://github.com/dcs-liberation/dcs_liberation/issues/1142

[2021-05-27 21:20] DanAlbert commented on #1139
Hacked back into working order for now by auto-converting pilots into player slots if needed. What this actually needs is a roster editor like the flight edit dialog has, but before we can do that we also need squadron selection in the new flight UI, which we're not quite ready for.

Filed https://github.com/dcs-liberation/dcs_liberation/issues/1142 and https://github.com/dcs-liberation/dcs_libera

[2021-05-27 21:20] #1139 closed, assigned to DanAlbert

[2021-05-27 21:26] DanAlbert commented on #103
Is that why most scripts inexplicably recommend loading everything on a delay? I've always wondered what that was about.

[2021-05-27 23:03] Starfire13 opened #1144 "List Index Out Of Range error when generating pilot name"
**Describe the bug**
Got this error upon generating a new campaign. Does not happen consistently.

Traceback (most recent call last):
  File "windows\newgame\QNewGameWizard.py", line 115, in accept
  File "game\theater\start_generator.py", line 101, in generate
  File "game\game.py", line 148, in __init__
  File "game\squadrons.py", line 204, in __init__
  File "game\squadrons.py", line 256, in ra

[2021-05-27 23:05] #315 closed, assigned to DanAlbert

[2021-05-27 23:14] DanAlbert opened #1145 "Single base operation for squadrons"
Forking from https://github.com/dcs-liberation/dcs_liberation/issues/276 since it would require non-trivial AI work.

Squadrons should have a single base that they operate from. They'd be able to relocate, but they'd move the whole squadron and they'd need to be ferried to the new locations before they could be used for new missions.

This probably supersedes https://github.com/dcs-liberation/dcs_

[2021-05-27 23:35] #1144 closed, assigned to nobody

[2021-05-27 23:35] DanAlbert commented on #1144
Probably fixed.

[2021-05-28 00:37] DanAlbert commented on #276
The pilot half of this work is now done (aside from a [UI improvement](https://github.com/dcs-liberation/dcs_liberation/issues/1143)) and [documented](https://github.com/dcs-liberation/dcs_liberation/wiki/Squadrons-and-pilots).

[2021-05-28 03:20] Starfire13 opened #1146 "X axis of Liberation window unable to fit within a 1920x1080 screen"
**Describe the bug**
Unable to fit Liberation window on 1920x1080 screen because it is too wide.

**To Reproduce**
Steps to reproduce the behavior:
1. Have shitty 1920x1080 resolution monitor
2. Try to fit Liberation on screen
3. Fail

**Expected behavior**
Liberation should fit on shitty screens so ColonelPanic can't have nice things.

 - DCS Liberation [e.g. 2.3.1]:
#1694

[2021-05-28 03:59] Hornet2041 commented on #103
this does work but only if i also set the config-options trigger to activate 1 second after the initial autolase script activates

[2021-05-28 04:01] #1142 closed, assigned to DanAlbert

[2021-05-28 04:05] #276 closed, assigned to DanAlbert

[2021-05-28 04:06] DanAlbert commented on #276
Squadron side is now complete. Any remaining work was forked into separate bugs, but this is feature complete.

[2021-05-28 04:45] DanAlbert commented on #1146
For anyone that wants to tackle this, if you don't have better ideas I'd recommend moving this crap

![image](https://user-images.githubusercontent.com/315852/119930500-68a85900-bf34-11eb-879f-c410ac86b27a.png)

Down here

![image](https://user-images.githubusercontent.com/315852/119930521-72ca5780-bf34-11eb-9bcf-f938fecd7ee7.png)

And tile them rather than a single row.

Could maybe move the take

[2021-05-28 05:26] SnappyComebacks commented on #1036
What do you think of this idea?

- A `factory` has a set maximum number of units it can produce in a turn, multiple factories at a control point means a higher maximum.
- Another objective, like `oil` and/or `derrick` contributes to how many units can be produced each turn.

So if there is plenty of `oil/derrick`, your factories can operate at maximum capacity, else they will be limited by how muc

[2021-05-28 05:57] DanAlbert commented on #1036
If I'm following you, the units produced is the minimum of the factory output and the oil output?

[2021-05-28 06:46] SnappyComebacks commented on #1036
Whichever limit is lower is the output limit of the factory.  (I think that is what you said, just providing an example in case it wasn't.)

- If the amount of factories only supports producing 10 units, and the oil supports producing 15 units, then only 10 get produced.
- If the amount of factories supports producing 20 units, but the amount of oil only supports producing 5 units, then only 5 uni

[2021-05-28 07:26] DanAlbert commented on #1036
I like the fuel convoy idea, but I'm less fond of the two building types controlling the same thing. Maybe if the oil contributed to a global limit rather than a local one? (Maybe that's what you meant and I misunderstood?)

[2021-05-28 09:14] DanAlbert commented on #103
@Hornet2041 got the attention of some folks in the Hoggit discord (can't link messages from mobile, annoyingly, but it's in the #scripting channel if anyone is interested) and Grimes was able to reduce it to something that they filed with ED as a bug. It was reduced from a Liberation mission so we haven't been able to rule this out as us generating an incompatible mission, but it's progress.

Grim

[2021-05-28 15:41] Mustang-25 opened #1147 "[Build 1703] Logistics System/Convoy Bug with Unreachable Frontlines"
In this campaign that I am testing, I have two frontlines that are only connected via a blue CP and a factory on just one side of the fork. When I try to pass a turn where a convoy is created, I get the error shown below.

I think that the factory in one fork is trying to send reinforcements to the frontline in the other fork but it can't find a valid path to it since the only path is through the

[2021-05-28 15:56] Mustang-25 opened #1148 "[Build 1703] Convert to Player/AI button & Send/Return on Leave does not change when pushed"
Pushing both the convert to Player/AI button and Send/Return from Leave does not change over when it is pushed. You have to click on another name then back to the one you just changed to see the updated button.

[2021-05-28 22:56] DanAlbert commented on #1147
![image](https://user-images.githubusercontent.com/315852/120048350-b623d500-bfcb-11eb-99d9-d5ebe4790425.png)

The _bug_ here is that we allowed Syrian Defensive Line (red front line FOB on the right arm) to recruit units from Beirut (with the factory) despite having no connection. I'll look in to that.

The maybe FR here is that the two lines of FOBs are not connected by airlift. I had only made

[2021-05-28 23:28] #1147 closed, assigned to DanAlbert

[2021-05-28 23:30] DanAlbert commented on #1147
Fixed the main issue (though that save can't be fixed because the problem is already present). Can discuss the other questions here but we should file an FR if that's a thing we decide to do.

[2021-05-29 00:11] Mustang-25 commented on #1147
I'll have to think about it a bit more but it would definitely present some interesting gameplay options if helo FOBs were connected.

[2021-05-29 00:37] #1140 closed, assigned to nobody

[2021-05-29 00:37] DanAlbert commented on #1140
Apparently you managed to place an objective _exactly_ on the boundary between two zones

![image](https://user-images.githubusercontent.com/315852/120052532-a1027280-bfda-11eb-8971-e38c584f22bb.png)

I would not have believed that was possible if the debugger wasn't telling me that's what happened.

The geometry library we use defines "contains" as "fully within the interior of the shape", so by

[2021-05-29 01:03] #1132 closed, assigned to DanAlbert

[2021-05-29 02:25] DanAlbert commented on #637
Any map object can be designated as a campaign target in 3.0.

[2021-05-29 02:25] #637 closed, assigned to SnappyComebacks

[2021-05-29 04:08] kiwioz1 opened #1149 "package with A10C II creates A10C only"
Liberation 2.5.1

open up the created mission in mission editor and A10C is selected not A10C 2
UI states A10C 2

[2021-05-29 04:15] DanAlbert commented on #1149
Please fill out the bug template.

[2021-05-29 11:37] docofmur opened #1151 "Roland Generator does not produce random number of launchers"
Roland Generator only ever produces 1 Roland

Steps to reproduce the behavior:
1. any faction with Roland
2. generate a campaign
3. roland site has SAM Roland EWR, Roland 2, Truck M818 6x6

random generation of Roland 2 chassis' just as with other SHORADS

 - DCS Liberation 2.5.1 Main Release & dev branch build #1560

[2021-05-29 12:27] Starfire13 opened #1152 "Loadout defaults back to Liberation CAS if you select custom loadout, close window, re-open window, and unselect custom loadout"
**Describe the bug**
If you say, set up a DEAD flight and click Use Custom Loadout, close the Edit Flight window, then re-open it, the selected loadout changes to Liberation CAS (instead of the original default of Liberation DEAD). The loadout is still your custom loadout. But if you then want to switch back to the default by de-selecting the Use Custom Loadout checkbox, it switches you back to th

[2021-05-29 12:40] docofmur commented on #1151
I noticed this with Tor's also, this might be planned, i'll leave this open incase it is not planned. Sorry I should have tested more before posting the report

[2021-05-29 17:38] DanAlbert commented on #1151
I don't understand the bug here. This is just now the generator is for that site. What's the problem?

[2021-05-29 21:35] docofmur commented on #1151
ok sorry I didn't think a single launcher was the intended result as all other types have random number of launchers. I'll close this.

[2021-05-29 21:35] #1151 closed, assigned to nobody

[2021-05-30 04:20] Hornet2041 opened #1154 "Battle for Abu Dhabi campaign fails passing turn zero with max enemy starting budget + player assists + 30 minute mission duration"
**Describe the bug**
The program does not advance on turn 0 after pressing turn under the conditions mentioned in the title

**To Reproduce**
Steps to reproduce the behavior:
1) Start new Battle for Abu Dhabi campaign
2) Set desired mission duration to 30 minutes
3) Set enemy starting budget to maximum
4) Select any of the "automate" player assists at the bottom
5) Press pass turn
6) Observe that

[2021-05-30 20:15] #1057 closed, assigned to Schneefl0cke

[2021-05-30 20:40] #428 closed, assigned to nobody

[2021-05-31 01:17] DanAlbert commented on #1093
Is this now done and was ammo instead of fuel, or is there more you want to do here? (Should I close, move to 4.0, or leave open because you're still working on it for 3.0?)

[2021-05-31 02:33] DanAlbert commented on #1097
The important things are done. Moving the rest to the backlog.

[2021-05-31 03:17] #1108 closed, assigned to DanAlbert

[2021-05-31 03:47] #1076 closed, assigned to DanAlbert

[2021-05-31 04:19] #1130 closed, assigned to nobody

[2021-05-31 08:16] DanAlbert opened #1158 "Depopulate SAM and armor TGOs when captured"
After a base is captured we should depopulate its non-building TGOs.

[2021-05-31 10:56] inexus888 opened #1159 "channel map - bombers auto-assigned to runways that are too short."
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
Bomber planes assigned to airports where the runways are too short to support takeoff.
Examples:
1. Ju88 taking off from Saint Omer Longuenesse.
2. A-20G taking off from Dunkirk Mardyck

**To

[2021-05-31 16:28] Hornet2041 commented on #992
haven't seen this bug in a loooong time now

[2021-05-31 16:28] #992 closed, assigned to nobody

[2021-05-31 19:45] SnappyComebacks commented on #1093
I'm willing to put together something dealing with `fuel` for 3.0, but need to settle on how it contributes to the meta.

Current thoughts are:
- Per CP, restrict how many aircraft can be used per turn.
- Per CP, restrict how many ground units can spawn at garrisons, armor groups, etc.
- Both of the above.

[2021-05-31 19:57] DanAlbert commented on #1093
I'm not sure either. This definitely isn't something we _need_ for 3.0. If we don't have a solid idea it may be a better choice to wait and see how the ammo feature lands before wracking our brains making similar mechanics?

Might be a better fit for airport infrastructure targets?

[2021-05-31 20:33] SnappyComebacks commented on #1093
If you think it would be a good idea to take community feedback on `ammo` before doing `fuel` then we can move this to 4.0.

[2021-05-31 21:01] DanAlbert commented on #92
This was done in 3.0.

[2021-05-31 21:01] #92 closed, assigned to nobody

[2021-05-31 21:01] DanAlbert commented on #201
Assuming obsolete.

[2021-05-31 21:01] #201 closed, assigned to nobody

[2021-05-31 21:07] DanAlbert commented on #931
Ground unit purchase was redone in 3.0 so should be gone.

[2021-05-31 21:07] #931 closed, assigned to nobody

[2021-05-31 21:08] DanAlbert commented on #935
https://github.com/dcs-liberation/dcs_liberation/issues/1124

[2021-05-31 21:08] #935 closed, assigned to nobody

[2021-05-31 21:18] #1105 closed, assigned to DanAlbert

[2021-05-31 21:25] SnappyComebacks opened #1161 "Show a tally of how many ground units are purchased / in transfer at a control point."
**Is your feature request related to a problem? Please describe.**
Now that ground units have a limit, it would be good to know how many ground units you have tranferring / purchased for a particular control point.

**Describe the solution you'd like**
Display how many units are purchased / transferring / total similar to how aircraft are shown.

**Additional context**
![image](https://user-images

[2021-05-31 21:43] #1118 closed, assigned to DanAlbert

[2021-05-31 21:57] #1119 closed, assigned to DanAlbert

[2021-05-31 22:14] Mustang-25 opened #1162 "[Campaigns v6] Failure to Generate Custom Campaign"
As reported on Discord, I am having trouble generating one of my custom campaigns after updating it to v.6. Log and campaign itself attached below.

![image](https://user-images.githubusercontent.com/72566076/120245608-89b5c600-c222-11eb-8ff2-6c1923e30447.png)

[Operation Mole Cricket 2010.zip](https://github.com/dcs-liberation/dcs_liberation/files/6572386/Operation.Mole.Cricket.2010.zip)

[2021-05-31 23:12] DanAlbert commented on #1093
In the absence of a concrete plan for fuel I think so. We're pretty sure we want to do _something_ but it seems like none of us are really sure what :) should be more clear after some feedback on the ammo system.

[2021-05-31 23:34] #968 closed, assigned to DanAlbert

[2021-05-31 23:34] #1158 closed, assigned to DanAlbert

[2021-05-31 23:35] DanAlbert opened #1163 "infinite money generation by selling and buying SAM sites in a cycle"
![image](https://user-images.githubusercontent.com/315852/120248984-2d58a380-c22e-11eb-985a-e42968737211.png)

Whatever decides how much these should be sold for is wrong, but the purchase price is correct.

[2021-06-01 00:58] DanAlbert commented on #1163
This is because the disband price is based on the units that are present but the purchase price is an estimate. SAM generation is random so it's not possible to know the value of the site before it is generated.

[2021-06-01 01:03] DanAlbert commented on #1163
https://github.com/dcs-liberation/dcs_liberation/blob/8604faffe6b80aac059d3f6ae8a14252e2bee725/qt_ui/windows/groundobject/QGroundObjectMenu.py#L219-L230 calculates the sell price.

https://github.com/dcs-liberation/dcs_liberation/blob/8604faffe6b80aac059d3f6ae8a14252e2bee725/gen/sam/sam_patriot.py#L18 is the fixed purchase price.

But the generated units are random: https://github.com/dcs-liberati

[2021-06-01 04:03] #1162 closed, assigned to nobody

[2021-06-01 04:03] DanAlbert commented on #1162
Should be fixed.

[2021-06-01 04:09] DanAlbert commented on #1146
Another option:

![image](https://user-images.githubusercontent.com/315852/120265198-54c26700-c254-11eb-80cd-c7ce044bca29.png)

I've freed up a bunch of toolbar space. We could move the buttons settings/stats/air wing/transfers buttons into the toolbar.

[2021-06-01 09:24] HILOK commented on #933
any chance we could have a tanker icon added to the liberation UI that could be moved freely on the map? maybe with a little context window for ALT & TRACK?
(it is possible of course to do this in DCS's ME, but you would have to move 4 items and assign the desired ALT 4x for every turn)
thanks

[2021-06-01 09:55] HILOK opened #1166 "assign player cruising altitude"
i know there are other threads around that topic, but couldnt find a specific match -sorry if duplicate

**Is your feature request related to a problem? Please describe.**
default cruising altitude is set to 20000ft. if the player wishes to change that in DCS's ME, it requires several edits (all affected WYP for all affected flights) and creates mission timing and kneeboard issues

**Describe the

[2021-06-01 09:57] DanAlbert commented on #1166
Duplicate of #270

[2021-06-01 09:57] #1166 closed, assigned to nobody

[2021-06-01 10:10] HILOK opened #1167 "totals on top of intelligence window"
**Is your feature request related to a problem? Please describe.**
in order to get to the totals the user has to scroll all way down in each tab.

**Describe the solution you'd like**
place totals on top of each frame, see pic f.ex.
![lib stats](https://user-images.githubusercontent.com/76898536/120306526-3a2ed300-c2d2-11eb-831a-b21b86996fd4.JPG)

**Additional context**
i know you guys have your h

[2021-06-01 13:01] dproko opened #1168 "Picklists Display Improperly, Rendered Unusable"
I've just installed v2.5.1, and the option picklists are too large for me to select, thus unusable.  I have checkboxes, and they work fine.  The help text is also unusually large.  I've rebooted and tried different scaling, with no luck.  See pictures.

I can reproduce it simply by starting the application.

![2021-05-30 (14)](https://user-images.githubusercontent.com/85173071/120327481-abed2980-c

[2021-06-02 00:46] DanAlbert commented on #1163
This is a pretty old bug, so I think the work here for 3.0 is just to fix what we can easily (EWR prices). We need a bit of a redesign to fix this for SAMs.

[2021-06-02 06:00] DanAlbert commented on #1146
I think moving settings and stats into the toolbar probably won back enough? Leaving this open since there's room (ha) for improvement, but as long as it's not overflowing it's not necessary for 3.0.

[2021-06-03 02:31] Hornet2041 opened #1171 "v3.0-1775: Make settings button larger, scale to display resolution, or restore previous method"
![image](https://user-images.githubusercontent.com/55866858/120577190-f8954980-c3f1-11eb-9c0f-2a44d5ff2060.png)
This tiny button location on a 1440p display is.... awful, to put it simply, for a button that gets used **_a lot_**.

In fact, it would be nice for accessibility if the whole interface could be scaled up or down as necessary for users with larger resolutions.

[2021-06-03 04:05] DanAlbert commented on #1171
Is it? Once a campaign seems like it should be normal.

[2021-06-03 04:20] Hornet2041 commented on #1171
i like to tweak settings between turns as necessary whenever performance jumps up or down or AI needs an income adjustment :P

[2021-06-04 17:09] Mustang-25 opened #1175 "[Build 1768] Multiple TARCAP Flights in the Same Package Will TARCAP Themselves"
Adding multiple TARCAP flights into a package of just TARCAPs will change their TOTs as if they were a package with mixed mission types.

Expected Behavior:
A package of just TARCAP should not have offset TOTs even with multiple flights if the package is only TARCAP.

To Replicate:
1. Create a new package
2. Add one TARCAP flight
3. Add second TARCAP flight
4. Observe change in TOT

![image](https

[2021-06-04 22:59] DanAlbert commented on #1175
Works for me. Need the data the template asked for. I'd guess that one of these is a different start type than the other, or has taken a different route. The start time is irrelevant here.

[2021-06-04 22:59] #1175 closed, assigned to nobody

[2021-06-05 00:01] #1143 closed, assigned to nobody

[2021-06-05 00:08] DanAlbert opened #1176 "allow toggling auto-assigned mission types for squadrons"
The squadron definition sets the bounds of the mission types the squadron can perform, but the squadron UI (in the air wing) should include checkboxes to select which of those _capable_ tasks get auto assigned. Useful for players who want their squadron to be _capable_ of being assigned BARCAP, but want other missions generated by default.

[2021-06-05 00:51] #1176 closed, assigned to DanAlbert

[2021-06-05 01:07] #1126 closed, assigned to DanAlbert

[2021-06-05 01:11] DanAlbert commented on #1148
The slot updates, it just doesn't auto reselect the modified slot. Unfortunately that isn't easily fixed. Given those two things, removing from 3.0.

[2021-06-05 01:12] #1149 closed, assigned to nobody

[2021-06-05 01:16] #1060 closed, assigned to nobody

[2021-06-05 01:16] DanAlbert commented on #1060
Closing because this is a campaign bug with random spawn locations. Those don't exist any more.

[2021-06-05 01:19] #1047 closed, assigned to nobody

[2021-06-05 01:22] DanAlbert commented on #678
Unit cap is a campaign property now via ammo depots.

[2021-06-05 01:22] #678 closed, assigned to nobody

[2021-06-05 01:22] DanAlbert commented on #572
Mid-game option doesn't exist any more.

[2021-06-05 01:22] #572 closed, assigned to nobody

[2021-06-05 01:23] DanAlbert commented on #58
This was all rewritten a few releases back and a bunch of bugs with this description were fixed. If you're still seeing it we'll need a save game (before ending the turn) and the state.json that goes with it.

[2021-06-05 01:23] #58 closed, assigned to nobody

[2021-06-05 01:24] DanAlbert commented on #264
Random spawns don't exist any more. If a building template itself is too crowded, we need to know which one.

[2021-06-05 01:24] #264 closed, assigned to nobody

[2021-06-05 01:27] DanAlbert commented on #730
Being caused by some mod seems like the most likely answer here (and the problem fixed by running as admin is a lack of permissions problem, which is different than our overwrite being clobbered). Without knowing what is causing the problem I don't think there's anything for us to investigate.

[2021-06-05 01:27] #730 closed, assigned to nobody

[2021-06-05 01:28] DanAlbert commented on #764
Is this still a problem?

[2021-06-05 02:14] DanAlbert commented on #892
3.0 removes a lot of the pessimism in speed planning. If this was a case of being just _slightly_ too slow, that'll be fixed. If they've failed entirely it's pilot error and there's not a lot I can do to fix that.

If there are still any cases of flights being _planned_ slow (remember that the ME lies about the speed for anything after a hold point, or for the first point of a late-activated fligh

[2021-06-05 02:14] #892 closed, assigned to nobody

[2021-06-05 02:16] DanAlbert commented on #1043
Duplicate of #887.

[2021-06-05 02:16] #1043 closed, assigned to nobody

[2021-06-05 02:19] DanAlbert commented on #817
Liveries were reworked in 3.0 and are now attached to squadrons.

[2021-06-05 02:19] #817 closed, assigned to nobody

[2021-06-05 02:20] DanAlbert commented on #830
Random spawns don't exist any more.

[2021-06-05 02:20] #830 closed, assigned to nobody

[2021-06-05 02:21] DanAlbert commented on #1168
Duplicate of #887

[2021-06-05 02:21] #1168 closed, assigned to nobody

[2021-06-05 02:29] DanAlbert commented on #371
Repurposing this as a catch all for all parking related bugs.

All of the problems here come in one of two shapes:

1. A map bug: DCS told us the parking space was compatible, but it isn't.
2. Incomplete map data: the parking data lacks the fidelity to tell us if the parking space is compatible.

Problem 1 we can't fix. Problem 2 is maybe fixable, but pydcs doesn't have the data for us and we can'

[2021-06-05 02:29] DanAlbert commented on #379
Duplicate of #371

[2021-06-05 02:29] #379 closed, assigned to nobody

[2021-06-05 02:29] DanAlbert commented on #895
Duplicate of #371

[2021-06-05 02:29] #895 closed, assigned to nobody

[2021-06-05 02:33] DanAlbert commented on #1052
Both slots were assigned parking space 122. The data uploaded only includes a track file, so nothing I can do to investigate.

[2021-06-05 02:33] #1052 closed, assigned to nobody

[2021-06-05 02:34] DanAlbert commented on #1078
Duplicate of #371

[2021-06-05 02:34] #1078 closed, assigned to nobody

[2021-06-05 04:36] Meyomyx opened #1177 "UI label change"
**Describe the bug**
Weather described as "Sunny" at night

**Expected behaviour**
Change text to time inspecific "Clear Skies" or "CAVOK"

**Additional information**
Details, details :)

[2021-06-05 06:09] DanAlbert commented on #1177
We do actually need those details. I have no idea why this happened and can't figure it out without help.

[2021-06-05 18:12] Meyomyx commented on #1177
Dan it's permanent - clear conditions are described as "sunny" whether day or night. Just the text "sunny" needs to be replaced with "clear" or "CAVOK". Not much of an issue I grant you! :)

[2021-06-05 19:08] DanAlbert commented on #1177
But I don't know what you're talking about. Upload the save game.

[2021-06-05 19:22] #1029 closed, assigned to nobody

[2021-06-05 20:24] #1161 closed, assigned to DanAlbert

[2021-06-05 20:41] #1152 closed, assigned to DanAlbert

[2021-06-05 20:46] DanAlbert commented on #1154
Apparently this happens whenever you have enough non-BARCAP packages that they need to be scheduled more quickly than once per minute.

[2021-06-05 20:52] DanAlbert commented on #1154
Switched to scheduling in seconds. If your game has more packages than it has seconds in the mission you should probably just quit :)

[2021-06-05 21:22] #1027 closed, assigned to DanAlbert

[2021-06-05 21:23] DanAlbert commented on #1027
Fixing this elegantly would be a pain, so for now the new package dialog is modal to avoid it being destroyed in strange ways.

[2021-06-05 21:41] DanAlbert opened #1178 "remove broken campaigns before release"
A reminder that we need to remove the campaigns that aren't fixed before we release 3.0. Still quite a few of these but folks are still working on it.

[2021-06-05 21:50] Slowdive1123 commented on #276
Perhaps the squadron feature is not totally complete? I created 4 squadrons of the same aircraft type and allowing liberation to autopurchase aircraft, it only populated the first squadron with around 26 aircraft and 0 for the others of that type.

[2021-06-05 21:57] Slowdive1123 commented on #1136
I commented on this elsewhere, but I just noticed that work was still ongoing on this feature. In my test on the latest build I created 4 custom squadrons of the same aircraft type, but noticed that only the first squadron was populated with aircraft allowing liberation to auto-purchase. It would be nice if purchases and reinforcements were evenly distributed among the squadrons of the same type.

[2021-06-05 22:26] DanAlbert commented on #1136
Nothing has been done for this yet.

[2021-06-05 22:30] DanAlbert commented on #276
Aircraft do not belong to squadrons. It assigns missions to squadrons with available pilots first, and then creates new pilots as needed. If you have two squadrons of identical capability and haven't created any pilots then it creates the pilots all in one squadron because there's no reason not to. If you want to use the second squadron, give it pilots.

[2021-06-05 23:11] Hornet2041 commented on #1154
Build 1795, same issue, this time with $4000 starting budget and no player assist:

[failedagain.zip](https://github.com/dcs-liberation/dcs_liberation/files/6603378/failedagain.zip)

Traceback (most recent call last):
  File "widgets\QTopPanel.py", line 133, in passTurn
  File "game\game.py", line 357, in pass_turn
  File "game\game.py", line 426, in initialize_turn
  File "gen\flights\ai_flight_p

[2021-06-05 23:13] Hornet2041 commented on #1154
as soon as I incremented the mission duration slider the program instantly updated and passed the turn 😮

[2021-06-06 00:35] Starfire13 opened #1179 "Automate Aircraft/Frontline purchases uses campaign generation choice rather than settings choice on Turn 0"
If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
So it looks like if you don't select Automate frontline/aircraft purchases at campaign generation but then go into settings and turn them on during turn 0, it doesn't use autogen for turn 0 to turn 1, but only on the turn 1 to turn 2. Likewise, if you select automate purchases at campa

[2021-06-06 00:36] Starfire13 commented on #1179
Closing as confirmed this is intended behaviour.

[2021-06-06 00:36] #1179 closed, assigned to nobody

[2021-06-06 02:03] Starfire13 opened #1181 "Update for Vegas Nerve, Peace Spring, Vectron's Claw"
* Campaign names: Exercise Vegas Nerve, Operation Peace Spring, Operation Vectron's Claw
* Also including Jordan 2010 faction
[campaigns.zip](https://github.com/dcs-liberation/dcs_liberation/files/6603502/campaigns.zip)

[2021-06-06 02:09] #1181 closed, assigned to DanAlbert

[2021-06-06 02:51] DanAlbert commented on #436
Assigning @SnappyComebacks because https://github.com/dcs-liberation/dcs_liberation/pull/1180 finishes this.

[2021-06-06 02:55] DanAlbert commented on #1024
I redid a bunch of hornet loadouts in 3.0 and the CAS loadout (which BAI and OCA/Aircraft fall back to since they aren't specialized) has one bag now.

[2021-06-06 02:55] #1024 closed, assigned to DanAlbert

[2021-06-06 04:04] RoleplayingPleb opened #1182 "Update for syria full map"
* Campaign name: Syria Full map
* Files: [syria_full_map.zip](https://github.com/dcs-liberation/dcs_liberation/files/6603612/syria_full_map.zip)

* Update summary (optional):
updated campaign to 3.0 standard

[2021-06-06 05:26] DanAlbert commented on #1154
Because 1795 is too old to have the fix.

[2021-06-06 05:26] #1154 closed, assigned to DanAlbert

[2021-06-06 05:26] DanAlbert commented on #1154
https://github.com/dcs-liberation/dcs_liberation/actions/runs/910135033

[2021-06-06 08:22] Starfire13 commented on #1146
The UI changes are now allowing Liberation to fit properly on my screen.

[2021-06-06 10:19] Hornet2041 commented on #1154
wow, i was more messed up on painkillers than i thought yesterday. sorry D:

[2021-06-06 16:06] Meyomyx commented on #1177
![sunny](https://user-images.githubusercontent.com/70166005/120931342-06481900-c6e9-11eb-94bf-6d5982732014.jpg)
[Desert Invasion.zip](https://github.com/dcs-liberation/dcs_liberation/files/6604468/Desert.Invasion.zip)

[2021-06-06 19:33] jeetsukumaran opened #1184 "Carrier or Other Base Ship Iconography"
**Is your feature request related to a problem? Please describe.**

(1) It would be nice to have the ships that function as airbases (carrier/LHA) have an augmented icon -- e.g., a darker shade, like land CP's -- so it's clear that these are "special" vs other ships
(2) When we move the carrier/LHA, the (next turn) destination icon is identical to the current position icon. Sometimes this can caus

[2021-06-06 20:02] DanAlbert commented on #1177
Yes, that's what I needed, thanks. Please follow the template next time, it'll save both of us time.

[2021-06-06 21:26] docofmur opened #1185 "Can not make player flight when first creating a new flight"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
When you are making a new flight inside a package, I cannot click the Player check box initially.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any mission package
2. Click on A

[2021-06-06 22:05] docofmur commented on #1185
in build #1827 The player check box is selectable until you change the aircraft type, then the same bug above persists even if you switch back to that aircraft

[2021-06-06 22:34] SnappyComebacks opened #1186 "Flight comm frequency outside of F-16 VHF channel"
**Describe the bug**
The flight comm channel is outside the valid frequency range for F16s.  This leads to the appropriate F16 channel not getting assigned properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create flight with F16.
2. View Kneeboard Flight comm channel
3. Compare to F16 VHF channel

**Expected behavior**
Flight comms for F16 to be in range of VHF comm.

**Additional in

[2021-06-06 22:58] SnappyComebacks opened #1187 "Curly braces replace value of 0 in inventroy management"
**Describe the bug**
In the `Airfield Command` tab at an airfield, inside `(0 present)`, if the value is 0, it is displayed as `({} present)`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any campaign
2. Open player airfield to purchase aircraft
3. Observe `({} present)`

**Expected behavior**
`(0 present)` instead of  `({} present)`

**Additional information**
[1825_curly_brace_ai

[2021-06-07 01:56] SnappyComebacks opened #1188 "ILS info not shown on kneeboard"
**Describe the bug**
At Incirlik airfield, ILS is not shown on the kneeboard.  Incirlik does have ILS.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create `Inherent Resolve` campaign  (USA 2005, Syria 1985)
2.  Populate campaign
3.  Populate ATO
4.  Create player flight at Incirlik and join flight.

**Expected behavior**
ILS to be displayed to user on Kneeboard.

**Additional information

[2021-06-07 02:02] #765 closed, assigned to nobody

[2021-06-07 04:31] clutchtomcat opened #1189 "3.0: Disable option for AI Skill Level increase"
AI has tons of issue related to skill level. Baseline, they already have overperforming radar detection, overperforming visual detection, overperforming gun accuracy, and overperforming physics. Physics in particular gets more and more broken as the skill level goes up. This can be game-breaking for the WW2 and Korea scenarios, where the lowest skill setting (Rookie) is already difficult for casua

[2021-06-07 05:21] DanAlbert commented on #1187
Fixed earlier today.

[2021-06-07 05:21] #1187 closed, assigned to nobody

[2021-06-08 01:00] DanAlbert opened #1190 "recon units will never spawn"
https://github.com/dcs-liberation/dcs_liberation/blob/37bb83dfa61cc9949795140a9a7a17bbd861a7aa/gen/ground_forces/ai_ground_planner.py#L96-L122

This is missing the handling for recon units that were added with https://github.com/dcs-liberation/dcs_liberation/pull/1170

@Schneefl0cke

[2021-06-08 04:37] SnappyComebacks opened #1191 "Repeated mission plays causes JTAC Kneeboard entry to accumulate"
**Describe the bug**
Repeated mission generations through DCS Liberation causes the Kneeboard's JTAC field to grow longer and longer, even if there is only one JTAC in the mission.

**To Reproduce**
1.  Create a mission that contains a player JTAC.
2.  Generate the mission.
3.  See one JTAC entry for each front line
3.  Abort Mission
4.  Generate the same mission again.
5.  See two JTAC entries fo

[2021-06-08 17:47] Mustang-25 commented on #27
carrier locations are moveable in the Liberation map. Closing this one out.

[2021-06-08 17:47] #27 closed, assigned to nobody

[2021-06-08 17:49] Mustang-25 commented on #316
should we close this one out? YOu can kinda limit ground forces with the new ammo depot mechanic.

[2021-06-08 17:51] Mustang-25 commented on #340
closing this one out because fog is totally disabled with the new DCS weather system. Can be revisited if/when ED adds fog back into the weather system.

[2021-06-08 17:51] #340 closed, assigned to nobody

[2021-06-08 18:01] Mustang-25 commented on #455
This can be done at the user end by editing the labels lua. Should we close this one out? I don't think Liberation should really have any effect on which labels the user wants to display.

[2021-06-08 18:06] Mustang-25 commented on #547
waypoints are moveable now in the Liberation map. Closing this one out since that ability solves this problem.

[2021-06-08 18:08] Mustang-25 commented on #577
I believe all the recent changes to SEAD/DEAD behavior cover all the requested outcomes of this FR. Closing this out unless there were action items missed.

[2021-06-08 18:08] #577 closed, assigned to nobody

[2021-06-08 18:13] Mustang-25 commented on #758
Closing this one out. All the campaigns included in the next release should have carriers when appropriate and, if not, you can reach out to the campaign designer directly to request it.

[2021-06-08 18:13] #758 closed, assigned to nobody

[2021-06-08 18:16] Mustang-25 commented on #902
Is this bug still valid in the latest builds?

[2021-06-08 18:17] Mustang-25 commented on #888
Are we planning on keeping this FR open? @Starfire13 is correct, damaged runways don't really smoke.

[2021-06-08 19:00] bgreman commented on #383
My ideas for more in-depth logistics (though not as in-depth as above, I think):

My idea for this is to eventually make use of the logistics network to be able to move "ammo points" around. You get points from ammo depots and they get generated at the connected CP, then you can use the transfer system to move them between CPs using air land or sea lift the same way you can with ground units. Thus

[2021-06-09 03:03] #888 closed, assigned to nobody

[2021-06-09 03:04] DanAlbert commented on #547
Not for opfor.

[2021-06-09 03:05] DanAlbert commented on #316
Making the cap-per-depot adjustable is probably still worthwhile.

[2021-06-09 03:50] #1190 closed, assigned to nobody

[2021-06-09 03:56] #1191 closed, assigned to DanAlbert

[2021-06-09 04:03] DanAlbert commented on #1186
This is only in your branch:

[code]

`FlightType.REFUELING` is always true, so every single flight is now on UHF.

[2021-06-09 04:03] #1186 closed, assigned to nobody

[2021-06-09 04:15] #1188 closed, assigned to DanAlbert

[2021-06-09 04:20] #1185 closed, assigned to DanAlbert

[2021-06-09 05:38] SnappyComebacks commented on #1186
Thank you for investigating.

[2021-06-09 07:38] DanAlbert commented on #383
One of the other ideas previously discussed was to keep the depots, but have them only represent a maximum amount of local supply that needs to be filled by convoys. Wdyt?

[2021-06-09 08:09] bgreman commented on #383
My plan was that depots would be kept, as ammo producers.  Each operational depot produces N "units" of ammo each turn, which appears at the CP connected to the depot.  From there ammo can move throughout the logistics system.

Having the depots still representing a cap on deployment (albeit an indirect one, as now instead of ground units being limited directly based on number of depots, instead t

[2021-06-09 08:26] bgreman commented on #383
Ultimately my _personal_ long term vision for the logistics system is as follows.  All placeholder numerical values are subject to tuning for best gameplay.

- Ammo depots each produce N units of ammo each turn, depositing at the connected CP.
- Another building type (oil rigs?) produces M units of fuel each turn, depositing at the connected CP.
- To deploy a unit to a frontline takes 1 unit of am

[2021-06-09 08:59] DanAlbert commented on #383
That's a feature, not a bug. It's a tradeoff for players to make. You can make your life easier in the short term, but if you do you'll either have a hard time at the next base.

It's also an opportunity for campaign designer's to _design_ imbalanced fronts, where large bases have much larger supply limits and FOBs have smaller limits.

Removing depots as local supply also removes the ability to c

[2021-06-09 09:16] #1177 closed, assigned to nobody

[2021-06-09 13:21] sgtfuzzle17 opened #1196 "Campaign submission: Operation Allied Sword"
* Campaign name: Syria - Operation Allied Sword
* Files: [Operation Allied Sword files.zip](https://github.com/dcs-liberation/dcs_liberation/files/6624019/Operation.Allied.Sword.files.zip)
* Update summary (optional): Submission for my Operation Allied Sword campaign with accompanying faction files. Campaign is built around a fictional counter-offensive by a joint US-Israeli coalition fighting aga

[2021-06-09 14:15] Sir-Headiii opened #1197 "Campaign submission: Humble Helper"
* Campaign name: Humble Helper
* Files:
[Humble Helper 1.0 for DCSLib Dev branch.zip](https://github.com/dcs-liberation/dcs_liberation/files/6624242/Humble.Helper.1.0.for.DCSLib.Dev.branch.zip)

* Update summary (optional):
Humble Helper is a fictional campaign set in an Israel vs Syria scenario, where Syria is backed by a Russian Expeditionary Force.
Custom factions with fictional but reasonable

[2021-06-09 19:43] DillieKoe opened #1199 "Campaign submission: Around the Mountain"
* Campaign name: Caucasus - Around the Mountain
* Files: [around_the_mountain.zip](https://github.com/dcs-liberation/dcs_liberation/files/6626480/around_the_mountain.zip)

* Update summary (optional):

[2021-06-09 23:26] SnappyComebacks commented on #1186
I went and looked at this finally.  This was like programming 101, lol.  I think I was just trying to quickly march through all the necessary changes.  =p

[2021-06-09 23:40] DanAlbert commented on #1186
Maybe one of these days I'll go through the drudge work of making us pylint clean. I think it would have caught this for you.

[2021-06-10 01:54] #1197 closed, assigned to DanAlbert

[2021-06-10 01:54] #1196 closed, assigned to DanAlbert

[2021-06-10 01:54] #1199 closed, assigned to DanAlbert

[2021-06-10 02:09] #1178 closed, assigned to nobody

[2021-06-10 02:54] RoleplayingPleb opened #1202 "Update for <Northern Russia>"
* Campaign name: Northern Russia
* Files: [northern_russia.zip](https://github.com/dcs-liberation/dcs_liberation/files/6628052/northern_russia.zip)
* Update summary (optional): Remade the Northern Russia campaign using updated campaign tools

[2021-06-10 03:55] Mustang-25 opened #1203 "Update for Operation Mole Cricket 2010"
* Campaign name: Operation mole Cricket 2010
* Files:
[Operation_Mole_Cricket_2010_v3.0.2.miz.zip](https://github.com/dcs-liberation/dcs_liberation/files/6628219/Operation_Mole_Cricket_2010_v3.0.2.miz.zip)

* Update summary (optional): Moves MERAD generator at Kiryat Shmona so that it does not generate units on the taxiway.

[2021-06-10 04:27] #1203 closed, assigned to DanAlbert

[2021-06-10 04:27] #1202 closed, assigned to DanAlbert

[2021-06-10 04:35] DanAlbert commented on #1112
Should probably be optional since there are cases where you might want to put the other flights on a slightly different path. Probably a checkbox in the ATO panel or above the map? The `PackageWaypoints` class covers the waypoints that would be affected by this.

[2021-06-10 05:22] DanAlbert commented on #288
There's room for improvement in the layout of the tanker flight plans (for example, placing tankers at join/split points for offensive missions), but this is implemented now.

[2021-06-10 05:22] #288 closed, assigned to SnappyComebacks

[2021-06-10 05:24] DanAlbert commented on #879
Now possible to do by hand, but the flight planner should probably automatically schedule a recovery tanker and make sure its path is aligned with the carrier's travel direction.

[2021-06-10 05:24] #436 closed, assigned to SnappyComebacks

[2021-06-10 22:34] Hornet2041 commented on #799
seems like this was implemented via #832 ? mostly anyway

[2021-06-11 02:54] fushti commented on #866
Oh shit. Thanks so much. I had the same thing with AVG but it was set to silent so I didn't get the notification. Spent a day changing permissions before I found this. Thanks again.

[2021-06-11 06:31] RoleplayingPleb opened #1206 "Update for <Northern Russia>"
* Campaign name: Northern Russia
* Files:
[northern_russia.zip](https://github.com/dcs-liberation/dcs_liberation/files/6636277/northern_russia.zip)

* Update summary (optional): Balanced the mission by removing a large amount of long range hostile sams to make the scenario more new user friendly. The mission is now much better for new users.

[2021-06-11 06:33] Starfire13 opened #1207 "Unit purchase "+" button is greyed out if purchase fails due to insufficient funds, but does not revert back to green if funds are made available elsewhere"
**Describe the bug**
If I buy, for example, F-15Cs till I run out of money, the "+" button is greyed out. However, if I free up some money by reducing purchases of other units, the "+" button stays grey until I press "-". This is a problem if you click on "+" for a unit that you have a current count of 0 when you have no money. Because it greys out the "+" button. But since you can't press "-" (as

[2021-06-11 06:57] DanAlbert commented on #1207
Anyone running into this problem in the 3.0.0 release: you can work around it by closing and reopening the window. It will be fixed in 3.0.1.

[2021-06-11 07:13] DanAlbert opened #1209 "Show micro version in release?"
In the title bar: ![image](https://user-images.githubusercontent.com/315852/121646014-b69b8180-ca49-11eb-92aa-19d38205aae0.png)

We should probably be calling this 3.0.0. Not a big deal so not worth respinning for 3.0.0 itself, but we'll want it for 3.0.1.

[2021-06-11 10:36] clutchtomcat opened #1210 "A-4E Custom Squadrons break campaign generation"
Creating a custom squadron .yam file for the A-4E-C in Saved Games/DCS/Liberation/Squadrons appears to break campaign generation; Clicking the finish button will not generate anything.

Custom squadron .yam files for other aircraft work fine. It's just the A-4E-C. I suspect it might have something to do with the A-4 liveries not being in the Saved Games/Liveries directory like all other liveries a

[2021-06-11 10:47] clutchtomcat commented on #1210
Can't confirm if the livery directory is the issue. I moved the A-4 liveries to Saved Games/DCS/Liveries to test and it still wouldn't work. I can't spot any errors in my .yam file either.

[2021-06-11 11:09] DanAlbert commented on #1210
Yaml. Not yam.

[2021-06-11 11:10] DanAlbert commented on #1210
What does the log say?

[2021-06-11 12:19] clutchtomcat commented on #1210
Not sure what relevance the typo has to the issue but here's the log.

[liberation.log](https://github.com/dcs-liberation/dcs_liberation/files/6638305/liberation.log)

[2021-06-11 17:11] Hornet2041 commented on #1210
I recreated your custom squadron file and generated this error in the log when trying to start a new campaign:

Traceback (most recent call last):
  File "game\squadrons.py", line 284, in load_squadrons_from
  File "game\squadrons.py", line 197, in from_yaml
  File "yaml\__init__.py", line 162, in safe_load
  File "yaml\__init__.py", line 114, in load
  File "yaml\constructor.py", line 49, in get_

[2021-06-11 17:15] Hornet2041 commented on #1210
damn github to .yaml screwed the mission type formatting. restoring the indents and dashes before each mission generated this error instead:

Traceback (most recent call last):
  File "game\squadrons.py", line 284, in load_squadrons_from
  File "game\squadrons.py", line 201, in from_yaml
KeyError: 'Could not find any aircraft with the ID None'

The above exception was the direct cause of the follo

[2021-06-11 19:29] DanAlbert commented on #1210
Well, if you name the file wrong it won't work.

[2021-06-11 23:42] #1206 closed, assigned to nobody

[2021-06-11 23:50] DanAlbert commented on #1210
Modded aircraft weren't covered by the docs. Looks like you tried to guess at the name and missed :)

https://github.com/dcs-liberation/dcs_liberation/wiki/Squadrons-and-pilots is updated to cover modded aircraft now. Try again and lmk if it's not clear.

[2021-06-11 23:50] #1210 closed, assigned to nobody

[2021-06-11 23:52] #1209 closed, assigned to DanAlbert

[2021-06-12 01:11] Eagle01ph opened #1212 "3.0 Take Off Button"
Did a fresh install of 3.0.  Everything works fine but I when I press "Take Off" nothing happens.

I may be doing something wrong but couldn't figure out what.

[2021-06-12 01:12] DanAlbert commented on #1212
Fill out the bug template and we'll reopen. We can't do anything with zero information.

[2021-06-12 01:12] #1212 closed, assigned to nobody

[2021-06-12 01:26] Eagle01ph opened #1213 "3.0 Take Off Button"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
Nothing happens when the "Take Off" button is pressed if a pilot is assigned to any aircraft.  If there is no pilot assigned and the Take Off button is pressed.  You get the warning that only

[2021-06-12 01:29] DanAlbert commented on #1213
Works for me. What does the log say?

[2021-06-12 01:39] Eagle01ph commented on #1213
Hi Dan,

This is what is in the cmd window.

2021-06-12 09:35:19,416 :: INFO :: Generating AirWar (regular)
2021-06-12 09:35:19,421 :: INFO :: Set up fire task for missile group.
2021-06-12 09:35:19,422 :: INFO :: Set up fire task for missile group.
2021-06-12 09:35:19,424 :: INFO :: Set up fire task for missile group.
2021-06-12 09:35:19,506 :: INFO :: Generating flight: <class 'dcs.planes.E_2C'>

[2021-06-12 01:45] DanAlbert commented on #1213
Did you make a custom loadout for the MiG-25PD? If so it looks like it's broken. If not then I'm out of ideas, because this works just fine on my machine.

[2021-06-12 01:52] Eagle01ph commented on #1213
I once had the MiG-25PD mod.  But uninstalled it since 2.7 came out.  But no custom loadout for Liberation. This was actually the first mission for 3.0.

If Liberation reads what's already in DCS would you know where I can delete the Mig-25PD loadouts?

[2021-06-12 01:57] Eagle01ph commented on #1213
Fixed it.  Thank you for pointing me in the right direction.

I have 2 installs of DCS.  Stable and OpenBeta.  For some reason, even though I set Liberation to look at the Saved game\DCS.Openbeta folder in saved games.  It was also looking at the saved games\DCS folder which had the Mig-25PD custom loadout.

[2021-06-12 01:59] #1213 closed, assigned to nobody

[2021-06-12 03:03] blglenn-sec opened #1214 "Super Carrier Selected Still Places Stennis"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. File -> New
2. Click on Next, Select Syria - Operation Mole Cricket 2010, Start Date

[2021-06-12 03:09] DanAlbert commented on #1214
The carrier generated in the mission should be a supercarrier. The name that appears in the Liberation map is meaningless since you can toggle supercarrier on and off whenever you want, but the name of the "base" needs to stay the same.

[2021-06-12 03:10] clutchtomcat commented on #1210
The Wiki says the aircraft name should be A_4E_C. As you can see in my first post, the aircraft name is exactly the same as it appears in the Wiki, and exactly the same as it appears in faction files. I also did not alter the file extension. It was copy-pasted from an existing Hornet yaml file with only the name, nickname, aircraft, and livery sections changed.

[2021-06-12 03:13] DanAlbert commented on #1210
Share a screenshot of the part you're looking at? That's not what I'm seeing, so we're not looking at the same place.

[2021-06-12 03:18] clutchtomcat commented on #1210
Wiki page: https://i.imgur.com/7EWoKPX.png

Link from the wiki page showing the code: https://i.imgur.com/R2Nxwh2.png

I also can't find the db.py file on my system to crosscheck. There's no game/ directory in my Liberation folders.

I tried remaking the yaml file but it still doesn't work, with no errors in the logs.
[VMA-311.zip](https://github.com/dcs-liberation/dcs_liberation/files/6641598/VMA

[2021-06-12 03:29] DanAlbert commented on #1210
Okay, so you're looking at the section but you missed part of it:

But your yaml file says: `aircraft: A_4E_C`. The value in quotes is `A-4E-C`, not `A_4E_C`.

There's a link to it right afterward. It's not a thing that's shipped because it gets compiled into the executable.

[2021-06-12 03:33] #1214 closed, assigned to nobody

[2021-06-12 03:35] clutchtomcat commented on #1210
That worked. All these inconsistencies are driving me nuts. Makes it impossible to extrapolate and make correct guesses when there isn't documentation on something, then the documentation doesn't get 100% processed by the brain when it doesn't match the majority of other cases.

[2021-06-12 03:36] DanAlbert commented on #1210
It's a work in progress. It'll get there.

[2021-06-12 03:37] DanAlbert commented on #1214
https://github.com/dcs-liberation/dcs_liberation/issues/156 is the bug that covers trying to name things more consistently, FYI.

[2021-06-12 03:38] clutchtomcat commented on #1210
Doesn't help that ED's base code is inconsistent too lol.

If the value in quotations is the "key," what is the value (A_4E_C, etc.) called?

[2021-06-12 03:40] DanAlbert commented on #1210
The value. https://en.wikipedia.org/wiki/Name%E2%80%93value_pair

Note that the value here is really uninteresting to players; it's just a variable name and has absolutely no meaning outside the python code. One of these days someone will find the time to generate these lists or build an editor or something, but I don't see that being our biggest problem any time soon.

[2021-06-12 03:46] DanAlbert commented on #1210
(reformatted some of that section to remove clutter and focus the bit about quotes; should help)

[2021-06-12 08:22] Meyomyx opened #1216 "Main Liberation Window"
Amazing work on v3 ... astonishingly good! Thank you all so much.

**Is your feature request related to a problem? Please describe.**
An enhancement - It would be useful to be able to access (but not amend) the main Liberation UI window whilst the mission is in progress.

**Describe the solution you'd like**
When the progress window is active, to be able to scroll and zoom the map in the main UI w

[2021-06-12 09:27] DanAlbert commented on #1216
Making everything read-only only while the mission is running is unfortunately a very large amount of work, and it's unlikely that's going to be a priority any time soon.

But as a workaround you can just close the mission results window, look around, and click takeoff again. I do it all the time and it doesn't seem to cause any problems. It's been several releases since doing that would break thi

[2021-06-12 09:34] Biggus22 opened #1217 "Cull zone overlay prevents creating missions on front lines"
Couldn't see this reported yet.
Enabling the culling zone overlay prevents mission creation on front lines.

To reproduce:
1.  Go to settings and enable cull zones.
2. Set cull zones to cover front lines.
3. Attempt to create a mission on the front lines.

Right clicking to create the mission will only bring up the page refresh menu.

In 2.5.1 and before, the expected behavior was that a menu woul

[2021-06-12 11:55] s3-chardonjf opened #1218 "Mission script error upon loading on dedi"
I started a new campaign with 3.0

I host the mission on a dedi so I opened it in ME, saved it, and started the server up.
Upon loading the mission, the dedi comes up with a string error:
![image](https://user-images.githubusercontent.com/29724443/121775056-940e8300-cb85-11eb-9485-4c683231c577.png)

Load up the liberation save and generate the miz by clicking take off, save it in mission editor, t

[2021-06-12 15:33] dasrehzockt commented on #1218
Experiencing the same problem when hosting in singleplayer. seems to be some kind of typo related to Al Tha'lah AB. (Humble Campaign in Syria)

EDIT: This Bug seems to be breaking the Humble Helper Campaign and maybe others that include Al Tha'lah AB as a Node. #1219
As a temporary workaround you should play campaigns that exclude Tha'lah

[2021-06-12 15:56] Meyomyx commented on #1216
Ah that's useful to know - I always wondered about the interaction between Liberation and DCS. I'll try that

[2021-06-12 17:16] dasrehzockt opened #1219 "Cannot Progress: Liberation 3.0 does not connect to DCS and creates no State.JSON"
Since 3.0, Liberation does not seem to recognize or connect to my ingame progress and also does not create a state.json file in its directory that i could use to manually progress the campaign. the window saying "waiting for mission completion" stays as it is when you have not startet the mission yet. even after flying the mission, it's still the same, leaving me only with the option to abort miss

[2021-06-12 18:05] DanAlbert commented on #1219
Probably forgot to launch Liberation before DCS, or forgot to override the MissionScripting.lua file manually if using a dedicated server.

If it's neither of those things there's not enough information here. All we can do for bugs we can't reproduce is guess, and that's the only guess I have.

[2021-06-12 18:05] #1219 closed, assigned to nobody

[2021-06-12 20:12] alexalleyz opened #1220 "You can buy units at the Carrier"
You can buy ground units at the carrier and the LHA

[2021-06-12 20:15] alexalleyz opened #1221 "Add ctr and Shift to add +5 and +10 units"
Just like Paradox games, hold ctrl to add 5 units and shift to add 10 units at once !
Also, the ability to hold ctrl to select multiple waypoints to delete.

[2021-06-12 20:19] fizzle77 commented on #711
For what it's worth I scratched this itch with Vaicom Pro's chatter plugin.

[2021-06-12 20:53] dasrehzockt commented on #1219
thanks a lot for your very rapid response!
i have checked multiple times and liberation was launched before DCS and it is not a dedicated server.
This seems to be related to the following bug and seems to only happen with campaigns, that are affected by the following bug already reported:
https://github.com/dcs-liberation/dcs_liberation/issues/1218
mainly affecting Humble Helper campaign and proba

[2021-06-12 21:09] dasrehzockt opened #1222 "Set Liveries for Squadrons"
i would really like to set certain liveries for my flights. at first i thought this could be done in the loadout menu. however, doing this for every package would be very tedious.
BUT, since 3.0 we have squadrons! it would be really cool, to assign certain skins to each squadron or maybe even custom skins for single pilots, that are consistent for the whole campaign. so in theory, i can assign a p

[2021-06-12 21:33] dasrehzockt commented on #1207
you can also try to press the '-' button to give the order to sell a unit, as long as you already have at least one available already.

after you press minus, the plus should revert back to green and can be pressed again to buy more aircraft, until it becomes grey again.
EDIT: this even works if the current unit count is 0, just press the '-', it will throw an error but the '+' becomes available a

[2021-06-13 00:01] FlankerDude opened #1224 "Random campaign events"
Something i would really love to see in DCS-Liberation would be randomized events.

My idea for an implementation would look like this, illustrated by a troops in contact allert:
At the start of each turn there is a certain chance of triggering a random event, in this case we have a TIC allert. This allert is being displayed on a pop up window and can later on be shown again by looking for it in s

[2021-06-13 00:47] docofmur opened #1225 "AI ground purchasing system does not work if faction does not have a tank"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
I tried this on multiple campaigns and factions, the AI will not purchase vehicles correctly if the faction does not have a Tank type vehicle. I will upload the 2 test factions I used, it is

[2021-06-13 01:19] docofmur commented on #1225
further testing shows its the MBT OR Tank sub-categories of the mission editor that are required to make a faction work, not certain on if any others are needed yet, will test that more later and update on here

[2021-06-13 02:25] Ryanwtod opened #1226 "Can't move Carrier or LHA"
I might be mistaken but it seems there is no way to move the carrier or LHA anymore?

[2021-06-13 02:30] DanAlbert commented on #1226
Drag it.

[2021-06-13 02:30] #1226 closed, assigned to nobody

[2021-06-13 02:43] DanAlbert commented on #1222
That's already a thing: https://github.com/dcs-liberation/dcs_liberation/wiki/Squadrons-and-pilots

[2021-06-13 02:43] #1222 closed, assigned to nobody

[2021-06-13 04:01] #1182 closed, assigned to DanAlbert

[2021-06-13 04:44] Mustang-25 opened #1227 "[Build 1927] Available Aircraft Not Displayed on Campaign Creation Window"
**Describe the bug**
The new aircraft name changes must have messed with this display because trying to generate a new campaign in the latest builds will not list the available aircraft (picture below).

**To Reproduce**
Steps to reproduce the behavior:
1. download build 1927
2. generate any campaign
3. observe empty list on the faction selection list

**Expected behavior**
Aircraft available to t

[2021-06-13 04:48] #1227 closed, assigned to nobody

[2021-06-13 10:54] dasrehzockt commented on #1222
awesome! but i'd like to add, that it would be nice to change squadrons and create new ones via the liberation UI. would love to see this in the near future! thx alot

[2021-06-13 12:56] docofmur opened #1228 "AI will not buy aircraft correctly if faction is missing a CAP capable aircraft"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
Basically what the title says, if you have a faction that does not have a CAP capable aircraft then it will only buy a few aircraft and just stop buying them, even if they have lots of money

[2021-06-13 15:39] Spartan111sqn opened #1230 "Add ship L61 Juan Carlos I"
Please include the L61 mod. as an option in the same manner as Supercarrier.

[https://www.desdemicabina.com/](url)

[2021-06-13 16:00] clairmont32 opened #1231 "Ciribob AutoLaze Now Deprecated"
Looks like this project has been archived and now recommends using the laze feature of CTLD.

https://github.com/ciribob/DCS-JTACAutoLaze

[2021-06-13 21:03] ali4000 opened #1232 "Liberation 3.0 can't generate inverted Normandy campaign"
**Describe the bug**
Trying to generate a Normandy campaign with the "invert map" option in order to play as Germans will fail with the "Incompatible Save game" message, despite no save game existing.

**To Reproduce**
Steps to reproduce the behavior:
1. Start new Normandy campaign, check invert map, select e.g. summer 1944 period
2. Select player faction = Germany 1944 and Enemy faction = Allies

[2021-06-13 21:16] docofmur commented on #1225
This was solved by build #1933 already tested and a tank is no longer required

[2021-06-13 21:40] #1136 closed, assigned to nobody

[2021-06-13 21:48] DanAlbert commented on #1225
That hasn't merged.

[2021-06-14 08:36] jeetsukumaran opened #1234 "TypeError: '>' not supported between instances of 'float' and 'Speed'"
**Describe the bug**

Using build 1936, hitting Take/Off results in the following in the log (and no indication of any issue in the UI, though there is no mission generated):
[test.zip](https://github.com/dcs-liberation/dcs_liberation/files/6646828/test.zip)

[code]

**Expected behavior**

A mission to be generated.

**Additional information**

Save file attached.

**Version information (please co

[2021-06-14 13:02] foxwxl opened #1235 "Expanding the transfer mechanism into the full logistics and supply system"
Before filing, please search the issue tracker to see if this feature has already been requested.

**Is your feature request related to a problem? Please describe.**
I know logistics system has been discussed for quite a while. But since the release of 3.0.0, the transfer mechanism has been introduced into the game and that's great. This system has very much potential and can easily expand to a fu

[2021-06-14 13:02] foxwxl commented on #1235
#383

[2021-06-14 19:25] DanAlbert commented on #1235
I don't understand how this differs from #383. It looks the same to me. What's different?

[2021-06-15 12:04] phoenixegmh opened #1236 "Request Incorporation of DCS Hound ELINT Script"
As per title.

https://github.com/uriba107/DCS-Hound

Request script to be included in base Liberation, allow ELINT sorties to be generated and also maybe even hide enemy SAM units in Liberation until they are discovered in ELINT?

[2021-06-16 02:28] Ledespana commented on #1230
+100
At least as part of the Spanish faction

[2021-06-16 10:40] jeetsukumaran opened #1237 "Aircraft Missing EPLRS(on) Waypoint Action"
**Describe the bug**

At least as of build #1936, all aircraft are missing the "EPLRS(on)" waypoint action. This action is typically added at the first waypoint (under "Perform Command" in the ME). It joins the aircraft to the data link network.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a mission using build #1936
2. Confirm no aircraft have "EPLRS(on)" actions in the ME
3. In

[2021-06-16 19:45] NeelKulkarni6 opened #1240 "Add the Targeting Pods to the Date Restrictions (litening and atflir)"
The targeting pods ATFLIR and LITENING II are not affected by the date restrictions option as of version 3.0.

The ATFLIR was made in December of 1999 and LITENING II in 2003.

![image](https://user-images.githubusercontent.com/77650484/122282778-a5ff6700-cea0-11eb-931b-21214a4eab3a.png)
atflir targeting pod equipped in 1995, with the restrict weapons by date option on

[2021-06-16 20:02] NeelKulkarni6 opened #1241 "Add a 'Transfer All' Option in the Unit Transfer Menu"
Is your feature request related to a problem? Please describe.
**Minor QOL improvement here, but it can be a bit annoying having to select all the units to be transferred in the menu**

Describe the solution you'd like
**Add a 'Transfer all units' option in this menu**

Additional context
![image](https://user-images.githubusercontent.com/77650484/122284986-07c0d080-cea3-11eb-98e9-007a986fb18c.png

[2021-06-16 23:30] DanAlbert commented on #1240
They are (or at least were; I've seen them removed in my games), but whoever filled out that data disagrees on the dates. Source?

[2021-06-17 00:07] #1218 closed, assigned to DanAlbert

[2021-06-17 00:22] #1217 closed, assigned to DanAlbert

[2021-06-17 03:03] Mustang-25 commented on #1240
As far as LITENING goes, here's the [Air Force fact sheet](https://www.af.mil/About-Us/Fact-Sheets/Display/Article/104571/litening-advance-targeting/) which has it IOCing in 1999 with the initial version of the LITENING II and the ER version IOCing in 2003. Given the lack of these distinct versions, I think we should just set it at '99 to give the players more flexibility.

I haven't seen any prim

[2021-06-17 03:32] NeelKulkarni6 commented on #1240
For the ATFLIR, I have a pretty reliable source saying it was initially tested on [December of 1999, then was supposed to have its IOC on **May 2002**, but due to funding it got pushed back](https://fas.org/man/dod-101/sys/smart/atflir.htm).

[Another Source ](https://www.deagel.com/Sensor%20Systems/ANASQ-228%20ATFLIR/a001647) says it had its IOC in **2003.** The problems with this one are; 1.  it

[2021-06-17 07:10] jeetsukumaran commented on #1237
For what it's worth, Build #1919 is the last one in which EPLRS was correctly activated for all aircraft.

By Build #1923, this bug has been introduced.

I could not pin it down more narrowly thanthat, due to not having any factions with datalink-capable aircraft available in the intervening builds.

I guess since the builds in this range (1920, 1921, 1923) mostly have to do with wrapping PyDCS un

[2021-06-17 10:29] Meyomyx opened #1245 "Bug since DCS 2.7.2.7910.1"
**Describe the bug**
"Player" aircraft are set as AI aircraft in ME since DCS 2.7.2.7910.1 Open Beta

**To Reproduce**
Steps to reproduce the behavior:
1. Create a turn in Liberation with a player flight
2. Check ME. The player aircraft shows as "Veteran", yet if you use the drop down, "Player" is highlighted in yellow
3. If not corrected, there are no player flights. Can be corrected in ME by act

[2021-06-17 10:33] DanAlbert commented on #1237
I already found the problem. The DCS update today means I haven't had time to fix it.

[2021-06-17 14:35] RndName opened #1246 "Skynet Plugin does not add EWRs (because lower case ewr in unit name)"
**Describe the bug**
The skynet plugin only adds EWRs which have the "|EWR|" string in their name. In the current version there are some EWRs which only have "|ewr|" (lower case) in the name and they will not be added. (See screenshot of a newly created campaign turn which i openend with the mission editor)

I tracked this to the following pull: https://github.com/dcs-liberation/dcs_liberation/pul

[2021-06-17 21:01] NeelKulkarni6 opened #1247 ""RuntimeError: Duplicate convoy unit: Convoy 001 Unit #1""
**Describe the bug**
Whenever I click 'take off' in this save game I get this error

_RuntimeError: Duplicate convoy unit: Convoy 001 Unit #1_

![](https://cdn.discordapp.com/attachments/782361390954053643/855186704352280607/unknown.png)

I haven't done any modifications to liberation or my game. I think the error has to do with a unit transfer.

**To Reproduce**
I couldn't find a way to reproduce

[2021-06-18 01:47] DanAlbert commented on #1196
FYI your factions contain a bunch of units that don't exist. I'm removing the factions and moving the campaign to something else.

[2021-06-18 01:47] DanAlbert commented on #1181
This faction was more or less completely non functional in terms of ground units (a bunch of names that matched nothing). Am removing it.

[2021-06-18 02:15] kevotosmart commented on #1245
Can confirm I’ve had this happen a couple times, thought it was user error

[2021-06-18 04:08] sgtfuzzle17 commented on #1196
Which factions have issues? All of the units for the USN/Israeli faction seem to work. If there's problems with the OPFOR faction I can take a look at them and fix it. Which units are causing problems?
I'm having a look and the only things not showing up are the 2S9 and the BM-27, which were pulled from other factions - I can remove them and resubmit the files for that faction if you'd like.

____

[2021-06-18 04:21] DanAlbert commented on #1196
iirc all of the infantry and several other units. Yours weren't the only broken factions and it would have taken too long to itemize the problems. The next version will yell loudly if something is wrong (which is how I noticed), so sit tight for now and try sending them again when that's ready.

[2021-06-18 04:25] sgtfuzzle17 opened #1249 "Update for Operation Allied Sword (faction)"
* Campaign name: Operation Allied Sword (faction)
* Files:
[Syria-Lebanon_2005_Allied_Sword.zip](https://github.com/dcs-liberation/dcs_liberation/files/6674562/Syria-Lebanon_2005_Allied_Sword.zip)
* Update summary (optional): Removed non-existent units from Syria-Lebanon 2005 (Allied Sword) faction list. All units listed should be properly available now.

[2021-06-18 04:30] sgtfuzzle17 commented on #1196
Sure thing. I submitted a revised faction just now after hunting down the offending units and have removed them, but no worries if it's not implemented for now.

As an aside, I've got a new US Navy 2005 faction to submit as well as a Cyprus showcase campaign for whenever the new update is ready. Would submitting them seperately be better, and should I submit the Cyprus campaign so it can be includ

[2021-06-18 05:12] DanAlbert opened #1250 "raise error for invalid faction data"
I found a bunch of factions with units that didn't exist. Should make that an error.

[2021-06-18 05:14] nosv1 opened #1251 "Unable to add an EWR 'other ground object' target to an existing flight."
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
The EWR ground objects don't show up in the waypoint dropdown list to add them to an existing flight. Like you can still click em and add flight, but can't add them to a flight if the flight

[2021-06-18 05:15] DanAlbert commented on #1249
Except the DCS update is going to rebreak all of them :( That's is why I suggested waiting for the next release. Sorry, I should have been more explicit.

[2021-06-18 05:48] sgtfuzzle17 commented on #1249
Ah, my bad. I'll keep an eye out for the next update.

________________________________
From: Dan Albert ***@***.***>
Sent: Friday, 18 June 2021 3:15 PM
To: dcs-liberation/dcs_liberation ***@***.***>
Cc: sgtfuzzle17 ***@***.***>; Author ***@***.***>
Subject: Re: [dcs-liberation/dcs_liberation] Update for Operation Allied Sword (faction) (#1249)

All units listed should be properly available now.

[2021-06-18 06:10] DanAlbert commented on #1249
No worries, just wish I could have saved you the trouble!

[2021-06-18 06:23] sgtfuzzle17 commented on #1249
All good, only took me 5 minutes. When would be a good time to submit the new Cyprus campaign I've built?

________________________________
From: Dan Albert ***@***.***>
Sent: Friday, 18 June 2021 4:10 PM
To: dcs-liberation/dcs_liberation ***@***.***>
Cc: sgtfuzzle17 ***@***.***>; Author ***@***.***>
Subject: Re: [dcs-liberation/dcs_liberation] Update for Operation Allied Sword (faction) (#1249)

[2021-06-18 06:35] DanAlbert commented on #1249
I'll notify the campaign maintenance channel in discord once we think it's time to start poking. Should be this weekend.

[2021-06-18 10:19] cirmi00 opened #1253 "Preview image on the campaign selector screen"
Hi guys,

First, liberation is still amazing. Thank you all for your hard work.

Would it be possible to get a small preview image on the campaign selector screen? When we are starting a new campaign, we need to generate most of the campaigns to see which one would be the best for us. Something like this would be great:

![image](https://user-images.githubusercontent.com/72670020/122546327-205df18

[2021-06-18 10:23] cirmi00 commented on #1253
Or maybe hidden behind a "PREVIEW" button or something which opens the image in a larger window... You get the idea I think.

[2021-06-18 10:34] jeetsukumaran opened #1254 "Trying to frag missions from carrier: "Could not find any airfield assigned to this package""
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**

Cannot generate sorties from any carrier based squadron. We are told: "Could not find any airfield assigned to this package."

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a

[2021-06-18 10:43] DanAlbert commented on #1253
Duplicate of #446

[2021-06-18 10:43] #1253 closed, assigned to nobody

[2021-06-18 10:49] Hornet2041 opened #1255 "Campaigns with SCUDs cannot begin"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
campaign doesnt launch if faction has scuds/missile generator

**To Reproduce**
Steps to reproduce the behavior:
1. start new allied sword campaign
2. choose any enemy faction that has scud g

[2021-06-18 11:03] Hornet2041 opened #1256 "unticking "generate infantry squads" prevents mission generation"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
campaign fails to launch mission after ATO generated

**To Reproduce**
Steps to reproduce the behavior:
1. begin new campaign of allied sword
2. choose russia 1990 as opfor to avoid current S

[2021-06-18 11:07] Hornet2041 commented on #993
![image](https://user-images.githubusercontent.com/55866858/122552063-d27fc400-d003-11eb-8c8a-c97554d0790d.png)
issue has reappeared in build  1971 :(

[2021-06-18 11:53] Hornet2041 commented on #1256
update: ticking "generate infantry squads along vehicles" lets me generate the mission again.

[2021-06-18 14:48] Mustang-25 opened #1257 "[Build 1971] Payload Display Shows Underscores Instead of Spaces (again)"
The Payload UI is back to showing spaces as underscores again. Picture below.

**To Reproduce**
Steps to reproduce the behavior:
1. generate new campaign
2. use default settings
3. automate purchasing
4. click on any flight and observe payload tab.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional information**

Save attached below.

![image](http

[2021-06-18 15:32] Mustang-25 opened #1258 "[Build 1971] Carrier and LHA Improperly Show Red Damage Bar"
The carrier and LHA will show the red dead bar even when they are newly spawned. Campaign save on turn one attached below (file name for another bug but this bug is also present).

**To Reproduce**
Steps to reproduce the behavior:
1. generate any campaign with a carrier
2. observe red bar even on the first turn

**Expected behavior**
Red bar should only be present when carrier is destroyed.

![ima

[2021-06-18 15:51] Hornet2041 commented on #1257
#993 duplicate thread :P

[2021-06-18 16:15] #987 closed, assigned to nobody

[2021-06-18 16:28] Mustang-25 commented on #1257
Ah ok. Didn't see that you had reopened it. I'll close this one out.

[2021-06-18 16:28] #1257 closed, assigned to nobody

[2021-06-18 17:30] Mustang-25 opened #1259 "[Build 1971] Blue AI Purchaser not Purchasing AEW&C Aircraft in Battle for UAE"
The Blue auto purchaser is not buying any AEW&C aircraft in this campaign. It seems to be specific to this campaign because I've tried generating other campaigns and all of them will auto-purchase some AEW&C aircraft.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate Battle for the UAE campaign
2. Default settings but include supercarrier
3. select auto-purchase ground and air units
4

[2021-06-18 17:40] Hornet2041 commented on #1245
the mission works fine if you dont check the mission editor first, it'll let you spawn as normal. I do get the mission editor bug, but I'm also unable to reproduce the .miz error when generating a mission from either Liberation v3.0 or the current dev builds.

could you also upload the .liberation campaign save file? thanks

[2021-06-18 17:43] Mustang-25 opened #1260 "[Build 1971] AI Purchaser/Planner will not Utilize CVN and LHA"
**Describe the bug**
The Ai planner will not purchase aircraft for the CVN and LHA even if it has the money to do so. Further, even if the player manually purchases units there, the AI tasker will not generate any flights from the CVN and LHA.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a campaign
2. set max starting budget and auto-purchase on
3. Note how no units are purchased

[2021-06-18 17:45] Hornet2041 commented on #1259
Its not spawning or buying any carrier aircraft because the carrier spawns dead/runway damaged in build 1971.

#1258

[2021-06-18 17:46] Hornet2041 commented on #1258
The carrier is correctly showing a red bar because it is incorrectly spawning dead? / runway damaged

![image](https://user-images.githubusercontent.com/55866858/122598983-9b2d0980-d03b-11eb-9089-bcb94ce77e95.png)

[2021-06-18 17:48] Hornet2041 commented on #1260
#1258

[2021-06-18 17:48] Hornet2041 commented on #1254
#1258

[2021-06-18 18:07] Hornet2041 commented on #1255
fixed as of https://github.com/dcs-liberation/dcs_liberation/commit/d8511fab1d596b7196a3a05302a0534ee5dc3b6f

[2021-06-18 18:07] #1255 closed, assigned to nobody

[2021-06-18 19:56] RndName commented on #1246
I am not sure if changing from `{super().group_name}` to `self.group_id` could break some other logic of the system. I tried it with a complety new generated campaign with this change and everything is workin as expected once i open the mission editor.
Maybe some one experienced with the code could confirm this change :)

[2021-06-18 20:02] Meyomyx commented on #1245
.liberation file is in the attached zip.

I did delete a flight with a "player" flight and then created another - just in case this is significant

[2021-06-18 22:43] DanAlbert commented on #1254
Duplicate of #1258

[2021-06-18 22:43] #1254 closed, assigned to nobody

[2021-06-18 22:43] DanAlbert commented on #1260
Duplicate of #1258

[2021-06-18 22:43] #1260 closed, assigned to nobody

[2021-06-18 22:44] DanAlbert commented on #1259
That'd be a reason to not buy an E-2 at the CV, but it I'd think it'd fall back to an E-3 at an airfield, so probably still a second problem here.

[2021-06-18 22:46] DanAlbert commented on #993
That _is_ the "name" from pydcs. @Khopa I don't think there's anything to be done here? Or did the exporter break?

[2021-06-18 22:49] Khopa commented on #993
That's weird, weapons stuff shouldn't have changed in pydcs. :/

[2021-06-18 22:52] DanAlbert commented on #993
Definitely did though: https://github.com/pydcs/dcs/commit/23567d060c6968f666cd982f7ffeb926c3f0ef7b#diff-65da24dc2ec61a9eb2c9b7a88cb3d76d9a5218698ea4f4c9206f6fc292b50990 (haven't looked for the cause)

[2021-06-18 22:53] DanAlbert commented on #993
Ah: https://github.com/pydcs/dcs/commit/23567d060c6968f666cd982f7ffeb926c3f0ef7b#diff-9dad93553ce80f476d086421867d7ce9cad26dc58bf76786f913bb3b4bf2bf52R205

[2021-06-18 23:03] Hornet2041 commented on #1245
only the .miz mission file is in the zip, not the actual campaign file that liberation generates when you save a campaign

[2021-06-18 23:24] Mustang-25 commented on #1259
Is the AWACS at the bottom of the purchasing priority list and the air base fills up before it can get to it on the list?

[2021-06-18 23:49] #1237 closed, assigned to DanAlbert

[2021-06-18 23:52] #1256 closed, assigned to DanAlbert

[2021-06-18 23:55] #1246 closed, assigned to RndName

[2021-06-19 00:00] DanAlbert commented on #324
@RndName btw if you're interested, we'd been holding off on adding the AEW&C aircraft to the list of skynet EWRs because they weren't available to red, but 3.0 fixed that. If you want even better coverage you could do something similar to your EWR fix for those. I think the key location is `AircraftConflictGenerator.generate_planned_flight()` (although the change should maybe be in `NameGenerator.

[2021-06-19 00:15] Hornet2041 commented on #1259
nah, i get awacs being bought fine on invasion of dubai campaign fine, but that might be because the carrier spawns in the hormuz strait instead of on the other side of the map.

[2021-06-19 00:34] SnappyComebacks opened #1263 "Operation Allied Sword has units spawn in water, on runway, and on rooftops"
**Describe the bug**
A number of different spawn locations has units spawn on runways, the ocean, and rooftops.  It's possible there are more, but I had culling enabled.

**To Reproduce**
1. Start Operation Allied Sword campaign with default factions.

**Expected behavior**
Units to not appear in water.

**Additional information**
[CampaignAndMission.zip](https://github.com/dcs-liberation/dcs_libe

[2021-06-19 00:38] DanAlbert commented on #1263
@sgtfuzzle17

[2021-06-19 00:41] Hornet2041 commented on #1259
from discord discussion:

seems like if a campaign has a carrier group and its not within range of any other friendly airbases, the purchaser wont buy it, and if a player buys it then it won't even task it

demonstration campaign files attached
[awacs.zip](https://github.com/dcs-liberation/dcs_liberation/files/6679734/awacs.zip)

on the before save, i sold some aircraft at Incirlik to make room fo

[2021-06-19 01:20] sgtfuzzle17 commented on #1263
I’ll look into revising the path markers once the new exclusion zones are in.

On 19 Jun 2021, at 10:38 am, Dan Albert ***@***.***> wrote:

﻿

@sgtfuzzle17<https://github.com/sgtfuzzle17>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/dcs-liberation/dcs_liberation/issues/1263#issuecomment-864331088>, or unsubscribe<https://g

[2021-06-19 02:01] DanAlbert commented on #1234
I assume this wasn't a new game? This looks like save compat issues.

[2021-06-19 02:03] DanAlbert commented on #1250
On second thought this takes a bit more effort than the trivial fix since we don't want to raise errors for custom factions in the user's liberation directory that were built for an older version. Might need a version number in those like we have for campaigns, or maybe just recheck any faction that gets selected in a strict mode?

[2021-06-19 02:09] DanAlbert commented on #1247
Looks like this happens if you save the game on a turn that has generated some convoys, close the game, then reopen and create a new convoy. The number used to name the convoys isn't a part of the save file. It's actually a problem with all of our name generation, but most of that only happens when you generate a mission so there's no way for the duplicates to appear since it resets whenever you g

[2021-06-19 02:26] #1247 closed, assigned to DanAlbert

[2021-06-19 02:31] DanAlbert commented on #1247
I don't really like the fix... but it's fixed.

[2021-06-19 02:39] #1220 closed, assigned to nobody

[2021-06-19 02:48] DanAlbert commented on #1232
This campaign apparently doesn't support inversion. You can briefly see this before closing the error window (at which point it clears the UI because the game failed to load):

![image](https://user-images.githubusercontent.com/315852/122628930-068fcf00-d06e-11eb-86ff-a08da224b612.png)

Over to @Khopa since he's the campaign owner.

[2021-06-19 03:15] #1207 closed, assigned to DanAlbert

[2021-06-19 03:54] Meyomyx commented on #1245
[UAE Assault Bug.zip](https://github.com/dcs-liberation/dcs_liberation/files/6679945/UAE.Assault.Bug.zip)

This should have been in the zip - apologies

[2021-06-19 04:45] VAGGOSST opened #1265 "Could not find QTWebEngineProcess.exe"
Hello.
Just downloaded version 3.0.0 (twice to make double sure) and i have the same problem both times.
Any suggestions?

![liberation ptoblem](https://user-images.githubusercontent.com/31065901/122631157-2bb62900-d0d2-11eb-982c-35957518c68c.jpg)

[2021-06-19 06:42] DanAlbert commented on #1265
If you install it outside your user directory (maybe to `C:\liberation`) does it work? No one else has reported it and it wouldn't be the first time software has issues with non-latin character sets :( (it's outside our code, so it'll that is a problem there's nothing we can do to fix it, so would be good to rule out if nothing else)

[2021-06-19 07:16] jeetsukumaran commented on #1234
Ah, you might be right. May have got my saves confused. Closing this now. Will reopen if it reoccurs.

[2021-06-19 07:16] #1234 closed, assigned to nobody

[2021-06-19 07:26] VAGGOSST commented on #1265
No i haven't. (will do and report back)

Version 2.5 is installed outside C: directory and works like a charm

[2021-06-19 07:34] VAGGOSST commented on #1265
Extracted to C: and works!

[2021-06-19 09:07] DanAlbert commented on #1265
Ugh. That's a really annoying bug that I'm pretty sure we have little control over. Glad you have a workaround, sorry something here doesn't seem to work with Greek.

[2021-06-19 09:15] VAGGOSST commented on #1265
I haven't used any Greek, but don't worry about it..
It works..so..fine by me!

[2021-06-19 09:23] DanAlbert commented on #1265
I'm referring to the path name in the title of the command window in your screenshot rather than anything you'd done in Liberation. It looks like the directory you originally installed Liberation to has Greek characters in the path, and I'm guessing that is tripping up something that only works with ASCII.

[2021-06-19 10:04] #1189 closed, assigned to nobody

[2021-06-19 15:31] dasrehzockt opened #1274 "Add cheat option to resurrect dead pilots"
since the DCS AI can lead to massive losses, even though you got a very strong advantage in every aspect, can be very frustrating. No matter what i do, after a round i ALWAYS have losses on my own side, that should not have happened. until 3.0 you could just cheat money to cover the losses, wait 1 round and bam. there you go as if nothing has ever happened. however, if a pilot is dead now, he is d

[2021-06-19 16:33] DanAlbert commented on #1274
You can change the replenishment rate. Are you losing more than 20 pilots per squadron per turn?

[2021-06-19 16:53] Mustang-25 opened #1275 "[Build 2011] CVN and LHA Inventory Won't Update Without Closing the Window"
**Describe the bug**

Purchasing/selling aircraft on the carriers will not update any elements on the window. This includes the total inventory, number of aircraft purchased, and the "+" and "-" buttons do not actuate at all when clicked.

Closing and re-opening the windows will show the updated totals. This behavior does not exist for land bases.

The log shows the following error:

![image](http

[2021-06-19 17:36] #1221 closed, assigned to nobody

[2021-06-19 18:06] DanAlbert commented on #1275
https://github.com/dcs-liberation/dcs_liberation/pull/1273

[2021-06-19 18:06] #1275 closed, assigned to nobody

[2021-06-19 18:12] RndName commented on #324
I will have a look into it what could be possible to implement the missing parts :)

[2021-06-19 18:28] #1259 closed, assigned to DanAlbert

[2021-06-19 18:37] dasrehzockt commented on #1274
no, but with limited funds, losing 2-6 pilots in total (which can be quite normal in most of my scenarios) per turn can have the same effect in a short amount of rounds. AI does not like to play with high digit sams and IADS even though the latest loadout changes seemed to help alot with DEAD!

so i tried to look at the documentation, and it mentions a replenishment rate of 1 pilot per squadron (e

[2021-06-19 18:48] DanAlbert commented on #1228
Submitted a probably fix. lmk if it's still an issue.

[2021-06-19 18:55] DanAlbert commented on #1245
Not happening on current builds. Assuming this was just a pydcs-out-of-date issue.

[2021-06-19 18:55] #1245 closed, assigned to nobody

[2021-06-19 19:02] RndName commented on #324
@DanAlbert
**Red** AEW&C are already added to skynet via the lua data `luaData["AWACs"][awacs.callsign]`. The operation.py iterates over `airsupportgen.air_support.awacs` and adds them. The AWAC Planes were added there because they have a flightplan of type AwacsFlightPlan. So every Plane which has one of these flightplans will be added to the AWACs array. They later will be added to the plugin di

[2021-06-19 19:49] jeetsukumaran opened #1279 "Support Aircraft Missions Should Default to Single Aircraft"
**Is your feature request related to a problem? Please describe.**

When scheduling a new mission, the dialog prepopulates with a default of 2 aircraft assigned to the mission.

**Describe the solution you'd like**

This default works for most missions. However, for support missions -- AWACS/AEW and refueling -- it would be nice if it defaulted to single.

**Additional context**

This is just a QO

[2021-06-19 20:54] docofmur opened #1280 "Around the Mountain campaign update request"
@DillieKoe
Please update this campaign when able or let us know in discord if you don't have the time, and we can find someone to help.
This campaign is missing required items to make it a playable campaign. It needs Factories and Ammo depots added in as a minimum to be playable. If you were trying to design something specific a more in-depth description would help too. Look at the wiki if you hav

[2021-06-19 21:06] TheREALGovernor opened #1281 "Blank White [interactive] Screen on Startup?"
**Describe the bug**
When I first started Liberation 3.0, I received the "setup" dialog and it showed up fine, but the Liberation "form" loaded completely white, like there was an issue loading the form itself.

I thought this was an issue with the install possibly opening an old save, or something "frozen", but after removing every last trace of Liberation and re-extracting a fresh-downloaded cop

[2021-06-19 22:14] DanAlbert commented on #1279
(assigning @SnappyComebacks since it sounded like they were looking at this earlier)

[2021-06-19 22:16] DanAlbert commented on #324
Option 2. Much easier and keeps the decision in Python. I hadn't realized that we had anything that was adding it per unit, good catch.

[2021-06-19 22:18] DanAlbert commented on #1274
![image](https://user-images.githubusercontent.com/315852/122656661-891d9a80-d111-11eb-9762-753856a1bb7f.png)

[2021-06-20 03:28] Tinchus2009 opened #1284 "liberation 3.0 missing wepons"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
 I have just installed version 3.0 and Im seeing some aircrafts like the su-25 have missing eapons on they lodouts. For example, there is no VIKHR missles on the su-25, or KH anti radar missi

[2021-06-20 12:34] dasrehzockt commented on #1274
i'm currently on version 3.1.0-1962 and do not have these options. the wiki mentions this as a 4.0 feature as well. am i missing sth here?

EDIT: ok i've jumped to a more current preview build to check if i'm just on version that hasn't got this feature yet. however, i could not test cuz of issue #1286

EDIT2: ok, #1286 is out of the way and yes, now i can use the options from the screenshot you p

[2021-06-20 13:23] dasrehzockt opened #1286 "Cannot create new Campaign in 4.0.0-2042 build"
steps to reproduce:

try to create a new campaign

when trying to press the 'finish' button, nothing happens. the gamecreation window does not disappear and no campaign is generated. tried multiple campaigns on caucasus and syria so far, none working. also could not load my old saved ones, just nothing when tryin to load.

[2021-06-20 13:31] Malakhit commented on #1286
Hi @dasrehzockt - do you have any logs from the terminal window for these instances of failed campaign creation? They'd help us to determine what's going wrong.

[2021-06-20 13:44] dasrehzockt commented on #1286
yeah, i found the problem, i just got the same idea right now (dunno why i haven't looked earlier, sry) and it seems to be my custom squadrons is copied over from the previous build.

KeyError: 'Could not find any aircraft named FA-18C_hornet'

that seems to be the problem, however i don't know how i should name it now, instead of what was working until this very moment.

here's more of the errors

[2021-06-20 14:00] Malakhit commented on #1286
The JF-17 should be called `JF-17 Thunder` - you can find the unit names under the either the campaign `json` files, or the `resources/units/aircraft/${aircraft}.yaml` files.

[2021-06-20 14:05] dasrehzockt commented on #1286
thx alot for you support! now everything works fine!

EDIT: however the files you referenced do NOT mention any of the new names. hornet ist still without the (Lot 20) and the JF-17 is not mentioning the thunder besides in its discription. so looking up there does not help unfortunately.

[2021-06-20 14:05] #1286 closed, assigned to nobody

[2021-06-20 14:35] Malakhit commented on #1184
Hi @jeetsukumaran - this should now be done.

[2021-06-20 14:38] #1184 closed, assigned to nobody

[2021-06-20 15:28] dasrehzockt opened #1287 "Some Squadron Liveries do not Work"
Some liveries i cannot get to work via Liberation. they work just fine when selecting via either mission editor or by rearming. however, while most ones seem to work just fine, i cannot figure out what the problem might be with those not showing up. they spawn with standard livery (first in the list).
i spent quite a lot of time trying to fix this e.g. by renaming inside the description.lua of eac

[2021-06-20 15:55] MaHuJa commented on #1284
I think the weapons mentioned are available on Su-25T only. The plain Su-25 is supposedly all dumb weapons.

[2021-06-20 16:19] jake-lewis commented on #722
Prices rebalanced https://github.com/dcs-liberation/dcs_liberation/blob/2c859bf280ec9b8d9f84e0cc4eb8f7a203254160/resources/units/aircraft/AH-1W.yaml

[2021-06-20 16:19] #722 closed, assigned to nobody

[2021-06-20 17:50] jake-lewis opened #1288 "Economic intel should float at top when there's no scroll"
When there isn't enough info to require a scrollbar in the economic intel, the intel is at the bottom of the dialog

Steps to reproduce the behavior:
1. Generate new inverted golan heights
2. Click on intel page
3. No scrollbar, intel floats at bottom

Should float at top of layout

![image](https://user-images.githubusercontent.com/22498360/122683589-1fc48700-d1f8-11eb-8aad-2c949d7d01cc.png)

**V

[2021-06-20 18:51] docofmur commented on #1228
I just tested this with build #2056 and the same issue is happening, If you don't have a CAP plane in the faction the AI doesn't buy aircraft correctly. Basically it seems to be reserving parking slots on airbases for CAP planes and not allowing anymore to be bought. Thats all I can think of for why its happening.

[2021-06-20 19:05] DanAlbert commented on #1228
Can you give an example of a faction with this problem?

[2021-06-20 19:08] DanAlbert commented on #1287
The easy answer would be that you used the wrong ID in the squadron file. There's not enough data here for us to investigate anything. If my guess is wrong provide the squadron file and we'll reopen.

[2021-06-20 19:08] #1287 closed, assigned to nobody

[2021-06-20 19:10] docofmur commented on #1228
yeah I had to make a custom one to test this, the premise I am working on is a helo style campaign with only AI helo's and cas. In this case I just modified 1970  russian air just as a test bed. Had to upload as a txt file since this support JSON.

Bascially any faction with the CAP planes (planes that have the BARCAP task) removed causes this problem. You can run a few turns and see that they onl

[2021-06-20 19:13] DanAlbert commented on #1286
(changes in 4.x are mentioned in the docs https://github.com/dcs-liberation/dcs_liberation/wiki/Custom-Factions)

[2021-06-20 20:32] #1279 closed, assigned to SnappyComebacks

[2021-06-20 20:45] #1251 closed, assigned to RndName

[2021-06-20 20:46] #1225 closed, assigned to nobody

[2021-06-20 20:51] DanAlbert commented on #1249
(not sure if you saw in the channel but should be good to go now)

[2021-06-20 21:10] DanAlbert commented on #1228
Works for me

![image](https://user-images.githubusercontent.com/315852/122688455-21c71f80-d1d1-11eb-98c6-a85b4962e002.png)

[helo only.liberation.txt](https://github.com/dcs-liberation/dcs_liberation/files/6683081/helo.only.liberation.txt)
[russia_1970_helo_only.json.txt](https://github.com/dcs-liberation/dcs_liberation/files/6683082/russia_1970_helo_only.json.txt)

[2021-06-20 21:10] #1228 closed, assigned to DanAlbert

[2021-06-20 21:29] SnappyComebacks opened #1292 "Image for Kuznetzov should be of the Kuznetsov."
**Is your feature request related to a problem? Please describe.**
When you open the airfield window for the Admiral Kuznetsov, the image shows a US Carrier.

**Describe the solution you'd like**
When you open the airfield window for the Admiral Kuznetsov, the image should be of the Kuznetsov.

**Additional context**
![image](https://user-images.githubusercontent.com/74509817/122688880-234a1500-d1

[2021-06-20 21:47] KBin87 opened #1293 "Unable to write DCS Liberation state to [nil]"
Hello all,

I am having trouble playing the latest version of DCS Liberation. When ever i start a mission I receive the following:
Unable to write DCS Liberation state to [nil]
then i goes on to tell me how to fix the issue but i am at a lost for what it is telling me. I admit, I am a novice when it comes to this. Can some on please help me out with a roadmap to make the requested repairs.

Thank

[2021-06-20 21:52] docofmur commented on #1228
ummm ok I guess AI means the automated buying for player faction. I meant enemy AI, the enemy faction, the enemy won't buy aircraft....which I just tested with latest build, and it still doesn't work

[2021-06-20 22:05] DanAlbert commented on #993
https://github.com/pydcs/dcs/pull/157

[2021-06-20 22:09] DanAlbert commented on #1228
![image](https://user-images.githubusercontent.com/315852/122689693-81292d80-d1d9-11eb-8334-117c405cb058.png)

![image](https://user-images.githubusercontent.com/315852/122689704-930ad080-d1d9-11eb-8d2d-0e8e656f01e7.png)

[2021-06-20 22:11] docofmur commented on #1228
alright idk guess its me i'll figure it out

[2021-06-21 02:44] H000lIGUN opened #1295 "Mi-24P Hind"
Can't add the Mi-24P Hind. It feels like Liberation doesn't know about this module.

Thnks in advance

[2021-06-21 03:53] DanAlbert commented on #1295
https://discord.com/channels/595702951800995872/769678782843453490/855333018134118411

[2021-06-21 03:53] #1295 closed, assigned to nobody

[2021-06-21 05:12] RndName commented on #1293
#730

[2021-06-21 08:07] Khopa commented on #993
Ugh, sorry, I didn't correctly reverted my changes on pydcs export after messing with weapons id.

[2021-06-21 08:23] Khopa commented on #1263
Note : Preset units do not use the exclusions zones. The generator assume that the chosen location can contains any SAM sites.

For long range air defenses, you should have a 1000 ft radius of open ground around the chosen location (Max possible size for such sites (e.g : Patriot, S-300)
For short range air defense : a ~800 ft radius of open ground
...

We failed to document that in the custom cam

[2021-06-21 08:41] DanAlbert commented on #993
No worries. Easy fix.

[2021-06-21 11:03] RndName opened #1299 "[Build #2087] Exception when clicking on AA ground object after reload"
**Describe the bug**
Exception when i click on a AA ground object after i reopenend liberation and loaded my fresh created campaign
`File "D:\workspace\dcs_liberation\qt_ui\windows\groundobject\QGroundObjectMenu.py", line 232, in update_total_value
    unit_type = next(GroundUnitType.for_dcs_type(vehicles.vehicle_map[u.type]))
StopIteration`

Seems to be happening only with AA Groups

This only oc

[2021-06-21 13:10] RndName commented on #324
Additional tasks for this Issue to be feature complete:

- [x] AWACS flight added as EWR correctly
- [x] Handle Point Defence SAMs correctly so that they wont be shutdown if a harm or Air threat is detected.
- [x] Add Long Range SAM systems as EWR as recommended
- [x] Ensure that all SAM Generators set the SearchRadar as first unit (Requirement by Skynet)
- ~~Ensure that only same SAM types are pa

[2021-06-21 15:16] InDiCa83 opened #1302 "No flight comms if player is selected on any slot other than top 3.0"
**Description**
When editing a flight to add a player, if a player is added to any slot other than the top position you will have no comms with your flight, the game acts as though you are lead but you are not, the flight goes about its way without you.

**To Reproduce**
1. Edit any flight
2. Add player to any slot other than top "lead"
3. Start flight
4. Give flight commands but receive no respon

[2021-06-21 15:23] Starfire13 opened #1303 "Update for Operation Peace Spring"
Fixed one of the custom strike targets that was no longer functional because Ugra Media had removed some docked ships from the map.
[operation_peace_spring.zip](https://github.com/dcs-liberation/dcs_liberation/files/6687748/operation_peace_spring.zip)

[2021-06-21 15:43] Hornet2041 opened #1305 "Starting new campaign, Liberation appends name of last saved campaign to new one"
Downloaded fresh build of 2097, v5, started a new Syria Full campaign..... it appears Liberation has automatically named it from the last campaign I saved:

![image](https://user-images.githubusercontent.com/55866858/122789982-dc185e80-d285-11eb-86ad-b5b6ce82fa25.png)

Reproduce:
1. start new campaign
2. observe that the appended name appears to be the last one you saved

[2021-06-21 16:54] DillieKoe commented on #1280
[around_the_mountain.zip](https://github.com/dcs-liberation/dcs_liberation/files/6688298/around_the_mountain.zip)
Tried to fix it tell me if it still misses something

[2021-06-21 17:13] nosv1 opened #1307 "Waypoint flexibility in 'Edit Waypoints' window and Secondary Targets for AI"
### Ability to rearrange waypoint order
Something like dragging waypoints before or after each other in the waypoint editor. It's often I'll organize a DEAD flight for multiple targets, or something similar, but to edit the order of the waypoints I'd have to recreate the flight and re-add the waypoints.

#### Add non-target waypoints
If this is possible, and while we're editing waypoint stuff, may

[2021-06-21 18:39] DanAlbert commented on #324
I think the last point is probably very difficult. Making anything moose work with the rest of our systems didn't look feasible since it expects to be able to take complete control. No one has looked closely afaik though.

[2021-06-21 18:41] DanAlbert commented on #1302
Isn't this just DCS behavior?

[2021-06-21 18:43] MaHuJa opened #1308 "Syria full map - Map-baked factories' destruction not tracked (changed object IDs?)"
**Describe the bug**

Upon successfully destroying factories, they are not registered as destroyed in the liberation app.
This does not apply to liberation-placed objectives (oil rigs etc) which are still destroyed just fine.

Probable cause is the updated syria map, adding cyprus, changing the IDs of all map baked objects.

Fixing this will likely break dcs stable until it is updated, comparable

[2021-06-21 18:50] Kondor77 commented on #1110
I'm getting the same error as above, with Liberation 3.0 Release version. I've attached my save file as well as the same error as above. Some context - I just captured an enemy base with an intact factory. My original base seems to be trying to create a convoy of troops to send to the front line, however the newly captured base with factory is handling the front lines now. So my guess is that it s

[2021-06-21 19:03] DanAlbert commented on #1308
IMO if map object IDs change between DCS releases this feature is not viable. Every campaign breaking whenever DCS updates is unacceptable.

[2021-06-21 19:38] MaHuJa opened #1309 "Carrier planes should start at +1s"
This is a workaround for a DCS problem.

**Is your feature request related to a problem? Please describe.**

When starting many planes from the carrier at the start of the mission (many ASAP missions), a traffic jam is almost inevitable, meaning perhaps none of the planes take off. The jam happens because the first planes to taxi want to go through the 'sixpack', where other planes are spawned, an

[2021-06-21 19:38] mikef-phy opened #1310 "Liberation 3.0 Aircraft purchase issues"
I can buy any aircraft i want at the start of the campaign but after that it refunds and refuses to buy any more.  So i am stuck with the starting planes for the whole campaign.

[dcs campaign.zip](https://github.com/dcs-liberation/dcs_liberation/files/6689062/dcs.campaign.zip)

2021-06-21 15:25:23,199 :: INFO :: On Game generated
2021-06-21 15:25:23,246 :: DEBUG :: Map reset took 0:00:00.034431
2

[2021-06-21 20:24] HILOK commented on #1307
yes, changing FL/angels in increments of 1000ft using up/down arrows would be a great addition

[2021-06-21 20:55] MaHuJa commented on #1308
Map updates that break IDs don't seem common in the first place.  I think maybe two in the year since Syria was released? Not that I've tracked it closely.

Even if that is unacceptable, the feature itself is plenty viable on maps that don't see updates - when was NTTR last changed?

Then it's just a matter for campaign creators/maintainers to not use the feature on not-yet-stable maps, or deal wi

[2021-06-21 21:25] bgreman opened #1311 "Custom campaigns should be able to be loaded from the Liberation directory under Saved Games \ DCS"
**Is your feature request related to a problem? Please describe.**
Currently users must put their custom campaign files into the Liberation installation directory.  This can present issues when upgrading.

**Describe the solution you'd like**
In a manner similar to how loadouts, squadrons, and factions can be loaded from DCS Saved Games \ Liberation directory, custom campaigns should be able to be

[2021-06-21 21:41] bgreman commented on #1310
Essentially, if the purchase planner can't find a valid CP to produce ground units (i.e., a CP with a factory), it will refund all units purchased at that CP.  It should only refund _ground units_ purchased at the CP, but it refunds aircraft as well.

While there is a real bug here (purchased aircraft are refunded in cases where we should only be refunding ground units), the root cause of this par

[2021-06-21 22:17] mikef-phy commented on #1310
will do. thx.

[2021-06-22 00:19] #1293 closed, assigned to nobody

[2021-06-22 00:20] KBin87 commented on #1293
thank you all for the help. Issues resolved.

[2021-06-22 05:40] Starfire13 opened #1312 "Buying new SAM after base capture does not update icon"
**Describe the bug**
Buying a new SAM at a base that has just been captured does not update the icon. It still shows as dead. Saving and reloading the save file is a workaround.

[2021-06-22 05:43] Starfire13 opened #1313 "Error in JSON Decoder preventing recognition of mission end"
**Describe the bug**
This error appeared in the log window after ending a mission. Liberation did not detect mission end. State.json attached. Campaign is Exercise Vegas Nerve.

2021-06-22 15:29:17,842 :: INFO :: On Debriefing update
2021-06-22 15:29:17,842 :: DEBUG :: <game.debriefing.Debriefing object at 0x0000019C0945AD60>
Exception in thread Thread-308:
Traceback (most recent call last):
  Fil

[2021-06-22 06:05] Starfire13 commented on #1313
Manual selection of the state.json file did work, by the way.

I don't know if this is in any way related to my using Combined Arms to get some F-15Es to bomb a custom-defined strike target which I hadn't tasked a flight for (they had bombs left over and I figured, why not). The F-15Es dropped their bombs and hit the targets, but target destruction was not carried over to Liberation.

[2021-06-22 06:16] DanAlbert commented on #1313
I think we've seen cases where the state file starts being read before it's finished being written, which would explain why it caught an invalid parse that was fine later. If the manual submit of the state.json you submitted here is fine then I'm not sure what to investigate.

[2021-06-22 07:11] Starfire13 commented on #1313
Hmm. Possibly. Any way we could delay the read of the file till it is no longer being written to? Or perhaps, to try again in, say, 3 seconds, if it doesn't work the first time?

[2021-06-22 09:46] Starfire13 opened #1314 "Control Point Window won't open for Tiyas on Syria"
**Describe the bug**
Left-clicking on Tiyas won't open the regular Control Point window. This is the error in the log window. I have included the .liberation file.

Traceback (most recent call last):
  File "widgets\map\mapmodel.py", line 171, in showInfoDialog
  File "windows\basemenu\QBaseMenu2.py", line 87, in __init__
  File "windows\basemenu\QBaseMenuTabs.py", line 19, in __init__
  File "win

[2021-06-22 15:49] docofmur commented on #1280
I'll check it out and let you know

[2021-06-22 18:50] docofmur commented on #1280
very nice update, i'll add it in today, It was odd playing from the russian side for me but really has an interesting twist too it with so few SAM's

[2021-06-22 19:17] DanAlbert commented on #1280
I don't see this merged anywhere. Why was it closed?

[2021-06-22 19:18] docofmur commented on #1280
working it now putting a bunch of them in sorry i'll leave them open from now on

[2021-06-22 19:35] DanAlbert commented on #1280
Gotcha. If bugs are closed we can't see that the release is missing them.

[2021-06-22 19:42] DanAlbert commented on #1309
I'm missing something. How does a one second delay fix anything?

[2021-06-22 20:57] docofmur commented on #1280
so should I close these once I make a PR with the files fixing them? @DanAlbert

[2021-06-22 22:14] DanAlbert commented on #1280
No, I will close them once I've made sure the fixes are in all the appropriate branches.

I took a quick peek and I don't see a single ammo depot anywhere on the map. Did you intend for all the front lines to be limited to  15 units? @DillieKoe

[2021-06-22 22:18] #1303 closed, assigned to DanAlbert

[2021-06-22 22:56] Fededale commented on #975
Some here with A10-C 2.

[2021-06-23 00:55] KeithGadgetUK opened #1317 "Can't save mission results after capturing Sukhumi Babushara airfield"
Liberation 3.0

No matter how many different ways I try, when playing the Caucuses map I cannot accept the mission totals if I capture the Red airfield Sukhumi Babushara.

Every time I try, the log shows the same error message "ValueError: Sukhumi-Babushara is not in the transit network."
Liberation sticks stating it is waiting for the mission to complete and will not allow me to progress.  I just

[2021-06-23 01:17] KeithGadgetUK commented on #103
I get the orange glow on all vehicles on the move, no matter which side.  If it's moving, it's glowing.

[2021-06-23 03:52] RoleplayingPleb opened #1318 "Update for Northern Russia"
* Campaign name: Northern Russia
* Files:  [northern_russia.zip](https://github.com/dcs-liberation/dcs_liberation/files/6698766/northern_russia.zip)
* Update summary (optional): Updated to 6.1, changed default factions for an easier campaign

[2021-06-23 04:18] RoleplayingPleb opened #1319 "Update for Syria Full Map"
* Campaign name: Syria Full Map
* Files:  [syria_full_map.zip](https://github.com/dcs-liberation/dcs_liberation/files/6698857/syria_full_map.zip)

* Update summary (optional): deleted and remade static target for syria ID changes. Added Cyprus base and other small quality of life / bug fixes

[2021-06-23 04:23] docofmur commented on #1280
last enemy base has an ammo depot, I assumed as a boss fight. Its different but actually plays kinda nice having such a small frontline, more air based

[2021-06-23 04:31] sgtfuzzle17 commented on #1249
Update files for Allied Sword campaign/factions for 4.0 release:
[resources.zip](https://github.com/dcs-liberation/dcs_liberation/files/6698890/resources.zip)
**Changelog:**
Moved frontlines to better work with updated exclusion zones and to avoid urban areas, [see other issue](https://github.com/dcs-liberation/dcs_liberation/issues/1263)
Updated campaign .json file for 4.0 version number (6.1)
Up

[2021-06-23 04:35] sgtfuzzle17 opened #1320 "Submission: Operation Blackball (with faction)"
* Campaign name: Operation Blackball
* Files:
[resources.zip](https://github.com/dcs-liberation/dcs_liberation/files/6698902/resources.zip)

* Update summary (optional): A naval-start campaign designed to showcase the new Cyprus addition to the Syria terrain. Included is a new US Navy 2005 faction to act as a modernization of the existing US Navy 1985 faction; recommended faction for BLUFOR in thi

[2021-06-23 04:49] clutchtomcat commented on #1309
The delay prevents any aircraft from spawning on the Sixpac, thus minimizing or preventing traffic jams with the AI, which have to taxi through the Sixpac to launch.

[2021-06-23 05:55] #1314 closed, assigned to nobody

[2021-06-23 05:58] DanAlbert commented on #1317
Can't do anything without the info the bug template asks for. Provide that and we'll reopen.

[2021-06-23 06:04] #1308 closed, assigned to nobody

[2021-06-23 06:14] #1249 closed, assigned to sgtfuzzle17

[2021-06-23 06:17] #1318 closed, assigned to nobody

[2021-06-23 06:19] DanAlbert commented on #1319
Thanks for mentioning that 👍 I updated the campaign version to account for this (after you'd uploaded these) and updated your JSON file to account for that.

[2021-06-23 06:20] #1319 closed, assigned to nobody

[2021-06-23 06:22] #1320 closed, assigned to nobody

[2021-06-23 06:27] DanAlbert commented on #1280
Ah, I'd overlooked that. Definitely fine to not include them, I just wanted to make sure it was intentional :)

[2021-06-23 06:29] #1280 closed, assigned to docofmur

[2021-06-23 06:42] #1299 closed, assigned to nobody

[2021-06-23 06:43] DanAlbert commented on #1299
Good guess! The API for fetching unit types by name was calling the init, the one for fetching them by unit types was not.

[2021-06-23 07:16] DanAlbert opened #1321 "runway start doesn't work in multiplayer"
DCS bug and nothing we can do. Just filing so it shows up when people search.

https://forums.eagle.ru/topic/275227-runway-start-option-does-not-work-in-multiplayer/

Closest thing to a workaround is using air starts instead.

[2021-06-23 07:16] #1321 closed, assigned to nobody

[2021-06-23 11:02] sevenfifty777 opened #1322 "Syria - Humble Helper bugs"
Describe the bug:
the bugs happen in : Syria - Humble Helper
1st bug
the bug happen after launching mission in mission editor when script are loaded
ERROR   SCRIPTING: Mission script error: [string "..."]:26: '}' expected near 'lah'
seems error is due to name of the frontline in syria map : Rosh Pina/Tha'lah that contain character '
        -- list the JTACs generated by Liberation
        dcsLibe

[2021-06-23 14:10] Starfire13 opened #1323 "Update for Operation Peace Spring and Vectron's Claw"
Custom triggers on both campaigns have been redone.
[campaigns.zip](https://github.com/dcs-liberation/dcs_liberation/files/6702443/campaigns.zip)

[2021-06-23 17:39] KeithGadgetUK commented on #1317
Sorry, I wasn't aware of a template.

**Describe the bug**
No matter how many different ways I try, when playing the Caucuses map I cannot accept the mission totals if I capture the Red airfield Sukhumi Babushara.

Every time I try, the log shows the same error message "ValueError: Sukhumi-Babushara is not in the transit network."
Liberation sticks stating it is waiting for the mission to complete

[2021-06-23 17:40] KeithGadgetUK commented on #1317
Template added, please re-open

[2021-06-23 19:21] DanAlbert commented on #1317
How did you file a bug without going through a template? The New Issue button takes you straight to template selection. Do we have a bad URL somewhere pointing at a templateless new bug? Would love to fix that.

[2021-06-23 19:22] DanAlbert commented on #1322
Please search first: https://github.com/dcs-liberation/dcs_liberation/issues?q=is%3Aissue+lah+is%3Aclosed

[2021-06-23 19:22] #1322 closed, assigned to nobody

[2021-06-23 19:24] #1305 closed, assigned to nobody

[2021-06-23 19:59] #1323 closed, assigned to DanAlbert

[2021-06-23 21:00] #1232 closed, assigned to Khopa

[2021-06-23 21:09] #1310 closed, assigned to bgreman

[2021-06-23 22:45] KeithGadgetUK commented on #1317
I pressed the new issue button and it brought me to a blank input box.
I just tried it again and I received a form with button options, but that's not what I saw the first time. I presume this is what I should have seen the first time.

[2021-06-23 23:42] bgreman opened #1328 "Factor out a UnitCollection class"
**Is your feature request related to a problem? Please describe.**
There are many cases where we use a dictionary to represent a list of unit types and counts.  In several places, we check whether these dictionaries are empty or not, but in many cases, what we have instead is a dictionary with keys that have values of 0.  These do not evaluate as empty or false.

**Describe the solution you'd like

[2021-06-23 23:46] bgreman commented on #1328
class name open to suggestions

[2021-06-23 23:53] bgreman commented on #1110
This should hopefully have been fixed by #1327

[2021-06-23 23:53] #1110 closed, assigned to bgreman

[2021-06-24 01:49] DanAlbert commented on #1317
Huh, that's bizarre. Anyway, thanks for the info. We'll have a look.

[2021-06-24 02:08] Hornet2041 opened #1329 "Player loses frontline progression passing turn 0 to turn 1"
Build 2170, fresh install.

Reproduce:
1. start new campaign
2. setup what you want
3. watch a frontline
4. pass turn 0 to turn 1
5. see that player loses progress

[2021-06-24 03:08] #1312 closed, assigned to nobody

[2021-06-24 03:18] #1313 closed, assigned to nobody

[2021-06-24 03:19] DanAlbert commented on #1313
Added the retry behavior. No idea if that was actually the problem or not but seems plausible.

[2021-06-24 04:56] jeetsukumaran opened #1331 "Label "Pass Turn" Button "Start"/"Launch"/"Begin" for Turn 0"
**Is your feature request related to a problem? Please describe.**

It can be confusing for new players to have to click "Pass Turn" to start things going after setting up in Turn 0.

**Describe the solution you'd like**

For the first turn, the button would be labeled something that makes it clear that players are not actually skipping any gameplay, but in a sense the game dynamics only begins af

[2021-06-24 06:04] #1329 closed, assigned to bgreman

[2021-06-24 08:49] sgtfuzzle17 opened #1334 "Submission: Persian Gulf "Scenic Route" campaign"
* Campaign name: Persian Gulf - Scenic Route
* Files:
[scenic_route.zip](https://github.com/dcs-liberation/dcs_liberation/files/6707755/scenic_route.zip)

* Update summary (optional): A lightweight naval-based campaign for Persian Gulf, set on the northern side of the map due to a lack of available content for that area. Fully set up for 4.0 release including version number and relevant frontline/

[2021-06-24 14:12] paju1986 opened #1335 "Linux build"
Hello.

Would it be possible to have a Linux build of this program? I mainly run DCS on Linux with Proton, DCS itself runs perfectly after some thinkering but i tried to run the liberation program on proton and it runs but many things doesnt work properly.
Since i saw on the source code that its done mainly on python and Qt, maybe it would be possible to have a native linux build of it but i dont

[2021-06-24 14:42] Golfwingzero opened #1336 "Kneeboard : additional information (Tacan, preset channels)"
|Disregard]

[2021-06-24 14:48] Golfwingzero commented on #1112
Additionally, for manually created packages, after creating the main flight waypoints, the subsequent escorts could have their waypoints (rejoin, etc) automatically match those of the main flight.

[2021-06-24 14:59] #1331 closed, assigned to bgreman

[2021-06-24 15:35] docofmur opened #1337 "Frontline interacts with exclusion zone wrong"
When a frontline is generated in the code if its first position is in an exclusion zone it only ever looks right in 100m increments until max distance for an open spot instead of looking in both directions.
![Exclusionzoneson](https://user-images.githubusercontent.com/84192044/123291382-e70e0180-d4c6-11eb-9e6e-9f5bc48d0d0b.PNG)

To reproduce this just find or create an instance like the one in the

[2021-06-24 17:18] #1336 closed, assigned to nobody

[2021-06-24 17:24] #1337 closed, assigned to docofmur

[2021-06-24 18:10] KeithGadgetUK commented on #1309
I've experienced this when AV8's take off from a carrier, they just sit in the middle of the flight deck stopping anything else from taking off or getting to the catapults.

The way I get around this is to edit the carrier AV8 flights so they spawn in the air, not on the deck.  This stops there being a jam on the deck.

[2021-06-24 18:27] KeithGadgetUK commented on #997
I am wondering how Liberation deals with the scenery map objects that are attacked and destroyed?  I agree with the bridge attack idea, as in real life bridges and transport infrastructures are a major target.  But the ME doesn't have bridges to add and from what I see, Liberation ground targets are added from the Static objects in the ME so they can have a side.  Is this how runways are recorded

[2021-06-24 18:50] KeithGadgetUK opened #1339 "Supply trucks with Artillery / MLRS groups, or supply dump at a fixed point"
**Is your feature request related to a problem? Please describe.**
It would be great if the artillery/MLRS units could have supply trucks within their group, to allow them to re-arm.  Otherwise once they fire their stored ammo, they are just pointless on the maps.

**Describe the solution you'd like**
Allow purchases of supply trucks, or add a truck is the artillery/MLRS number of units equals two

[2021-06-24 19:58] bgreman opened #1340 "Create BAI packages by right-clicking convoy route"
**Is your feature request related to a problem? Please describe.**
Currently, to plan an attack on a convoy, one has left-click the departing CP, selected the departing convoys tab, click the convoy of interest, then click attack convoy.  This is at odds with most of the other ways of attacking a map object, where you can just right click on the desired target to begin planning a package.

**Descr

[2021-06-24 20:13] Mustang-25 opened #1341 "Update for Op Mole Cricket 2010 & First Lebanon War"
* Campaign name: Op Mole Cricket 2010 & First Lebanon War
* Files: N/A
* Update summary (optional):
Both of my campaigns can be incremented to the latest Campaign version without changes as they do not have any map objects as objectives nor do the campaigns use Cyprus.

[2021-06-24 21:03] Jiphou opened #1342 "Always get an error window when starting a flight from ME with Syrian theater"
**Describe the bug**
Whatever campaign created on Syrian theater generate an error windows (see file) when launching the player flight in DCS ME nearly at the end of first launching window. Curiously it does not prevent taking off and flying the bird but with unpredictable events like loss of engine power
This behavior is not existing with Persian gulf map that run fine

**To Reproduce**
Steps to

[2021-06-24 21:12] Jiphou commented on #1342
Addition to my bug report. Forgot to say I have made a DCS repair with no success, fact that all is ok on persian gulf map campaign is curious soit  seems linked with syrian map only (or last update of the map)
[LIBERATION  FILES.zip](https://github.com/dcs-liberation/dcs_liberation/files/6712155/LIBERATION.FILES.zip)

[2021-06-24 21:12] #1342 closed, assigned to nobody

[2021-06-25 00:55] DanAlbert opened #1344 "Investigate error from post commit review"
https://github.com/dcs-liberation/dcs_liberation/commit/6f264ff5deecdae74c995e1a60d8ea84d15a7834#commitcomment-52619516

[2021-06-25 01:14] #993 closed, assigned to DanAlbert, Khopa

[2021-06-25 01:18] #1341 closed, assigned to DanAlbert

[2021-06-25 01:59] SnappyComebacks opened #1345 "Culling Exculsion Zones only surround friendlies."
**Describe the bug**
Culling exclusion zone's are not created on package targets.

**To Reproduce**
Steps to reproduce the behavior:
1. Create `Around the Mountain Part 1` Campaign.
2. Buy F18s on Carrier
3. Pass Turn
4. Enable Culling Zones and Squadron Limits
5. Create Strike Package for Ammo Depot at Guadata.
6. Observe missing target culling zone.

**Expected behavior**
Culling Zone at target

[2021-06-25 02:00] SnappyComebacks commented on #1345
Hoping this is repeatable by someone else, I have had off and on culling zone issues over time.

[2021-06-25 03:07] clutchtomcat commented on #1309
Harriers never operate from CV/CVNs except on a few rare exercises. Those should always be placed on LHAs/

[2021-06-25 08:42] Hornet2041 opened #1346 "Anti-ship mission on Kuznetsov reverts to a closer enemy ship group"
Build 2201. Tried to create an anti-ship mission on the Kuznetsov but the target waypoint snaps instead to a closer ship group with 1 ship left alive.

[antiship on kuz reverts to nearer ship group.zip](https://github.com/dcs-liberation/dcs_liberation/files/6714808/antiship.on.kuz.reverts.to.nearer.ship.group.zip)

Just throwing out a guess here that Liberation thinks the enemy carrier groups is a

[2021-06-25 08:44] Hornet2041 commented on #1346
![image](https://user-images.githubusercontent.com/55866858/123397068-057c0780-d570-11eb-9b5a-84c6ab6cd0e1.png)

[2021-06-25 10:30] Jiphou opened #1348 "Bug with campaign Humble Helper on Syrian map"
**Describe the bug**
Launching a campaign with Humble helper on syrian theater generate an error in DCS when launching the flight whatever the selected player aircraft
All other maps and all other campaign are OK

**To Reproduce**
Steps to reproduce the behavior:
1. Create a campaign with Humble helper
2. Select a player role
[TEST_SYRIA.zip](https://github.com/dcs-liberation/dcs_liberation/files/

[2021-06-25 10:37] sgtfuzzle17 opened #1349 "Add "logistics repair" flights for transport helicopters as a way to repair damaged installations/IADS sites"
**Is your feature request related to a problem? Please describe.**
Currently, logistics flying is fairly underutilized in Liberation. Obviously unit transport is a harder problem to tackle due to issues with persistence and the general state of infantry being useless in DCS, but there is a way around this. There is also a general lack of involvement when it comes to repairing existing installation

[2021-06-25 10:40] DanAlbert commented on #1348
Please search before filing. This has been filed and closed a half dozen times now.

[2021-06-25 10:40] #1348 closed, assigned to nobody

[2021-06-25 10:40] Jiphou opened #1350 "bad SAM placement in Campaign Humble helper"
**Describe the bug**
Once campaign launched on syrian theater observation of ennemy SAMs position shows curious things

**To Reproduce**
Steps to reproduce the behavior:
1. Create  campaign on syrian theater (humble helper probably)
2. select a player aircraft
3. take off
4. go to DCS ME
5. open liberation next turn
6. fly
7. look at ground assets cyclingly
8. observe the joined photo

**Expected

[2021-06-25 10:45] DanAlbert commented on #1350
How's this an AI bug? I'm missing something.

[2021-06-25 11:19] Jiphou commented on #1350
My fault sorry about that
 it is a bad wording
 it is NOT an AI bug but a campaign red side assets generation and location bug...

[2021-06-25 12:17] entropyembrace opened #1352 "AI Su-33 Fails to take off from Kuznetsov"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
AI controlled Su-33s are unable to take off from Admiral Kuznetsov. They are set to "take off from ramp" and are spawned partially clipping into the raised blast shields.

**To Reproduce**
St

[2021-06-25 16:18] bgreman commented on #272
https://wiki.hoggitworld.com/view/DCS_func_isTargetDetected and/or https://wiki.hoggitworld.com/view/DCS_func_getDetectedTargets

https://flightcontrol-master.github.io/MOOSE_DOCS/Documentation/Functional.Detection.html

may be helpful here.

[2021-06-25 19:10] Klap0 opened #1354 "new mission won´t load"
**Describe the bug**
when i tried to load second mission and click on take off it did not overwrite a previous mission
when i took look to log it write keyerror 29

**Additional information**
i was trying just some AI planning so i was cheating money and I wanted to try how nighthawks will be usefull against radars

**Version information**
 - DCS Liberation 3.0.0 campaingn battle of UAE
 - start d

[2021-06-25 20:52] RealChirs opened #1355 "[Build #2202] Liberation fails to generate campaign using Operation Blackball preset using some player factions"
When attempting to generate a campaign using the Operation Blackball preset, using some player faction presets (such as Syria 2011 or Syria 2012'ish) with the default settings leads to liberation throwing an incompatible version error:

Interestingly enough, the same error does **not appear** when using Syria 2011 or Syria 2012'ish as the enemy faction.

Steps to reproduce the behavior:
1. Attempt

[2021-06-25 21:04] Hornet2041 commented on #1346
with the nearby enemy ship group destroyed, an anti-ship mission on the carrier generates no waypoints

![image](https://user-images.githubusercontent.com/55866858/123485105-760a3f00-d5d7-11eb-91cf-b31ae870e5a5.png)

Traceback (most recent call last):
  File "windows\mission\QPackageDialog.py", line 186, in add_flight
  File "gen\flights\flightplan.py", line 899, in populate_flight_plan
  File "ge

[2021-06-25 23:02] DanAlbert commented on #1350
@Sir-Headiii

[2021-06-25 23:07] DanAlbert commented on #1355
It sounds like a similar problem to https://github.com/dcs-liberation/dcs_liberation/issues/1232, but with a different cause? Sounds like for some reason you've already won, but that really shouldn't depend on the faction.

[2021-06-25 23:08] DanAlbert commented on #1354
Please upload the files the template asked for. Will reopen when we get them.

[2021-06-25 23:08] #1354 closed, assigned to nobody

[2021-06-25 23:30] #1344 closed, assigned to DanAlbert

[2021-06-25 23:35] DanAlbert commented on #1355
![image](https://user-images.githubusercontent.com/315852/123493901-de0a5680-d5d2-11eb-8104-f82f52d30db6.png)

This campaign only works if the player has a carrier, and those factions don't. This is working as expected, but I've added a note to the description:
![image](https://user-images.githubusercontent.com/315852/123494020-46f1ce80-d5d3-11eb-9a8e-a03c0873ad3a.png)

[2021-06-25 23:35] #1355 closed, assigned to DanAlbert

[2021-06-25 23:38] DanAlbert commented on #1317
Need the state.json too.

[2021-06-25 23:47] #1346 closed, assigned to nobody

[2021-06-25 23:52] DanAlbert commented on #1317
Oh, and the save game.

[2021-06-26 00:49] Hornet2041 opened #1357 "Antiship missions (with the Harpoon weapon) should be planned clear of any land in the ingress waypoints"
If it's possible, anti-ship missions (this is mostly just a Harpoon issue afaik) should have their join, ingress and target waypoints be completely clear of any land in their way, as the missile does not have obstruction avoidance capability. When the AI releases their missiles, if anything but flat grassland or beach is in the way, the Harpoon will fly right into it.

![image](https://user-images

[2021-06-26 02:35] DanAlbert commented on #1357
Is this actually a DCS issue, or is that how the missile behaves IRL?

[2021-06-26 03:55] docofmur commented on #1334
Good to Go @DanAlbert
Very well made and interesting

[2021-06-26 04:04] docofmur commented on #1350
This campaign has not been updated for 4.0 release. Also the direction and composition of SAM sites in 3.0 is still random, there is no way the designer could adjust this to fit perfectly in the revampments every time.

[2021-06-26 04:16] docofmur opened #1358 "New-Campaign "Nevada Limited Air""
Beginner level - Light on air slots for the enemy, focuses on CAS and Strike

Built by me so I guess good to go :D
[nevada_Limited_Air.zip](https://github.com/dcs-liberation/dcs_liberation/files/6719554/nevada_Limited_Air.zip)

[2021-06-26 04:28] #1334 closed, assigned to DanAlbert

[2021-06-26 04:34] #1358 closed, assigned to nobody

[2021-06-26 04:35] DanAlbert commented on #1350
Yeah, the fix here is to move the SAM outside the location meant for SAMs :(

[2021-06-26 05:31] docofmur opened #1359 "Pre-release Campaign Clean-up"
These will not work and need to be removed:

- [X] Syria: battle for golan heights - strike objects - needs to be removed
- [X] Syria: Inherent Resolve - strike objects - needs to be removed
- [x] Syria: Operation Atilla - strike objects - needs to be removed
- [x] Syria: Russian Intervention - strike objects - super broken, all bases are control points - remove

These have no visible map strike o

[2021-06-26 06:13] DanAlbert commented on #1079
(if no one else picks this up in 5.x I will)

[2021-06-26 06:15] Jiphou commented on #1350
yep anyway it is very funny 🤣

🤣🤣🤣

Envoyé de mon iPhone

[2021-06-26 06:28] docofmur commented on #1284
Can not duplicate, Checked the Su-25T and anti-radiation missiles and VIKHR missiles are present and used. The Su-25 does not have these as they are not equipped on the aircraft. Confirmed with DCS ME for loadout restrictions

[2021-06-26 07:04] docofmur commented on #1345
Name should be "Culling zones do not update when planning strike outside zone" or something shorter
tested: Campaign is actually "Russia Multi-Part Georgia"
If culling zones are activated before strikes are planned then culling zones are not changed to reflect the strike outside of culling range.
If culling zones are activated after strikes are planned then culling zones are changed correctly, but

[2021-06-26 08:29] #1284 closed, assigned to nobody

[2021-06-26 12:38] Khopa commented on #1359
- I updated "Battle For Golan Heights" to 7.0 (recreated all custom strike objects)
- I also updated "Caucasus Russia small", renamed it to "From Mozdok to Maykop". Note : it does have custom strike objects, i recreated them to be sure, but seems to me that id haven't changed on Caucasus ?

[2021-06-26 13:05] KeithGadgetUK commented on #1317
Please see attached the Liberation saved game and state.json file as requested.

[Liberation files 2.zip](https://github.com/dcs-liberation/dcs_liberation/files/6720130/Liberation.files.2.zip)

[2021-06-26 13:09] KeithGadgetUK commented on #1309
Perhaps.  But then the game should not allow them to be purchased there.  Or allow the air assets to be transferred.  With the carriers all the transfer options are greyed-out for me.  :-)

[2021-06-26 15:02] lizhaobei85032 opened #1360 "涂装无法使用，从2.50开始就无法使用，占领机场很容易导致任务无法继续"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected beha

[2021-06-26 15:03] lizhaobei85032 opened #1361 "MIG-31无法使用，F15E无法使用，我在本地可以使用"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected beha

[2021-06-26 17:19] DanAlbert commented on #1360
Google Translate says "The camouflage can’t be used. It can’t be used since 2.50. Occupying the airport can easily lead to the mission’s failure to continue."

Can't do anything without the data the template asks for. Provide that and we'll reopen.

[2021-06-26 17:19] #1360 closed, assigned to nobody

[2021-06-26 17:20] DanAlbert commented on #1361
Google Translate says "MIG-31 cannot be used, F15E cannot be used, I can use it locally"

Need the data the template asks for. Provide that and we'll reopen.

[2021-06-26 17:20] #1361 closed, assigned to nobody

[2021-06-26 17:51] Sir-Headiii commented on #1350
Will fix asap when I have my PC and internet up and running. Currently renovating and moving into a new apartment. It will probably take a few weeks.

[2021-06-26 17:55] #1317 closed, assigned to DanAlbert

[2021-06-26 18:21] DanAlbert commented on #1359
Updated the version for Humble Helper and removed Inherent Resolve. Waiting for a response from @Malakhit before removing his campaigns because I think those are actually new enough to have the correct IDs anyway and they just need the version bump.

[2021-06-26 18:24] #498 closed, assigned to nobody

[2021-06-26 18:25] Malakhit commented on #1359
My campaigns are brand new - not sure what it is I need to do here?

[2021-06-26 18:29] DanAlbert commented on #1359
Probably nothing. The 6.0 -> 7.0 campaign version was to account of map target IDs changing in the Syria map update that added Cyprus. If you'd built the campaigns with a version of DCS that didn't have those, all the IDs are wrong and the death of those buildings can't be tracked.

Sounds like nothing to do then and we just need to bump the version? I'm not sure what @docofmur meant by "super bro

[2021-06-26 18:31] #1359 closed, assigned to nobody

[2021-06-26 18:32] Hornet2041 commented on #1357
well, i imagine in real life they wouldn't shoot Harpoons when land is in it's path. Thats a liberation planning issue, and one you can only notice when fighting over an island lol

[2021-06-26 19:24] docofmur commented on #1345
same as #1034 these are the same problem I think

[2021-06-26 20:38] KeithGadgetUK commented on #1317
So fixed in version 4?  fantastic, thanks  :-)

[2021-06-26 21:29] DanAlbert commented on #1317
Yep!

[2021-06-27 00:51] SnappyComebacks opened #1367 "SU-33 Should be taskable for BAI"
**Describe the bug**
SU-33-D is unable to be tasked as BAI, but is able to be tasked as `Strike`.

**To Reproduce**
1.  Purchase SU-33
2.  Try to plan as BAI

**Expected behavior**
Enable ability for SU-33 to plan as `BAI`.

**Version information (please complete the following information):**
 - DCS Liberation `4.0.0`

[2021-06-27 02:17] CptBean opened #1368 "Campaign Inherent Resolve is gone?"
Is there a reason this campaign is gone? I just started with this one on 3.0 and I really like it, but now it doesn't seem to be there anymore on 4.0.

[2021-06-27 02:20] #1368 closed, assigned to nobody

[2021-06-27 02:52] DanAlbert commented on #1368
Because it's broken and no one has signed up to maintain it.

[2021-06-27 03:55] bgreman commented on #106
Brainstorming: Could this be implemented by changing the faction selection to allow multiple selection though the usual UI mechanisms (multi-select listbox, or multiple checkbox, or something).

Potential implementation by having a FactionProxy or Alliance class that implements the Faction API but supplies unit requests based on pulling data from all component Factions.

[2021-06-27 04:20] bgreman commented on #202
Appears to have been fixed by this pydcs commit. https://github.com/pydcs/dcs/commit/f2a98a3d1ef28676e9fa25fa7e9edaf457f25cf0

[2021-06-27 04:20] #202 closed, assigned to nobody

[2021-06-27 04:22] bgreman commented on #215
Maybe add a really high cost for repair and take several turns, turning it into a similar tradeoff to bombing an enemy runway.

[2021-06-27 04:46] bgreman commented on #279
Looks like this was fixed with 2.2.0 (https://github.com/dcs-liberation/dcs_liberation/commit/57b7402753c56079e125c7fc41bffe4b82fde991#diff-49d7ac8aa1dff77cda35fcfc865bec2d0c3454f7923bcff5ff2e65fab3ea74c0) which fixed the order in which the script tries to resolve the output path of state.json.

[2021-06-27 04:46] #279 closed, assigned to nobody

[2021-06-27 06:27] bgreman commented on #514
Planners should also take this cost into account when projecting forward so they don't purchase themselves more units than they can afford maintenance for at low income levels.

[2021-06-27 06:29] bgreman commented on #515
Thinking that global maintenance costs should be reduced as: baseline_maint * (1-r)^num_workshops, with r somewhere in the range of 0.01 to 0.05 (maybe even configurable as a campaign difficulty option).

[2021-06-27 06:46] bgreman commented on #542
For HDSM in particular, it could probably stand to be updated as there have been a number of changes since the last time we exported.

[2021-06-27 13:18] Hornet2041 commented on #493
this is a DCS issue that is shared with the Harrier's gunpod. I don't think there's anything that can be done on the Liberation side for this. very long time dcs bug now.

[2021-06-27 16:58] dankwilliams opened #1372 "Enable CAS tasking for MiG-21"
**Is your feature request related to a problem? Please describe.**
I bought a bunch of MiG-21's and was hoping to use them in a CAS role.

**Describe the solution you'd like**
1. Enable CAS tasking for MiG-21
2. CAS preset loadout with cluster bombs/rockets

**Additional context**
MiG-21's have been used in a CAS role IRL by multiple countries so it would not be unrealistic.
https://en.wikipedia.o

[2021-06-27 17:37] Khopa opened #1373 "Modded units checkbox misbehaviour in new game wizard"
**Describe the bug**
Modded units are removed from a faction unit set if a campaign is launched without the "mod" checkbox checked. This is the expected behaviour, but then if you launch a new campaign, with the mod checkbox checked, the modded units are not available.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a campaign with faction "USA 2005"
2. Do not check "F-22 mod"
3. You a

[2021-06-27 19:05] DanAlbert commented on #493
I'd guess that changing the task to "expend all" or whatever it's called would work, but that depends on https://github.com/dcs-liberation/dcs_liberation/issues/269

[2021-06-27 19:07] DanAlbert commented on #1373
Or `copy.deepcopy` the faction before modifying it. Would be the quick fix, but I think reloading like you say is the better fix.

[2021-06-27 20:27] lizhaobei85032 opened #1374 "无法开始任务AttributeError: 'AircraftType' object has no attribute 'helicopter'"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected beha

[2021-06-27 20:31] lizhaobei85032 commented on #1374
我无法点击TAKE OFF

[2021-06-28 02:05] KeeseAF opened #1376 "Can we not have Every pilot already at a base without planes?"
Can we just have the pilots of planes that are present at a airfield, show up in the squadron menu? Way too cluttered, especially full of planes im never going to use.

[2021-06-28 02:09] KeeseAF opened #1377 "Have the description of the ground units' stances in the UI"
That way instead of having to have this wiki open on the side, theres a box that explains each one.

[2021-06-28 02:16] Mustang-25 commented on #1374
Please follow the template of the bug report and provide the information it asks for.

[2021-06-28 02:18] Mustang-25 commented on #1376
The squadron feature is a WIP and will continue to be improved

[2021-06-28 02:36] Hornet2041 commented on #493
no, that would just ensure the airplane makes as many passes on the target as there are rounds in its pod, instead of dumping it all at once.

![image](https://user-images.githubusercontent.com/55866858/123571378-127b3f80-d798-11eb-83d5-89c92c6df874.png)
[testing gunpods.zip](https://github.com/dcs-liberation/dcs_liberation/files/6722943/testing.gunpods.zip)

[2021-06-28 02:47] Mustang-25 commented on #1240
Dates have been updated and will be reflected in the next release.

[2021-06-28 02:47] #1240 closed, assigned to Mustang-25

[2021-06-28 03:07] lizhaobei85032 commented on #1374
2021-06-28 10:54:23,420 :: INFO :: DCS Liberation 4.0.0
2021-06-28 10:54:23,421 :: DEBUG :: Python version 3.9.5 (tags/v3.9.5:0a7dcbd, May  3 2021, 17:27:52) [MSC v.1928 64 bit (AMD64)]
2021-06-28 10:54:23,694 :: ERROR :: Using default theme because liberation_theme.json does not exist
2021-06-28 10:54:23,694 :: INFO :: Loading stylesheet: style-dcs.css
2021-06-28 10:54:23,695 :: DEBUG :: Loading

[2021-06-28 03:09] #1374 closed, assigned to nobody

[2021-06-28 03:19] lizhaobei85032 opened #1379 "点击TAKE OFF无反应"
**Describe the bug**
无论选择哪个地图以及派系都无法进行飞行
**To Reproduce**
Steps to reproduce the behavior:

2021-06-28 10:54:23,420 :: INFO :: DCS Liberation 4.0.0
2021-06-28 10:54:23,421 :: DEBUG :: Python version 3.9.5 (tags/v3.9.5:0a7dcbd, May  3 2021, 17:27:52) [MSC v.1928 64 bit (AMD64)]
2021-06-28 10:54:23,694 :: ERROR :: Using default theme because liberation_theme.json does not exist
2021-06-28 10:54:23,6

[2021-06-28 08:16] DanAlbert commented on #493
Bummer. Nothing we can do about this then. Closing.

[2021-06-28 08:16] #493 closed, assigned to nobody

[2021-06-28 15:15] nosv1 commented on #964
Should the AI have this ability then, and then what would its logic be?

[2021-06-28 15:27] BennySouthSt opened #1381 "Operation Atilla Campaign - Lakatamia unsuitable for fixed wing aircraft."
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
Lakatamia (central Cyprus) is a small helicopter base. Obv. the campaign has no way of knowing this, so the AI will base fixed wing aircraft there, which are unable to take off.

**To Reprodu

[2021-06-28 23:42] entropyembrace opened #1385 "Helicopter specific tasking"
Before filing, please search the issue tracker to see if this feature has already been requested.

If requesting a DCS AI feature, check If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Is your feature request related to a problem? Please describe.**
Currently helicopters are given tasks with the same logic that is applied to jets leading to them attem

[2021-06-29 04:32] lizhaobei85032 commented on #1385
朋友，请问你是怎么开始飞行的，我的4.0.0版本错误很多，无法点击TAKE OFF

[2021-06-29 04:35] lizhaobei85032 commented on #1381
朋友，请问你是怎么开始飞行的，我的4.0.0版本很多错误，无法点击TAKE OFF,能说一下吗

[2021-06-29 07:39] DanAlbert commented on #1385
Duplicate of #270

[2021-06-29 07:39] #1385 closed, assigned to nobody

[2021-06-30 07:23] bgreman commented on #478
#1386 will go into 4.x, #1387 is a breaking change so will go to 5.x

[2021-06-30 07:44] gilespj opened #1388 ":: Uncaught TypeError: L.control.ruler is not a function"
It was fully working on Liberation 4 review (build was 21xx, I cant remember the exact number) but now when loading I get no map and error. On the bottom right of the map there is just a link to leaflet website.

2021-06-30 08:39:15,815 :: DEBUG :: Map reset took 0:00:00.049442
2021-06-30 08:39:17,283 :: ERROR :: Uncaught TypeError: L.control.ruler is not a function

If I try and refresh the map i

[2021-06-30 14:51] Dunbal opened #1389 "Campaign generates A-10C mission instead of A-10 II"
While running a Georgia campaign with Blueforce Modern, the game generates missions for the A-10 II Thunderbolt (suite 3), however when loading the mission in DCS the regular A-10 C is loaded. Included campaign save file.
[deh.zip](https://github.com/dcs-liberation/dcs_liberation/files/6741824/deh.zip)

[2021-06-30 18:57] CptBean opened #1390 "Can't enter cockpit with delayed start (dedicated server)"
**Description**
When running the mission through a dedicated server, I cannot enter the cockpit when I have a delayed start. When running the same mission in single player I have no issue, the pilot spawns in at the exact departure time. When I change the departure time to 0:00 it also works, I immediately enter the cockpit. Just delayed start in multiplayer is not working.

**To Reproduce**
Run t

[2021-06-30 19:00] Hornet2041 commented on #1258
The Chinese LHA spawns damaged in Liberation v4. The other LHA units do not spawn damaged still.

![image](https://user-images.githubusercontent.com/55866858/124016517-bdb41080-d9b3-11eb-8a7a-d591b1f7ed09.png)
![image](https://user-images.githubusercontent.com/55866858/124016529-c278c480-d9b3-11eb-8950-065ea146d3d3.png)

[2021-06-30 19:07] Mustang-25 commented on #1389
Not a bug, suite 3 is the regular A-10C. Suite 7 is the A-10C II.

[2021-06-30 19:07] #1389 closed, assigned to nobody

[2021-06-30 19:12] Hornet2041 commented on #1258
factions using the Chinese type 071 need to have their names updated to

"helicopter_carrier": [
    "Type_071"

[2021-06-30 19:22] #1061 closed, assigned to nobody

[2021-06-30 19:47] Hornet2041 opened #1391 "Per-aircraft-type parking allocation"
[untasked airspawn bassel.zip](https://github.com/dcs-liberation/dcs_liberation/files/6743573/untasked.airspawn.bassel.zip)

![image](https://user-images.githubusercontent.com/55866858/124021433-8ba5ad00-d9b9-11eb-9d9a-b13589461b7b.png)

Liberation release version 4, on new DCS open beta patch that released Marianas map."

Bought 10 Su-27s at Bassel, set for runway start, tasked them to TARCAPs, b

[2021-06-30 19:58] Hornet2041 commented on #516
On Liberation v4..... have 150+ A-10s at Nellis. none have blown up

![image](https://user-images.githubusercontent.com/55866858/124023493-feb02300-d9bb-11eb-953f-5ad9d909d169.png)

[2021-06-30 19:58] #516 closed, assigned to nobody

[2021-07-01 02:21] DanAlbert commented on #1391
Optimistically assigning to 4.x but it depends on when someone finds time to investigate and what the actual fix would be.

[2021-07-01 02:22] DanAlbert commented on #1390
Sounds like a DCS bug then and there's nothing we can do about it. Workaround would be using the "players ignore start times" option in the settings.

[2021-07-01 02:22] #1390 closed, assigned to nobody

[2021-07-01 03:50] #240 closed, assigned to bgreman

[2021-07-01 03:55] #75 closed, assigned to bgreman

[2021-07-01 04:06] niehorst opened #1392 "very poor map performance"
Since 3.0 I have really poor map performance when scrolling, zooming or moving waypoints. It feels like taking hours when I want to move the map or anything. It seems that the menu itself is very slow for some reason.

Can't be hardware related. Quiet a good machine at my end with a 9900K + 3090

I really hope I can get some help to fix this. Mission planing is almost impossible right now!

[2021-07-01 08:36] DanAlbert commented on #1392
Disable some map options maybe? It's perfectly smooth on my end so there's nothing for me to investigate.

[2021-07-01 10:18] Schneefl0cke commented on #1377
When you want to buy units, press the white i in the blue box next to the plus button. Most units but some logistic vehicles already have this info. Its the same for planes.

[2021-07-01 12:44] Floydii commented on #765
This is still an issue. The Tanker below is doing about 375kts indicated. it should be about 230-270kts.

And although you can now task them they still fly way too fast. Its also too high for A10s. A refuel high/low task would be good 16000ft/23000ft.

![](https://cdn.discordapp.com/attachments/853177959657766922/860137135104458752/Image_223733.jpg)

[2021-07-01 13:10] Floydii opened #1393 "Incorrect composition of Silkworm ASM Battery in Syria-Lebanon 2005 (Allied Sword) Faction"
**Describe the bug**

The Silkworm Anti-Shipping Missile Battery for the Syria-Lebanon 2005 (Allied Sword) Faction has 6x Silkworm search Radars (AShM Silkworm SR) and no launchers (AShM SS-N-2 Silkworm). This makes the site harmless to ships.
![image](https://user-images.githubusercontent.com/40154322/124128570-4324e700-dac0-11eb-8c78-168a163836bc.png)

**To Reproduce**

1. create a campaign that

[2021-07-01 13:13] zelosos commented on #240
Thanks :smile:

[2021-07-01 14:17] RndName opened #1394 "New Cloud Base Display crashes the game if weather has no clouds"
**Describe the bug**
Commit https://github.com/dcs-liberation/dcs_liberation/commit/f80696b7244d2eace20111dacdcb149cb4747055 adds line 117 to QTopPanel.py. If the game.conditions.weather has no clouds this will cause an Attribute Error `(<class 'AttributeError'>, AttributeError("'NoneType' object has no attribute 'base'"), <traceback object at 0x000002D062955180>)`

**To Reproduce**
Steps to repro

[2021-07-01 15:32] Masterdoddy opened #1395 "Campaign Wizard - Set player numbers and aircraft type"
I'm wondering, would it be a useful feature when going through the Campaign Wizard to have somewhere to set "number of players" and "Aircraft Type", so that it prioritises those aircraft and creates missions for X number of players?
I'm only thinking for small groups like mine where we want to fly together. While it can be edited each turn, it might let small groups playing coop (perhaps in one fl

[2021-07-01 15:58] sturmalex opened #1396 "Icon for the ruler missing"
**Describe the bug**
Rulericon does not show up in the top left of the map.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the Application
2. Rulericon is missing

**Expected behavior**
Rulericon visible

**Additional information**
Brocktunes and I checked canvas.html in "...\DCS Liberation\resources\ui\map" but the hash code was correct.

The ruler is there, just the Icon is missing.

[2021-07-01 19:34] DanAlbert commented on #1395
You can do this by editing the squadrons on turn 0. Pick a squadron for the aircraft type you want to fly and turn some pilots into players.

There's also a setting for "prefer player pilots".

[2021-07-01 19:39] DanAlbert commented on #1395
We don't have "prefer player aircraft" though. In practice that doesn't make much difference, because players are probably not flying an aircraft that is unlikely to be assigned. If the player is flying an aircraft that is not going to be commonly assigned they may not get a mission though.

If you hypothetically had a faction that was bluefor modern but with spitfires, would you want it automatic

[2021-07-01 19:57] bgreman opened #1399 "Marianas Islands support"
**Is your feature request related to a problem? Please describe.**
Marianas Island is not supported by Liberation.

**Describe the solution you'd like**
Marianas Islands should be supported for Custom Campaigns in Liberation.

[2021-07-02 01:30] Tinchus2009 opened #1402 "Errors after 1 mission completed"
Before filing, please search the issue tracker to see if the issue has already been reported.

If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Describe the bug**
I installed version 4.0. stated a campaign, I changed the designated coalition. I finished the forst mission with no problems.
Today I wanted to go for the second round and I cant start the m

[2021-07-02 01:33] KeeseAF commented on #1377
No, The frontline operations IE,
 Defensive- Units will adopt defensive stance with medium group of units
All units:
Hold position and defend

[2021-07-02 03:07] #1394 closed, assigned to nobody

[2021-07-02 03:40] KeeseAF commented on #978
Without adding another Issue request, is it possible to just get rid of the "insuffecient" messages?

[2021-07-02 10:08] Kea21 commented on #1393
This isn't just an issue for the Allied Sword faction as I've also noticed this in a 2020s Iran faction I've created. All Silkworm sites end up with SRs instead of launchers.

[2021-07-02 12:23] DillieKoe opened #1404 "MLRS in forests"
**Is your feature request related to a problem? Please describe.**
When MLRS units are spawned in forest there is a chance for them to blow themselves up.

**Describe the solution you'd like**
Lower or even remove the possibility for MLRS units to spawn in forests/next to trees.

[2021-07-02 13:41] RndName commented on #1402
Some investigation:
The Error was caused due to a None loadout of the IL-78M Refueling Flight

[2021-07-02 18:06] DanAlbert commented on #1404
We can't automatically predict where forests are. We build exclusion areas for each map to define areas where ground units shouldn't spawn.

I'm other words, this "feature" already exists but has a bug. Without the details the bug template asks for we don't know which zone is broken.

[2021-07-02 18:45] jubuttib commented on #1379
Was asked to attach my campaign save into this issue.
[Rickykampanja.zip](https://github.com/dcs-liberation/dcs_liberation/files/6756464/Rickykampanja.zip)

The error I got was as follows:
When I try to click "Take Off", no window opens, and I get this in the liberation_main.exe output:
![image](https://user-images.githubusercontent.com/12116639/124316701-aecd8980-db7e-11eb-8bbb-f4c1688e6b57.png)

[2021-07-02 19:25] bgreman commented on #1379
I've established that the legacy tanker generation code was not fully updated to handle the changes to tanker classes.  For now, disabling the legacy tanker generation is a workaround.

![image](https://user-images.githubusercontent.com/47828384/124320363-c4748c00-db49-11eb-9911-7675fd618618.png)
Untick the highlighted box.

[2021-07-02 23:20] zelosos opened #1408 "exclude Cyprus from sea zone mapping"
The title should explain it well.

[2021-07-02 23:26] #1393 closed, assigned to nobody

[2021-07-02 23:41] DanAlbert commented on #1408
It doesn't. What's the problem?

[2021-07-02 23:46] #1163 closed, assigned to RndName

[2021-07-03 00:18] #1379 closed, assigned to nobody

[2021-07-03 00:23] DanAlbert commented on #1402
It looks like the only way to get into this situation is to toggle the "custom loadout" checkbox on a flight that doesn't actually have any loadouts available. Skipping to the next turn repairs the save, but if I then open the IL-78M flight's loadout page, toggle "custom loadout" and then save the package I can no longer re-open the flight dialog.

[2021-07-03 00:33] #1402 closed, assigned to nobody

[2021-07-03 10:05] zelosos commented on #1408
As I understand it:
The sea zone marks the area of ship spawns. Therefore ships can spawn on the land of Cyprus.
The exclusion from Cyprus of this zone will prevent this from happening.

[2021-07-03 10:31] DanAlbert commented on #1408
There is no random spawning any more. If a ship is spawning in land it means the campaign designer put it there?

If you could upload the data the template asked for it would remove the guesswork. It saves everyone, including you, time if you fill out the template.

[2021-07-03 12:08] zelosos commented on #1408
OK then it is not needed indeed.

[2021-07-03 12:08] #1408 closed, assigned to nobody

[2021-07-03 18:31] DanAlbert commented on #1408
I'm confused, what's the problem you were seeing?

[2021-07-03 18:51] #1399 closed, assigned to bgreman

[2021-07-03 20:30] #902 closed, assigned to nobody

[2021-07-03 20:31] Mustang-25 commented on #902
closing because no response from OP. Will reopen if bug is still valid.

[2021-07-03 20:31] Mustang-25 commented on #889
Are you still seeing this problem on the latest builds?

[2021-07-03 20:35] Mustang-25 commented on #764
closing because no response from OP. Can be reopened if bug still persists.

[2021-07-03 20:35] #764 closed, assigned to nobody

[2021-07-03 20:42] Mustang-25 commented on #621
Is this still a problem on the latest release?

[2021-07-03 20:45] Mustang-25 commented on #645
Feature added in #1400

[2021-07-03 20:45] #645 closed, assigned to nobody

[2021-07-03 20:48] Mustang-25 commented on #699
Editable flight plans for tankers have been added in the latest release.

[2021-07-03 20:48] #699 closed, assigned to nobody

[2021-07-03 20:50] Mustang-25 commented on #707
This feature will be included in the next release.

[2021-07-03 20:50] #707 closed, assigned to nobody

[2021-07-03 20:51] Mustang-25 commented on #801
Bug does not seem to be present on the latest builds. Issue can be reopened if the problem persists.

[2021-07-03 20:51] #801 closed, assigned to nobody

[2021-07-03 20:57] Mustang-25 commented on #512
helos perform CAS task as fragged in current release.

[2021-07-03 20:57] #512 closed, assigned to nobody

[2021-07-03 21:04] Mustang-25 commented on #458
Do we want to keep this one open?

[2021-07-03 21:04] #455 closed, assigned to nobody

[2021-07-03 21:06] Mustang-25 commented on #520
DEAD and SEAD are now differentiated. Do we still want to keep this one open?

[2021-07-04 07:19] sturmalex commented on #1396
I forgot to mention that Brocktunes and I deleted the hash key from the html for testing and when I start up the app now the icon shows like this
![image](https://user-images.githubusercontent.com/13836400/124376768-e8021880-dca8-11eb-9c3e-85fada967a16.png)

Also it is then properly clickable.

[2021-07-04 09:55] jeetsukumaran opened #1409 "Successful Anti-Convoy BAI Results in *Next* Turn Mission Generation Failing"
**Describe the bug**

If in turn $n$, a mission against a ground convoy has some success (ground vehicles destroyed), then the subsequent round fails to generate a mission, with

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Frag a mission against a convoy
2. In DCS: Destroy some vehicles in convoy
3. Back in Liberation, set up another mission(s), and click "Take Off"
4. See error

[2021-07-04 10:01] DanAlbert commented on #520
I think it's fairly impractical to provide a unique loadout per aircraft for every mission type at this point. Given that DEAD now falls back to the CAS loadout (eventually, through some others) I think this is as one as it will get given the constraints imposed on us by customizable loadouts.

[2021-07-04 10:01] #520 closed, assigned to nobody

[2021-07-04 10:02] DanAlbert commented on #458
I think the problem is still valid even if we no one has plans to look at it soon.

[2021-07-05 01:40] KeeseAF opened #1410 "Better simulation Balancing"
As discussed in the Feature-Request discord, im just looking for small tweaks in AI frontline progression. Im using the Persistent squadrons as one pilot and if im not scheduled to fly that turn, then I leave it up to the lads and gents for that turn to continue the campaign. However no matter how bad ass pilots and ground forces are while actually flying within dcs, when you skip the turn the pla

[2021-07-05 19:27] RndName commented on #1409
danimal1306 from discord submitted this one:
[code]

The error here appears because the group_size is 0 (thats because its a mixed convoy of bradleys and hmmwv, where unit count of bradleys is 0). this will lead to an index error

[Full_Syria_1.zip](https://github.com/dcs-liberation/dcs_liberation/files/6766030/Full_Syria_1.zip)

[2021-07-05 20:54] RndName commented on #1409
The initial bug in this bug report here occured because the game identified a WIN (all runways of opfor are damaged / non operational). Thats why the Mission generation was not finished an no groundwar was generated for this round. The next "Takeoff" used the old generated groundwar from the previous round which lead to a keyerror.
This will be fixed with #978

[2021-07-05 20:58] jeetsukumaran commented on #1409
Interesting. Then maybe we can close this and open a new one based on danimal1306's report? As that seems to be an independent bug.

[2021-07-05 21:00] RndName commented on #1409
Thanks to your attached save files that was very good to debug!

I already have a PR ready for the other issue. Would close this one here with it as you mentioned exactly the same bug in your additional information