[2022-02-24 20:39] ObsceneNickname opened #2029 "Game-breaking error on WWII campaign Normandy"
### Affected versions

5.1.0

### Development build

_No response_

### Description

As title, there's a game-breaking error when you press "Begin Campaign" after the generation of a WWII Normandy Campaign.

![immagine](https://user-images.githubusercontent.com/65090780/155602951-b5e48814-1f70-48aa-8147-2bd4ecfb9bf4.png)

Even if you can kind of continue despite this error message, the generation

[2022-02-24 22:40] RndName commented on #2026
solved with https://github.com/dcs-liberation/dcs_liberation/commit/c88fa6d2afa745dbfbcbefd00f6b92a8fd4e4651

[2022-02-24 22:40] #2026 closed, assigned to nobody

[2022-02-24 22:50] Starfire13 commented on #2029
https://github.com/dcs-liberation/dcs_liberation/issues/2000

[2022-02-25 00:12] #2029 closed, assigned to nobody

[2022-02-25 00:12] DanAlbert commented on #2029
(@Starfire13 you should be able to close dups, btw. Feel free to do so)

[2022-02-25 01:45] Starfire13 commented on #2029
I couldn't figure out how to to close stuff on the Github mobile app but I think I've just figured it out. It's in the drop down list in the top right corner.

[2022-02-25 15:55] LorenzoBoccaccia opened #2030 "Plane takeoff spawn starts in trees, explodes"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1897885878

### Description

![image](https://user-images.githubusercontent.com/3062853/155745030-fe913d5e-be4f-4e93-a617-3886661e80fa.png)

SEAD WARLUS taking off crashes into trees, being placed off from the runway

it doesn't show up as taxing/startingin the liberation

[2022-02-25 21:44] Starfire13 opened #2033 "SA-13 site showing as degraded in Liberation UI even though none of its units have been destroyed"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1897885878

### Description

SA-13 sites in dev builds after the ground object rework are showing as degraded upon campaign generation, with all units still intact.

![Capture](https://user-images.githubusercontent.com/72491792/155806681-627a197a-d40b-4aa7-8ccc-127f24cb208

[2022-02-26 14:47] TinmanViper opened #2034 "Can't damage ground targets"
### Affected versions

5.1.0

### Development build

_No response_

### Description

When shooting a ground target which is also visible. Nothing happens. Also when switching to guns the bullets just pass through and no damage is done. I had this happen on multiple occasions.

### Save game and other files

[First_Campaign.zip](https://github.com/dcs-liberation/dcs_liberation/files/8146813/First_C

[2022-02-26 19:57] Starfire13 commented on #2034
Can you provide more information? Which ground target? What were you shooting it with (apart from guns)?

[2022-02-26 20:09] TinmanViper commented on #2034
Hi,

Thanks for the reply I’m glad you’re looking into it. I am not at home now
so more in depth information is possible later. However if it is of any
help (from memory) if you open the .liberation file. You see there is one
player f-18. That was me. I made several waypoints and i flew towards my
first target which was at waypoint 2. I don’t exactly remember what the
target was called but it was

[2022-02-26 20:11] DanAlbert commented on #2034
DCS is responsible for damaging units, not Liberation. We can't fix DCS.

[2022-02-26 20:11] #2034 closed, assigned to nobody

[2022-02-26 20:14] TinmanViper commented on #2034
Ok weird because I only experience this when using liberation.

Op za 26 feb. 2022 om 21:12 schreef Dan Albert ***@***.***>

[2022-02-26 21:11] DanAlbert opened #2035 "improve auto-resolve for A2A combat"
Air-combat auto-resolve is currently extremely basic:

https://github.com/dcs-liberation/dcs_liberation/blob/2585dcc13071111b9d93a8c1cf1333cfbd76031c/game/sim/combat/aircombat.py#L63-L97

Larger package wins, 50/50 chance for even fights. Victory and loss are complete; either all aircraft survive or all are killed. There are no draws, and no retreats.

Suggested improvements:
- [ ] Assign air-comb

[2022-02-26 21:20] DanAlbert opened #2036 "improve auto-resolve for A2G combat"
Auto-resolve for A2G combat currently always results in failure (but no losses) for the attacker: https://github.com/dcs-liberation/dcs_liberation/blob/2585dcc13071111b9d93a8c1cf1333cfbd76031c/game/sim/combat/atip.py#L29-L33

Suggested improvements:
- [ ] Assign A2G strengths for aircraft to use for weighting success chance
- [ ] Adjust strength based on pilot skill
- [ ] Assign air-defense streng

[2022-02-26 21:30] DanAlbert opened #2037 "improve auto-resolve for SAM combat"
Auto-resolve for SAM combat is currently a 50/50 chance of death for the defending flight: https://github.com/dcs-liberation/dcs_liberation/blob/2585dcc13071111b9d93a8c1cf1333cfbd76031c/game/sim/combat/defendingsam.py#L39-L48

Suggested improvements:
- [ ] Assign ECM strengths to aircraft to increase survival chances
- [ ] Increase ECM strengths of loadouts with ECM pods
- [ ] Adjust strength base

[2022-02-26 21:32] RndName commented on #2033
solved with https://github.com/dcs-liberation/dcs_liberation/commit/762bc328e12e74824c1b4984ba6b6ebfd96aa2c0

[2022-02-26 21:32] #2033 closed, assigned to RndName

[2022-02-26 21:35] DanAlbert opened #2038 "distinguish CAS auto-resolve from other A2G missions"
CAS probably should be handled in a different way than other A2G combat types. Rather than creating a new A2G frozen combat, CAS aircraft should join the (not yet implemented) ground combat simulation and add strength to the friendly side. Enemy A2A missions would be able to pull the CAS aircraft out of their mission. CAS aircraft would leave combat when either out of ammo, after their mission tim

[2022-02-26 21:40] Starfire13 commented on #2034
A Hornet's 20mm cannon not having an effect on many ground units is to be expected. That is simply the way DCS is. If you can provide clear evidence of a specific ground unit that can be damaged outside of a Liberation mission but not in a Liberation (be it with guns or anything else), that can be looked at (but I will say I have not ever observed anything like that occuring). But as it is, I don'

[2022-02-27 00:06] RndName commented on #1946
#2033 solved in 6.0

[2022-02-27 00:06] #1946 closed, assigned to nobody

[2022-02-27 00:07] RndName commented on #1666
#2033

[2022-03-01 06:36] DanAlbert opened #2039 "map.js -> react migration"
Layers that need migrating:

- [X] Control points
- [x] Aircraft
- [x] Active combat
- [x] Air defenses
- [x] Factories
- [x] Ships
- [x] Other ground objects
- [x] Supply routes
- [x] Front lines
- [x] SAM threat/detection ranges
- [x] Flight plans
- [x] Waypoint timing information

Controls that need migrating:

- [x] Layer control
- [x] Scale indicator
- [x] Remove default zoom control
- [x] Au

[2022-03-03 10:18] DevastatorCM opened #2041 "Intel @Kneeboard"
**Is your feature request related to a problem? Please describe.**
Not a problem but more a nice to have stuff to give more realism in regard to intel

**Describe the solution you'd like**
If a strike mission is selected to hit the buildings etc., it would be nice if the area where the buildings are added to the kneeboard as satellite and/or topographic image.
Maybe the DCS object image frop top m

[2022-03-03 10:26] DanAlbert commented on #2041
It's not possible. We can't autogenerate these, and campaign authors can't include screenshots in their campaigns because the objective that gets generated is random.

[2022-03-03 10:26] #2041 closed, assigned to nobody

[2022-03-03 10:28] DevastatorCM commented on #2041
I know it is random but I see that always same buildings are used by the campaigns, i.e. hangar, factory, comm tower. Their pictures might be taken from DCS and mapped over the existing map to generate a picture to be used in kneeboard. If not doable then fine. Was just an idea

[2022-03-03 10:30] DanAlbert commented on #2041
The satellite map in the liberation UI will not precisely match what it looks like in DCS. We don't have satellite imagery of WW2 Britain. Bad Intel is worse than no Intel.

[2022-03-03 19:55] ghost commented on #2027
This enhancement to the ATO pane could also include options for displaying spawn times and sorting by those, as a mechanism intended to help players de-conflict deck issues on carriers with the AI crowding and getting things gummed up.

Could be combined with a check in the 'Take Off' button logic that checks for TOTs, offering the player to automatically fix them.  In that logic, there could be s

[2022-03-03 20:02] ghost commented on #2023
Planner already schedules 2 BARCAP, 2 Tanker missions when 'Desired Flight Time' is 60 mins, one immediately and one 30 mins later.  This logic could be extended to encompass last flight TOT, perhaps?  Basically, extrapolate flight time of last scheduled flights, and ensure that the 'boxes' of support encompass those flights.  So a flight scheduled TOT at 1:30 should trigger 4 support flight packa

[2022-03-04 01:41] Starfire13 opened #2042 "Normandy campaign is being set in the Marianas"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1930817815

### Description

The Normandy campaign is showing up set in Marianas. The other campaign maps appear to be showing up fine, so it's just Normandy.

![Capture](https://user-images.githubusercontent.com/72491792/156682752-0f3c3141-9d99-4f9c-b4bb-3971b50ebe2f.JPG)

[2022-03-04 01:47] Starfire13 commented on #2042
Attempting to load the save file generates this error:
2022-03-04 12:44:42,652 :: root :: ERROR :: Invalid Save game
Traceback (most recent call last):
  File "game\persistency.py", line 49, in load_game
  File "<string>", line 3, in __hash__
  File "game\theater\frontline.py", line 81, in __hash__
AttributeError: 'FrontLine' object has no attribute 'blue_cp'

[2022-03-04 01:52] Starfire13 opened #2043 "Campaigns with Germany WW2 factions cannot be generated"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1930817815

### Description

Attempting to create a campaign using any of the Germany WW2 factions (1940, 1941, 1944, 1944 (free)) generates this error. Error occurs on multiple maps. Allies WW2 factions (including the Soviet 1943 faction) are fine, so it's just Germany.

[2022-03-04 02:36] walterroach commented on #2042
The Normandy showing in Marianas issue is a pydcs bug.  I'll submit a PR fixing it over there.

[2022-03-04 02:41] walterroach commented on #2042
https://github.com/pydcs/dcs/pull/209

[2022-03-04 16:55] walterroach commented on #2030
I ran the attached miz as well as one generated by the save file several times and the group you show exploding in Tacview successfully climbs away from the airport.  If you re-run the .miz do you get the same result?  My bet is my inability to reproduce is due to the DCS AI doing something differently on your run of the .miz.

The flight is intentionally not set to takeoff from the airport, as it

[2022-03-04 20:35] LorenzoBoccaccia commented on #2030
so I've tried and I can reproduce it, are you all on openbeta by any chance? I'm on stable.

![image](https://user-images.githubusercontent.com/3062853/156837757-f9d960a9-e9cd-4003-b94d-dc8f1dc1bdff.png)

e: I've tried switching but apparently there aren't changes. can it be I've not the f16 module, so it's using a different flight model? idk

[2022-03-04 20:40] DanAlbert commented on #2030
I doubt it's related, but FWIW Liberation doesn't support DCS stable. It's not possible for the game to support more than one release of DCS at a time.

[2022-03-04 20:53] walterroach commented on #2030
My testing was done on open beta, 2.7.10.19473

We might explore setting a floor (or increasing the floor if we have one) for low altitude limits on in progress flights.  30m is pretty spicy for the AI

[2022-03-04 22:57] DanAlbert commented on #2030
There is already a substantial floor: https://github.com/dcs-liberation/dcs_liberation/blob/980d8f3092be8d6a18f10f601238385160c3ebc0/game/missiongenerator/aircraft/flightgroupspawner.py#L34

[2022-03-04 23:38] walterroach commented on #2030
Something didn't work right on this flight then, will look into it further.

[2022-03-05 00:45] DanAlbert commented on #2030
I think when I added that floor I didn't actually have a save that I could use to verify, so it might just not work.

[2022-03-05 01:30] Starfire13 opened #2045 "Frontlines / ground units / resource sites not drawn on map upon campaign generation"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1933175585

### Description

Upon campaign generation, only control points and supply routes are being drawn on top of the map. Frontlines, ground units, and resource sites do not show up.

![Capture](https://user-images.githubusercontent.com/72491792/156861970-04d8dc6a-d2

[2022-03-05 01:36] DanAlbert commented on #2045
(not assigning myself in case anyone else wants to pick it up, but I assume I'll be the one to fix it)

[2022-03-05 12:08] Starfire13 commented on #2045
This is probably related to the same issue (let me know if not and I'll file it separately). When buying a SAM site (after CP capture), UI does not update to show the purchased units until a rightclick-reload is performed.

[2022-03-05 12:12] DanAlbert commented on #2045
Same cause in the sense that the cause is "Dan goofed", but almost definitely a distinct thing to fix. A second bug would help me keep track, if you don't mind.

[2022-03-05 12:29] Starfire13 opened #2046 "Old packages persist in Packages pane after end of turn/pass turn"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1937618376

### Description

Edit: It appears this can happen to any package, not just ferry packages. See comments.

Squadron transfer ferry flight persists till next turn, although with no destination.

In the same save file provided, I am swapping the location of two sq

[2022-03-05 21:37] Starfire13 opened #2047 "SAM site / ground unit status does not update after purchase"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1937618376

### Description

After capturing a CP, purchasing units for the empty SAM sites / ground unit locations doesn't update properly.

Here is a freshly captured CP.
![Capture1](https://user-images.githubusercontent.com/72491792/156900538-af1548dd-ea02-4d71-843b-98b

[2022-03-06 01:25] Starfire13 opened #2048 "AEW&C flights cannot be planned over FOBs or LHAs"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1937618376

### Description

AEW&C flights cannot be planned over FOBs and LHAs, but can be planned over other friendly control points.

### Save game and other files

[AEW&C Planning Bug #3573.zip](https://github.com/dcs-liberation/dcs_liberation/files/8191781/AEW.C.Plann

[2022-03-06 01:39] Starfire13 opened #2049 "UI dimensions change when redrawn on 1920x1080 monitors"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1937618376

### Description

On a 1920x1080 monitor, the Liberation UI rescales when a new campaign is begun, or when Begin Campaign or Pass Turn is clicked, resulting in some buttons no longer being visible on screen. Workaround is to restore down then maximise window onc

[2022-03-06 07:02] HILOK commented on #2027
yes, totally needed! it would be nice, if the last edited package could stay highlighted after being sorted in, so that the user immediately sees the results of his time editing.
also, an option to sort by mission type would be useful.

[2022-03-06 08:01] DanAlbert commented on #2046
Could be related (I need to follow up once I have save games that are usable by anyone but me), but I think the ferry might be a red herring here. I had a full ATO and disabled auto-ATO planning but it took several skipped turns for the planned packages to clear.

[2022-03-06 09:46] RndName commented on #2049
Related #1987

[2022-03-06 10:09] DanAlbert commented on #2045
The new map is the default now so I'm going to call that good enough.

[2022-03-06 10:09] #2045 closed, assigned to nobody

[2022-03-06 13:39] slubbermand opened #2051 "Adjustment/optimization of automatic investment in ground forces"
**Is your feature request related to a problem? Please describe.**
At the moment, it is unclear how the computer opponent prioritizes buying air and ground assets. It does not seem to adapt to player investments, and overprioritizes buying aircraft, leading to awkward force compositions of 113 aircraft, 2 tanks and one artillery piece.

This in turn leads to a campaign with minimal player agency,

[2022-03-06 21:11] Starfire13 commented on #2051
Duplicate of https://github.com/dcs-liberation/dcs_liberation/issues/505

[2022-03-06 21:11] #2051 closed, assigned to nobody

[2022-03-07 01:03] linmar22 opened #2054 "Ability to select a livery for the squadrons at campaign start."
It would be nice if we could select a livery for a given squadron when setting up the campaign.

**Is your feature request related to a problem? Please describe.**
Started up a Ukraine playthrough, and noticed some of the planes (Mig-29s for example) use the default livery, which happens to be Russian... red star, "VVS Rosiyi" on the side and everything.

**Describe the solution you'd like**
I ima

[2022-03-07 02:37] Starfire13 commented on #2054
Duplicate of https://github.com/dcs-liberation/dcs_liberation/issues/1861

[2022-03-07 02:37] #2054 closed, assigned to nobody

[2022-03-07 03:59] Starfire13 opened #2055 "Flight path lines do not update after dragging waypoints"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1943125057

### Description

Flight path lines are not updating when waypoints are dragged. Workaround is to select a different package and re-select the package in question.

![Capture](https://user-images.githubusercontent.com/72491792/156965353-e90c61ec-9dae-4a81-bef5-2

[2022-03-07 04:17] Starfire13 opened #2056 "Can't right-click on enemy ground targets to plan flights"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1943125057

### Description

Rightclicking on SAM sites, frontlines, resource sites, etc, brings up this menu instead of the old Mission Package window.

![Capture2](https://user-images.githubusercontent.com/72491792/156966310-aec3dfe3-93e5-4e44-8948-782324c2ae1b.JPG)

###

[2022-03-07 04:24] Starfire13 commented on #2056
Left-clicking on the same targets also simply zooms the map in (same as if you were clicking on an empty area of the map), instead of showing the Location info window like it did previously (as below).
![Capture3](https://user-images.githubusercontent.com/72491792/156967670-e3de12ca-3daa-485b-94f1-5723812daf1b.JPG)

[2022-03-07 06:19] #2055 closed, assigned to nobody

[2022-03-07 10:49] Starfire13 commented on #2056
Grount units and resource sites now working, but frontlines are still not clickable.

[2022-03-07 11:30] #2056 closed, assigned to nobody

[2022-03-07 17:52] headshothawkins opened #2057 "on player plane spawn pilot veiw goes too outside veiw"
### Affected versions

5.1.0

### Development build

_No response_

### Description

Bug when playing liberation, when loading the mission when you are supposed to be in the pilot seat at mission start the plane jumps of the deck in a random location then loads back in the hanger in a outside view and the player has no control over the plane,  using mouse player can pan the camera

### Save game a

[2022-03-07 18:01] headshothawkins commented on #2057
[dcs world liberation crash log 5.1.0.zip](https://github.com/dcs-liberation/dcs_liberation/files/8199875/dcs.world.liberation.crash.log.5.1.0.zip)

[2022-03-08 00:47] Starfire13 commented on #2057
You are placed in an external view while waiting for your start time. This is as intended.

[2022-03-08 00:54] #2042 closed, assigned to walterroach

[2022-03-08 00:55] #2057 closed, assigned to nobody

[2022-03-08 01:12] Hornet2041 opened #2058 "Package flight paths invisible if "show all blue flight plans" is unticked"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1945159367

### Description

Unticked "show all blue flight paths", clicked on a package and it did not display any paths or waypoints.

![image](https://user-images.githubusercontent.com/55866858/157145795-939f3be2-7de0-43ac-8cd3-5c53efbb39f6.png)

### Save game and other

[2022-03-08 01:31] #2039 closed, assigned to DanAlbert

[2022-03-08 01:59] DanAlbert commented on #2058
In other words, bring back the "selected only" option?

[2022-03-08 02:06] #2058 closed, assigned to nobody

[2022-03-08 02:07] DanAlbert commented on #2058
If so, fixed

[2022-03-08 05:21] JeffreyCor opened #2059 "no weapon data for GBU 27"
### Affected versions

Development build

### Development build

6.0.0-3614

### Description

Year set to June 13, 1995 in the testing, tested on both F-15E and F-16C. Loadout includes GBU-12 bombs which show up correctly in the loadout with Restrict turned off to test. With it turned on, bombs are changed to Mk-82. However, if Use Custom Loadout is turned on the GBU-12 bombs are available. This i

[2022-03-08 05:51] DanAlbert commented on #2059
The GBUs are disappearing because the loadout doesn't have a targeting pod. When date restrictions are on loadouts without targeting pods will be downgraded to iron bombs. Custom loadouts are exempt from this.

[2022-03-08 07:57] JeffreyCor commented on #2059
Since GBU-27's are not replaced it looked like a bug. Maybe the bug is the GBU-27's not being replaced :)
![GBU-27](https://user-images.githubusercontent.com/7409930/157191908-d7067d7d-d5a0-454e-a932-67f16b4ed7fc.jpg)

[2022-03-08 09:06] DanAlbert commented on #2059
We have no data for the GBU-27, so we don't know it's an LGB.

[2022-03-08 11:31] Starfire13 opened #2060 "Engagement range for CAP and CAS flights do not get updated after flight waypoints are moved"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1950476549

### Description

Engagement range for CAP and CAS flights do not get updated after flight waypoints are moved. Right-click + reload will force an update.

### Save game and other files

[Normandy #3618.zip](https://github.com/dcs-liberation/dcs_liberation/files

[2022-03-08 14:13] Starfire13 commented on #2046
I think you're right that the ferry flight is a red herring. Looks like it can happen with any type of package. I just completed a campaign turn only to have 3 packages from the last turn still showing up in the packages pane (1 AEW&C, 1 CAP, 1 BAI)

[2022-03-08 16:18] headshothawkins commented on #2057
thanks for replying. i feel like a tool in the back my mind when tuning the settings i always thought I'd forgot too change one

Sent from Outlook<http://aka.ms/weboutlook>
________________________________
From: Starfire13 ***@***.***>
Sent: 08 March 2022 00:47
To: dcs-liberation/dcs_liberation ***@***.***>
Cc: MARK ***@***.***>; State change ***@***.***>
Subject: Re: [dcs-liberation/dcs_liberatio

[2022-03-09 02:49] #2060 closed, assigned to nobody

[2022-03-09 11:45] Starfire13 opened #2061 "UI for purchasing ground unit groups should more clearly state group composition"
**Is your feature request related to a problem? Please describe.**
At the moment, options in the Armed Forces Group dropdown list have the same names with no way to tell from the name what the group composition is.

![Capture](https://user-images.githubusercontent.com/72491792/157435401-5d9bc384-e2b6-43cd-8d54-14ddc5683a23.JPG)

**Describe the solution you'd like**
Some way to differentiate the op

[2022-03-09 12:08] Starfire13 opened #2062 "Package flight path remains on map after package is deleted."
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1955044987

### Description

Deleting a package doesn't remove its flightpath until a manual refresh/reload.

### Save game and other files

[Uploading Normandy #3619.zip…]()

[2022-03-09 12:24] Starfire13 opened #2063 "Adding extra waypoint with Add Waypoint button generates error"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1955044987

### Description

Clicking on the Add Waypoint button on the Edit Flight window generates the following two errors.

![Capture3](https://user-images.githubusercontent.com/72491792/157441331-1a1e1147-ef36-4183-b338-d463ece3e8f1.JPG)

![Capture4](https://user-imag

[2022-03-10 12:57] DillieKoe opened #2064 "bf109 K4 in Germany 1940/1942 factions"
### Affected versions

Development build

### Development build

_No response_

### Description

according to wikipedia the bf109 K4 variant wasn't produced untill 1944 but the Germany 1940 and 1942 factions have it.

### Save game and other files

Check factions

[2022-03-10 13:19] Starfire13 commented on #2064
Duplicate of https://github.com/dcs-liberation/dcs_liberation/issues/1828

[2022-03-10 13:19] #2064 closed, assigned to nobody

[2022-03-11 09:52] DanAlbert commented on #1534
Map version no longer relevant.

[2022-03-11 09:52] #1534 closed, assigned to nobody

[2022-03-11 09:53] DanAlbert commented on #1496
Should be obsolete now that the map has been replaced.

[2022-03-11 09:53] #1496 closed, assigned to nobody

[2022-03-11 09:56] DanAlbert commented on #1159
Obsolete with squadron changes in 5.

[2022-03-11 09:56] #1159 closed, assigned to nobody

[2022-03-11 15:34] nickjzx opened #2065 "FOB's behind front line change side at random"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1797094266

### Description

When pushing forward in the campaign, some FOB's well behind the front line will change to red. Causing front line units to move to adjacent FOBs to the new front lines created. This pulls units from the most forward front line. Expected behavi

[2022-03-12 00:24] DanAlbert commented on #1774
@Raskil did some investigation and this seems that Qt is the thing that doesn't handle this well, which isn't something we can fix. [We are working on moving off Qt though](https://github.com/dcs-liberation/dcs_liberation/issues/2067), so this won't be around forever. It doesn't mean that this is going to take a while though, but @Raskil is going to add a log message that'll at least tell you what

[2022-03-12 00:25] DanAlbert opened #2067 "replace Qt"
Tracking bug for replacing Qt with React (and probably Electron for the non-server case).

[2022-03-12 01:25] Hornet2041 commented on #2065
I passed turns until I hit turn 70, on the linked build. No bases ever flipped.

Generated a mission from the turn saved and there are no blue units on any enemy control points.
Can't reproduce.

[2022-03-12 02:14] #2065 closed, assigned to nobody

[2022-03-12 02:48] #1774 closed, assigned to Raskil

[2022-03-12 09:59] Raskil commented on #1987
It seems somebody set os.environ["QT_AUTO_SCREEN_SCALE_FACTOR"] = "1"  # Potential fix for 4K screens for the ui windows but forgot about the dpi scaling attributes. When I set
    app.setAttribute(Qt.AA_EnableHighDpiScaling, True)  # enable highdpi scaling
    app.setAttribute(Qt.AA_UseHighDpiPixmaps, True)  # use highdpi icons
for the window as well, it works fine on my 4k screen as well as on m

[2022-03-12 11:36] Raskil commented on #1983
Wasn't able to replicate this on 6.0. Fo me it looks fine:
<img width="618" alt="budget" src="https://user-images.githubusercontent.com/6024867/158016404-1ab61544-89f5-4f5b-9bbc-07680deaa6b7.png">
The code has rounding implemented as well:
[code]
@DanAlbert Should I remove the 6.0 label or how would you like to proceed with that?

[2022-03-12 11:56] Hornet2041 commented on #1983
They still exist on 6.0 builds:

![image](https://user-images.githubusercontent.com/55866858/158017026-76d1764f-45e0-4ba9-ba57-1b0bb6951db7.png)

![image](https://user-images.githubusercontent.com/55866858/158017063-aa927fb7-738b-469c-9575-5b27ef5baa4b.png)

This was generated by setting income multiplier to 0.4x

[2022-03-12 13:07] Starfire13 commented on #1983
Looks like it only happens if the multiplier is changed. I always have my multiplier on the default 1.0 so it's not an issue I've come across thus far, but it starts to occur once I change the multiplier.

[2022-03-12 13:32] Brausepaul commented on #1983
I can confirm that my multiplier was changed and was different from 1.0

[2022-03-12 13:52] Hornet2041 opened #2070 "TGO SAM replacement doesn't update on map"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1972037759

### Description

![image](https://user-images.githubusercontent.com/55866858/158020636-24ac299e-1f7c-4803-b74d-cbe988489de4.png)

Replaced the SAM unit at PORPOISE with an SA-10 (instead of SA-13). On the older versions (before the map backend changes?) this wo

[2022-03-12 13:58] Hornet2041 opened #2071 "Buying/replacing TGO should close the layout menu after purchase"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1972037759

### Description

Currently when you purchase/replace a TGO with anything else and click purchase, the menu stays up even though the purchase goes through. This might lead users to think that nothing happened or inadvertently cause more than one click, spending

[2022-03-12 14:05] Hornet2041 opened #2072 "ZBD-04A (China) infantry fighting vehicle has role listed as Main Battle Tank"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1972037759

### Description

![image](https://user-images.githubusercontent.com/55866858/158021038-c8b7db90-48da-4aae-83a5-ce619502ce4c.png)

Liberation info window lists it as an MBT despite being an IFV.

I'm not sure if this actually affects anything about the front lin

[2022-03-12 19:22] DanAlbert commented on #1983
This is why we ask for save games. It removes the guesswork.

[2022-03-12 19:23] DanAlbert commented on #2070
Duplicate of #2047

[2022-03-12 19:23] #2070 closed, assigned to nobody

[2022-03-12 19:44] #1987 closed, assigned to Raskil

[2022-03-12 20:15] Raskil commented on #1983
Sorry guys, I've missed the multiplier. Will give it another shot.

[2022-03-12 20:17] Raskil commented on #1983
Question; What is the expected number of decimal places we would like to show on the dialog? 1 as in the budget top panel?

[2022-03-12 20:40] DanAlbert commented on #1983
1 decimal place sounds like plenty of precision to me.

[2022-03-12 21:55] #1983 closed, assigned to Raskil

[2022-03-12 22:42] Raskil commented on #1972
It seems like https://github.com/dcs-liberation/dcs_liberation/commit/011d8a4e122cf9cc107fd7ba91104f4621338747 fixed the issue mentioned here. Test on develop always came up with proper atc frequencies on the kneeboard for the A-10C II in the Peace Spring Campaign. We will close the issue for now, @Starfire13 will reopen an issue if he encounts it again.
![page00](https://user-images.githubusercon

[2022-03-12 22:42] #1972 closed, assigned to Raskil

[2022-03-13 04:59] DanAlbert commented on #1974
Map was redone. Should be obsolete.

[2022-03-13 04:59] #1974 closed, assigned to nobody

[2022-03-13 05:17] DanAlbert opened #2077 "aircraft forced to spawn air start immediately RTB"
_Originally posted by @Hornet2041 in https://github.com/dcs-liberation/dcs_liberation/issues/1941#issuecomment-1021453377_

[2022-03-13 05:18] DanAlbert commented on #1941
Idk why this was reopened. The thing you retitled it as is a different bug. File new bugs for new bugs.

[2022-03-13 05:18] #1941 closed, assigned to DanAlbert

[2022-03-14 12:58] Hornet2041 opened #2078 "Loading second save moves enemy carrier to same position as friendly carrier in previous save"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1972037759

### Description

I'm not sure if this can be reproduced by anyone else but as it initially loads "blackball plus usaf", i decided to load another save instead and the game moved the enemy carrier to where the friendly carrier was positioned in the previous save

[2022-03-14 13:44] Hornet2041 commented on #2078
update: it doesn't appear to actually generate the carrier in that position in the .miz... just an error on the map

[2022-03-14 20:46] RndName opened #2080 "Re-orientation of ground units (after capture event and via UI)"
In the current implementation the heading of ground units is loaded from the campaign miz. During a capture event this heading should be calculated to match the "Heading to the center of conflict" function so that the units are oriented correctly. Otherwise the units would face in the wrong direction.

Also there should be a possibility to change the heading manually via the UI

- [x] Automaticall

[2022-03-15 11:54] DillieKoe opened #2081 "Generate after action report after each turn"
**Is your feature request related to a problem? Please describe.**
When completing a mission and accepting the results it would be nice to have a text at the top saying if you won or lost.

**Describe the solution you'd like**
Text at the top with won or loss and maybe how much the frontline has moved.

[2022-03-15 18:20] RndName commented on #2081
Duplicate #978

[2022-03-15 19:15] DanAlbert commented on #2081
I'd read this about being the _turn_ results rather than the campaign results. I could have sworn I'd already filed this, but generating an after action report of sorts like BMS does post turn is something that's been on my backlog for a very long time.

@DillieKoe will need to confirm which of us has the right interpretation, of if there's a third thing we're both missing :)

[2022-03-15 20:18] DevastatorCM opened #2082 "Key error 26"
### Affected versions

5.1.0

### Development build

_No response_

### Description

Getting key error 26 at the final mission (based on map situation assumed as it will be last mission) when I click "take off"

### Save game and other files

[donanma.zip](https://github.com/dcs-liberation/dcs_liberation/files/8256832/donanma.zip)

[2022-03-15 20:19] #2082 closed, assigned to nobody

[2022-03-15 20:20] DevastatorCM commented on #2082
looks like campaign was finished... Would be nice if instead of the error this information was displayed

[2022-03-15 23:53] DanAlbert commented on #2082
See the pinned bug at the top of the issue page.

[2022-03-16 12:29] Starfire13 opened #2083 "Enemy convoy causing KeyError: <<class 'game.theater.controlpoint.Fob'>: Creech FARP> on Take Off"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1975140649

### Description

Getting this error on hitting take off. Appears to be caused by an enemy convoy heading for Creech FARP.

![Capture](https://user-images.githubusercontent.com/72491792/158589824-eb3148cc-c0b9-4437-9b25-84a330d965c6.JPG)

### Save game and other

[2022-03-16 13:12] Hornet2041 opened #2084 "Silkworm launcher heading placement is backwards"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1972037759

### Description

https://discord.com/channels/595702951800995872/790195984105734165/953636323367989298

tl;dr Silkworm missiles are pointing in the opposite direction than how the launcher is shown in the mission editor because ED thought that was a good idea t

[2022-03-16 13:17] Hornet2041 commented on #2081
judging by the "maybe how much the frontline has moved." seems to me its for the mission and not the campaign

there's this already filed: https://github.com/dcs-liberation/dcs_liberation/issues/875

[2022-03-16 14:42] RndName opened #2085 "ForceGroup from a preset group is missing optional units"
### Affected versions

Development build

### Development build

latest

### Description

During `_load_forces` the preset groups are loaded incorrectly. They only load all the units which are defined in the preset yaml. If there are optional units which are not defined there (Ural trucks and so on) they will not be added to the ForceGroup even if the faction actually has access to the unit.

The

[2022-03-16 21:11] #2084 closed, assigned to RndName

[2022-03-16 21:14] RndName commented on #2043
solved in latest dev build. As a layout was changed you need to re-import the layouts
![grafik](https://user-images.githubusercontent.com/6678803/158692135-cf562c2c-2813-4138-bb02-9b99a46e1ae4.png)

[2022-03-16 21:14] #2043 closed, assigned to RndName

[2022-03-16 23:09] Raskil commented on #1971
Issue #1027 was about the package creation dialog, which has been made modal in the patch mentioned. This issue is about the flight creation/edition dialog, which is not modal as of now. I'll provide a patch which makes the flight dialog modal as well.

[2022-03-17 00:29] #1971 closed, assigned to Raskil

[2022-03-17 01:03] #1735 closed, assigned to Raskil

[2022-03-17 01:09] Raskil commented on #2063
I would say that pretty much the hole waypoint alteration in the gui is not working anymore: Add RTB Waypoint and Delete Selected throw errors as well.

[2022-03-17 02:18] Raskil commented on #2063
I've looked into the bug but I'm not able to solve it on my own, because I do not understand the flightplan building fully. From what I can see, I suspect @DanAlbert changes to the flight plan builder in fa8c0d9660fa4d47274f9cd02430b2e70f959805 to raise the issues. I was able to get rid of some bugs by changing the FlightWaypoint object creation calls to the new interface in QPredefinedWaypointSel

[2022-03-17 02:34] DanAlbert commented on #2063
Yeah, I'll handle this one. I'm certain I'm the one that broke it, but haven't had a chance to look yet. I tested some of the behaviors like deleting waypoints, but I guess I didn't cover adding new ones.

[2022-03-17 02:39] Raskil commented on #2063
@DanAlbert as I wrote earlier, on my build all three buttons (Add RTB Waypoint, Delete Selected, and Add Waypoints) throw errors and do not work.

[2022-03-17 02:42] DanAlbert commented on #2063
Might be dependent on the type of waypoint being deleted. Deleting target points does have different behavior as long as it isn't the last target point (it won't downgrade the flight plan to a custom "we don't know how to interpret this" flight plan), and that's probably where the bug is.

Or maybe I broke it in a different way than I thought :)

[2022-03-17 08:56] Raskil commented on #2063
Might be possible, I did not try to remove all types of waypoints. But I was able to provoke an error on all three waypoint buttons :)

[2022-03-17 09:29] Starfire13 commented on #2063
At least to me, pretty much the only thing I would like to have working in this system is the ability to add an extra waypoint or two after the primary target waypoint, so that I can manually set up a secondary or tertiary target for my own use in case I have unexpanded ammo. At the moment, I am manually placing the split and/or refuel waypoints over targets in Liberation and then setting them to

[2022-03-17 09:30] DanAlbert commented on #2063
I know. It will be fixed when I have time.

[2022-03-17 09:47] Raskil commented on #2063
From what I can see, all waypoint maipulations suffer from the same issue, thats why I added the other buttons here as well. Most waypoint actions end up in a call to degrade_to_custom_flight_plan. And that function tries to add a customflightplan with the old flight plan interface, which is of course not working anymore.
@DanAlbert Should I throw you a pull request for my fixes to QPredefinedWayp

[2022-03-17 10:13] Starfire13 opened #2088 "Attempting to buy EWRS generates error"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1995993406

### Description

Attempting to purchase an EWRS causes an error to be generated.

![Capture](https://user-images.githubusercontent.com/72491792/158787152-c664af52-7600-4ec1-be46-c6306702a03a.JPG)

SAM sites and static ground unit groups are fine. It's just EWRS

[2022-03-17 10:48] Starfire13 opened #2089 "Certain CAP flights have altitude displayed in floating point"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1995993406

### Description

Certain CAP flight altitudes are being displayed in floating point instead of integer. Check out the first of the four CAP flights for an example.
![Capture2](https://user-images.githubusercontent.com/72491792/158793213-d4f7a572-2ab6-4195-94ed-

[2022-03-17 12:41] Starfire13 opened #2091 "Attempting to repair SAM site generates error"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/1995993406

### Description

You can replace the entire site, but can't repair individual units in it.

![Capture4](https://user-images.githubusercontent.com/72491792/158810456-ae2273dd-1ea7-4ab3-b1df-87e53ce0f804.JPG)

### Save game and other files

[Vegas Nerve #3639.zip

[2022-03-17 16:54] Raskil commented on #2063
Ok, I worked a little bit more on it and I got it working. Sorry @DanAlbert  , couldn't resist :)

[2022-03-17 17:12] Raskil commented on #2083
I had a look into it, but was not able to fix it. From what I found out, the convoygenerator tries to get the front line between origin and destination. But front line generation has changed. I tried to call the front line creation inside of the front_line_with method of the controlpoint, but it seems one is not able to generate front lines between two control points of the same side (has that wor

[2022-03-17 17:36] Raskil commented on #2049
The topPanel ist not redrawn. The change in layout is related to the weather widget in the top panel. Each turn, or when you start a new campaign there is a chance that you get different weather. The width of the weather widget changes with the discription, as you can see from the screenshorts. The scaling of the timelapse buttons happens when qt is able to squeeze them into the width of the pnael

[2022-03-17 17:38] DanAlbert commented on #2049
Closing in favor of #1987

[2022-03-17 17:38] #2049 closed, assigned to Raskil

[2022-03-18 07:06] #2063 closed, assigned to DanAlbert, Raskil

[2022-03-18 07:07] #2091 closed, assigned to Raskil

[2022-03-18 07:10] #2089 closed, assigned to Raskil

[2022-03-18 07:16] #1891 closed, assigned to nobody

[2022-03-18 07:19] #1833 closed, assigned to nobody

[2022-03-18 07:19] #1834 closed, assigned to nobody

[2022-03-18 07:19] #1835 closed, assigned to nobody

[2022-03-18 07:20] #2072 closed, assigned to nobody

[2022-03-18 15:23] DillieKoe commented on #2081
Yeah it was the mission

[2022-03-18 16:11] RndName opened #2095 "Campaign Miz which are saved with latest DCS patch will cause "transportable" KeyError"
### Affected versions

5.1.0, Development build

### Development build

all

### Description

As found out in a discussion on discord the latest open beta patch changes the way how the mission editor saves the mission file in the .miz. It removes the ["transportable"] from the mission.

Left one is pre-patch, right one is post-patch mission file (both attached)
![grafik](https://user-images.github

[2022-03-18 16:15] RndName commented on #2095
@MetalStormGhost also found out that the me_mission.lua has some changes regarding this:
![grafik](https://user-images.githubusercontent.com/6678803/159041061-56e547a0-895f-4ba3-9791-fc7e230dfa9d.png)

Question here is. do we ever need this "transportable" attribute anywhere :D

[2022-03-18 16:20] RndName opened #2096 "Syria campaigns not working with 5.X after they were saved in ME after the patch"
### Affected versions

5.2 preview (5.1.0 not tested but pretty sure also affected)

### Development build

_No response_

### Description

With the latest terrain updates to syria campaigns for this map do not work anymore when the campaign.miz is saved using the latest Open Beta Mission Editor.

![grafik](https://user-images.githubusercontent.com/6678803/159041796-25bd57ba-7e06-4a62-abde-ed087d8

[2022-03-18 17:13] DanAlbert commented on #2095
https://github.com/pydcs/dcs/issues/214

[2022-03-18 17:19] DanAlbert commented on #2081
Reworded the title for clarity and reopened then. I think the confusion is because there's enough that happens each turn that "win" and "lose" don't have clear definitions.

[2022-03-19 19:42] DanAlbert commented on #2096
Hmm, maybe I tagged the wrong bug?

[2022-03-19 19:42] DanAlbert commented on #2095
https://github.com/dcs-liberation/dcs_liberation/commit/bc39d5eaa8ccaded430231a90ccda93b8976389a

[2022-03-19 19:42] #2095 closed, assigned to DanAlbert

[2022-03-19 20:52] #1844 closed, assigned to DanAlbert

[2022-03-19 21:38] DanAlbert commented on #1986
This seems to just be a corrupt save. There doesn't appear to be any way for a `None` squadron location to occur. It'd not debuggable because whatever circumstances caused the location to become `None` have already happened, so we can't determine what the cause is.

[2022-03-19 21:38] #1986 closed, assigned to nobody

[2022-03-19 21:41] DanAlbert commented on #1889
Actually there's no usable data here. We can't fix the faction if we don't know what faction was used. None of the artifacts were ever uploaded.

[2022-03-19 21:41] #1889 closed, assigned to nobody

[2022-03-19 21:45] DanAlbert commented on #1770
From the log:

[code]

The state.json has recorded kills of aircraft that don't exist in the campaign. There's no way to determine why that happened, but my best guess is that this state.json is from a different turn.

[2022-03-19 21:45] #1770 closed, assigned to nobody

[2022-03-20 04:22] sgtfuzzle17 opened #2097 "AH-64D squadrons submission"
I've put together some US Army AH-64D squadrons for the new bird. See attached file below. These use the appropriate liveries to support real-world squadron operations.

Squadrons included:

- A Company, 1-211th ARB "Air Pirates"
- A Company, 1-227th ARB "Avengers"
- C Company, 2-159th ARB "Gunslingers"
- Wolfpack, 1-82 ARB

Files:
[squadrons.zip](https://github.com/dcs-liberation/dcs_liberation/f

[2022-03-20 05:08] Starfire13 opened #2098 ""Attempted to tick game loop before initialization" Error on Take off"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2010094572

### Description

Clicking Take Off with fast forward turned on generates this error.
![Capture](https://user-images.githubusercontent.com/72491792/159149044-939b1e2d-255f-4cdf-9a11-785fa9e78990.JPG)

Trying with fast forward turned off generates this error.
![C

[2022-03-20 05:19] sgtfuzzle17 opened #2099 "Scenic Route II update"
* Campaign name: Scenic Route 2 - Dust To Dust
* Files:
[scenic_inland.zip](https://github.com/dcs-liberation/dcs_liberation/files/8310648/scenic_inland.zip)

* Update summary (optional): Adjusted FARP helipad positions; some were too near to terrain or on slopes.

[2022-03-20 07:03] #2098 closed, assigned to DanAlbert

[2022-03-20 18:32] RndName commented on #2096
potential fix with 48945c1ce98a6dfde75ce79889f34d32167aba37

[2022-03-20 19:43] Hornet2041 opened #2100 "Not enough helipads available at Shiraz Intl"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2005744967

### Description

Liberation thinks there are no helipads available at shiraz international and spawns apaches mid-air. Worked around by editing the .miz directly and adding them to Shiraz, worked no problem.

### Save game and other files

[george_cant_hover_at

[2022-03-20 19:46] DanAlbert commented on #1848
This was fixed in 532ac261ff359c36e40e07b922d2da3083c28798

[2022-03-20 19:46] #1848 closed, assigned to SnappyComebacks

[2022-03-20 19:55] DanAlbert commented on #1973
DCS still does not allow this.

[2022-03-20 19:55] #1973 closed, assigned to nobody

[2022-03-20 20:01] DanAlbert commented on #1850
We need this too. _Please_ fill out bug templates. If we have to guess it takes a lot longer.

[2022-03-20 20:01] #1850 closed, assigned to nobody

[2022-03-20 20:20] RndName commented on #2096
just tested it - solved with the pydcs fork and the syria terrain update

[2022-03-20 20:20] #2096 closed, assigned to nobody

[2022-03-20 20:25] DanAlbert commented on #1763
The error message here doesn't exist any more in 6.

[2022-03-20 20:25] #1763 closed, assigned to nobody

[2022-03-20 20:41] #2046 closed, assigned to DanAlbert

[2022-03-20 20:42] DanAlbert commented on #2062
The upload didn't work

[2022-03-20 20:43] DanAlbert commented on #2062
Repro's in a game I just generated. Will upload if I don't end up fixing it.

[2022-03-20 20:47] DanAlbert commented on #2062
Flight/package deletion events aren't being sent to the front-end. This used to work because deleting packages/flights would cause a full reset of the map. We no longer do that because it's pointlessly expensive, but the front-end needs to be notified.

[2022-03-20 21:06] #2062 closed, assigned to DanAlbert

[2022-03-20 21:38] DanAlbert commented on #2078
This is happening whenever the two games have identical CP names, as is the case with the carriers here. They have the same key here:

[code]

As far as the map knows these are the same control point because they have the same key. The "move" that appears to be happening here is an implementation quirk due to some workarounds for drag-and-drop bugs in a dependency; it's actually a line drawn from

[2022-03-20 23:08] #2078 closed, assigned to DanAlbert

[2022-03-20 23:19] #2097 closed, assigned to nobody

[2022-03-20 23:19] #2099 closed, assigned to nobody

[2022-03-20 23:24] RndName commented on #2100
Should be fixed with 4a99b59a386398339da4e6521e43afc180eba0e8

[2022-03-21 00:23] uriba107 commented on #272
Hound has an export function pretty much from day 1. The output however is just a plain lua table.

It's possible to wrap the output with the built-in `net.lu2json` and dump the output to a file.
Something like
[code]
But how exacly to spawn the platforms correctly or what to do with the output is beyond me at this point.
I'll need to dive deep into Liberation codebase to make it even somewhat use

[2022-03-21 01:51] sgtfuzzle17 opened #2101 "Error on generating new campaign built using Syria expansion"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2013327364

### Description

![oL1m0Eq](https://user-images.githubusercontent.com/49757384/159196052-9a136364-b468-45ee-ba5e-faeea035d7f8.png)

This error occurs when trying to generate a new campaign using my new campaign; this campaign uses the newer airfield on Syria wh

[2022-03-21 10:08] #2100 closed, assigned to nobody

[2022-03-21 13:37] #1925 closed, assigned to RndName

[2022-03-22 09:28] RndName opened #2103 "Removed units (SA-8 LD and M4_Tractor) break save-compat in 5.2.0"
### Affected versions

5.2.0

### Development build

_No response_

### Description

With the recent patch two units were removed from the game `Unarmed.M4_Tractor` and `AirDefence.SA_8_Osa_LD_9T217`. As they can be still in the save game of 5.1.0 running campaigns they will break save compat for 5.2.0

Correction: the M4_Tractor was not removed it was changed from Unarmed to `Armor.M4_Tractor`

`

[2022-03-22 09:52] Hanninho commented on #2103
Attached is the savegame of the campaign (zipped due to the requirement of github)
[georgia_1_new.zip](https://github.com/dcs-liberation/dcs_liberation/files/8323117/georgia_1_new.zip)

[2022-03-22 11:16] RndName commented on #2103
Solved in latest 5.2.0 build https://github.com/dcs-liberation/dcs_liberation/actions/workflows/build.yml?query=branch%3Adevelop-5.2+event%3Apush

[2022-03-22 11:16] #2103 closed, assigned to nobody

[2022-03-22 11:29] RndName commented on #2103
linking the actual commit here https://github.com/dcs-liberation/dcs/commit/ef8cd82910ad86814da4cbfb5ca47f47d13e0e0a

[2022-03-22 12:21] RndName commented on #2101
Issue is within your campaign miz. You set Thalah not as Red or Blue and left it on neutral. Therefore liberation will not count it as Controlpoint and it will not appear in the list of available CPs -> Therefore the KeyError as there is no ID 5

[2022-03-22 13:19] sgtfuzzle17 opened #2106 "New campaign: Tripoint Hostility"
* Campaign name: Tripoint Hostility
* Files:
[tripoint_hostility.zip](https://github.com/dcs-liberation/dcs_liberation/files/8324547/tripoint_hostility.zip)

* Update summary (optional): A joint US Army/Air Force contingent must push Iraqi aggressors back through Jordan and Syria to the border, then pacify Iraq's nearby airbases. This campaign showcases the southeastern expansion to the Syria terr

[2022-03-22 15:21] #2101 closed, assigned to nobody

[2022-03-23 00:32] Starfire13 commented on #2083
The convoy is moving from Nellis to Creech FARP, and there's no frontline in between the two though. The only frontline is between Creech FARP and Groom Lake. Have encountered this twice so far in two separate campaigns. Workaround is to pass turn till the convoy has arrived at its destination.

[2022-03-23 13:07] sgtfuzzle17 commented on #2106
Getting an error upon hitting the Take Off button, screenshot attached. This is on dev build 6.0-3680, others have reported it on (at least) 5.2-3691:
![ZQhCok2](https://user-images.githubusercontent.com/49757384/159706151-e4a1aae3-adb2-471b-9d70-8ac53b9625a1.png)

[2022-03-23 14:18] sgtfuzzle17 opened #2110 "Airfields without runways getting assigned as divert airfields causing IndexError on Takeoff"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2013327364

### Description

Upon hitting the "Take Off" button, the below error is returned:
![ZQhCok2](https://user-images.githubusercontent.com/49757384/159720043-b01cd037-25c3-483c-ba3b-af9806ca8783.png)
While I'm running 6.0-3680, others have reported the same issue o

[2022-03-23 14:57] RndName commented on #2110
The issue here is that a flight got 'At Tanf' assigned as divert airfield. 'At Tanf' itself only has two helipads and no runways but as Mig-21s were assigned to this flight the planner wants to get the acitve runway of the divert airfield.

Solution for this bug is to improve the logic which assigns the divert airfield to more carefully check if the airfield is capable or not.

[2022-03-23 15:10] RndName commented on #2110
Save-game to reproduce [syria_bug.zip](https://github.com/dcs-liberation/dcs_liberation/files/8334179/syria_bug.zip)

[2022-03-23 15:13] RndName commented on #2106
reported as #2110

[2022-03-23 16:15] RndName opened #2111 "AH-64D Radio presets are not set correctly"
### Affected versions

5.2.0, Development build

### Development build

_No response_

### Description

The radio presets are not correctly set for the AH-64D. Only the flight frequency will be used. Any other frequency must be set manually in the helicopter.

Frequencies defined in the Mission Editor do not have any effect yet.

This is a known Issue with the model.

This GitHub Issue will be use

[2022-03-23 16:28] #2088 closed, assigned to RndName

[2022-03-23 16:28] #2085 closed, assigned to RndName

[2022-03-23 16:28] #2071 closed, assigned to RndName

[2022-03-23 16:29] #2061 closed, assigned to RndName

[2022-03-23 16:29] #2047 closed, assigned to RndName

[2022-03-23 16:32] RndName opened #2112 "Automatically recreate the layout pickle when changes are recognized"
In the current development build the layout system needs a pickle dump to work properly. This pickle already has a logic to re-create the pickle / re-import all layouts when a different build number is recognized.

This function should be extended to automatically detect layout changes and inform the user to re-import the layouts or automatically import the changed layouts.

https://github.com/dcs

[2022-03-23 22:40] Raskil opened #2113 "AH-64D Apache should be capable to use LHA carriers"
The Apache should be able to use the LHA carriers in Liberation, because in reality it seems that it is: https://www.defense.gov/Multimedia/Photos/igphoto/2002021867/
This would improve the variety of mission/campaings you can use the Apache in (e.g. Scenic Route campaign).

[2022-03-24 00:06] Hornet2041 opened #2115 "Separate option to set carrier based aircraft to runway/mid-air starts"
as most of us know, the AI is absolutely rotten at navigating a stacked carrier deck. I suggest making a separate option in the settings to set carrier aircraft to hot/runway/mid-air starts, while being able to still keep land based aircraft cold start (or whichever start user prefers).

pros:
 - dont have to worry anymore about dumb AI colliding up on deck and fouling it for the entire mission
 -

[2022-03-24 00:49] DanAlbert commented on #2115
I don't expect any of those options to survive when turns are gone. They won't be needed because ATOs won't be nearly so compressed.

[2022-03-24 00:54] Hornet2041 commented on #2115
I still wouldn't mind it existing for carrier aircraft because one AI taxi screw up on deck ends things forever in the mission for anything on that carrier.

[2022-03-24 00:59] DanAlbert commented on #2115
That's a symptom of overcrowded decks though, isn't it? It's not really a problem unless you're jamming all your flights to ASAP.

[2022-03-24 01:05] Starfire13 commented on #2115
It can still happen when the autoplanner creates a package for the carrier with more than 4 aircraft in it.

[2022-03-24 06:47] sgtfuzzle17 opened #2116 "Update for Fuzzle campaigns: ver10.0"
* Campaign name: This affects all of my campaigns, which includes the following:
Operation Allied Sword
Operation Blackball
Pacific Repartee
Scenic Route
Scenic Route II
Tripoint Hostility **(this is a new campaign to 5.2, these are the most up-to-date files for it)**

* Files:
[campaigns.zip](https://github.com/dcs-liberation/dcs_liberation/files/8339040/campaigns.zip)

* Update summary (optional

[2022-03-25 00:15] #2110 closed, assigned to Raskil

[2022-03-25 00:15] #2113 closed, assigned to Raskil

[2022-03-25 13:32] JDLiefting opened #2119 "Error when trying to edit F-16C flights"
### Affected versions

5.1.0

### Development build

-

### Description

Just pressed start campaign. Flights pop up. Trying to edit F-16 flights give me this error. also tried making my own flights, same result. Other aircraft ive tested work fine.

UPDATE: Also cannot save missions.

When trying to edit F-16:
[code]

When trying to save start mission:
list index out of range

[code]
### Save gam

[2022-03-25 15:26] #2119 closed, assigned to nobody

[2022-03-25 21:58] Hornet2041 opened #2120 "JTAC names show up as strings of jumbled letters/numbers"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2037333473

### Description

see screenshot. clean 3707 install, JTAC autolase plugin enabled.

### Save game and other files

![image](https://user-images.githubusercontent.com/55866858/160207789-e1f9aff0-0f13-453e-90a8-cce13162053a.png)

[valley of rotary but im flying f

[2022-03-25 23:31] sith1144 opened #2121 "Update for Task Force Thunder"
* Campaign name: Task Force Thunder
* Files:
[Task Force Thunder.zip](https://github.com/dcs-liberation/dcs_liberation/files/8354271/Task.Force.Thunder.zip)
* Update summary (optional): An update for task force thunder, using the new H3 airfields in Iraq

[2022-03-26 01:03] sgtfuzzle17 opened #2122 "Tripoint Hostility campaign hotfix"
* Campaign name: Tripoint Hostility
* Files:
[tripoint_hostility.zip](https://github.com/dcs-liberation/dcs_liberation/files/8354428/tripoint_hostility.zip)

* Update summary (optional): Small fix for incorrect FOB/airfield IDs in campaign.yaml.

[2022-03-26 02:23] DanAlbert commented on #2120
I agree it's weird, but does this actually cause any problems?

[2022-03-26 08:45] Starfire13 opened #2125 "AI Apaches unable to take off with full fuel load"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2037333473

### Description

AI Apaches are often unable to take off with a full fuel load (even though players can). This is affected by loadout, height above sea level, and ambient temperature.

I've found that Apaches at 50% fuel have an operating time of about 1 hour 1

[2022-03-26 11:08] RndName commented on #2121
@sith1144 is this campaign compatible with campaign version 10.0?

[2022-03-26 11:25] #2106 closed, assigned to RndName

[2022-03-26 11:25] #2116 closed, assigned to RndName

[2022-03-26 11:26] #2122 closed, assigned to nobody

[2022-03-26 14:45] Hornet2041 commented on #2120
uhhh... yea, not really.

[2022-03-26 14:47] kevotosmart opened #2126 "Apache INU alignment"
### Affected versions

Development build

### Development build

_No response_

### Description

Scenic route 2- dust to dust
Faction: NATO OIF

Apache refused to INU align on farps. Tested with and without liberation.

I think the conflicting issue has to do with them being a neutral coalition, since in ME you cannot place a ramp start (cold or hot) Blue on a neutral invisible helipad

I don't th

[2022-03-26 15:43] Hornet2041 commented on #2126
its not a bug. The Apache and other US aircraft using GPS as INS sources need to have the USA in the player coalition or have the .miz option "unrestricted satnav" enforced.

https://discord.com/channels/595702951800995872/790195984105734165/903211350656946206 relevant discord discussion from a year ago from first encountering the issue

[2022-03-26 15:59] Hornet2041 commented on #2126
NATO OIF/Desert Storm factions missing unrestricted_satnav options caused this

[2022-03-26 15:59] #2126 closed, assigned to nobody

[2022-03-26 16:09] RndName commented on #2126
fixed with https://github.com/dcs-liberation/dcs_liberation/commit/f7f565477c1aed994333b12a6844785335fddd53

[2022-03-27 08:59] Starfire13 opened #2127 "Squadrons can be created with no base"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2046201333

### Description

You can create a squadron with no base if there are no bases available for that aircraft type. For example, an A-10 squadron on Blackball, where you start off with no airfields.

![Capture](https://user-images.githubusercontent.com/72491792/160

[2022-03-27 11:30] Starfire13 opened #2128 "Culling error in max_detection_range"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2046201333

### Description

Got this bug on hitting take off. Disabling culling prevented the error popup.

![Capture3](https://user-images.githubusercontent.com/72491792/160279405-36873a09-ce6e-45f9-a304-b6a856512ce9.JPG)

### Save game and other files

[Blackball #3730.

[2022-03-27 18:51] EagleMountainDK opened #2129 "Player Apache falls to the ground and explodes as soon as the mission starts"
### Affected versions

5.2.0

### Development build

_No response_

### Description

I started a fresh campaign of "The Golan Heights" with the default sides. Added my self in the Apache Squadron and bought units. Pressed the "Start campaign" and used the default plans without touching anything.
Joining in my slot crashes the Apache as soon as the mission start. Delaying for a moment by joining th

[2022-03-27 18:51] RndName commented on #2120
Issue is due to the logic how the unit and group name are generated over here:
https://github.com/dcs-liberation/dcs_liberation/blob/c9df8cc803c9a1a1ddc5fe7e8f6425505b68c74d/game/missiongenerator/flotgenerator.py#L144

[2022-03-27 19:29] septagram opened #2130 "OCA/Aircraft flight RTBs before reaching targets"
### Affected versions

5.1.0

### Development build

_No response_

### Description

There was a 2x F-16 allied AI flight from Mozdok tasked at OCA/Aircraft at Minvody, each equipped with 6x AGM-65D (group name in TacView "Mineralnye Vody OCA/Aircraft|2|11|28|F-16CM Fighting Falcon (Block 50)|"). The flight took off, progressed halfway to Minvody, then turned around and landed. There doesn't seem

[2022-03-27 19:49] DanAlbert commented on #2130
Possible that the earlier fix was accidentally removed. The other options I think are the flight plan being wrong (unlikely) or bingo fuel.

[2022-03-27 21:07] septagram commented on #2130
Probably not the bingo fuel case (default OCA/Aircraft loadout, homeplate not that far away). Another hypothesis is the flight realized it had no escort (there was a TARCAP in a separate DEAD package with the same TOT; it got decimated but cleared the skies successfully before that), got scared and went home (is it smart/dumb enough for that?).

[2022-03-27 22:03] DanAlbert commented on #2130
afaict the DCS AI has no awareness of friendly aircraft at all (aside from tankers), so presence/absence of escorts shouldn't make any difference. We don't add any RTB triggers on our end, and I believe the ROE is set such that they won't run unless they're bingo or winchester.

[2022-03-27 22:31] Starfire13 commented on #2130
What was the weather like? I have noticed that A2G flights will RTB without engaging their targets when visibility is low.

[2022-03-27 22:42] DanAlbert commented on #2130
The target is supposed to be a flyover point though. Not seeing the target might _also_ be a problem (one we can't fix), but they aren't flying the flight plan we expect

[2022-03-27 22:55] Starfire13 commented on #2130
Yeah, that's true. For OCA/aircraft it is a flyover point. Hmm.

[2022-03-27 23:00] DanAlbert commented on #2130
If you've just confirmed that in the ME (I haven't looked, I'm just making notes for whomever ends up looking at this), that's a pretty good indicator that this is a DCS bug. There's nothing we can do when the AI won't follow orders.

[2022-03-27 23:01] Starfire13 commented on #2130
I just looked at the Liberation save file included in the zip. There are no packages planned. I think it's the wrong save.

[2022-03-27 23:10] Starfire13 commented on #2130
And yes, it is a flyover point in the ME. Running the .miz now.

[2022-03-27 23:26] Starfire13 commented on #2130
The issue is fuel. Your Viper loadout has 6 Mavericks and 2 CBU-105s and no external tanks at all. This means they only have about 7000 lbs of fuel. By the time they are halfway to their target, they are already down to 1300 lbs of fuel. My F-16 loadouts typically have 2 external tanks, but I would consider at least one practically mandatory. The AI has no concept of fuel conservation and will hap

[2022-03-28 00:28] Starfire13 commented on #2129
Is it falling to the ground because it is colliding with another aircraft on spawn in, or does it just fall out of the sky because it is spawning in the air and you aren't able to get it under control in time? Essentially, is it already dead before it hits the ground?

[2022-03-28 04:12] nosv1 opened #2131 "Prioritize Package Types"
Before filing, please search the issue tracker to see if this feature has already been requested.

If requesting a DCS AI feature, check If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Is your feature request related to a problem? Please describe.**
I don't need 20 (exaggerated number) BARCAPS when I have an advantage in air superiority but a disadvan

[2022-03-28 04:30] DanAlbert commented on #2131
What's the actual proposal here? No defenses?

[2022-03-28 04:35] nosv1 commented on #2131
Uh, I'm not sure exactly, but like for example, a generation with ProtectAirSpace on top compared to ProtectAirSpace below Capture and Defend Bases

![image](https://user-images.githubusercontent.com/47610393/160327172-fc80bb38-10ff-40b5-865b-5870f6587546.png)

![image](https://user-images.githubusercontent.com/47610393/160327055-4a50c92b-35b2-4d2c-a449-41095c74599e.png)

the first one in my mind

[2022-03-28 04:37] nosv1 commented on #2131
oh don't mind the Regenerate button on the packages panel, the packages weren't getting updated after accept results, so tried out a regenerate button 😅

I just updated from 5.1.0 to 5.2.0 and haven't tried since, so may be fixed for me now idk

[2022-03-28 04:41] DanAlbert commented on #2131
I think some of the work here was unfinished. BARCAPs are essential for protecting all the support structures, but I can see an argument for the front line being more important. It's a tough balance to strike though. You will lose much more quickly if you can't buy any more tanks.

I think the way to do that is to make `DefendBases` be the highest priority, and to make it responsible for both FLOT

[2022-03-28 04:45] nosv1 commented on #2131
I see... 🤔 My initial imagined solution was to either have the code use logic based on the available intel (air superiority, front line) to decide which packages to generate in what order (given that'll dictate which aircraft are available for other flights), or the user can click a button to open a window and drag around these actions then regenerate the packages.

[2022-03-28 05:05] DanAlbert commented on #2131
That's some of that "unfinished work" I mentioned earlier. The hard part is coming up with the rules. What did you have in mind?

These are implementation details. They do not belong in the UI. General preferences for targeted priorities like BMS has makes sense, but direct access to the implementation is just going to make it difficult for us to continue evolving behavior here, and most likely ju

[2022-03-28 06:51] nosv1 commented on #2131
Ah, um, nothing specific yet, guess just re-bumping the idea, I guess, given it appears it's already been considered and put aside for now. I'll try to come up with some logic tho - even if very basic given my lack of strategic experience / knowledge of how liberation classes these actions and what each of them does specifically.

Gotcha 👍

[2022-03-28 11:08] sgtfuzzle17 opened #2133 "Add a setting for enabling unrestricted SATNAV for player faction"
**Is your feature request related to a problem? Please describe.**
Recently (covered in issue #1700) a change was made to allow *some* non-US factions to use non-restricted SATNAV, however this can still lead to issues with newer factions, requiring either manual faction.yaml tweaks or messing around in the editor each turn.

**Describe the solution you'd like**
Add a setting option in the appropr

[2022-03-28 12:29] Biggus22 opened #2135 "A-10C2s defaulting to air-start and never spawning"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2045067691

### Description

Noticed this in two campaigns today, Taskforce Thunder and Tripoint Hostility.
Player A-10C2s never seem to spawn, and after checking that they were cold-starts at mission planning, they seem to revert back to air starts.

I tried to set up a s

[2022-03-28 13:16] Kondor77 commented on #1570
Bumping this one up. I also edit most of my lib missions before running them, an option for this in the UI would be fantastic.

[2022-03-28 13:27] Hornet2041 commented on #2131
BMS lets players prioritize which mission types and targets are tasked, divided into regions on the map. Maybe instead of reshuffling the tasking priority in Liberation, try to recreate the BMS method and let the user set it?

![image](https://user-images.githubusercontent.com/55866858/160407997-160b585a-b38d-4504-8a74-8f5c40201191.png)
![image](https://user-images.githubusercontent.com/55866858/1

[2022-03-28 14:21] Hornet2041 commented on #2135
The parking slots at H4 are too small for the A-10C II, but it can still do a runway start. Liberation will default it to in-flight start though.

[2022-03-28 15:02] EagleMountainDK commented on #2129
No, I'm not really sure how to describe it. As soon as I spawn into the only player AH-64D my view is looking straight into the back of the seat with no option of turning around. The heli looks to be moving backwards in a straight line and pressign F2 gives detonates a AH-64D on the FARP. Not really sure what happens to be honest.
Very curios if other see the same in when starting my mission.

[2022-03-28 15:48] nosv1 commented on #2131
That'd be hot af. Unfortunately, I'm not sure how straightforward it'd be to implement percentages per mission type, at this time, but it def feels doable to say focus on this type first, then this type, and so on.

_😩 wish I knew more about UI and well the rest too lol_

[2022-03-28 18:32] #2120 closed, assigned to RndName

[2022-03-28 21:37] Starfire13 commented on #2129
Ah. It blows up on the FARP itself then. I've seen that happen on Blackball with specific FARPs. My guess is that when FARPs are placed on a slope, the tail wheel clips into the terrain on spawn and destroys the chopper.

[2022-03-29 00:36] DanAlbert opened #2137 "per-flight task briefings"
**Is your feature request related to a problem? Please describe.**
https://github.com/dcs-liberation/dcs_liberation/pull/2136 highlighted that a lot of folks (including developers and testers) don't understand the difference between SEAD, SEAD escort, and DEAD.

**Describe the solution you'd like**
We ought to brief players on the goals of their mission, not just on the flight plan. "SEAD on $POIN

[2022-03-29 01:18] Biggus22 commented on #2135
Yes, was able to get them to cold start spawn at H3.

[2022-03-29 07:35] Starfire13 opened #2139 "ValueError: Unhandled building category: fob in log on using cheat to capture a FOB"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2048799345

### Description

An error is generated in the log (with no popup) when a FOB is cheat-captured. This error does not prevent the FOB from being cheat captured, but should probably be looked at in case it breaks anything else behind the scenes.

Traceback (most r

[2022-03-29 14:00] EagleMountainDK commented on #2129
Hmmm not really sure what happens, since I spawn into my Apache with no control possible, i.e. view change and the like does not work. The heli exploding seems to be my wingman?!?!?!
Please see this clip from TacView of the mission: https://youtu.be/klEKY3mncbU

This is a picture of my Apache in the editor: https://www.twins4ever.dk/pictures/PC/DCS/Liberation/Digital%20Combat%20Simulator%20%20Blac

[2022-03-29 14:16] EagleMountainDK commented on #2129
My last try was to remove my self from the flight and added a new Apache mission with only one helicopter. Now the mission starts with me in the cockpit but the above helicopter still explodes so I think you are right about the placement of the farp causing problems.

[2022-03-30 17:13] septagram commented on #2130
I'm afraid that's a save *after* the mission has run :(

I accepted the results first and watched the TacView later, only then seeing that there was an issue. Would be awesome if Liberation also kept last autosave along with the current one just for the cases like this.

[2022-03-30 17:15] septagram commented on #2130
Oh I see )) Duly noted, thanks for clearing that up. Note that this was the default loadout IIRC.

[2022-03-30 22:25] Starfire13 commented on #2130
You don't have to adhere to the default loadouts. I setup my own defaults for all my aircraft instead of using the included ones, and alter them depending on my needs in different campaigns. There's info on the wiki on how to do this if you wish to as well.

[2022-03-30 22:36] DanAlbert commented on #2130
If that's the default it's a bad default though. If "you can fix it yourself" is a valid argument we wouldn't need to ship defaults at all :)

[2022-03-30 22:58] Starfire13 commented on #2130
Well, many of the default loadouts are sub-optimal. And not just for the F-16.

[2022-03-30 23:06] DanAlbert commented on #2130
Yes. It's not practical for us to find and fix all of them, but the least we can do is keep the bugs open for the known issues.

[2022-03-31 12:13] Starfire13 opened #2142 "Newly purchased EWRs are showing as degraded (yellow bar)"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2066591311

### Description

Newly purchased EWRs are showing a yellow bar beneath the icon.

![Capture](https://user-images.githubusercontent.com/72491792/161051577-1cb1b90a-c830-42fc-b932-781d2220a328.JPG)

### Save game and other files

[Vegas Nerve #3751.zip](https://g

[2022-03-31 12:14] Starfire13 commented on #2142
Note that this is an EWR purchased at a SAM site. Should we be able to convert SAM sites into EWRs?

[2022-03-31 12:33] RndName commented on #2142
Yeah this causing the yellow bar because the game thinks this is a threat but has nothing to threat you with as it has no launchers. Therefore its degraded.

Your question is the right question! IMO this should be possible, why mnot?

I may change the degraded calculation logic to actually check if the thing is threat or not. Aka check if there was a launcher. If there was none this should not sho

[2022-03-31 12:42] RndName commented on #2125
#656

IMO we need more to solve this correctly:  we need to show the user the amount of fuel set by liberation and give them the possibility to override this

Best thing would be to have a function calculating required fuel and the max takeoff weight which also includes OAT.

[2022-03-31 17:33] DanAlbert commented on #2142
If we're replacing a SAM TGO group with an EWR without changing its type other things will be broken. The AI commander will treat it as a SAM because that's its type.

[2022-03-31 19:45] Starfire13 commented on #2125
Yeah, I agree. I've actually been running all my campaigns in winter to get around this limitation. Perhaps some sort of warning if the temperature is over a certain threshold, and the ability to reduce Apache fuel load if the user wishes to.

[2022-04-01 06:56] nosv1 opened #2143 "Logical Strike Targeting"
this is not the way...

**Is your feature request related to a problem? Please describe.**
The problem is if your strike target consists of more targets than your plane can carry bombs, then no matter how many planes you include in that flight, it's likely you leave a target behind - not very efficient.

**Describe the solution you'd like**
The solution is to mix the order of targets throughout th

[2022-04-01 07:39] DanAlbert commented on #2143
Duplicate of #1568

[2022-04-01 07:39] #2143 closed, assigned to nobody

[2022-04-01 09:55] #2128 closed, assigned to nobody

[2022-04-01 12:42] RndName commented on #2129
This one here two different issues in one:
1) The player apache is behaving extremly awkward:

This even happens if you move the player apache to a airbase helipad.. Something is really broken with it. I was not able yet to reproduce what exactly happened with this flight. Generating a complete new fresh campaign worked as expected...

May has something to do with the Starting time and the setting

[2022-04-01 13:22] RndName commented on #2129
At least that part is now clear for me. As the startup time of your flight is 11:48 it is delayed. If the delay is greater than 10 mins it will be set to uncontrolled. This will give you the view you see:

After 11:48 you would be able to use the apache.

The other issue with the exploding apache really seems to be caused by uneven terrain (as far as we currently know)

[2022-04-01 22:47] fizzle77 opened #2145 "Waypoint TOT differences between kneeboard and aircraft"
### Affected versions

5.2.0

### Development build

_No response_

### Description

In the A-10C II (I'm not sure if it's unique to this aircraft) there is always a 2-4 minute mismatch between the kneeboard TOT and what's set in the aircraft:

### Liberation UI

![my-flight-liberation](https://user-images.githubusercontent.com/42720583/161350540-6e437830-2118-4775-8728-e749fba0d468.png)
![liberat

[2022-04-01 22:50] Starfire13 commented on #2145
Possibly related to https://github.com/dcs-liberation/dcs_liberation/issues/1848 which was fixed?

[2022-04-02 08:40] RndName commented on #429
This can now be easily achieved with the new Layout system introduced with #1989

You can add an optional Group to a layout with the unit_class "Logistics". Whenever the faction has access to one of these units it will be added to the layout. To bring in some randomisation it is also possible to set the Unit_count to [0, 1] which will randomly pick either 0 or 1 logistics units.

Example on how we

[2022-04-02 13:05] ssg-dev opened #2148 "AI fails to plan CAS missions from FOB for helicopters for some factions on Scenic Route 2"
### Affected versions

5.2.0, Development build

### Development build

3758-preview

### Description

Affects both development and 5.2 versions.
Might affect other campaigns too, did not test.
Might affect other factions too, I did not test them all

For certain factions(PMC USA, PMC Russia) AI fails to plan CAS mission for Helicopters from FOB Tang-e Dalan. AI purchases 2 helicopters  (Gazelle,

[2022-04-02 16:41] nickjzx opened #2149 "Naquora, Syria is unusable for helicopters"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2081970415

### Description

Moving helicopters to Naquora in Syria and attempting to generate a mission causes an error, moving them back to Haifa fixes the issue.  To reproduce the error load the attached save and click the take off button, the following error will appea

[2022-04-05 15:31] DillieKoe commented on #1649
ED seems to have fixed this now

[2022-04-05 17:50] #1649 closed, assigned to nobody

[2022-04-06 19:09] RndName opened #2152 "DEAD flight with AttackGroup task fires all missiles against a single target"
### Affected versions

5.2.0, Development build

### Development build

_No response_

### Description

We set the AttackGroup task for DEAD flights with the property ["expend"]="All" instead of ["expend"]="Auto" like DCS does by default. This causes the AI to fire all available missiles at one single target. This makes the DEAD flight extremly uneffective.

![grafik](https://user-images.githubuse

[2022-04-06 19:17] DanAlbert commented on #2152
How well does "auto" work when the loadout is plain CBUs? That's sort of the "expected" loadout for this mission type.

[2022-04-06 19:29] RndName commented on #2152
In this example it fires 1 JSOW at each target. I think i've read sth in the dcs forum about the AI calculating the amount of ammunition needed against the given target. but this is highly speculative tbh. I am not sure :D
But Auto is still way better as we normaly have at least two aircraft coming in with a huge loadout.

Also i found out in my testing that the AI is not targeting the Ural Truck

[2022-04-06 19:52] DanAlbert commented on #2152
My worry is that with non-standoff weapons the AI will take multiple passes over the target dropping one CBU per target and just end up getting killed once the SAM wakes back up. With unguided bombs they really need to do one pass haul ass.

[2022-04-06 20:04] RndName commented on #2152
With unguided the AI is cheating :D they drop them immediatly at the correct targets.

![grafik](https://user-images.githubusercontent.com/6678803/162061466-ca26f36b-eccb-4c41-813b-b8dfdd83f803.png)

[2022-04-06 21:32] #2121 closed, assigned to nobody

[2022-04-06 23:46] DanAlbert commented on #2152
Nice, okay, so this improves both behaviors.

[2022-04-07 09:53] RndName commented on #2152
we can also set attackQty to 1 if we want SEAD and DEAD to only do one attack run at all. We currently have attackQtyLimit disabled so the AI can do what it wans if i understand this parameter correctly

[2022-04-07 16:24] sgtfuzzle17 opened #2155 "Add preset starting positions for budget/income multipliers to campaign.yamls"
**Is your feature request related to a problem? Please describe.**
Currently, income is used to control both the flow of a campaign as well as help mitigate performance issues. Unfortunately, while campaign designers may create a campaign with a certain flow in mind, and can make recommendations, there's no user-friendly way to actually automate these settings.

**Describe the solution you'd like*

[2022-04-08 00:56] Dovahkiin-r commented on #2152
Isn't CBU 103 a guides Bomb? Humans can do that too, beacuse that works like GPS guided bombs...

[2022-04-08 01:12] DanAlbert commented on #2152
Good catch, yes. The unguided version of that is the 99? 103/105 are WCMD, so that should probably be retested.

[2022-04-08 01:23] sgtfuzzle17 opened #2157 "Devbuild submission for preset income slider values (Fuzzle campaigns)"
* Campaign name: This covers all 6 of my campaigns; all campaign.yamls are packaged in the attached zip.
* Files:
[resources.zip](https://github.com/dcs-liberation/dcs_liberation/files/8447778/resources.zip)

* Update summary (optional): Updating to the 10.1 campaign version, campaigns will have the ability to have predefined budget/income values. This is an update I requested in #2155 and which @

[2022-04-08 08:08] RndName opened #2158 "Missing map functions after migration"
### Affected versions

Development build

### Development build

_No response_

### Description

There are some functions missing after the migration. This issue is a placeholder for them. continue of #2039

- [x] Ruler
- [x] Culling can not be displayed
- [ ] The check boxes to hide and show UI stuff was not working for AAA/SAM threats

### Save game and other files

-

[2022-04-08 08:56] sgtfuzzle17 opened #2159 "Missile sites confusing Scuds/Silkworms on dev build"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2110654662

### Description

On the new dev build, missile sites seem to be getting generated erroneously - my own campaigns are generating Silkworm sites far inland where there should be Scud sites. @RndName has speculated that this may be an issue caused by the new layou

[2022-04-08 09:30] RndName commented on #2152
Ok you were right i checked it with CBU-87s 8 per Aircraft, 2 Aircrafts per package.
![grafik](https://user-images.githubusercontent.com/6678803/162401699-fd1de688-3a92-42c3-b175-bb50d2bef00b.png)

Results Unguided CBU-87 (8x) and MK-82 (4x each)
- All and Group Attack: they fire all CBUs against one target (both flights the same): 1/8 killed in 1 run
- **All and no Group Attack**: they fire all C

[2022-04-08 15:45] RndName commented on #2152
Also this could be interesting for #270 as there my be specific Attack Task profiles for each Aircraft. The default value we choose is always a tradeoff and does not work equally for all missions and aircrafts.

[2022-04-08 17:41] DanAlbert commented on #2152
As long as the selected target is one of the radars, group attack sounds like the better option? Best chance of survival and best chance of removing the threat. Group attack disabled might kill more units, but that doesn't matter. The goal is to make the SAM inoperable, not to wipe it completely off the map. Launchers with no radars aren't any more of a threat than a ural. The AI commander won't e

[2022-04-08 19:02] RndName commented on #2152
Yeah i tried a bit of testing with Auto and GroupAttack on. Works quite nice even against an SA-11 with only Telars. The AI does a quite okay job in setting the target priority: they killed all the Launchers for the SA-11 Site. For the SA-2 Site they just focused the SR and TR. Really good overall effects.

So maybe Auto and GroupAttack on is the way to go.

Same thing for Strike and BAI. WDYT, St

[2022-04-08 19:31] #2159 closed, assigned to RndName

[2022-04-08 19:55] DanAlbert commented on #2152
Makes sense for BAI but I suspect we can't do much for strike since each target is a distinct _task_. Afaict the AI cannot plan ahead.

[2022-04-09 14:04] RndName commented on #2152
yes we can not set the priority to the AI in regard to the targets but the Bombing task also has the GroupAttack param so at least all pilots attack the targets :)
Gonna update the PR accordingly.

For the future when we come to the point of mission specific flight plans it could also be of interest to add customization possibilites to these task params from the UI. but thats for the future :D

[2022-04-10 04:54] fercyful commented on #2129
Hi there! Here the problem is that the wingman explodes beside me at the FARP. I check the mission and me and the AI try to take from the same helipad. Changed the AI one and now both stay alive at the start of the mission :) Also can be the sloped terrain if the system auto assign the starting position for the AI wingman (with bad luck at uneven terrain)... thanks!

[2022-04-10 06:07] Starfire13 commented on #2129
If indeed two apaches are spawning on the same helipad, then it is a different issue from this one. File your own bug report with the requisite info and save file please.

[2022-04-10 08:24] #2155 closed, assigned to RndName

[2022-04-10 08:30] RndName commented on #2129
That’s probably the dcs limitation for FOBs that you can not specify the helipad which will be used.  IIRC dcs assigns them automatically so they won’t spawn inside of each other. We just fake the position from pydcs by setting the coordinates of the helipad but the helipad you see in mission editor must not be the one assigned by dcs later in the mission.
I suspect the issue to be the same with t

[2022-04-10 20:39] fercyful opened #2161 "AH-64D AI Wingman Explodes at mission start at FARP"
### Affected versions

5.2.0

### Development build

_No response_

### Description

1. Start The Mission
2. AI Wingman Explodes on the left side of my own AH-64D
3. I want that both units survive for start the mission. I know the DCS AI is quite bad but I like to fly for some minutes with it :)

### Save game and other files

Hi there! Here the problem is that the wingman explodes beside me at th

[2022-04-10 20:40] fercyful commented on #2129
Thanks for support just post the bug report + Files . Hope it helps.

https://github.com/dcs-liberation/dcs_liberation/issues/2161

[2022-04-10 20:42] fercyful commented on #2129
Thanks for support and great explanation. Almost sure have to be the sloped terrain there... Just wrote the report and send the files. Thanks!

https://github.com/dcs-liberation/dcs_liberation/issues/2161

[2022-04-11 00:26] mikef-phy commented on #765
Yea i couldn't keep up with a loaded f16 without using afterburner.  They are def flying too fast.

[2022-04-12 21:41] RndName opened #2163 "Helo missions and CTLD support"
To bring in some missions for rotor pilots the CTLD (https://github.com/ciribob/DCS-CTLD) script has to be integrated into liberation.
This issue is a placeholder for all the tasks to complete.

**Requirements**
- [x] Integrate CTLD plugin into liberation
- [x] Swap JTACAutolase to the ctld one
- [x] Rewrite of the LUAGenerator #2018
- [x] exporting pilot names, pickup zones, dropoff zones, target

[2022-04-12 22:25] #2157 closed, assigned to RndName

[2022-04-14 09:11] #1292 closed, assigned to nobody

[2022-04-14 09:37] RndName opened #2165 "Waiting for mission completion window preventing correct process exit"
### Affected versions

5.2.0, Development build

### Development build

_No response_

### Description

Liberation.exe / main process does not exit correctly and will still be alive after Manual Submit and the "Waiting for mission completion" window appears.

Steps to reproduce:
Press takeoff, choose manual submit, select state.json. After that the "waiting for mission completion" window appears.

[2022-04-14 11:52] #2165 closed, assigned to RndName

[2022-04-15 01:54] Starfire13 opened #2167 "Supply Route Colours Displaying Incorrectly"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2167015779

### Description

After starting up Liberation, if you then switch to a different save file or start a new campaign, the colours on the supply routes do not update properly. Right-click > reload is a workaround.

As an example, here's what the supply routes ough

[2022-04-15 07:42] Starfire13 commented on #2152
Attaching save file with kamikaze SEAD flights as Rndname requested. There are 2 packages of 8 Hornets each attacking two different S-300 sites, as well as a whole bunch of other flights attacking a variety of different SAM sites. On the whole, they don't do very well.

![Capture](https://user-images.githubusercontent.com/72491792/163540917-043aa1b0-24c5-48e0-9d0a-f8fefe4e7408.JPG)

[Vegas Nerve #

[2022-04-15 11:19] holyorangejuice opened #2168 "Change Width of Frontlines"
Before filing, please search the issue tracker to see if this feature has already been requested.

If requesting a DCS AI feature, check If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Is your feature request related to a problem? Please describe.**
It can sometimes feel like the frontline is too large and a condensed version would be more appropriate

[2022-04-15 11:28] holyorangejuice opened #2169 "3777 6.0 dev build - Map Options not working"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2143326024

### Description

In 3777 the map options in the top left and top right have been changed. There is no longer a ruler or options to show culling.

The options on the right such as
-Control Points
-Aircraft
-Active Combat
-Air Defenses
-and so on...

These option

[2022-04-15 13:26] Starfire13 commented on #2169
https://github.com/dcs-liberation/dcs_liberation/issues/2158

[2022-04-15 13:26] #2169 closed, assigned to nobody

[2022-04-16 03:12] Hornet2041 commented on #2163
couldn't this tie into the existing pilot system? Recovering downed pilots could return them to the pool instead of having to wait for it being replenished by reinforcements

[2022-04-16 04:31] DanAlbert commented on #2163
If it doesn't the pilot feature was fairly pointless. That was always the motivation for doing it.

[2022-04-16 10:11] RndName commented on #2163
Good point (i never looked deeper into to the replenish function yet - shame on me i know :D)
Gonna update the issue later. Reading this the CSAR can have more sense i initially thought :)

[2022-04-16 10:13] DanAlbert commented on #2163
The replenishment aspect is part of it, but the skill level is important too. Even with instant replenishment it'd be worth rescuing veteran pilots.

(Limited replenishment remains optional because we haven't come up with an economic balance that anyone thinks is an improvement yet)

[2022-04-16 15:15] RndName commented on #1568
This issue (1) is now tracked in another issue #2152
For issue 2: It is better to use BAI task for this. (https://github.com/dcs-liberation/dcs_liberation/wiki/Mission-planning) Strike mission uses the Bomb tasking which tells the AI to strike a specific location rather than units / groups. BAI on the other side uses the AttackGroup command which forces the AI to attack a specific group.

[2022-04-16 15:15] #1568 closed, assigned to nobody

[2022-04-17 15:57] rabauke80 opened #2172 "Display supported mod version in campaign wizard - new game - dialogue"
Since a specific versions of the individual mods are required to be installed by the user, it would be beneficial if the exact version would be displayed, which is supported by Liberation.

I advise against hardcoding the version number of the supported mod version - I'm sure it is available in one of the many yaml files.

![image](https://user-images.githubusercontent.com/67376231/163722344-92df7

[2022-04-18 12:00] rabauke80 opened #2173 "Re-structure campaign wizard dialogue"
![image](https://user-images.githubusercontent.com/67376231/163805131-b1c2d0a3-6e4f-49e4-97f5-a3d4a43cf19f.png)

From a UI flow perspective, it seems weird that the user pushes a finish button, just to get a fresh dialogue, which has no accept button, but can only be closed by the X in the top right. I do know that the air wing configuration was added long after the initial campaign wizard flow -

[2022-04-18 12:18] Starfire13 commented on #747
I wonder if this FR should be closed, now that we have default factions, preset squadrons, and recommended campaign economy settings.

[2022-04-18 15:38] rabauke80 opened #2174 "CTLD - enable infantry transportation"
Related to #2163 , CTLD can be configured per helo, in order to reflect the IRL transport capacity, both in terms of unit count (infantrymen) and total weight loaded.

Out of the box, CTLD does not care about the individual helo loading capacity, so helo models need to be enabled to transport/load troops in general, plus a separate configuration.

**Maximum Units SETUP for UNITS**
https://github.c

[2022-04-18 15:59] rabauke80 opened #2175 "UH-60L v1.3.1 mod support - update"
* Mod name: UH-60L
* Mod URL: https://github.com/Kinkkujuustovoileipa/uh-60l/releases/tag/1.3
* Update or new mod? Update - binary 1.3.1 (https://github.com/Kinkkujuustovoileipa/uh-60l/releases/download/1.3/UH-60L.1.3.1.zip)

[2022-04-18 16:29] rabauke80 opened #2176 "Faction update - add UH-60L to IAF factions"
As per https://github.com/dcs-liberation/dcs_liberation/commit/bef27ffb20f71280cc18e79fa0b3a2bc57c21309 UH-60L mod support was added and most usable factions updated.

The UH-60A/L entered service for the IAF in August 1994 according to https://en.wikipedia.org/wiki/Sikorsky_UH-60_Black_Hawk#Israel

The following base factions involving IAF (Israeli Air Force) as lacking the aircraft:

- Israel-US

[2022-04-18 18:27] #747 closed, assigned to Malakhit

[2022-04-19 08:19] #2127 closed, assigned to RndName

[2022-04-19 08:21] #2152 closed, assigned to RndName

[2022-04-19 08:51] #324 closed, assigned to RndName

[2022-04-19 08:52] RndName commented on #1797
solved with 138e48dc2d0d5b52c591e4dbd711dbc6b01d3f56 in develop branch

[2022-04-19 08:52] #1797 closed, assigned to RndName

[2022-04-19 08:52] #1847 closed, assigned to RndName

[2022-04-19 17:54] RndName opened #2178 "Separate the mod support functionality like with the plugin system"
In the current system a lot of main liberation code has to be changed to bring in mod support. This requires a liberation update whenever a mod gets updated.

Requested Feature:
Separate the mod support completly from the main code and let a mod support be injected like a plugin without requiring to touch the base code. This allows mod support developers to provide support packages which can be pu

[2022-04-20 04:19] SnappyComebacks commented on #1727
Additional debug tools can be enabled in [WaypointDebugZonesControls.tsx](https://github.com/dcs-liberation/dcs_liberation/blob/c437fa329c4e8fe9ec8832e6ba7402557bb73c47/client/src/components/waypointdebugzones/WaypointDebugZonesControls.tsx#L8)

And when discussing `NavMesh` https://discord.com/channels/595702951800995872/595706037449785364/966186750332514355
[code]

NavMesh colors on UI:  Red = `

[2022-04-20 16:00] RndName opened #2180 "Game can not be saved after adding custom waypoint"
### Affected versions

Development build

### Development build

3804

### Description

Create a new flight with a player (DEAD in this case) and add a custom waypoint for another ground object to the list of waypoints. After that the game can not be saved anymore.

Reproduce:
- Create a new campaign (in this case Allied Sword)
- Buy some aircraft
- Begin Campaign
- Task a flight (DEAD against PUG

[2022-04-20 19:41] EmoJack199 opened #2182 "Squadrons not availabe for tasking"
### Affected versions

5.2.0

### Development build

_No response_

### Description

In some Rounds, there are some units that are just not available through the dropdown menu when planning the flights.
The squadron airframes available, the desired task is viable for the airframe.
It happened to me before with different airframes, so this is just one example of a mission i am planning right now th

[2022-04-20 19:48] EmoJack199 commented on #2182
reproducibility not given: i just opened the old savegame, loaded the state.json and the next turn did not show the same result as the attached savegame from above.
Attached here is the mission savegame from before the first turn which can be executed with the state.json from the original report.
[ThaEmo_Lib1_start_MIZ1.zip](https://github.com/dcs-liberation/dcs_liberation/files/8524856/ThaEmo_Lib

[2022-04-20 21:08] Starfire13 commented on #2180
Possibly an unintended side effect of Raskil's fix here? https://github.com/dcs-liberation/dcs_liberation/issues/2063

[2022-04-21 07:35] RndName commented on #2182
is this related to #1880 ? IIRC a similar issue was already discussed on discord 🤔

[2022-04-21 11:25] #2180 closed, assigned to nobody

[2022-04-21 13:38] EmoJack199 commented on #2182
This could be connected. Though i can find the airframes in the air wing inventory and only miss them in the dropdown of tasking panels.
So not the same issue, but some parallels exist (from pure user perspective).

[2022-04-21 19:17] #2176 closed, assigned to MetalStormGhost

[2022-04-21 19:17] #2175 closed, assigned to MetalStormGhost

[2022-04-22 07:37] RndName commented on #1959
The Info label was removed with 7a19a7d696b827a3555bc05115d0de8aef93dfa1

If this is still needed just reopen the issue :)

[2022-04-22 07:37] #1959 closed, assigned to nobody

[2022-04-22 14:01] Starfire13 commented on #2182
Are you certain you are seeing them in the Air Wing Inventory pane, because they do not show up for me at all.

![Capture](https://user-images.githubusercontent.com/72491792/164732219-24af310c-e9bd-498d-bc60-25a81e856c13.JPG)

[2022-04-22 14:10] Hornet2041 commented on #2182
![image](https://user-images.githubusercontent.com/55866858/164731420-c286583e-12ca-44d3-ab49-cb91ac5c0645.png)

[2022-04-23 14:24] EmoJack199 commented on #2182
When i wrote my notes before posting this i wrote down "Air Wing inventory: yes". I guess that was a mistake on my side. I can see the Pilots assigned to an airframe in the "air wing squadrons" section, but on the "air wing inventory" screen i have the same screen as you have postet. sorry for this.
Seing that the #1880 issue is already on the to do list for 6.0, i guess that this topic can be clo

[2022-04-23 15:24] DanAlbert commented on #2182
Duplicate of #1880

[2022-04-23 15:24] #2182 closed, assigned to nobody

[2022-04-23 20:44] Simba75013 opened #2185 "Scenic Route Iran Tomcat liveries and ordinance"
### Affected versions

5.2.0

### Development build

_No response_

### Description

Hi !
Iran's tomcats in the Scenic Route campaign have the US liveries, I do not need to explain the issue in a furball ...
Beside, I'm not sure they actually had the AIM-54 but I stand corrected on that.

Thx

### Save game and other files

...

[2022-04-23 21:21] Hornet2041 commented on #2185
to fix this you can make an Iranian tomcat squadron set to use custom IRIAF liveries but other than that its out of our hands. There is no IRIAF livery for the F-14A that is native to DCS at the moment

[2022-04-24 10:33] Starfire13 opened #2186 "USA 2005 given access to Gepard and Marder if campaign is generated after one where those units are available"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2203886120

### Description

Follow these steps precisely to replicate this:
1. Start up Liberation
2. Generate a new "The Tbilisi Gap" campaign
3. Use the default factions; Russia 1975 (Mi-24P) and Germany 1990
4. Close the squadron config screen (no changes needed). The

[2022-04-24 16:38] Simba75013 commented on #2185
Owh ok, thx.
Can you confirm if the Iran did have the Phoenix or not ?

[2022-04-24 16:49] Simba75013 opened #2188 "AI ground unit selection at turn planning"
### Affected versions

5.2.0

### Development build

_No response_

### Description

Hi !
I see that the ground forces HQ will deploy 15 units max per side on the frontline.

Is there a way that I don't know to actually chose those units ?

Because right now I have LAVs on the front but I'd like to select and organize my ground forces.

I'm using Combined Arms.

Thx

### Save game and other files

[2022-04-24 22:36] Starfire13 commented on #2185
All Tomcats have the Phoenix.

[2022-04-24 22:51] Starfire13 commented on #2188
You can't choose which of your ground units get deployed. This is not a bug report btw. Please don't use bug reports to ask questions. Discord is probably the best place for questions.

[2022-04-24 22:52] #2188 closed, assigned to nobody

[2022-04-25 01:45] DanAlbert commented on #2188
Or the discussions tab on GitHub, which is the forum.

[2022-04-25 14:12] Starfire13 opened #2190 "More even spread for frontline unit group distribution"
**Is your feature request related to a problem? Please describe.**
At the moment, buying mixed units for the frontline can result in the same type of units all clumping together, which can be an issue if you are trying to, say, spread out anti-air units across the frontline.

See the example here where all my Linebackers are clumped up on one end of the frontline, rather than being spread out more

[2022-04-25 17:24] #1995 closed, assigned to RndName

[2022-04-25 17:25] Simba75013 commented on #2185
Thanks :-)

[2022-04-25 18:33] zelosos opened #2192 "Convoy should start on road"
### Affected versions

5.2.0

### Development build

_No response_

### Description

The generated convoy starts near the base and drives one by one to the street. This takes ages. Only after all units are on the street the convoy starts moving to the next base. To actually take place in the Mission the convoy should start at the next street, to start moving as soon, as the mission starts.

There

[2022-04-27 20:04] Bensirpent07 opened #2194 "Opposing Front Line Forces Not Deploying SAMs (SA-19s)"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/suites/6211232269/artifacts/219508125

### Description

Liberation Version 6.0 Build#3811
Over the past few turns I have noticed the front line SAMs that the AI have been purchasing are not being deployed. 11 are shown as active but after a few turns I haven't seen them get deployed an

[2022-04-27 22:29] SchmokedPancake commented on #2163
A note on csar, it works and tracks shot down planes as is.

Only thing to figure out is getting that event to liberation for squadrons replenishing. When they get shot down, or rescued (brought back to a fob or base)

and of course creating missions for it that accommodate picking up pilots who got shot down.

[2022-04-28 04:29] holyorangejuice commented on #2168
Is this going to be a UI thing or something a mission designer must define?

[2022-04-28 16:12] RndName opened #2195 "Support for DCS 2.7.12.23362"
To support the new patch (https://www.digitalcombatsimulator.com/en/news/changelog/openbeta/2.7.12.23362/) some tasks should be done:

- [x] Pydcs export and update for the new units (Technicals + EWR) https://github.com/pydcs/dcs/pull/221
- [x] unit.yamls for the new units
- [ ] faction updates for the new units
- [x] ACLS and Link 4 for Carriers (task in ME). Requires the pydcs update as well. T

[2022-04-30 00:35] Bensirpent07 commented on #2194
After starting a new campaign I noticed this problem actually starts on turn 1. When I started a new campaign, the SA-19s that were under the Russia 2020 faction were not spawning on the front lines.

[2022-04-30 00:54] Bensirpent07 commented on #2194
Also noticed something from the logs as well:
`WARNING :: Unused front line vehicle at base SA-19 Grison (2K22 Tunguska): unknown unit class`

Attached is full log
[liberation.log](https://github.com/dcs-liberation/dcs_liberation/files/8595401/liberation.log)

[2022-05-01 13:15] rabauke80 opened #2199 "Add airframe capabilities rating scale per mission type"
Since ED changes capabilities by adding/changing loadouts and the fact that the AI can handle certain things better than other, this would be an easy way to make adjustments helping the autoplanner

The goal is to support the auto planner in picking the right stuff - especially in concurrency scenarios, where it has multiple identical options available to chose from

I was thinking of a _capabilit

[2022-05-01 17:52] DanAlbert commented on #2199
How does this differ from the stack ranking that is already used?

[2022-05-01 18:55] rabauke80 commented on #2199
Honest answer - Had a conversation with @Starfire13 on Discord - turned out that I did not know the details of the existing implementation and created this as an idea based on the assumption, that the only information the auto-planner has to prioritize tasking, was the squadron mission type.

I was thinking about a scenario, where the auto-planner has for example 3 airframes of equivalent capabili

[2022-05-01 19:01] fizzle77 opened #2200 "Untasked aircraft summary UI"
Before filing, please search the issue tracker to see if this feature has already been requested.

If requesting a DCS AI feature, check If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Is your feature request related to a problem? Please describe.**
It takes more effort than it should to see what untasked aircraft I have left. You have to create a dum

[2022-05-01 19:51] DanAlbert commented on #2199
That's how this works already.

[2022-05-01 19:51] #2199 closed, assigned to nobody

[2022-05-02 00:51] Starfire13 commented on #2200
This is already available in the Air Wing pane, Inventory tab. Tick the checkbox so only untasked aircraft are shown.

[2022-05-02 00:59] #2200 closed, assigned to nobody

[2022-05-02 01:09] Bensirpent07 commented on #2194
I may have found a potential solution. When accessing the 2S6 Tunguska.yaml file (resources/units/ground_units), the class is set to AAA. I compared this to something like the SA-8 which had a class of "Logistics". After setting the 2S6 Tunguska class to "Logistics", restarting DCS Liberation, and creating a new campaign, the SAMs now spawn in as expected. Without knowing the logic behind the clas

[2022-05-02 11:00] RndName commented on #2194
Thanks for the detailed bug report. The issue is in the wrong handling of AAA units for Frontline unit placement. Actually they were not used at all.

The correct unit class for the SA-19 would be `class: SHORAD` not Logistics (which you used from the SA-8 -LD- the Loader Unit).

The actual fix includes both: correct unit class for the SA-19 and also handling of AAA units for frontline placement

[2022-05-02 16:59] #2194 closed, assigned to RndName

[2022-05-02 17:08] #2195 closed, assigned to nobody

[2022-05-02 17:09] RndName commented on #2195
Faction files were not updated.

[2022-05-02 17:12] Abburo commented on #2163
Some suggestions from my side if I'm allowed. I'm not a programmer but was looking for a proper CTLD/CSAR/FAC implementations for Liberation.  Not sure which will be your preferred programing env to create all these but  I've been looking on MOOSE framework which has a lot of features built in and easy to cover the requirements listed here. I would enumerate some:
1. MOOSE CTLD automatically reads

[2022-05-02 17:33] RndName commented on #2163
Thanks for the inputs!

Actually i was not planning to support MOOSE framework. It is a full blown Framework for mission scripting which we basicly do not use for liberation as we create all the mission from python using the pydcs framework. So no special scripting and dynamic editing / spawning of units is necessary for the general purpose of liberation (for now). The possibilites using Moose are

[2022-05-03 19:49] t-o-g-e opened #2202 "Error when submitting results or passing turn: "AircraftType(dcs_unit_type=<class 'dcs.helicopters.AH_64D_BLK_II'> ... ) is not in list""
### Affected versions

5.2.0

### Development build

_No response_

### Description

Error message is shown when trying to manually submit results, see full error message below. Save file, state.json and log file attached in zip. Same error happens when simply passing turn without a state file.

AircraftType(dcs_unit_type=<class 'dcs.helicopters.AH_64D_BLK_II'>, name='AH-64D Apache Longbow', descr

[2022-05-03 19:56] RndName commented on #2202
This looks like #1995
Have you added additional mission types? These were causing the problems in the issue linked.

[2022-05-03 20:27] t-o-g-e commented on #2202
I have, yes. Just confirmed it works after removing those added types in air wing view. So same issue. Tried to search for similar bugs, but didn't see that, sorry for the duplicate, and thanks for the help.

[2022-05-03 20:27] #2202 closed, assigned to nobody

[2022-05-04 12:30] SchmokedPancake commented on #2163
Good work Rndname, this will bring a whole new role to be played out.

[2022-05-04 13:11] Killg0reNL opened #2203 "AH-64 Dutch 301 Squadron"Redskins""
i have made an Dutch Apache Squadron, so might be usefull to others aswell.
[RNLAF Redskins 301 Sqn.zip](https://github.com/dcs-liberation/dcs_liberation/files/8620595/RNLAF.Redskins.301.Sqn.zip)

[2022-05-04 23:22] holyorangejuice opened #2205 "Skynet Bug"
### Affected versions

Development build

### Development build

3820 and above

### Description

We were running a mission, killed a SA-10 site partially. Next time mission was loaded it threw an error. Unknown liberation or skynet bug. It seems skynet is calling for something that isn't there. Turn skynet off in mission options and it works fine.

### Save game and other files

https://www.dropb

[2022-05-05 14:01] RndName commented on #2205
@holyorangejuice thanks for the issue report i will have a look into it. You can also upload your save game and so on by just zipping it and drag and drop it over here in GitHub. This is the prefered way :)

[2022-05-05 14:58] RndName commented on #1939
The mod support can be added quite easy. The more challenging task is to add the static objects to the layouts. As i am not creative enough to do this i am going to remove the 6.0.0 plan. Whenever some one wants to step in and update the layouts the mod support can be added as well (have the code already in place)

[2022-05-05 20:19] RndName commented on #1570
I've tested this with the "Hidden on Map" function and it is just not working correctly: https://forum.dcs.world/topic/252055-hidden-on-mfd-option/#comment-4914521
The only thing really working is Hidden on Planner but thats not the thing requested in the Issue as it will be still visible in the Mission Editor.
Making it Hidden on Map also overrides F10 visibility settings. So Fog of war will not

[2022-05-05 22:39] holyorangejuice commented on #2205
[](url
[BUG.zip](https://github.com/dcs-liberation/dcs_liberation/files/8636438/BUG.zip)
)

[2022-05-06 14:19] #2205 closed, assigned to RndName

[2022-05-06 14:21] RndName commented on #2080
2d39fb496cd0f76e2d9515ac263bd60d6a25a0d1

[2022-05-06 17:34] #2186 closed, assigned to RndName

[2022-05-07 09:22] holyorangejuice opened #2207 "Income from buildings not calculated correctly (only 1 building considered)"
### Affected versions

Development build

### Development build

3820

### Description

I'm using map objects as Ammo, oil, etc. It doesn't matter if the group is one building or ten buildings. It shows up properly in liberation as 10 buildings. But in the finances you're only getting paid for one building.

I was asked to post this bug. Hopefully an easy fix. Kinda ruins the finances of most camp

[2022-05-07 16:11] #2207 closed, assigned to RndName

[2022-05-07 21:34] RndName opened #2208 "Allow to capture buildings with AirAssault"
Currently we only allow Control Points to be capturable. We could in theory also allow to capture a building with the AirAssault mission type being added with #2193. We would just need a new Capture Trigger (`TriggerGenerator`: https://github.com/dcs-liberation/dcs_liberation/blob/develop/game/missiongenerator/triggergenerator.py).
Capture could in theory also be achieved using combined arms but t

[2022-05-07 23:14] DanAlbert commented on #2208
Longer term I'd hoped to decouple _all_ TGO types from CPs.

Keep in mind that there can be no connected points, or several.

[2022-05-08 09:31] holyorangejuice opened #2210 "SA-5 should be it's own group"
Before filing, please search the issue tracker to see if this feature has already been requested.

If requesting a DCS AI feature, check If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Is your feature request related to a problem? Please describe.**
A SA-5 is a unique SAM site. As a mission designer I don't want SA-5s in certain places where I would w

[2022-05-08 09:32] RndName commented on #2174
Thanks for your input!

I've implemented the unitActions and the unitLoadLimits like you mentioned with #2163 . I've also openend a Pull Request to CTLD to make these also work for AI units (they actually still just load the amount defined with `ctld.numberOfTroops = 10` so every AI flight would pickup 10 units atm.) https://github.com/ciribob/DCS-CTLD/pull/75

The ctld.loadableGroupsByHelo i thin

[2022-05-08 09:41] RndName commented on #2210
I initially had planned a feaure where campaign designers could define which specific preset they would request when placing a "placeholder" unit in the campaign miz with https://github.com/dcs-liberation/dcs_liberation/pull/1989

The idea would be:
- Campaign designer creates a trigger zone at the position
- Adding the task to the trigger zone (MERAD, LORAD and so on from: https://github.com/dcs-

[2022-05-08 11:57] holyorangejuice commented on #2210
That would work great too! I just saw the latest preview builds and thanks!

[2022-05-08 14:49] RndName commented on #2208
Sounds like a good idea. Currently we most of the time just iterate over all CPs and the connected TGOs to do what we have to do. What would be your idea to determine if a tgo should be captured or not then? maybe sth. like influence where everything has influence zones or similar and CP (which in this case would only serve as spawn point anymore) has the most influence? Or everything behind the f

[2022-05-08 15:14] rabauke80 commented on #2174
In case the topic of accurate maximum infantry group size per helo gets revisited, it might be a good idea to add parameters to the airframe yaml (example below) - so that in case CTLD is being used by the user

infantry_transport_capable: [boolean]
cabin_size: [int]

resources\units\aircraft\Mi-8MT.yaml

[code]

Remeber, internal load, crate & infantry contributes to the total gross weight of the

[2022-05-09 18:08] RndName commented on #2174
good point thanks, done with https://github.com/dcs-liberation/dcs_liberation/pull/2193/commits/5627951c0f791a06583d71e545a067eb01d32d21

[2022-05-09 18:21] pwmohr commented on #1880
I have had this same problem. Several aircraft show up in the airport inventories (which appear correct to me), but do not show up in the air wing inventory list and are not available for tasking. In this example, at least 12 f/a-18's show up at Tonopah Test Range, and none show up in the air wing inventory.

[Save and State JSON files.zip](https://github.com/dcs-liberation/dcs_liberation/files/86

[2022-05-10 00:27] holyorangejuice opened #2211 "3841 6.0 - Not all purchased planes available for tasking"
### Affected versions

Development build

### Development build

3841 - 6.0

### Description

I bought a bunch of planes, 16 f15c and they could not be tasked. Bought 1 more, and passed turn, that 1 plane could be tasked.

### Save game and other files

[Saves.zip](https://github.com/dcs-liberation/dcs_liberation/files/8656155/Saves.zip)

[2022-05-10 00:56] Starfire13 commented on #2211
#1880

[2022-05-10 01:07] #2211 closed, assigned to nobody

[2022-05-10 08:14] rabauke80 commented on #2174
awesome, looks good! might also come in handy for the C-130 mod, in case transporting troops/paratroopers and dropping them becomes a thing.

Q: will users ingame now only see one type of infantry squad, depending on their airframe capacity or receive an ingame error if they try to load a larger than supported squad size?

On the Rotorheads server, we only show the _compatible_ squads fitting the

[2022-05-10 10:58] RndName commented on #2174
They will see all groups with the size <= transport limit for the given airframe. And i think this is enough for our current use case we have within liberation at this time. I personally do not really see any benefit in restricting the loadable groups by helo type instead of defining few basic ones. Also i am personally in favor of having the own choice if i want to put in a troop of 6 or 10 soldi

[2022-05-10 11:16] RndName commented on #2174
How would this be realized? C130 deploying paratroopers sounds awesome and would finally give this plane a sense within liberation.
- Troop Loading has to be ensured that the pickup zone can be used by the airplane (especially if it is an AI unit). As far as i know we do not know the gate where this plane will be placed so we have to think about a workaround. Pickup Zone with a huge radius for the

[2022-05-10 19:49] RndName commented on #2083
Cause seems to be #1662 as the calculation for the route end uses the Frontline class. Not had the issue so far as i do not deactivate this setting

[2022-05-10 22:10] Starfire13 commented on #2083
Thanks for confirming the cause. I'll just turn that setting off for now on turns with convoys.

[2022-05-11 04:01] holyorangejuice commented on #1561
Would be a great QOL upgrade for people who want default comms to work.

[2022-05-11 07:15] holyorangejuice opened #2212 "Aircraft in the air start too low"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2286928013

### Description

We ran on build 3841 for five hours tonight and three of those mission the F15c barcap, starting in air due to start at first contact, were at so low altitude majority of them crashed. I have three tacview files showing this. The saved game has

[2022-05-11 08:17] DanAlbert commented on #2212
Possible dup of #2030, but we never figured out the cause of that and this one has more useful data, so leaving it open.

[2022-05-11 09:58] holyorangejuice commented on #2212
I will add that I was having this issue when I set all three flights to ASAP TOT. I usually space them out 20min,25min,30min TOTs.

[2022-05-11 15:02] RndName opened #2213 "Update High Digit SAM mod support"
Update the existing High Digit SAM mod support (https://github.com/Auranis/HighDigitSAMs)

Add all the sam systems correctly to the radar db so that they will be recognized correctly for the threat calculation

- [x] SA-17 TELARs
- [x] SA-10B
- [x] SA-12
- [x] SA-20
- [x] SA-20B
- [x] SA-23
- [x] HQ-2
- [x] SA-2/S-75 V-759/5V23
- [x] SA-3/S-125 V-601P/5V27

 Add missing systems and units:
- [x] SA

[2022-05-11 15:16] RndName commented on #2173
As extension to a reworked design there should also be a dialog for Armed Forces Configuration like the AirWing dialog to allow to remove for example specific SAM Systems or ground vehicles from the faction accessible units. This is possible with the ground object refactoring done in develop branch.
This is especially handy if some one wants to use the high digit SAM mod and remove the default SAM

[2022-05-12 09:15] RndName opened #2215 "Update Orientation of legacy ground object layouts"
With the refactoring of the ground objects and the migration from generators to layouts some layouts were not updated so far. These layouts will have a problem that the orientation of the complete layout is not Heading 0. This is a requirement of the Layout system to function correclty as the Ground Object will later be rotated to the requested heading. This calculation excepts all Layouts created

[2022-05-12 14:20] #2213 closed, assigned to RndName

[2022-05-12 14:21] #2215 closed, assigned to RndName

[2022-05-14 14:53] #1531 closed, assigned to RndName

[2022-05-14 16:09] RndName commented on #2174
I have added support for the fixed wing Air Assault tasking but i have not found out how to drop the troops from the air. It seems this is only possible with the Hercules mod and only by the player. Therefore for the first version it will only work for helos.

[2022-05-17 10:35] hymlee opened #2219 "CAS/SEAD/DEAD mission waypoint altitude too low"
For CAS/SEAD/DEAD mission (or perhaps other missions), the altitude of waypoint over the targets is often set to 0ft or a few thousands feets.
AI aircrafts sometimes follow those waypoints and altitude settings and become vulnerable against SHORAD.

Recommended solution:
Altitude of waypoint over the target should be the same as the altitude at ingress and egress waypoints.
There is no need to man

[2022-05-17 13:44] Khopa commented on #2219
Hello,

Last time I touched that part of the code, Liberation would not generate the actual DCS flight plan in the same way if it's a player flight or an AI-only flight.

The UI here shows how the waypoints would be generated for player flights. Since it is convenient to have targets as waypoint, and as we don't have other way to include target coords in the flight computer, a 0ft AGL waypoint on

[2022-05-17 21:22] Starfire13 commented on #2219
The issue with SEAD aircraft going dumb and overflying the SAM site at low altitude actually has nothing to do with the waypoint altitude (the 0 alt waypoint is not a flyover point, and it isn't actually generated for AI flights anyway, as Khopa said). It's actually due to the aircraft being unable to find an emitter source and then going stupid. Mainly a problem with SHORADS since their radars ar

[2022-05-18 00:44] Aphelion79 opened #2220 "Offer Various Formats of Grid Coordinates in Kneeboard"
**Is your feature request related to a problem? Please describe.**
Grid coordinates provided in the kneeboard are currently only produced in one format.

**Describe the solution you'd like**
An option (preferably based on the aircraft type flying that mission?) to display coordinates in different formats, e.g. MGRS, LAT LON DECIMAL, LAT LON DEG/MIN/SEC.

**Alternate Solution**
Both LAT LON formats

[2022-05-18 04:27] #2219 closed, assigned to nobody

[2022-05-18 19:20] DevastatorCM opened #2221 "randomize initial pilot skill levels"
**Is your feature request related to a problem? Please describe.**
At the  moment all AI units have same skillset which is set via campaign settings menu. As ED already doing improvement on AI and different behaviour based on the AI Skill level, it will be pitty not to have this variety of behaviour in the liberation missions.

**Describe the solution you'd like**
It would be nice if we could not

[2022-05-18 21:49] Starfire13 commented on #2221
AI pilots that survive will "level up", so after a few turns,there will be a mix of different skill levels. That said, I do like the idea of a straight randomisation (perhaps settable per side).

[2022-05-19 05:37] holyorangejuice commented on #2212
https://www.dropbox.com/s/wl9dpvbnz0oylmr/Tacview-20220518-190848-DCS-liberation_nextturn.zip.acmi?dl=0

Happened several times tonight as well with my group. This is the only tacview I have showing it. Once again this happened when I did not manually space out the TOTs.

[2022-05-19 05:42] holyorangejuice opened #2222 "All DCS map objects marked dead by liberation"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2324309577

### Description

Build 3851 - I'm testing my campaign called Up the Coast with my We Run Liberation group. We've been playing for days and were on the final stretch. We did some ground strikes against DCS map objects. I've added the triggers to turn them into o

[2022-05-19 06:00] Starfire13 commented on #2222
So you said you'd been playing for days. Did this problem not occur on earlier turns or did you guys just not attack any map objects before that?

[2022-05-19 06:03] Starfire13 commented on #2212
So does it still happen when you space out your TOTs?

Btw you can attach miz files directly as long as you zip them.

[2022-05-19 06:06] holyorangejuice commented on #2222
We've had zero issues with this until now. Which is why it is posted now instead of days ago. This is a brand new problem I've never seen in DCS before. So yes, we've hit these targets before without issue.

[2022-05-19 06:20] holyorangejuice commented on #2212
Not when github is having a heart attack and refuses to accept them. Doesn't appear to happen when I use manual TOTs. Tacviews show the multiple groups spawning close and low. So they crash.

[2022-05-19 10:42] DevastatorCM commented on #2221
So this means the best setting is to set all AI skill levels to lowest and let them get expert during the campaign to have enough randomization effect?

[2022-05-19 13:04] RndName commented on #2222
Really strange one.
Some technical background: We track killed map objects with a DCS internal trigger event. Whenever this trigger is fired we add the name of the map object to the state.json file with a small lua script like this one here:
[code]

So somehow dcs fired the event that all these map objects are dead. The question is: Why!? Never ever seen such a thing before. Are server and client

[2022-05-19 13:30] holyorangejuice commented on #2222
We updated the server to the latest open beta with the recent AI changes and all clients of course had to update.

At first we thought something was fixed. Our experience has been either no ground targets are counted as killed or only some. Even if the building showed up as destroyed in the chat and battle damage box.

We quickly realized it wasn't just one objective area it was all of them.

[2022-05-20 04:28] holyorangejuice opened #2223 "Caucasus - Up The Coast - New Submission"
---

* Campaign name: Caucasus - Up The Coast
* Files:
[Up The Coast.zip](https://github.com/dcs-liberation/dcs_liberation/files/8745840/Up.The.Coast.zip)

* Update summary (optional)
This is a new campaign submission. I would like it considered to be added for DCS liberation campaigns. I built it to be different than current campaigns but offer a fun liberation experience. There are many ideas th

[2022-05-20 09:47] SchmokedPancake commented on #2223
Is this for liberation or to advertise your group, not sure if branding your campaign to have it baked into liberation to be shipped would benefit liberation in anyway.

Also this seems similar to an already present campaign off the coast

If you take note you can brand your name on the campaign author part, I’d follow the structure how the other guys submitted the ones that come with liberation.

[2022-05-20 20:10] SnappyComebacks opened #2224 "Unable to generate new campaigns"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2324309577

### Description

I am unable to generate any campaign from the new campaign wizard.  (Campain or faction choice does not matter)

[code]

### Save game and other files

Not available.

[2022-05-20 20:13] SnappyComebacks opened #2225 "Faction selection in new game wizard is severely limited"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2324309577

### Description

The factions available to select from the new campaign wizard do not match the number of factions in `dcs_liberation\resources\factions` by a large margin.

All of the available factions:
![image](https://user-images.githubusercontent.com/74509

[2022-05-20 20:32] holyorangejuice commented on #2223
I will leave it up to the liberation team. It has one mention of our group site which is at the end of the description.

I get nothing by having people join our group. It is a responsibility that just happened. I now make videos and teach people how to play liberation.

The videos aren't even monetized and neither is our group. Liberation needs people who are willing to show others.

It can be an

[2022-05-20 20:54] SchmokedPancake commented on #2223
“ I have made a note branding the missions with my group's website. I started liberation solo, found a friend, then made some liberation tutorials that blew up. The numbers of our group are over 100 and we host regular events. I'm constantly teaching people who have just found liberation how to play. I enjoy teaching people and having them enjoy the liberation experience”

your insulting yourself,

[2022-05-20 21:05] holyorangejuice commented on #2223
Yeah i can read the other campaigns. I like mine the way it is.

[2022-05-20 21:07] holyorangejuice commented on #2223
I really dislike this site. Somehow I keep hitting that button. I have used liberation a long time. I know what the other campaigns say and look like.

I mentioned my group in my original post because I already heard feedback of people getting bent about having a group in there.

In my opinion it is no different than having an author name. Author name could be We Run Liberation or I could have a t

[2022-05-20 21:13] SchmokedPancake commented on #2223
It is very confusing that is for sure.
Besides what I said everything looks good and I’m running currently setting up first turn on my source build to test it out. I take back what I said about being similar to one present already. It is much different.

Understood 👍

[2022-05-21 00:19] Starfire13 commented on #2225
Hmm. I am still seeing all the factions on #3851 just fine.

![Screenshot 2022-05-21 101849](https://user-images.githubusercontent.com/72491792/169626665-41652a69-2ec8-4162-99c0-4589df0c9a1f.jpg)

[2022-05-21 00:20] Starfire13 commented on #2224
I wonder if something's messed up with your install. Campaigns are generating fine on #3851 (the same build you're on) for me.

[2022-05-21 01:00] SnappyComebacks commented on #2225
Some strange dev environment issue on my end.  I have no idea why it happened.
I normally run the `Python: Main` vscode run.  I tried `Python: Debug` run it failed, but running `Python: Main` after worked fine.  I did also add the `PYTHONPATH=. python ./qt_ui/main.py;`, but if I remove `PYTHONPATH=. python ./qt_ui/main.py;` again, it still works.

[2022-05-21 01:00] #2225 closed, assigned to nobody

[2022-05-21 01:00] SnappyComebacks commented on #2224
Some strange dev environment issue on my end.  I have no idea why it happened.
I normally run the `Python: Main` vscode run.  I tried `Python: Debug` run it failed, but running `Python: Main` after worked fine.  I did also add the `PYTHONPATH=. python ./qt_ui/main.py;`, but if I remove `PYTHONPATH=. python ./qt_ui/main.py;` again, it still works.

[2022-05-21 01:00] #2224 closed, assigned to nobody

[2022-05-21 22:14] BC8311 opened #2226 "Decrease speed of/add a timer to CAS mission waypoint to make them more effective"
**Is your feature request related to a problem? Please describe.**
A constant problem I face when planning CAS missions is that they are ineffective when handled by the AI inside DCS. I decided to check why in the mission editor and noticed that the default travel speed TO the CAS search area is 170kts which does not allow the helo time to respond to any threats it may face. They will even pass by

[2022-05-21 22:20] Starfire13 commented on #2226
CAS aircraft already have a timer (I believe it's 30 minutes) where they search for and engage any ground units in the area. If they are not doing so and just RTBing right away, the usual reason I've noticed is poor weather. My AI Apache (while sometimes a bit suicidal, like all DCS AI), do on the whole tend to take down quite a few ground units. They'll hover and shoot their hellfires from far en

[2022-05-21 23:03] BC8311 commented on #2226
These are the default settings for a KA50 and MI24 CAS mission. There is no end condition (duration of mission) and they are both set to unrealistically high speeds. Maybe they are set up differently for Apaches but with these two in particular (perhaps others I don't know) these settings do not work for an effective sortie
![KA50 CAS](https://user-images.githubusercontent.com/105995200/169671629-

[2022-05-25 16:45] hymlee opened #2227 "A detailed proposal to completely rework ground battle system, to bring a more dynamic campaign"
**Foreword and Current Shortcomings**
The current ground battle system features only simple forward(aggression) and backward(retreat) movement. In reality, the battlespace is 2-dimensional, where troops can move in any direction, executing different tactics such as flanking. Under the current 1-dimensional forward and backward logic, no strategy can be implemented. In addition, the current battle

[2022-05-25 16:47] DanAlbert commented on #2227
Are you planning on providing patches?

[2022-05-25 16:49] hymlee commented on #2227
No I am not a coder. I'd love to code it myself but I just couldnt do it. Just a thought of mine for discussion.

[2022-05-26 04:16] Starfire13 commented on #2227
I can see you've put a considerable amount of time into this.

One thing I'd like to point out is that there is no sea battle system. Carriers can be moved so that they can stay in range of moving frontlines. The system was not implemented with the intent of bringing surface ships into engagement range for naval battles.

[2022-05-26 05:00] hymlee commented on #2227
Yes. But perhaps we can adopt a similar methodology in moving ground units around the battlefield, instead of mandating ground units fighting along one restricted path. That can unlock immense potential for such a large theater.

We've already had a system for aircraft carriers to roam freely at sea, though manual control from player is required. I believe with some further coding, the AI could be

[2022-05-26 09:11] MiaFoxcat opened #2228 "Aircraft not appearing in mission on destroyed airfield despite 29 of them in Liberation"
### Affected versions

5.2.0

### Development build

_No response_

### Description

The airfield (Bassel Al-Assad) has a destroyed runway, and since then there are no aircraft at that airfield even though there are 29 MiG-29s listed in Liberation, thus making it impossible to destroy them. The campaign in question is Syria full. The mission is running on a dedicated server, but the aircraft don't

[2022-05-26 21:49] Starfire13 commented on #2228
I generated the mission using your Liberation save (with no changes made) and this is what I get. I count 29 jets.

![Screenshot 2022-05-27 074653](https://user-images.githubusercontent.com/72491792/170585649-5c532c27-0426-4dea-9808-591b8cc29a6b.jpg)

[2022-05-26 21:49] #2228 closed, assigned to nobody

[2022-05-28 00:07] #2083 closed, assigned to DanAlbert

[2022-05-28 00:14] DanAlbert commented on #1982
Has this problem recurred? We had a number of problems in this area that have been fixed, and looking at the code we currently have I don't see how this could be possible. This is one of those bugs where we need the _previous turn's_ save game to debug (the save game of the current turn has already had the damage done).

Dropping from 6.0.0 and closing since I believe this has since been fixed, bu

[2022-05-28 00:14] #1982 closed, assigned to nobody

[2022-05-28 00:22] DanAlbert commented on #1956
Can't repro. Loaded the save provided and regenerated the mission. The A-10 is runway start as expected. I then cleared all the other missions and regenerated to check for spawning of unassigned aircraft. Incirlik still has a lot of aircraft on the ground.

[2022-05-28 00:22] #1956 closed, assigned to nobody

[2022-05-28 00:49] DanAlbert commented on #1928
Aircraft spawning was rewritten entirely since 5.x. If there's a confirmed report of this happening with a recent build we can reopen, but a bug matching the description was definitely fixed as part of that rewrite, so I believe this is already fixed.

[2022-05-28 00:49] #1928 closed, assigned to nobody

[2022-05-28 01:11] DanAlbert opened #2229 "CI build is broken"
https://github.com/dcs-liberation/dcs_liberation/actions/runs/2399339840 and newer are broken.

[code]

shibiken is qt related, but don't know what the actual problem is.

[2022-05-28 08:27] ColKernel0x8E commented on #1982
Thanks for checking up on this. The problem hasn't recurred, so I'm convinced it's been fixed in the more recent versions.

[2022-05-29 03:34] DanAlbert commented on #2229
Build passed on subsequent run. Presumably flaky.

[2022-05-29 03:34] #2229 closed, assigned to nobody

[2022-05-29 20:22] DanAlbert commented on #2222
I don't know what to do with this one without repro instructions. @RndName, did you have more ideas to investigate? @holyorangejuice, have you seen this more than once? It seems most likely to me that this was a DCS bug that fired a bunch of false events. Garbage in, garbage out.

[2022-05-29 20:28] DanAlbert commented on #2212
Your save doesn't load on the build you linked, or on the latest build:

[code]

[2022-05-29 20:32] DanAlbert commented on #2212
Hmm. I just saw the same thing on a different save, so might be unrelated.

[2022-05-29 20:36] DanAlbert commented on #2212
Oh. _that's_ why the save doesn't contain any missions. There's nothing we can do with the data given. We need a save game that shows the problem.

[2022-05-29 20:52] DanAlbert commented on #2167
This looks to be the same problem as https://github.com/dcs-liberation/dcs_liberation/issues/2078/. I wouldn't be surprised if we have the same issue elsewhere either.

[2022-05-29 21:09] #2167 closed, assigned to nobody

[2022-05-29 22:35] #2130 closed, assigned to DanAlbert

[2022-05-29 22:41] DanAlbert commented on #1901
Key point from the main post:

Short term fix would be to update the loadout to use a different weapon. Recreating that loadout with the same torpedo yields the same clsid, so the problem is definitely pydcs.

[2022-05-29 22:51] DanAlbert commented on #1901
Reported upstream as https://github.com/pydcs/dcs/issues/227

[2022-05-30 00:01] holyorangejuice commented on #2222
I have not seen it since. The save file is from 6.0 preview 3841 when that was the latest build.

[2022-05-30 00:09] #1901 closed, assigned to nobody

[2022-05-30 00:12] DanAlbert commented on #1760
Liberation doesn't include a loadout that uses `DIS_GBU_12_DUAL`. I think this is an old loadout of yours that was broken by a DCS update. Unless that becomes common, I don't think it's a good idea to skip old incompatible loadouts since that will lead to confusion when users can't figure out why their loadouts won't show up in Liberation.

[2022-05-30 00:12] #1760 closed, assigned to nobody

[2022-05-30 00:21] DanAlbert commented on #2222
Well since it sounds like you play a ton, that's a pretty good indication that this was a fluke. Unless @RndName had any clever ideas for how to debug this, I think we just have to accept this as not reproducible.

[2022-05-30 00:21] #2222 closed, assigned to nobody

[2022-05-30 09:15] WS1273 opened #2231 "Improvement to CAS waypoint"
**Problem:**
The following issues are observed for AI flights, and particularly affecting effectiveness of AI Helicopter Flight.
(1) In CAS mission, AI won't search for targets and employ weapon until reaching INGRESS waypoint.
The issue is easily noticeable when the enemy ground force is advancing. AI Helicopter flight in CAS mission will not employ any weapon to the enemy they encountered enrout

[2022-05-30 12:48] Starfire13 opened #2232 "Update Wheelyjoe's Weapons Damage Mod"
* Mod name: Wheelyjoe's Weapons Damage Mod (aka "Splash Damage" mod)
* Mod URL:  https://github.com/wheelyjoe/DCS-Scripts
* Update or new mod? Update

This is being submitted at Ghosti's request, and based on some testing Ghosti and I have been conducting on adding cluster munitions to Wheelyjoe's Weapons Damage Mod (what is popularly referred to as the splash damage mod). Cluster munitions that w

[2022-05-30 14:28] MetalStormGhost commented on #2232
Slight correction, the JSOW which will be added is the AGM-154 _A_, not the AGM-154 _C_ :)

[2022-05-30 17:26] RndName commented on #2229
The actual error was during the dependency installation

[code]

They probably changed the runner. At least it is working again

[2022-05-30 17:30] RndName commented on #2222
@DanAlbert i was not able to reproduce it. I tried a lot of things and i was pretty sure at some point that this has something to do the recent Bugs ED introduced with how they trigger the DEAD Event.
I am 99% sure this is a DCS Issue as there is no way how we could mess up how the base game handles these events.

[2022-05-30 20:49] Starfire13 commented on #2232
Oops. I knew that! Brain not worky... Fixed.

[2022-05-31 08:32] sgtfuzzle17 opened #2233 "Add "Decoy" mission type"
**Is your feature request related to a problem? Please describe.**
In an upcoming update, the Hornet will be gaining access to the ADM-141 TALD. This munition acts as a glide decoy, with a noticeable RCS and (IRL at least) dispensing chaff to increase its visibility to radars. It's already implemented on the F-14, and is used by them when tasked for SEAD. The issue here is that rather than suppres

[2022-05-31 09:19] DanAlbert commented on #2233
What's wrong with SEAD?

[2022-05-31 09:21] sgtfuzzle17 commented on #2233
As far as how functional it is, nothing, but SEAD isn't really the right term for a mission deploying decoys where the intention is to make an emitter go active rather than suppress it such that a strike package/other aircraft won't be engaged by it. As stated in the FR, there's also the issue that once we have TALDs for the Hornet, there's a conflict with the current SEAD tasking (using HARMs) -

[2022-05-31 09:23] DanAlbert commented on #2233
Adding new mission types for every possible loadouts is not practical. I think this is just another case of https://github.com/dcs-liberation/dcs_liberation/issues/270

[2022-05-31 09:23] #2233 closed, assigned to nobody

[2022-05-31 09:24] sgtfuzzle17 commented on #2233
I'm not saying add them for every possible loadout, I'm saying add them because this isn't functionality represented by any of the other mission types we have now. Decoy missions work alongside SEAD and are not the same thing.

[2022-05-31 09:28] DanAlbert commented on #2233
I think this falls under the umbrella of SEAD.

[2022-05-31 09:29] sgtfuzzle17 commented on #2233
It is quite literally the opposite as the point of deploying TALDs is to make radars emit/lock so they're more vulnerable to actual SEAD weaponry. I don't think closing it for the above reasons is appropriate.

[2022-05-31 19:31] BC8311 commented on #2226
Just wanted to note here that I've done a lot of testing with cutting the speeds of the actual CAS waypoint to about 1/3 of default as well as setting a 20 minute duration stop condition and the difference is obvious. CAS planes will loiter the area for the whole duration unless running low on fuel or ammo and helis will patrol the area. It's moderately easy to do in mission editor but it would be

[2022-06-02 01:39] holyorangejuice opened #2235 "Specify number of Combined Arms slots"
My group doesn't allow respawn when we play. A lot of people prefer to play combined arms if they get shot down. Yes, I can manually edit the mission and add slots. I would like the option in the liberation UI.

[2022-06-03 13:12] rabauke80 opened #2236 "Aircraft maintenance & repairs simulation"
- Capture **damage events** to airframes (OPFOR & BLUEFOR), flag those as damaged and take them out of the planning pool for a certain amount of time, to simulate repairs.
- Add UI information on the number of damaged aircraft per type and show the remaining time/turns until they are available again.
- either randomize the repair time or come up with a deterministic approach, e.g. number of damage

[2022-06-04 06:31] Pil-Nick opened #2237 "Optimize the timing of squadron setup"
I really like the current squadron system, which makes my operational planning much easier.
But now the company set up time is the last step of the new task, however, at this time I also don't know what the map is what appearance, also don't know the location of the airport, camp layout, especially use less common maps and task type, I don't know how to accurately deployment squadron, which often

[2022-06-04 06:44] Starfire13 commented on #2237
This is actually a good suggestion. Being able to configure squadrons after loading into the map (so we can actually see where all the airfields are) would be nice. I have gotten familiar enough with all the campaigns/maps that I can get by without this, but new players shouldn't have to. This would be a big help to them.

[2022-06-05 09:47] ataribaby42 opened #2238 "add radio config for mi-24"
### Affected versions

Development build

### Development build

_No response_

### Description

I am unable to communicate with my AI wingman because Mi-24 radio is set wrongly. Flight is set to 251MHz but first radio channel is set to 127.5. Both should be in sync. Opening mission in editor and touch flight frq and save fix the problem.

In mission file:
["frequency"]=251.0,
												{
["chan

[2022-06-07 14:36] Mongyman commented on #1927
I think is no longer needed. AI was updated.

[2022-06-07 16:41] Pil-Nick opened #2240 "Report an error after capturing the last position"
### Affected versions

5.2.0

### Development build

_No response_

### Description

After capturing the last point in the game, there is an error when submitting the result of the quest, and an error when starting the quest after canceling the quest. The error content is shown as follows:
![R@QTK~{U7(P$ 2ZC)~%41O3](https://user-images.githubusercontent.com/79027768/172434908-77acf38b-94f8-4ecf-82

[2022-06-07 23:02] Raffson commented on #2158
Could you perhaps specify which checkboxes w.r.t. AAA/SAM threats aren't working? On my end I don't seem to have any problems, so perhaps it has been resolved already by someone else?

[2022-06-08 16:53] Raffson commented on #2240
The second exception is very obvious since the assertions state that `closest_blue` and `closest_red` are not allowed to be `None`. In case of a WIN/LOSS it should speak for itself that <ins>at least</ins> one of them will be `None` . The current code on the development branch suggests even both will be `None` . The solution seems straight forward, just delete the assertions and add checks whereve

[2022-06-08 19:00] DanAlbert commented on #2240
Duplicate of #978

[2022-06-08 19:00] #2240 closed, assigned to nobody

[2022-06-09 20:45] #527 closed, assigned to nobody

[2022-06-09 20:45] #2163 closed, assigned to RndName

[2022-06-09 20:45] #2174 closed, assigned to RndName

[2022-06-09 20:46] #412 closed, assigned to nobody

[2022-06-10 12:23] jasonmayr opened #2242 "Falklands support"
- [x] pydcs terrain export
- [x] update pydcs
- [x] airport data
- [x] landmap
- [x] icon for new game wizard
- [x] beacon data
- [x] daytime map
- [x] timezone
- [x] weather data
- [x] minor campaign version bump (do this once ready for campaigns)

[2022-06-10 15:54] Raffson commented on #978
With the transition to a "turnless" campaign, the question remains regarding the behavior of `SimSpeedControls`. Would it be preferable to disable them as well?

[2022-06-10 17:32] Raffson opened #2243 "Exception: can't set attribute 'arrival'"
### Affected versions

Development build

### Development build

_No response_

### Description

Problem: setting the arrival airport for flights is not possible, triggers an exception.

Traceback (most recent call last):
  File "qt_ui\windows\mission\flight\settings\FlightAirfieldDisplay.py", line 76, in set_arrival
AttributeError: can't set attribute 'arrival'

Solution: add setter in /game/ato/

[2022-06-10 19:28] DanAlbert commented on #2243
It shouldn't be possible to set the arrival airfield manually per flight. That's entirely controlled by the squadron now. If that's still a combo box in the flight settings, that's the bug. Should be just a label.

[2022-06-10 19:59] Raffson commented on #2243
Then it is indeed a bug in the UI since it's still a combo box on my end. I tracked down the code and compared it to upstream/dev to make sure the problem doesn't just lie on my end, but that's not the case. So where would you prefer to have the changes? A separate branch & PR or one of my existing PRs?

[2022-06-10 20:02] DanAlbert commented on #2243
One change (feature, bug fix, cleanup, etc) per PR. Multi purpose PRs are extremely difficult to review (why did this line change? Which bug does this fix?)

[2022-06-10 20:13] Raffson commented on #2243
Probably something that got missed, I already have a fix, I'll make a new PR with the changes, starting from upstream/dev of course

[2022-06-10 22:04] #2243 closed, assigned to nobody

[2022-06-10 22:10] Starfire13 commented on #2243
Yeah, that box didn't get removed back when squadrons were implemented. Thanks for removing it. Saves us having to regularly tell folks on the Discord not to use it.

[2022-06-10 22:15] DanAlbert commented on #2243
Proof that bugs that don't get filed don't get fixed :)

[2022-06-10 23:19] Starfire13 commented on #2243
The Arrival option was removed when Squadrons was implemented, which was what was previously being used to transfer aircraft. The issue was folks were using the Divert option to transfer aircraft (which didn't actually transfer aircraft even pre-squadrons) once "Arrival" was gone; divert simply allowed us to specify that the aircraft would land at a different airfield (with the assumption that it

[2022-06-11 00:23] DanAlbert commented on #2243
Divert does nothing for the AI, and is unrelated to the arrival box, so I'm not sure what you mean.

[2022-06-11 00:53] Starfire13 commented on #2243
Well, the Arrival combo box no longer exists. It's just divert now. Isn't the divert box what is getting removed? If not, I'm confused..

[2022-06-11 01:49] Raffson commented on #2243
I just took a peek at the code and if I understood right, divert is simply for the players so a waypoint is generated for them in-game right after your "landing at homebase"-waypoint.

[2022-06-11 02:04] DanAlbert commented on #2243
That's correct. It's a player only waypoint.

[2022-06-11 15:14] Raffson opened #2247 "Exception: 'DeadFlightPlan' object has no attribute 'targets'"
### Affected versions

Development build

### Development build

_No response_

### Description

Upon trying to delete a waypoint of a flight that derives from `FormationAttackFlightPlan`, the following exception is raied:

[code]

Another exception is raised in a specific case:

- Create a package with a DEAD flight for example
- Edit the flight and try deleting a waypoint (raises the exception a

[2022-06-12 19:42] Raffson commented on #2247
Turns out the exceptions are unrelated! After applying a fix for the first exception, the second one can still be triggered as follows:

- Create any package that derives from `FormationAttackPlan`, as these to be the ones that are affected
- Open up the dialog to edit the flight (there should only be 1 at this point) and close it
- Cancel the package, i.e. close with 'X' in top right of window

I

[2022-06-12 19:58] Raffson opened #2250 "Exception: AssertionError 'self.package.formation_speed is not None'"
### Affected versions

Development build

### Development build

_No response_

### Description

Initially discovered in #2247:

[code]

Steps to recreate the problem:

- Create any package that derives from `FormationAttackPlan`, as these seem to be the ones that are affected
- Open up the dialog to edit the flight (there should only be 1 at this point) and close it
- Cancel the package, i.e. clo

[2022-06-12 20:15] #2158 closed, assigned to Raffson

[2022-06-12 20:34] #2247 closed, assigned to Raffson

[2022-06-12 20:36] DanAlbert commented on #2250
Assuming you filed this for yourself since there's no save file attached.

[2022-06-12 20:43] Raffson commented on #2250
No save file should be needed since it's present in any campaign at any time. I just tried starting a brand new campaign, buy some units, start the campaign and plan a package.

[2022-06-12 20:54] DanAlbert commented on #2250
Things that appear reproducible are not always reproducible. I've wasted plenty of time trying to repro bugs without save games.

[2022-06-12 20:57] Raffson commented on #2250
In that case, this is the save-file I originally worked with:

[liberation-v6_test3.zip](https://github.com/dcs-liberation/dcs_liberation/files/8886817/liberation-v6_test3.zip)

[2022-06-13 01:47] DanAlbert commented on #2242
https://github.com/pydcs/dcs/issues/230 is a blocker. pydcs is no longer able to export terrain data.

[2022-06-13 02:46] jasonmayr commented on #2242
So you’re saying you cannot add south Atlantic? And eventually Liberation will become obsolete.

Jason
904-335-7803
Sent from my iPhone

CONFIDENTIALITY NOTICE: This e-mail message including attachments, if any, is intended for the person or entity to which it is addressed and may contain confidential and/or privileged material. Any unauthorized review, use, disclosure or distribution is prohibite

[2022-06-13 03:15] Starfire13 commented on #2242
What Dan is saying is that we have to wait till PyDCS is updated before support for the new map can be implemented in Liberation.

[2022-06-14 20:24] Raffson commented on #2250
Continue the conversation in PR if needed...

[2022-06-15 00:16] Raffson opened #2253 "Not all map features updating properly"
### Affected versions

Development build

### Development build

_No response_

### Description

I found that many functions on the map are not updating properly. Things like the `ThreatZones` and `NavMeshes` in the left menu only update once, after that it seems to be getting the same data over and over again. Options on right side like "Ships", "Factories", "Air defences", etc. seem to be FUBAR

[2022-06-15 00:37] Raffson commented on #2253
Related to #2039 and #2158

[2022-06-15 00:39] DanAlbert commented on #2250
Reopening the bug for release tracking.

[2022-06-15 01:18] Raffson commented on #2139
Came across this one as well, let's put that on my TODO list shall we 🤣

[2022-06-15 01:57] DanAlbert commented on #2158
Assuming yes. Can re-open if we get repro instructions.

[2022-06-15 02:02] Raffson commented on #2158
It's far worse than that, see #2253

[2022-06-15 17:55] RndName commented on #2158
hey i'm not really sure what the exact issue was (was a report from discord) but it is likely that is part of the issue mentioned by @Raffson . So as long as no one reports any other issue it's fine to keep this one closed

[2022-06-15 18:04] Raffson commented on #2158
@RndName I already have another issue open, updated it with a task list, 1 PR already open to fix 2 of the issues

[2022-06-17 01:08] #2139 closed, assigned to Raffson

[2022-06-22 01:36] Raffson opened #2263 "Push-based events overhaul"
### Affected versions

Development build

### Development build

_No response_

### Description

Opening this issue to keep better track of the overhaul, labeling it (performance) bug/UX because fixing this will improve the UX since the map will update faster, more towards what we're used to from v5.2. Consider this as the first phase, effectively being a clean-up of `eventstream.tsx` to eliminate

[2022-06-25 20:31] #2250 closed, assigned to Raffson

[2022-06-25 21:09] #2263 closed, assigned to Raffson

[2022-06-25 23:37] Holdi601 opened #2272 "'PySide2.QtWidgets.QWidgetItem' object has no attribute 'width'"
### Affected versions

5.2.0

### Development build

_No response_

### Description

![image](https://user-images.githubusercontent.com/18192322/175793547-5fe2d440-ca27-44d0-a8e9-e5a3d989d505.png)
When confirming my round results i got this error. I tried to save afterwards but it didnt open the Save as prompt as it usually does.
Syria Full map campaign

### Save game and other files

![image](htt

[2022-06-26 23:25] JeffreyCor opened #2278 "Error with A-4 on carrier"
### Affected versions

Development build

### Development build

6.0.0.3985

### Description

Getting an error when trying to create an A-4 flight from a carrier. Ground based doesn't seem to have an problem. 5.2 isn't having this error. Issue has occurred with and without C-130 mod included. Save from most recent does have C-130 included. Seems to occur with all missions started from carrier when

[2022-06-28 03:53] JeffreyCor commented on #2278
Additional information, I have found this happens if in the mission planner another aircraft if selected first before the A-4. For example, if the A-4 is the aircraft automatically selected it can be changed to a squadron off the carrier without error. But if another aircraft comes up first, or if another aircraft is selected then changed back to the A-4, the error comes up when selecting a carrie

[2022-06-29 22:24] Raffson commented on #2278
#2252 should fix this too

[2022-06-30 04:21] #2278 closed, assigned to nobody

[2022-07-01 06:20] holyorangejuice opened #2290 "Squadron Limits & AI Purchasing"
Before filing, please search the issue tracker to see if this feature has already been requested.

If requesting a DCS AI feature, check If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Is your feature request related to a problem? Please describe.**
The AI planner for liberation doesn't understand squadron limits and how it should purchase aircraft. T

[2022-07-01 11:21] Raffson commented on #2272
Can you provide a little more context? I can't seem to reproduce this error. I tried loading up your campaign and manually submitting the results from state.json but on my end everything seems to work.

[2022-07-01 11:22] Holdi601 commented on #2272
Well i had the bug once, i finished the mission accepted the results and this error showed up. As a dev myself i thought posting about that bug on discord but i got told i should post it here.

[2022-07-01 11:32] Raffson commented on #2272
Literally any clue would help at this point, I need as much info as you can provide. Because if I can't reproduce this error, then the only thing left is to check the code. That only added to the confusion because I don't see how a QWidgetItem suddenly gets thrown in the mix...

[2022-07-01 11:37] Holdi601 commented on #2272
Sorry, sadly I dont have. I played Liberation missions before and after and didn't got this message again. So I wouldn't know what went special in this scenario. I guess if you can't find a line how this code gets into that state, put the bug on backlog with CNR ?

[2022-07-01 11:41] Raffson commented on #2272
Just to be clear, you accepted results after actually flying a mission, correct? It would be the only difference that comes to mind, and perhaps a starting point to track down the program flow...

[2022-07-01 11:41] Holdi601 commented on #2272
Yes I accepted the results and then this message came.

[2022-07-01 11:50] Raffson commented on #2272
Right, then I'd like to know which flight you flew exactly. Looking at the ATO I only find BARCAP packages and 1 AWACS package with no player slots, so I'm suspecting the state of the save-file is "1 turn ahead of the problem", could that be possible in your opinion?

[2022-07-01 11:51] Holdi601 commented on #2272
Im verly certain I flew a harrier in that mission on a sead or dead.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Friday, 1 July 2022 13:50
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [dcs-liberation/dcs_liberation] 'PySide2.QtWidgets.QWidgetItem' object has no attribute 'width' (Issue #2272)

Right, then I'd like to know wh

[2022-07-01 11:53] Raffson commented on #2272
All I got in your save-file is AI flights for F-14B, F-15C & F/A-18C... (and AWACS of course)

[2022-07-01 11:55] Holdi601 commented on #2272
That might be the issue then? I mean the other possibility is I flew a hornet but especially in my first couple tries with Liberation (which this was on my end)  I used the Av8b

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Friday, 1 July 2022 13:53
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [dcs-liberation/dcs_liberation] '

[2022-07-01 12:00] Raffson commented on #2272
It's probably why I can't reproduce the error. But the fact that it popped up on your end means there's got to be a problem somewhere, and probably didn't get fixed up until now since the history for `delegates.py` shows no changes to the code that causes the exception. So yeah, seems like this is gonna be a tough one 🤣

[2022-07-01 21:51] TristanPFox opened #2291 "Can't edit SEAD/DEAD flight of F/A-18Cs"
### Affected versions

5.2.0

### Development build

_No response_

### Description

When I try to edit a flight I get the following error:
'{BRU_42A_x3_ADM_141A}'

Traceback (most recent call last):
  File "widgets\ato.py", line 226, in on_edit
  File "widgets\ato.py", line 124, in edit_flight
  File "dialogs.py", line 57, in open_edit_flight_dialog
  File "windows\mission\QEditFlightDialog.py",

[2022-07-01 22:49] Starfire13 commented on #2291
5.2 was released in March. Hornet TALDs was released last week. Hence, TALDs are not supported.

[2022-07-02 02:14] #2291 closed, assigned to nobody

[2022-07-02 16:45] JeffreyCor opened #2292 "Skynet error without skynet being enabled"
### Affected versions

Development build

### Development build

6.0.0-4042

### Description

After having been able to play though a few missions am no longer able to start a mission due to an error stating "Group has no skynet usable unit". I do not have Skynet turned on in the plugin options nor was it turned on since starting the campaign. Issue remains if skynet is enabled and also if flights

[2022-07-02 16:53] Raffson commented on #2292
Interesting, I've been working on IADS lately and afaik this exception should not be possible to occur, but apparently it can so now I'm really curious 🧐

[2022-07-02 18:01] JeffreyCor commented on #2292
Figured I'd find the impossible, just my luck. :P

[2022-07-02 18:46] Raffson commented on #2292
I'll be settling behind my desk soon, hoping I'll be able to crush this bug in no time 🤞

[2022-07-02 19:56] Raffson commented on #2292
https://github.com/dcs-liberation/dcs_liberation/blob/cc4237d0762cea396fe56134adf2bc64fa1682c4/game/theater/iadsnetwork/iadsnetwork.py#L38-L58

Printing some extra debug info in the exception seems to point to an EWR (TROUT) that's dead. So I think line 41 is the culprit, because what follows in the 'if' statement assumes there's a static object if it's dead. However an EWR unit is still a vehicle

[2022-07-02 20:27] Raffson commented on #2292
Ok I think I figured it out but I'll have to do a little test to check if my reasoning is correct. Afaik IADS network doesn't update during processing of mission results, so if that EWR unit got taken out last turn, that might explain the problem. My PRs for IADS should fix this if my test is successful.

Edit: however I don't think it's gonna fix your save-file because essentially it's in an inva

[2022-07-02 21:05] Raffson commented on #2292
Ok so my test was successful, I managed to recreate the problem in a different save-file so it's definitely linked to the processing of the mission results. PR #2287 should solve the problem, but it depends on #2286 and #2285. As for your save-file, I'll try filtering your iads network so it's back in a valid state, but you should know that until those PRs are merged your save-file can still get m

[2022-07-02 21:19] Raffson commented on #2292
Also @DanAlbert, while my PRs ought to solve this particular exception, there's the fact that skynet is disabled, so it shouldn't be generating iads at all right? I would think `luagenerator.py` should check if the setting is enabled before generating the plugin data for iads, but I'm not sure if that would have a different unintended side-effect.

[2022-07-02 21:43] DanAlbert commented on #2292
/shrug I don't know how this works. @RndName

[2022-07-02 21:44] Raffson commented on #2292
[Vietnam6-fix.zip](https://github.com/dcs-liberation/dcs_liberation/files/9033753/Vietnam6-fix.zip)

@JeffreyCor Meanwhile your save-file is fixed 😉

[2022-07-02 22:57] JeffreyCor commented on #2292
Far more than a ever hoped :)
Thank you very much! :)

[2022-07-03 03:37] SnappyComebacks opened #2294 "Can't Generate New Campaign"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2587494288

### Description

I tried this with my dev environement so hopefully it's not me screwing that up =).
When closing the `Air Wing Configurator` window after going through the new campaign wizard, campaign generation fails.

[code]

### Save game and other files

[2022-07-03 04:54] SnappyComebacks commented on #2294
Dev environment issue =(

[2022-07-03 04:54] #2294 closed, assigned to nobody

[2022-07-03 08:30] RndName commented on #2292
@Raffson @DanAlbert These are two things here.
1) The issue described in this bug report never occured during my testing. Is this EWR some kind of Map object? Because to allow map objects to be handled by skynet there is a workaround of placing a static unit right at the point of that map object. But this should be handled correctly as far as i remember when i introduced this functionality. So the

[2022-07-03 10:56] Raffson commented on #2292
@RndName EWR is a vehicle group afaict (hence my doubt about line 41), and the exception only occurs if you've destroyed an EWR unit in the previous turn. The reason is simply because the EWR unit isn't removed from the network when the mission results get processed, which I assume isn't intentional. As for generating IADS data even when skynet is disabled, your explantation makes sense so I guess

[2022-07-03 11:06] Furia139 opened #2295 "Please add the Leopard 2A6M to the available units"
Currently Liberation offers the possibility of using the Leopard 2, Leopard 2A4, Leopard 2A4_trs and the Leopard-2A5, however its does not have the lastest and more modern version of the leopard, the **Leopard 2A6M**.
Would it be possible to add this leopard version to Liberation?

Thanks a lot!!

[2022-07-03 11:24] RndName commented on #2292
Read the comments about that. Group name is not equal unit name. This is a requirement on how skynet works on the lua side

[2022-07-03 11:26] RndName commented on #2292
I would recommend debug the call stack back to the caller of this dcs name function to figure out why they request the name of the unit. Having dead tgos in the network is correct. But they do not participate anymore. Dead vehicles will not spawn. Dead statics will spawn but will be marked as dead.

[2022-07-03 11:43] Raffson commented on #2292
Looking at the traceback it's coming from the luagenerator upon calling skynet_nodes. And yeah, dead units should fall in the "not participating" case, though in order for that to happen, "update_tgo" (in iadsnetwork.py) needs to be called when an IADS unit dies which doesn't happen in the current build. This problem should be fixed in #2287, but still I'm confused with the static dead units for E

[2022-07-03 12:32] RndName commented on #2292
I see. Well in the previous version it was expected that dcs_name_for_group could raise an IadsNetworkException during the skynet_nodes routine. This was removed with https://github.com/dcs-liberation/dcs_liberation/commit/8c2c3530712ad196ba9121e6492a3ef1ec8df65b and is now unhandled. Therefore this issue here is expected.

This exception basicly tells you "hey you want to add a dead group to skyn

[2022-07-03 13:11] Raffson commented on #2292
Buying a new EWR unit would trigger an IADS update via line 261:
https://github.com/dcs-liberation/dcs_liberation/blob/cc4237d0762cea396fe56134adf2bc64fa1682c4/qt_ui/windows/groundobject/QGroundObjectMenu.py#L258-L271

Effectively adding the unit back to the network so that's not a problem. But looking at the "update_tgo" method in iadsnetwork.py, a dead unit being updated (should happen during pr

[2022-07-03 15:55] RndName commented on #2292
@Raffson That should be a discussion made in #2281 or one of the other PRs (which i have not looked at) but not in this Issue over here. To solve this issue over here we have 2 possible solutions. Either merge all your PRs (which i can not review atm) or implement a hot fix which adds a handling for Nodes without alive units (example: let dcs_name_for_group return None and handle it on caller side

[2022-07-03 16:02] Raffson commented on #2292
I'll start on the hot-fix just in case because clearly I missed that I'm depending on the update when an iads unit is killed during the refactor of exceptions, and it is a game breaker indeed, for which I do apologize...

[2022-07-03 16:15] RndName commented on #2292
Thanks! i think it is the fastest way to deal with it until your PRs are merged. They will change the whole update process so that it is finally working and will ultimately also make this hotfix obsolete but until then the game will not break :D The good thing is that currently nearly no campaign supports the advanced IADS so the missing update routine will not hit as hard as this issue.
Thanks fo

[2022-07-03 16:47] Raffson commented on #2292
No problem, my pleasure ;)

[2022-07-04 14:02] #2292 closed, assigned to Raffson

[2022-07-04 16:09] MetalStormGhost commented on #2295
The Leopard 2A6M is available in Liberation, it's just confusingly named because ED replaced the original Leopard 2 model with the 2A6M. In order to use the 2A6M model in your faction, you need to use "Leopard 2" as the name of the unit. I suppose this could be improved a bit.

https://github.com/dcs-liberation/dcs_liberation/blob/develop/resources/units/ground_units/Leopard-2.yaml
<pre>class: Tan

[2022-07-04 17:26] Furia139 commented on #2295
Thanks a lot for the answer. I will do so.

[2022-07-04 17:26] #2295 closed, assigned to MetalStormGhost

[2022-07-04 19:21] AShyBiBlob opened #2299 "Error when trying to edit Tomcat flight, KeyError: '{SHOULDER AIM-7P}'"
### Affected versions

5.2.0

### Description

I don't know what went wrong but every time I try to access the tomcats in the liberation launcher it gives me this error.
![image](https://user-images.githubusercontent.com/108694190/177207834-1e7aa46e-d7ba-4b1d-a376-97b60f69aa02.png)

My friend don't have this issue, but re-installing didn't work.

Apologies for the clumsy report.

### Save game and

[2022-07-04 21:02] AShyBiBlob commented on #2299
Addendum 1:

The error is caused by having a custom payload to carry said missile, problem was solved via changing payload composition. I feel a little dumber now.

[2022-07-04 21:02] #2299 closed, assigned to nobody

[2022-07-05 06:28] holyorangejuice commented on #2212
[4060error.zip](https://github.com/dcs-liberation/dcs_liberation/files/9043792/4060error.zip)

This issue of AI spawning too low is still happening. Multiple aircraft assigned to tasks in this tacview are killed by hitting the ground on spawn.

This is not the same issue as Syria map air spawning non pilot planes due to lack of parking.

[2022-07-05 06:30] holyorangejuice opened #2301 "6.0 4060 - Same issue as previous bug report #2212"
### Affected versions

Development build

### Development build

_No response_

### Description

https://github.com/dcs-liberation/dcs_liberation/issues/2212
[4060error.zip](https://github.com/dcs-liberation/dcs_liberation/files/9043808/4060error.zip)

The aircraft are spawning and crashing. This is not the same issue as Syria. Syria airfields sometimes spawn empty planes in the air due to crappy

[2022-07-05 08:36] DanAlbert commented on #2301
I'm confused. Is this a dup of #2212 or not?

[2022-07-05 10:10] holyorangejuice commented on #2301
Yeah but ya'll closed the report and it went nowhere. I was just lucky I was able to save more information this time.

[2022-07-05 10:12] DanAlbert commented on #2301
We reopen bugs when get the information we need. We close bugs we can't investigate.

Duplicate of #2212

[2022-07-05 10:12] #2301 closed, assigned to nobody

[2022-07-05 10:29] Raffson commented on #2212
I just inspected the mission in DCS' editor, there are indeed aircraft being generated in-flight at 100ft AGL at 500 kts. That can be a problem, especially in the following case:
![Screen_220705_122741](https://user-images.githubusercontent.com/10977187/177307845-65ef0e53-1d02-4036-96c2-819bc40e2971.jpg)

Let's see if I can figure out why it's generating planes this low...

[2022-07-05 11:04] Raffson commented on #2212
@holyorangejuice One thing I'd like to verify, did you fast-forward to first contact? Because according to the campaign file those flights should be starting cold, but that's not happening so I'm trying to figure out why...

[2022-07-05 11:18] holyorangejuice commented on #2212
Yes. Start at first contact is used. The save file I provided should have identical settings that I used.

[2022-07-05 11:28] Raffson commented on #2212
Right, but you have to press take-off before it actually forwards time, at that point it becomes really confusing. On one hand I have the UI telling me the flights are flying to their racetrack, on the other hand the edit-flight window suggests they're still starting cold. But at least I'm pretty sure it's a problem in the generator.

[2022-07-05 12:27] Raffson commented on #2212
@DanAlbert Ok so I tracked down the problem to the following code:
https://github.com/dcs-liberation/dcs_liberation/blob/2f97d948b872c9b1ba94e64ac4f399ef2c28fa8c/game/missiongenerator/aircraft/flightgroupspawner.py#L131-L158

There's other places where you could make adjustments to solve the problem but I think the code above is the most logical place to handle the issue. The first thing that goes

[2022-07-05 13:39] Raffson commented on #2212
So now that the second issue is out of the way, I have a fix that's more or less ready. The main question is what minimum altitude should be used in case of AGL. I propose a random altitude between 500ft and 1000ft AGL, that should guarantee some spacing in case planes spawn close to each other, as well as clearing most ground objects.

Specifically the code to be added would look like this:

[cod

[2022-07-05 15:44] holyorangejuice commented on #2212
Thank you for this. I'm always grateful when an issue is taken seriously. I know there is a long list of to do and want to add. I run many events per week with our group. I frequently find things to report.

[2022-07-05 18:37] DanAlbert commented on #2212
We've always taken the issue seriously. We had no way to investigate until yesterday.

[2022-07-05 18:44] holyorangejuice commented on #2212
I've been able to replicate it consistently between builds. I thought there was enough info the first time since it isn't unique to a save. Just unique to first contact I guess.

I'm still thankful it was looked into again.

[2022-07-05 18:46] DanAlbert commented on #2212
We couldn't even load the previous save that was uploaded, as I said when I closed the bug not-reproducible.

[2022-07-05 19:07] Raffson commented on #2212
@DanAlbert does the proposed solution look good to you?

[2022-07-06 16:15] Raffson commented on #1861
I think it would be best to rely on pydcs for this, it already contains some custom liveries as well so that makes it easy in a way. However I'm still in favor of scanning the Saved Games folder so all custom liveries would be supported, which is what I'm trying to figure out at this point.

Though there are some drawbacks with using pydcs. One possible problem is the fact that these custom skins

[2022-07-06 17:25] RndName opened #2303 "New Game Dialog to allow enable/disable specific layouts"
The implementation of the layout system (coming with 6.0.0) just uses all available layouts for the campaign generation. It would be great to offer the user a dialog which allows to decide which layout should be enabled for blue / red site.
This gives the option to fine tune campaign generation for personal preferences.

Example: There are currently two layouts for armored groups, one with AA and

[2022-07-06 18:37] DanAlbert commented on #1861
If it's possible to do this by scanning, send that PR to pydcs IMO.

[2022-07-06 18:56] #2212 closed, assigned to nobody

[2022-07-06 19:17] Raffson commented on #1861
Yeah I've been looking at it for a while now but the fact that the liveries are hard-coded in pydcs makes me wonder... Is it generated code or something? Or is `pydcs\dcs\planes.py` maintained manually?

I know I can make a "scanner" for custom liveries in Saved Games, it'll take a couple of hours to get it right but it's definitely within reach. Once I have all that, there's parts I could reuse i

[2022-07-06 20:45] Raffson commented on #2272
@DanAlbert I think you can close this one as not reproducible cause the save-file is 1 turn ahead afaict, and this doesn't seem like something I'll be able to fix considering the error doesn't make much sense either.

https://github.com/dcs-liberation/dcs_liberation/blob/7355162d80bf71f428968cd60682f2e90e97d34c/qt_ui/delegates.py#L54-L72

I assume the problem in line 62 is related to whatever's re

[2022-07-06 20:49] DanAlbert commented on #1861
It's generated automatically (look in the tools directory). If you're able to scan, pydcs could do that instead. The less that we have to pull out of DCS with that extractor the better.

[2022-07-06 20:50] #2272 closed, assigned to Raffson

[2022-07-06 21:03] Raffson commented on #1861
I'm confused, what file are you referring to exactly? I'm looking in `resources\tools` but can't seem to find something that relates to aircraft generation...

Edit: nvm, found it in pydcs

[2022-07-06 22:49] Raffson commented on #1861
Good news, I have something preliminary that scans custom liveries in the saved games folder. ~~Currently not accounting for country restrictions but that'll probably follow soon.~~

[2022-07-07 02:28] Hornet2041 opened #2304 "Error on results acceptance: AttributeError: 'PySide2.QtWidgets.QWidgetItem' object has no attribute 'adjusted'"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2625466170

### Description

This window popped up when accepting results. It didn't hinder the results acceptance or appear to affect the campaign in any sort of matter though.

2022-07-06 22:24:04,629 :: root :: INFO :: On Debriefing
2022-07-06 22:24:04,671 :: root :: DE

[2022-07-07 08:00] Goliathus-21 opened #2305 "Just an idea to implement recoinassance missions"
Hello to all gods of the DCS Liberation campaign,

I´m a huge fan of this project and I play DCS only in SP and with the Liberation campaign in my F/A 18 C.

I´ve been thinking recently if it is possible to implement recoinassance missions in the campaigns for there reasons:

- the "fog of war" is not implemented in the game planning, so since the beginning of the campaign there are missions plann

[2022-07-07 08:35] Starfire13 commented on #2305
Yes, there is an FR open for ELINT. https://github.com/dcs-liberation/dcs_liberation/issues/272

[2022-07-07 08:41] DanAlbert commented on #2305
Dup

[2022-07-07 08:41] #2305 closed, assigned to nobody

[2022-07-07 12:59] Raffson commented on #2304
Are you able to consistently reproduce this error on your end?

[2022-07-07 14:20] Raffson commented on #2304
I'm starting to suspect the same sort of problem as #2272, i.e. the state of the campaign isn't valid. `state.json` indicates 17 aircraft were destroyed, but when I try to manually submit results I only get 8 aircraft, specifically 1x CF-188 and 7x Mig-19P. The same sort of thing happens for ground units. As a result of all this I'm starting to suspect the mission results are not fully processed.

[2022-07-07 18:07] Hornet2041 commented on #2304
no.... i think maybe to reproduce it i should save the campaign file before flying a mission that could produce it. i'll start doing that now just in case

Turn 4 is the one that i pressed take off, accepted results and that window popped up. The flights are pretty much identical to what you see in the attached save, the ATO hasn't changed much in the early turns.

And yeah, the error window poppe

[2022-07-07 18:34] DanAlbert commented on #2304
No reproducible. As always, will reopen if that changes.

[2022-07-07 18:34] #2304 closed, assigned to nobody

[2022-07-08 11:37] Raffson commented on #1861
I'm starting to get real close to a viable solution and I could use some clarification here. Are you suggesting removing the liveries from the extractor all together? What data-structure do you have in mind to store the liveries? Would it have to scan everything at start and keep it in memory, or rather a "scan on demand" type of thing?

Currently I'm putting everything in a dictionary (so scan 1

[2022-07-10 03:45] JeffreyLeftovers opened #2306 "Error when editing A4 flight"
### Affected versions

5.2.0

### Development build

_No response_

### Description

When clicking edit on a previously created flight in package I get an error code.

'{D-704_Buddy_Pod}'
Traceback (most recent call last):
  File "widgets\ato.py", line 226, in on_edit
  File "widgets\ato.py", line 124, in edit_flight
  File "dialogs.py", line 57, in open_edit_flight_dialog
  File "windows\mission\

[2022-07-10 04:52] Starfire13 commented on #2306
I tried editing the flights in the attached save file, and was able to do so with no errors on 5.2 and the A-4 mod v2.0.1

[2022-07-10 13:56] Starfire13 commented on #2306
Issue resolved. User had A-4 mod v1.5 installed in an old Steam DCS directory.

[2022-07-10 13:56] #2306 closed, assigned to nobody

[2022-07-10 15:34] Raffson commented on #1861
Everything should be ready, a PR is open for pydcs and my branch is anticipating for the proposed changes in pydcs 👍

https://github.com/Raffson/dcs_liberation/commit/a88a79a0e046ad0ebc5bcbdff51c2f331bf3d44b

Before opening a PR I'll wait till pydcs merges the scanner...

[2022-07-11 01:44] holyorangejuice commented on #2168
![Digital Combat Simulator  Black Shark Screenshot 2022 07 10 - 20 41 44 19](https://user-images.githubusercontent.com/4298744/178173286-0609ade9-1e3a-4cd4-b888-d88b5db4f22d.png)
Still not happy we don't have some sort of option for a mission planner. Really ruins the ability to have decent frontlines right now.

[2022-07-11 02:33] SnappyComebacks opened #2310 "Add flights when no adequate aircraft available produces error"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2646267533

### Description

If you right click on an objective and try to add a flight to a package with no aircraft available, or with no aircraft available to be tasked for the default objective type, you will receive:

[code]

Attached is the same campaign, at turn zer

[2022-07-11 05:55] holyorangejuice opened #2311 "Option to fully disable convoy spawns"
Before filing, please search the issue tracker to see if this feature has already been requested.

If requesting a DCS AI feature, check If reporting a DCS AI bug, check https://github.com/dcs-liberation/dcs_liberation#dcs-bugs.

**Is your feature request related to a problem? Please describe.**
DCS is not convoy friendly or AI pathing friendly. I run a group of over 200 members for DCS liberation

[2022-07-11 06:05] DanAlbert commented on #2311
It's very AI pathing friendly for on-road travel IME. If the convoy is spending a significant amount of time off-road that's potentially a campaign design problem?

That said, seems fine to have the option to disable the convoy spawns. It's not an simple fix though as the mission planner will either need to behave differently (and the whole turn will need to be replanned whenever you toggle the op

[2022-07-11 06:55] holyorangejuice commented on #2311
Then it would be an option you pick prior to starting your campaign so you don't have to deal with on the fly changes on the backend.

[2022-07-11 06:57] DanAlbert commented on #2311
That's potentially an option.

[2022-07-11 07:08] holyorangejuice commented on #2311
[miz.zip](https://github.com/dcs-liberation/dcs_liberation/files/9081604/miz.zip)
We were not having any luck with the convoys. They would get stuck near the airbases trying to fall into the road system. I built this rather quickly. So might need to put the factories in a better spot. I rather just turn it off for our operations.

[2022-07-11 07:13] DanAlbert commented on #2311
On my phone so can't dive in, but if the campaign's convoy start points are not near the road they'll use to route, that'll probably screw them up pretty good.

[2022-07-11 16:05] Hornet2041 commented on #2311
![image](https://user-images.githubusercontent.com/55866858/178307808-b62ad2f6-59d5-4899-9464-af02f811e83c.png)
thats not a great location for convoy spawning for sure

![image](https://user-images.githubusercontent.com/55866858/178308017-0d2b839d-1063-4019-a6e4-9255bb3013b3.png)
or that

![image](https://user-images.githubusercontent.com/55866858/178308113-57dadc38-6969-4902-a081-3a37d55d3bd4.png

[2022-07-11 16:27] Hornet2041 commented on #2311
![convoy spawn](https://user-images.githubusercontent.com/55866858/178311727-ea3385b4-5e95-49f3-bc5c-bb439a7788ff.jpg)
the only convoy in the mission you provided spawns here, at a friendly airbase. the only pathing issue that could possibly occur is that the last half spawns inside a hanger or two, but after the convoy gets moving they easily move through the obstacles with no problem.

![convoy

[2022-07-11 21:47] Starfire13 commented on #2311
So essentially, the issue is poor supply route waypoint placement in that particular campaign (I don't know which campaign that is), rather than a problem with the convoy system.

[2022-07-12 02:43] holyorangejuice commented on #2311
The mission and examples are not meant to prove or disprove convoys.

They were meant to show why someone would want to turn them off.

I want to turn them off because they are useless to my group and our missions. It should be up to the player when it comes to having unit spawns.

I also previously requested a frontlines length changes. That almost made it and was shut down. Mission designers and

[2022-07-12 10:10] ShinatroXD opened #2315 "Flights consisting of Bombers with escorts have to low airspeeds (50 nautical miles)"
### Affected versions

5.2.0

### Development build

_No response_

### Description

It doesn t matter hwo many different missions you start when creating a missionm through liberation and looking at it in the mission editor in dcs the cas flights of the enemy side with escorts hass unrealistic low airspeeds adjusted (40 nm) for every waypoint. THis leads to the flights never starting  since their

[2022-07-12 10:42] DanAlbert commented on #2315
Nothing attached

[2022-07-12 10:42] #2315 closed, assigned to nobody

[2022-07-12 16:42] ColonelCipher opened #2316 "Automatic ACLS Setup"
**Is your feature request related to a problem? Please describe.**
As someone who likes playing with ACLS enabled on the carriers, it's frustrating to have to dig through the pile of jets set up to spawn on the carrier to set up ACLS for each generated mission.

**Describe the solution you'd like**
Considering setting up ACLS is just adding two waypoint actions in the mission editor, I think it wo

[2022-07-12 17:31] DanAlbert commented on #2316
What do we need to do?

[2022-07-12 18:26] Raffson commented on #2316
@ColonelCipher what version you on? I just generated a mission with a carrier using the dev-branch, inspected the mission and clearly see everything being set, i.e. TACAN, ICLS, DL & ACLS.

[2022-07-12 18:29] ColonelCipher commented on #2316
@Raffson I'm on 5.2.0, that might be why I'm not seeing it get set up.

[2022-07-12 18:30] Raffson commented on #2316
Then I recommend trying out the dev-builds, because I think what you're asking for is already implemented.

[2022-07-12 18:32] ColonelCipher commented on #2316
@Raffson Ok, I'll check it out.

[2022-07-12 18:32] #2316 closed, assigned to nobody

[2022-07-14 20:38] icabiltes21 opened #2320 "Skip and log invalid loadouts"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2652273486

### Description

After campaign start, with all player assist on. Trying to edit the package with F18s on it shows this error

![image](https://user-images.githubusercontent.com/62088555/179077060-b309a95e-f72a-4dc7-8a63-5ba2e673951c.png)

sorry I'm new to repo

[2022-07-14 20:45] Raffson commented on #2320
Do you have a custom loadout with decoys? If so, try deleting it.

[2022-07-14 21:33] Starfire13 commented on #2320
Yeah, this would be because you're using the new Hornet TALDs.

[2022-07-14 23:48] DanAlbert commented on #2320
Is the loadout one that's being used by liberation? If yes, an error is what I'd expect, but we should probably improve that message, since we've seen quite a few forms of this bug.

If it _isn't_, and it's actually the case that players can't have _any_ loadouts with weapons that pydcs doesn't know about, we should fix that to just ignore (but log) loadouts that we can't use. I wasn't sold on tha

[2022-07-15 00:19] Raffson commented on #2320
It's a pydcs issue for sure, on one hand it has a scanner for payloads, but it relies on weapons data from the export. While working on the livery scanner, I realized something similar could be done for weapons and pylons in pydcs, which would in theory solve this problem for good. If an error would still occur, it's almost guaranteed to be an issue with the user's installation/mods.

Meanwhile if

[2022-07-15 03:19] icabiltes21 commented on #2320
that fixed it, does that mean I cant use them?

Its a loadout I made in the mission editor, not the ones liberation have

[2022-07-15 03:44] DanAlbert commented on #2320
But if you named it appropriately Liberation will use it by default. That's how you customize the default loadouts. I assume that means you didn't do that?

[2022-07-15 05:43] icabiltes21 commented on #2320
I did not, the loadout name that had the TALDS in them were called 4.AG 4xTALD

[2022-07-15 06:08] Starfire13 commented on #2320
Liberation will load all loadouts you create in the mission editor, even ones without Liberation in the name.

[2022-07-15 10:05] DanAlbert commented on #2320
Yeah, we should fix that to ignore loadouts that can't be loaded.

[2022-07-15 23:20] Starfire13 opened #2321 "'NoneType' object is not iterable"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2678854329

### Description

Trying to generate a campaign on build #4113 (it is an unmerged pull request that I'm testing - "Add livery selector in AirWingConfigurationDialog") results in this error.

![Screenshot 2022-07-16 091958](https://user-images.githubusercontent.c

[2022-07-16 00:45] Starfire13 opened #2322 "WW2 factions have no access to Building Oil"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2652273486

### Description

WW2 factions (Allies, Germany, and Soviet Union) on the aggressor side (player side works fine) will produce this error on campaign generation, but only on selected maps. Error seen on Caucasus, Marianas, Persian Gulf, and Syria (tried more tha

[2022-07-16 03:34] Raffson commented on #2321
Solved, turns out Starfire was missing a registry entry, guards have been put in place to prevent exceptions from happening during the air wing configuration.

[2022-07-16 03:34] #2321 closed, assigned to Raffson

[2022-07-16 05:05] Starfire13 opened #2323 "'NoneType' object has no attribute 'location'"
### Affected versions

Development build

### Development build

https://github.com/dcs-liberation/dcs_liberation/actions/runs/2652273486

### Description

If you try to plan a flight on turn 0, you get this error.

![Screenshot 2022-07-16 145257](https://user-images.githubusercontent.com/72491792/179340045-441a83a9-33d6-44b9-8fc4-f11771d8d8a6.jpg)

In 5.2, the Create Flight window still pops up,

[2022-07-16 22:28] SnappyComebacks commented on #998
Are the vehicle group spawns that we have now (see attached image) meant to be the garrisons in this FR?  Should they be?
![image](https://user-images.githubusercontent.com/74509817/179373695-c334f7c7-2c3c-4f09-a448-f8f5bd335541.png)

[2022-07-16 23:01] DanAlbert commented on #998
Yep, that's what I had in mind.

[2022-07-17 03:25] SnappyComebacks commented on #998
Ok here are some design questions I have regarding this:

1. Should these garrisons have a maximum size (maximum number of units, implying more than one garrison is needed)?
2. If there is more than one garrison, how should they be organized (by type, by cost, ratio of different unit types)?
3. If there is more than one garrison, how should they be filled, as units are gained and lost (do further

[2022-07-17 09:01] DanAlbert commented on #998
IIRC part of my inspiration here was the Wags video for the F-16 JSOW where he targeted a group of parked vehicles. I was thinking that reserves would all deploy to a single area as inactive targets, though since we don't actually have any limit on reserve quantity, we would either need to allow for multiple locations, or cap the reserves.

Thinking about it a bit more, we wouldn't want to remove

[2022-07-17 11:33] Starfire13 commented on #998
Do parked inactive ground units affect frame rate the way parked inactive aircraft do? I recall particularly VR users saying that their PCs were struggling due to the added CPU load from parked aircraft, even though we never figured out why a parked inactive aircraft would need extra cpu cycles.

[2022-07-17 18:36] DanAlbert commented on #998
They can enable culling.

[2022-07-17 21:14] SnappyComebacks commented on #998
Is there any reason to keep the current style of "here's a bunch of tanks sitting around"?  Right now I don't think so, but wanted to check.

[2022-07-17 21:19] DanAlbert commented on #998
They're defensive positions. Maybe that's now how every campaign designers uses them, but I always place them on the approach to the base to add a little extra defense beyond what the FLOT is capable of.